<div class="d-flex no-gutters">
  <div class="col-1 mr-1">
    <input type="text" class="form-control" placeholder="{{ 'ADMIN.STATUS' | translate }}" #statusVal (keyup)="filterInput(statusVal.value,codeVal.value,branchSelect.value)">
  </div>
  <div class="col-1 mr-1">
    <input type="text" class="form-control" placeholder="{{ 'ADMIN.ActivityHVDGCode' | translate }}" #codeVal (keyup)="filterInput(statusVal.value,codeVal.value,branchSelect.value)">
  </div>
  <div class="col-2">
    <select class="custom-select" #branchSelect (change)="filterInput(statusVal.value,codeVal.value,branchSelect.value)">
      <option selected value="ALL">{{ 'ADMIN.ALL' | translate }}</option>
      <option *ngFor="let branch of branches" value={{branch.BranchName}}>{{branch.BranchName}}</option>
    </select>
  </div>
</div>

<!-- (rowDoubleClick)="openEmployeeInfoModal(empInfoModal)" -->

<div class="d-flex mt-1">
  <!-- REPLACE WITH AG-GRID
    <us-data-table id="" [items]="items" [itemCount]="itemCount" [rowTooltip]="rowTooltip">
    <data-table-column [property]="'CreatedDate'" header="{{ 'ADMIN.Date' | translate }}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.CreatedDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'CreatedDate'" header="{{ 'ADMIN.Time' | translate }}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.CreatedDate | date:'HH:mm'}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'Status'" header="{{ 'ADMIN.StatusS' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Decription'" header="{{ 'ADMIN.ChangeDone' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Code'" header="{{ 'ADMIN.ActivityHVDGCode' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'BranchName'" header="{{ 'ADMIN.GymName' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
  </us-data-table> -->
</div>
