<form [formGroup]="postalDataForm" (ngSubmit)="savePostalData()" novalidate>

    <div class="modal-body">
        <div class="row">
            <div class="col">
                <div class="form-group w-50">
                    <label> {{ 'MEMBERSHIP.Postalcode' | translate }}
                        <span class="text-danger">*</span>
                    </label>
                    <input class="form-control" type="text" (focus)="postalCodeFocus()" [formControl]="postalDataForm.controls['postalCode']"
                        us-error [errorMsg]="formErrors.postalCode" [displayError]="(myFormSubmited || isPostalCodeBlur)  && !postalDataForm.get('postalCode').valid"
                        placement="right">
                    <!-- (blur)="postalCodeBlur($event.target.value)" -->
                </div>
                <div class="form-group">
                    <label> {{ 'COMMON.PostalName' | translate }}
                        <span class="text-danger">*</span>
                    </label>
                    <input class="form-control" type="text" [formControl]="postalDataForm.controls['postalName']" us-error [errorMsg]="formErrors.postalName"
                        [displayError]="myFormSubmited && !postalDataForm.get('postalName').valid" placement="right">
                </div>
                <div class="form-group">
                    <label> {{ 'COMMON.population' | translate }}
                        <span class="text-danger"></span>
                    </label>
                    <input class="form-control" type="text" [formControl]="postalDataForm.controls['population']">
                </div>
                <div class="form-group">
                    <label> {{ 'COMMON.houseHould' | translate }}
                        <span class="text-danger"></span>
                    </label>
                    <input class="form-control" type="text" [formControl]="postalDataForm.controls['houseHold']">
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <us-icon-button [iconClass]="'icon-done'" type="submit" [labelText]="'MEMBERSHIP.Save' | translate "></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" (click)="closenewPostalAreaView(); $event.preventDefault()" [labelText]="'MEMBERSHIP.Cancel' | translate "></us-icon-button>

    </div>
</form>