<div class="modal-header">
  <span class="modal-title">
   <span>New Class Type</span>
  </span>
  <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn data-dismiss="modal">
  <span aria-hidden="true" class="icon-close"></span>
</button>
</div>
<div class="modal-body">

  <div class="d-flex no-gutters">
    <div class="col-3 mr-2">
      <div class="form-group">
        <label>{{ 'ADMIN.ItemCode' | translate }}</label>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.Name' | translate }}</label>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.ClassGroup' | translate }}</label>
        <select class="custom-select w-100">
            <option selected>Open</option>
                </select>
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.Level' | translate }}</label>
        <select class="custom-select w-100">
            <option selected>Open</option>
        </select>
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.Time' | translate }}</label>
        <select class="custom-select w-100">
          <option selected>Open</option>
        </select>
      </div>
      <div class="form-group">
        <label>{{ 'COMMON.Color' | translate }}</label>
        <select class="custom-select w-100">
            <option selected>Open</option>
        </select>
      </div>
      <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.ObsoleteLevelC' | translate }}</span>
      </label>
      <div class="form-group">
        <label>{{ 'ADMIN.HoursToBePaid' | translate }}</label>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.MaxNoBooking' | translate }}</label>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.Comment' | translate }}</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>
    </div>
    <div class="col-4 mr-2">
      <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.IsLocal' | translate }}</span>
        </label>
      <div class="d-flex justify-content-between">
        <label>{{ 'ADMIN.Gym' | translate }}</label>
        <button class="btn btn-primary">{{ 'ADMIN.Select' | translate }}</button>
      </div>
      <div class="d-flex mt-1">
        <table class="table table-sm table-hover table-default data-table my-2">
          <thead class="thead-primary">
            <tr>
              <th>{{ 'ADMIN.Name' | translate }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Smith</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.IsLocal' | translate }}</span>
        </label>
      <div class="d-flex">
        <label>{{ 'ADMIN.ClassCategory' | translate }}</label>

        <div class="ml-auto form-inline">
          <us-icon-button class="mr-1" [iconClass]="'icon-add'" [labelText]="'ADMIN.AddNew' | translate"></us-icon-button>
          <button class="btn btn-primary">{{ 'ADMIN.Select' | translate }}</button>
        </div>
      </div>
      <div class="d-flex mx-1">
        <table class="table table-sm table-hover table-default data-table my-2">
          <thead class="thead-primary">
            <tr>
              <th>{{ 'ADMIN.Name' | translate }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Smith</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex">
        <label>{{ 'ADMIN.KeyWordsC' | translate }}</label>

        <div class="ml-auto form-inline">
          <button class="btn btn-primary">{{ 'ADMIN.Select' | translate }}</button>
        </div>
      </div>
      <div class="d-flex mt-1">
        <table class="table table-sm table-hover table-default data-table my-2">
          <thead class="thead-primary">
            <tr>
              <th>{{ 'ADMIN.Name' | translate }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Smith</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate "></us-icon-button>
  <us-icon-button [iconBgClass]="'bg-danger'" [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Delete' | translate "></us-icon-button>
  <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate "></us-icon-button>
</div>
