//Modal Style
.modal-header {
    background-color: $brand-primary;
    .modal-title {
        color: $white;
        font-weight: $font-weight-light;
        padding: 0.2rem 0rem;
    }
    .modal-close {
        color: $white;
        font-size: .8rem;
        text-shadow: none;
        margin: 0rem 0.2rem;
    }
}

.modal-footer {
    justify-content: flex-start;
}

//
// Tabs
//
.nav-tabs {
    background-color: $white;
    border-width: $nav-tabs-border-width +1;
    .nav-item {
        margin-bottom: 0px;
    }
    .nav-link {
        border: 0 solid transparent;
        font-weight: $font-weight-bold;
        color: #000;
        &:hover {
            background-color: lighten($brand-primary, 10%);
            color: $white;
        }
    }
    .nav-link.active,
    .nav-item.show .nav-link {
        border-color: transparent;
        color: $white;
        background-color: $brand-primary;
    }
}

//
// Vertical Tabs
//
.v-tabs {
    .v-tabs-left {
        background-color: lighten($brand-primary, 10%);
        padding-top: 1rem;
    }
    .nav-v-tabs {
        background-color: transparent;
        border-bottom: none;
        .nav-v-item {
            margin-bottom: 0px;
        }
        .nav-v-link {
            border: 0 solid transparent;
            font-weight: $font-weight-bold;
            color: $white;
            display: block;
            padding: $nav-link-padding-y $nav-link-padding-x;
            @include border-top-radius($nav-tabs-border-radius);
            @include hover-focus {
                border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
                background-color: darken($brand-primary, 15%);
                color: $white;
                text-decoration: none;
            }
            &.disabled {
                color: $nav-link-disabled-color;
                background-color: transparent;
                border-color: transparent;
            }
        }
        .nav-v-link.active,
        .nav-v-item.show .nav-v-link {
            border-color: transparent;
            color: $nav-tabs-link-active-color;
            background-color: $brand-primary;
        }
    }
}

//table US datagrid
.table {
    margin-bottom: 0rem;
    th {
        border-top: none;
    }
    thead th {
        vertical-align: bottom;
        border-bottom: none;
    }
    &.table-default {
        background-color: $white;
        color: $black;
        td {
            vertical-align: middle;
        }
    }
}

.thead-primary {
    th {
        color: $white;
        background-color: $brand-primary;
    }
}

//used for serch field 
.input-group {
    &.default-input-group {
        .form-control {
            border-right: 0;
            &+.input-group-btn .btn {
                border-left: 0;
            }
            &:focus {
                @include box-shadow(none);
                &+.input-group-btn .btn {
                    outline: 0;
                    border-color: $brand-primary;
                }
            }
        }
    }
}

//US Icon Button 
.btn-icon {
    padding: 0.3rem;
    min-width: 29px;
    font-size: 1rem;
    span {
        display: block;
    }
}

.btn-icon-min {
    width: 28px;
    height: 28px;
    padding: 0.2rem;
    font-size: 1rem;
    span {
        display: block;
    }
}

.btn-addon {
    background-color: darken($brand-primary, 5%);
    color: #fff;
    border-color: darken($brand-primary, 5%);
}

.btn-secondary {
    border-color: $input-border-color;
}

.disabled {
    cursor: not-allowed;
    opacity: .65;
}

//Offcanvas Panel
//usied for member search basic info and member card menu
.off-canvas-panel {
    height: 100%;
    width: 0;
    position: fixed;
    background-color: darken($brand-primary, 5%);
    color: $white;
    z-index: 1;
    top: 155px;
    right: 0;
    overflow: hidden;
    padding-top: 5px;
    transition: 0.5s; // transform: translateX(100%);
    // -webkit-transform:translateX(100%);
    // -ms-transform:translateX(100%);
    .closebtn {
        position: absolute;
        top: 5px;
        right: 5px;
        color: #fff;
        &:hover {
            text-decoration: none;
        }
    }
    .oc-lable {
        color: lighten($brand-primary, 30%);
    }
}

.hr-dashed {
    border-color: lighten($brand-primary, 30%);
    border-style: dashed;
}

.off-canvas-panel-ani {
    transition: margin-right .5s; // transform: translateZ(0px);
    // -webkit-transform:translateZ(0px);
    // -ms-transform:translateZ(0px);
    position: relative;
}

//Wizard navigation styles
.nav-wizard {
    border-bottom: 1px dashed $gray-500;
    padding-bottom: 0.5rem;
    .nav-item {
        margin-bottom: 0px;
    }
    .nav-link-wizard {
        font-weight: $font-weight-bold;
        color: darken($brand-primary, 10%);
        text-transform: uppercase;
        padding-right: 1rem;
        font-size: 0.86rem;
        .wizard-num {
            background-color: $brand-primary;
            border-radius: 100%;
            padding: 5px;
            color: #fff;
            width: 36px;
            height: 36px;
            font-size: 16px;
            display: inline-block;
            text-align: center;
        }
    }
    .disabled {
        cursor: not-allowed;
        opacity: .4;
    }
}

.nav-wizard-footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
}

.us-error,
.us-error input {
    border-color: $red;
}

.us-error:focus,
.us-error input:focus {
    border-color: $red;
}

//used for shop return icon button
.us-icon-btn-bg-warning {
    background-color: $orange;
    color: $black;
    border-color: $orange;
}

.input-group-btn {
    >.btn-primary {
        border: $input-btn-border-width solid $brand-primary;
    }
}

// US auto complete
.autocomplete {
    ul {
        position: absolute;
        top: 100%;
        z-index: $zindex-dropdown;
        left: 0;
        width: 100%;
        min-width: $dropdown-min-width;
        border: $dropdown-border-width solid $dropdown-border-color;
        @include border-radius($border-radius);
        background-color: $dropdown-bg;
        background-clip: padding-box;
        list-style: none;
        padding: $dropdown-padding-y 0;
        text-align: left; //
        margin-top: 0px;
        color: $body-color;
        
        li {
            display: block;
            text-align: left;
            list-style: none;
            clear: both;
            font-weight: $font-weight-normal;
            color: $dropdown-link-color;
            width: 100%;
            white-space: nowrap;
            border: 0;
            padding: $dropdown-item-padding-y $dropdown-item-padding-x;
            &.active {
                color: $dropdown-link-hover-color;
                text-decoration: none;
                background-color: $dropdown-link-hover-bg;
            }
            &.highlight {
                color: $dropdown-link-active-color;
                text-decoration: none;
                background-color: $dropdown-link-active-bg;
            }
        }
    }
}

