.mydp {
    line-height: 1.1;
    display: block;
    position: relative; //min-width: 210px;
    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .selector {
        margin-top: 2px;
        margin-left: -1px;
        position: absolute;
        padding: 0;
        border: $input-btn-border-width solid $input-border-color;
        z-index: 100;
        animation: selectorfadein 0.1s;
        &:focus {
            outline: none;
        }
    }
    .selectorarrow {
        margin-top: 12px;
        padding: 0;
        &:after,
        &:before {
            bottom: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
        }
        &:after {
            border-color: rgba(250, 250, 250, 0);
            border-bottom-color: $input-bg;
            border-width: 10px;
            margin-left: -10px;
        }
        &:before {
            border-color: rgba(204, 204, 204, 0);
            border-bottom-color: $input-border-color;
            border-width: 11px;
            margin-left: -11px;
        }
        &:focus:before {
            border-bottom-color: $input-border-color;
        }
    }
    .selectorarrowleft {
        &:after,
        &:before {
            left: 24px;
        }
    }
    .selectorarrowright {
        &:after,
        &:before {
            left: 86%;
        }
    }
    .alignselectorright {
        right: -1px;
    }
    .selectiongroup {
        position: relative;
        display: table;
        border: none;
        border-spacing: 0;
        //background-color: $input-bg;
    }
    .selection {
        width: 100%;
        outline: none;
        background-color: $input-bg;
        display: table-cell;
        position: absolute;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 6px;
        border: none;
        color: #555;
    }
    .invaliddate {
        background-color: #F1DEDE;
    }
     ::-ms-clear {
        display: none;
    }
    .selbtngroup {
        position: relative;
        vertical-align: middle;
        white-space: nowrap;
        width: 1%;
        display: table-cell;
        font-size: 0;
    }
    .btnpicker,
    .btnclear,
    .btndecrease,
    .btnincrease {
        height: 100%;
        width: 26px;
        border: none;
        padding: 0;
        outline: 0;
        font: inherit;
        -moz-user-select: none;
    }
    .btnleftborder {
        border-left: 1px solid $input-border-color;
    }
    .btnpickerenabled,
    .btnclearenabled,
    .btndecreaseenabled,
    .btnincreaseenabled,
    .headertodaybtnenabled,
    .headerbtnenabled,
    .yearchangebtnenabled {
        cursor: pointer;
    }
    
    .btnpicker,
    .btnclear,
    .btndecrease,
    .btnincrease,
    .headertodaybtn {
        background: $input-bg;
    }
    .selectiondisabled,
    .btnpickerdisabled,
    .btncleardisabled,
    .btndecreasedisabled,
    .btnincreasedisabled,
    .headertodaybtndisabled,
    .headerbtndisabled,
    .yearchangebtndisabled {
        cursor: not-allowed;
        opacity: 0.65;
        background-color: $input-disabled-bg;
    }
    .selectiondisabled {
        background-color: $input-disabled-bg;
    }
    .header {
        width: 100%;
        height: 30px;
        background-color: $input-bg;
        td {
            vertical-align: middle;
            border: none;
            line-height: 0;
            &:nth-child(1) {
                padding-left: 4px;
            }
            &:nth-child(2) {
                text-align: center;
            }
            &:nth-child(3) {
                padding-right: 4px;
            }
        }
    }
    .caltable,
    .monthtable,
    .yeartable {
        table-layout: fixed;
        width: 100%;
        height: calc(100% - 30px);
        background-color: $input-bg;
        font-size: 14px;
    }
    .caltable,
    .monthtable,
    .yeartable,
    .weekdaytitle,
    .daycell,
    .monthcell,
    .yearcell {
        border-collapse: collapse;
        color: $brand-primary;
        line-height: 1.1;
    }
    .weekdaytitle,
    .daycell,
    .monthcell,
    .yearcell {
        padding: 4px;
        text-align: center;
    }
    .weekdaytitle {
        background-color: $brand-primary;
        font-size: 11px;
        font-weight: normal;
        vertical-align: middle;
        max-width: 36px;
        overflow: hidden;
        white-space: nowrap;
        color: #fff;
    }
    .weekdaytitleweeknbr {
        width: 20px;
    }
    .monthcell {
        background-color: $input-bg;
        overflow: hidden;
        white-space: nowrap;
    }
    .yearcell {
        background-color: $input-bg;
        width: 20%;
    }
    .daycell .datevalue {
        background-color: inherit;
        vertical-align: middle;
        span {
            vertical-align: middle;
        }
    }
    .daycellweeknbr {
        font-size: 10px;
        border-right: 1px solid $input-border-color;
        cursor: default;
        color: #000;
    }
    .inlinedp {
        position: relative;
        margin-top: -1px;
    }
    .prevmonth,
    .nextmonth {
        color: #CCC;
    }
    .disabled {
        cursor: default !important;
        color: #CCC;
        background: #FBEFEF;
    }
    .highlight {
        color: $red;
    }
    .dimday {
        opacity: 0.5;
    }
    .currmonth {
        // background-color: #F6F6F6;
        font-weight: normal;
    }
    .markdate {
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 4px;
    }
    .markcurrday,
    .markcurrmonth,
    .markcurryear {
        text-decoration: none;
    }
    .selectedday .datevalue,
    .selectedmonth .monthvalue,
    .selectedyear .yearvalue {
        border: none;
        background-color:lighten($blue, 25%);
        padding:0.3rem;
    }
    .headerbtncell {
        background-color: $input-bg;
        display: table-cell;
        vertical-align: middle;
    }
    .yearchangebtncell {
        text-align: center;
        background-color: $input-bg;
    }
    .headerbtn,
    .headerlabelbtn,
    .yearchangebtn {
        background: $input-bg;
        border: none;
        height: 22px;
    }
    .headerbtn {
        width: 16px;
    }
    .headerlabelbtn {
        font-size: 14px;
        outline: none;
        cursor: default;
    }
    border: 1px solid #CCC;
    .headertodaybtn {
        border: 1px solid #CCC;
    }
    .btnpicker,
    .btnclear,
    .btndecrease,
    .btnincrease,
    .headerbtn,
    .headermonthtxt,
    .headeryeartxt,
    .headertodaybtn,
    .yearchangebtn {
        color: #000;
    }
    .headertodaybtn {
        padding: 0 4px;
        font-size: 11px;
        height: 22px;
        min-width: 60px;
        max-width: 84px;
        overflow: hidden;
        white-space: nowrap;
    }
    button::-moz-focus-inner {
        border: 0;
    }
    .headermonthtxt,
    .headeryeartxt {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        font-size: 14px;
        height: 26px;
        width: 40px;
        max-width: 40px;
        overflow: hidden;
        white-space: nowrap;
    }
    .btnclear:focus,
    .btndecrease:focus,
    .btnincrease:focus,
    .btnpicker:focus,
    .headertodaybtn:focus {
        background: #ADD8E6;
    }
    .headerbtn:focus,
    .monthlabel:focus,
    .yearlabel:focus,
    .yearchangebtn:focus {
        color: #ADD8E6;
        outline: none;
    }
    .daycell:focus,
    .monthcell:focus,
    .yearcell:focus {
        outline: 1px solid #CCC;
    }
    .icon-mydpcalendar,
    .icon-mydpremove {
        font-size: 16px;
    }
    .icon-mydpleft,
    .icon-mydpright,
    .icon-mydpup,
    .icon-mydpdown {
        color: #222;
        font-size: 20px;
    }
    .btndecrease .icon-mydpleft,
    .btnincrease .icon-mydpright {
        font-size: 16px;
    }
    .icon-mydptoday {
        color: #222;
        font-size: 11px;
    }
    table {
        display: table;
        border-spacing: 0;
        td {
            padding: 0;
        }
        border: none;
    }
    th,
    td {
        border: none;
    }
    .btnpickerenabled:hover,
    .btnclearenabled:hover,
    .btndecreaseenabled:hover,
    .btnincreaseenabled:hover,
    .headertodaybtnenabled:hover {
        background-color: #E6E6E6;
    }
    .tablesingleday:hover,
    .tablesinglemonth:hover,
    .tablesingleyear:hover {
        background-color: #DDD;
    }
    .monthlabel,
    .yearlabel,
    .inputnoteditable,
    .daycell,
    .monthcell,
    .yearcell {
        cursor: pointer;
    }
    .headerbtnenabled:hover,
    .yearchangebtnenabled:hover,
    .monthlabel:hover,
    .yearlabel:hover {
        color: #777;
    }
}

@keyframes selectorfadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}