<div>
    <!-- REPLACE WITH AG-GRID
        <us-data-table #memberList id="persons-grid" [items]="items" [itemCount]="itemCount" indexColumnVisible (reload)="reloadItems($event)"
        (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)" [rowTooltip]="rowTooltip" [limit]='10'>
        <data-table-column [property]="'name'" [header]="'Name'" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'date'" [header]="'Date'" [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                <span>{{item.date | date:'yyyy-MM-dd'}}</span>
            </ng-template>
        </data-table-column>
        <data-table-column property="phoneNumber" header="Phone number" width="150px">
        </data-table-column>
        <data-table-column [property]="'jobTitle'" [header]="'Job title'" [visible]="true">
        </data-table-column>
        <data-table-column [property]="'active'" [header]="'Active'" [width]="100" [resizable]="true">
            <ng-template #dataTableHeader let-item="item">
                <span style="color: rgb(232, 0, 0)">Active</span>
            </ng-template>
            <ng-template #dataTableCell let-item="item">
                <span style="color: grey">
                    <us-icon-button [iconClass]="'icon-add'" [labelText]="'ok'" *ngIf="item.active" (click)="clickButton(item)"></us-icon-button>
                    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'no'" *ngIf="!item.active" (click)="clickButton(item)"></us-icon-button>
                </span>
            </ng-template>
        </data-table-column>

    </us-data-table> -->

    <span class="input-group-btn">
        <button class="btn btn-primary btn-icon"  type="button">
            <span class="icon-search"></span>
        </button>
    </span>
</div>
