<div class="form-inline" >
  <input type="text" class="form-control col-2" placeholder="Resource"  #resourceVal (keyup)="filterInput(isThumbsUp,resourceVal.value,branchSelect.value)"/>

  <select class="custom-select col-2 ml-1" #branchSelect (change)="filterInput(isThumbsUp,resourceVal.value,branchSelect.value)">
    <option selected value="ALL">{{ 'ADMIN.ALL' | translate }}</option>
    <option *ngFor="let branch of branches" value={{branch.Id}}>{{branch.BranchName}}</option>
  </select>
  
  <label class="ml-2">{{'ADMIN.Approved' | translate}}</label>

  <button class="btn btn-primary ml-1"   *ngIf="isThumbsUp" (click)="isThumbsUp=!isThumbsUp;filterInput(isThumbsUp,resourceVal.value,branchSelect.value)"><span class="icon-thumbs-up"></span></button>
  <button class="btn btn-primary ml-1"  *ngIf="!isThumbsUp"  (click)="isThumbsUp=!isThumbsUp;filterInput(isThumbsUp,resourceVal.value,branchSelect.value)" ><span class="icon-thumbs-down"  ></span></button>

  <button class="btn btn-primary ml-1" (click)="isThumbsUp=false;getBookings()"><span class="icon-reload" title="{{ 'ADMIN.Reload' | translate }}"></span></button> 
  
</div>
  
  <div class=" mt-1">
    <!-- REPLACE WITH AG-GRID
      <us-data-table id="" [pagination]="false" [items]="items" [itemCount]="itemCount"  (rowDoubleClick)="rowDoubleClick($event,bookingDetail)"
      [rowTooltip]="rowTooltip">
      <data-table-column [property]="'Day'" header="{{ 'ADMIN.Day' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'Date'" header="{{ 'ADMIN.Date' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.Date | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'StartTime'" header="{{ 'ADMIN.StartTime' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.StartTime | date:'HH:mm'}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'EndTime'" header="{{ 'ADMIN.EndTime' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.EndTime | date:'HH:mm'}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'Resource'" header="" header="{{ 'ADMIN.Resource' | translate }}" [sortable]="Resource" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'BranchName'" header="{{ 'ADMIN.GymName' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="''" header="{{ 'ADMIN.Member' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <div class="form-group m-0 ">
            <div class="input-group input-group-sm">
              <span class="input-group-addon">{{item.MemberList?item.MemberList.length:0}}</span>
              <div>
                <button class="btn btn-primary btn-sm w-100" type="button" (click)="viewLoad(item,aProfilePopOver)" container="body" placement="bottom"
                  [usPopover]="employeeList" popoverWidth="350" popoverHeight="130" #aProfilePopOver="usPopover" triggers="manual">{{'ADMIN.View' | translate}}</button>
              </div>
            </div>
          </div>
        </ng-template>
      </data-table-column> 
      <data-table-column [property]="''" header="{{ 'ADMIN.Approve' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <div *ngIf="item.SalaryPerBooking">
            <button class="btn btn-primary ml-1"   *ngIf="item.IsApproved" ><span class="icon-thumbs-up"></span></button>
            <button class="btn btn-primary ml-1"  *ngIf="!item.IsApproved"   ><span class="icon-thumbs-down"  ></span></button>
          </div>
        </ng-template>
      </data-table-column>   
      <data-table-column [property]="''" header="" [width]="40">
        <ng-template #dataTableCell let-item="item">
          <button class="btn btn-primary btn-icon-min" title="{{'ADMIN.Detail' |translate}}" (click)="setSelectedItemRow(item,bookingDetail)">
            <span class="icon-detail"></span>
          </button>
        </ng-template>
      </data-table-column>     
    </us-data-table> -->
  </div>
  
  
  
  <ng-template #bookingDetail let-c="close" let-d="dismiss">
    <div class="modal-header">
      <span class="modal-title">{{'ADMIN.BOOKINGDETAILVIEW' | translate}}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="c()">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="d-flex no-gutters">
        <div class="col mr-1">
          <div class="form-group">
            <label>{{'ADMIN.Day' | translate}}</label>
            <div>
              <strong>{{selectedItem?.Day}}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'ADMIN.Date' | translate}}</label>
            <div>
              <strong>{{selectedItem?.Date | date:('COMMON.DateFormat'|translate)}}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'ADMIN.StartTime' | translate}}</label>
            <div>
              <strong>{{selectedItem?.StartTime | date:'HH:mm'}}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'ADMIN.EndTime' | translate}}</label>
            <div>
              <strong>{{selectedItem?.EndTime | date:'HH:mm'}}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'ADMIN.Resource' | translate}}</label>
            <div>
              <strong>{{selectedItem?.Resource}}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'ADMIN.Activity' | translate}}</label>
            <div>
              <strong>{{selectedItem?.Activity}}</strong>
            </div>
          </div>
        </div>
        <div class="col mr-2">
          <div class="form-group">
            <label>{{'ADMIN.Category' | translate}}</label>
            <div>
              <strong>{{selectedItem?.Category}}</strong>
            </div>
          </div>
          <div class="alert alert-info p-1" role="alert">
            <span class="icon-thumbs-up" *ngIf="selectedItem.IsApproved"> {{'ADMIN.Approved' | translate}}</span>
            <span class="icon-thumbs-down" *ngIf="!selectedItem.IsApproved"> Not Approved</span>
          </div>
          <div class="form-group">
            <label>{{'ADMIN.Member' | translate}}</label>
            <div class="card scroll-list">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item p-1" *ngFor="let mem of selectedItem.MemberList" >{{mem.Name}}</li>
                </ul>
            </div>
          </div>
          <div class="form-group">
            <label>Resource</label>
            <div class="card scroll-list">
              <ul class="list-group list-group-flush">
                <li class="list-group-item p-1" *ngFor="let res of selectedItem.ResourceList">{{res.Name}}</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'ADMIN.OK' | translate" (click)="c()">  </us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="c()" ></us-icon-button>
    </div>
  </ng-template>
  
  
  
<ng-template #employeeList let-c="close" let-d="dismiss">
  <div class="d-flex justify-content-end">
    <button class="close modal-close" (click)="closePopOver()" style="font-size: 0.8rem;">
      <span class="icon-close"></span>
    </button>
  </div>

  <div class="popover-scroller" *ngFor="let emp of empList" usScroll>
    <ul class="list-group list-group-flush">
      <li class="list-group-item py-1"  *ngFor="let emp of empList">{{emp.Name}}</li>
    </ul>
  </div>
</ng-template>