<div class="d-flex justify-content-center align-items-center h-100 ">

            <div class="d-flex tile-translate-up">
                <div class="d-flex flex-wrap" style="max-width:800px;">
                    <div class="d-flex flex-wrap" *ngFor="let module of modules">
                        <div class="tilesize tile teal d-flex m-1" (click)="moduleselected(module)" [style.background]="module.ModuleColor">
                            <span class="align-self-end">
                                <img class="" src="assets/images/modules/{{module.ThumbnailImage}}">
                            </span>
                            <div class="tileclass pl-2" *ngIf="module.DisplayName === 'Medlemmer' ">{{'MODULES.Member' | translate}}</div>
                            <div class="tileclass pl-2" *ngIf="module.DisplayName === 'Min Kalender' ">{{'MODULES.Calender'| translate}}</div>
                            <div class="tileclass pl-2" *ngIf="module.DisplayName === 'Økonomi' ">{{'MODULES.Economy'| translate}}</div>
                            <div class="tileclass pl-2" *ngIf="module.DisplayName === 'Shop' ">{{'MODULES.Shop'| translate}}</div>
                            <div class="tileclass pl-2" *ngIf="module.DisplayName === 'Administrator' ">{{'MODULES.Admin'| translate}}</div>
                            <div class="tileclass pl-2" *ngIf="module.DisplayName === 'Avdeling' ">{{'MODULES.Department'| translate}}</div>
                            <div class="tileclass pl-2" *ngIf="module.DisplayName === 'Exce Care' ">{{'Exce Care'}}</div>
                            <div class="tileclass pl-2" *ngIf="module.DisplayName === 'Gruppetimer' ">{{'MODULES.GroupClass'| translate}}</div>
                            <div class="tileclass pl-2" *ngIf="module.DisplayName === 'Rapporter' ">{{'MODULES.Reports'| translate}}</div>
                            <div class="tileclass pl-2" *ngIf="module.DisplayName === 'Ressurs booking' ">{{'MODULES.ResourceBooking'| translate}}</div>
                          </div>
                    </div>
                </div>
            </div>


</div>
<!--
        <ul>
            <li><a role="button" (click)="go('/sample/form')">Form</a></li>
            <li><a role="button" (click)="go('/sample/colorPicker')">Color-Picker</a></li>
            <li><a role="button" (click)="go('/membership/payments')">Payments</a></li>
            <li><a role="button" (click)="go('/adminstrator/gym-settings')">Gym Settings</a></li>
            <li><a role="button" (click)="go('/membership/contract-details')">contract Card</a></li>
            <li><a role="button" (click)="go('/membership/orders-details')">Orders</a></li>
            <li><a role="button" (click)="go('/operations/member-list-download')">Download Member List</a></li>
            <li><a role="button" (click)="go('/adminstrator/manage-annonymizing')">Annonymizing</a></li>
            <li><a role="button" (click)="go('/adminstrator/manage-class-types')">Manage-Class-Types</a></li>
            <li><a role="button" (click)="go('/membership/freeze-details')">freeze-details</a></li>
            <li><a role="button" (click)="go('/uss-admin/user-management')">User-management</a></li>
            <li><a role="button" (click)="go('/uss-admin/role-management')">role-management</a></li>
        </ul> -->

        <!-- <ul>
            <li><a role="button" (click)="go('/adminstrator/employee-info-roles')">Employee-Info-Roles</a></li>
            <li><a role="button" (click)="go('/adminstrator/employee-info-work')">Employee-Info-Work</a></li>
            <li><a role="button" (click)="go('/adminstrator/employee-info-bookings')">Employee-Info-Bookings</a></li>
            <li><a role="button" (click)="go('/adminstrator/employee-info-classes')">Employee-Info-Classes</a></li>
            <li><a role="button" (click)="go('/adminstrator/employee-info-followup')">Employee-Info-FollowUp</a></li>
            <li><a role="button" (click)="go('/adminstrator/employee-info-job')">Employee-Info-Job</a></li>
            <li><a role="button" (click)="go('/adminstrator/employee-info-events')">Employee-Info-Events</a></li>
            <li><a role="button" (click)="go('/adminstrator/employee-info-time')">Employee-Info-Time</a></li>
            <li><a role="button" (click)="go('/membership/invoice-details')">Invoice-Details</a></li>
            <li><a role="button" (click)="go('/sample/crop-image')">Crop Image</a></li>

        </ul> -->
