<div class="mt-1">
    <us-form-wizard #contractWiz (onStepChanged)='onStepChanged($event)' [nextStepDisabled]="nextStepDisabled" [isContractVisible] = "false" [isSaveVisibale] ="isSaveVisible" [skipNumber]="skipNumber">
        <wizard-step [number]="1" [isValid]="basicForm.valid" [title]="'MEMBERSHIP.Basic' | translate" (onNext)="onLeavebasicInfo($event)"
             (onCancel)="onCancel()">

            <form [formGroup]="basicForm">
                <!-- Basic Section -->
                <div class="d-flex no-gutters mt-2 ml-2">
                    <div class="col-3 mr-2 col-min-width">
                        <div class="form-group">
                            <label>{{ 'MEMBERSHIP.ContractTemplate' | translate }} <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input class="form-control" style="max-width:85px;" type="text" formControlName='TemplateNo' us-error [errorMsg]="formErrors.TemplateNo" [displayError]="validationEnabled && !basicForm.get('TemplateNo').valid"
                                    placement="top" (blur)="getContractTemplateById($event.target.value)">
                                <input class="form-control" disabled type="text" formControlName='ContractName' us-error [errorMsg]="formErrors.ContractName"
                                    [displayError]="validationEnabled && !basicForm.get('ContractName').valid" placement="top">
                                <button class="btn btn-primary" type="button" (click)="selectTemplate(selectContratModal)">{{'MEMBERSHIP.Select' | translate}}</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ 'MEMBERSHIP.Category' | translate }}</label>
                            <select class="custom-select mr-sm-2 w-100" (change)="contractCategoryChanged($event.target.value)">
                                <option [ngValue]="null">{{'MEMBERSHIP.Select' | translate}}</option>
                                <option *ngFor='let conCat of _contractCategories' [value]="conCat.Id" [selected]="conCat.Id === this._memberContract?.CategoryId">{{conCat.Name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>{{ 'MEMBERSHIP.Type' | translate }} <span class="text-danger">*</span></label>
                            <input type="text" disabled class="form-control" formControlName='ContractCategoryName' us-error [errorMsg]="formErrors.ContractCategoryName"
                                [displayError]="validationEnabled && !basicForm.get('ContractCategoryName').valid" placement="top">
                        </div>
                        <div class="form-group">
                            <label>{{ 'MEMBERSHIP.Activity' | translate }} <span class="text-danger">*</span></label>
                            <input type="text" disabled class="form-control" formControlName='ActivityName' us-error [errorMsg]="formErrors.ActivityName" [displayError]="validationEnabled && !basicForm.get('ActivityName').valid"
                                placement="top">
                        </div>
                        <div class="form-group">
                            <label>{{ 'MEMBERSHIP.SignedDate' | translate }} </label>
                            <us-date-picker class="w-100" name="SignedDate" #SignedDate [locale]="'COMMON.Locale'| translate" formControlName='CreatedDate'>
                            </us-date-picker>
                        </div>
                        <div class="form-group">
                            <label>{{ 'MEMBERSHIP.Months' | translate }} <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" (change)="onNoOfPeriodChange($event.srcElement.value, 'MONTHS');monthsChanged($event.srcElement.value)" formControlName='NoOfMonths'
                                us-error [errorMsg]="formErrors.NoOfMonths" [displayError]="validationEnabled && !basicForm.get('NoOfMonths').valid"
                                placement="top">
                        </div>
                        <div class="form-group">
                            <label>{{ 'MEMBERSHIP.ValidPeriod' | translate }} <span class="text-danger">*</span></label>
                            <div class="no-gutters">
                              <div class="input-group default-input-group mb-1">
                                  <us-date-picker class="w-50" name="startDate" #startDate [locale]="'COMMON.Locale'| translate" formControlName='ContractStartDate'
                                      us-error [errorMsg]="formErrors.ContractStartDate" [displayError]="validationEnabled && !basicForm.get('ContractStartDate').valid"
                                      placement="top" (dateChanged)="startDateChanged($event)">
                                  </us-date-picker>
                                  <span class="mx-2">{{ 'MEMBERSHIP.To' | translate }}</span>
                                  <us-date-picker class="w-50" name="endDate" #endDate [locale]="'COMMON.Locale'| translate" formControlName='ContractEndDate'
                                      us-error [errorMsg]="formErrors.ContractEndDate" [displayError]="validationEnabled && !basicForm.get('ContractEndDate').valid"
                                      placement="top">
                                  </us-date-picker>
                              </div>
                            </div>
                        </div>
                        <label class="custom-control custom-checkbox checkbox-inline">
                            <input type="checkbox" class="custom-control-input" formControlName='IsATG'>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ 'MEMBERSHIP.ATG' | translate }}</span>
                        </label>

                        <label class="custom-control custom-checkbox checkbox-inline">
                            <input type="checkbox" class="custom-control-input" formControlName='AutoRenew'>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ 'MEMBERSHIP.AutoRenew' | translate }}</span>
                        </label>

                        <label class="custom-control custom-checkbox checkbox-inline">
                            <input type="checkbox" class="custom-control-input" formControlName='IsInvoiceDetails'>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ 'MEMBERSHIP.InvoiceDetails' | translate }}</span>
                        </label>
                    </div>

                    <div class="col-3 col-min-width">
                        <div class="form-group" formControlName="NoOfVisits" *ngIf="isPunchCard">
                            <label>{{ 'MEMBERSHIP.NoOfVisits' | translate }} <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName = "NumberOfVisits">

                        </div>
                        <div class="form-group" *ngIf="!isPunchCard">
                            <label>{{ 'MEMBERSHIP.LockInPeriod' | translate }}</label>
                            <div class="input-group w-100">
                                <input class="form-control w-25" type="text" (change)="onContractLimitChange($event.srcElement.value, 'LOCK')" formControlName="LockInPeriod">
                                <us-date-picker class="d-flex w-75" name="LockinPeriod" formControlName="LockInPeriodUntilDate" [locale]="'COMMON.Locale'| translate">
                                </us-date-picker>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="!isPunchCard">
                            <label>{{ 'MEMBERSHIP.GuarantyPeriod' | translate }}</label>
                            <div class="input-group w-100">
                                <input class="form-control w-25" type="text" (change)="onContractLimitChange($event.srcElement.value, 'PRICE')" formControlName="GuarantyPeriod">
                                <us-date-picker class="d-flex w-75" name="guarantyPeriod" formControlName="PriceGuarantyUntillDate" [locale]="'COMMON.Locale'| translate">
                                </us-date-picker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ 'MEMBERSHIP.BranchName' | translate }} <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName='BranchName' us-error [errorMsg]="formErrors.BranchName" [displayError]="validationEnabled && !basicForm.get('BranchName').valid"
                                placement="top">
                        </div>
                        <div class="form-group">
                            <label>{{ 'MEMBERSHIP.SignedCategory' | translate }}</label>
                            <select class="custom-select mr-sm-2 w-100" (change)="onSignCatChange($event.target.value)">
                                <option [ngValue]="null">{{'MEMBERSHIP.Select' | translate}}</option>
                                <option *ngFor='let signCat of _signUpCategories' [value]="signCat.Id" >{{signCat.Name}}</option>
                            </select>
                        </div>
                        <div class="form-group" *ngIf="showAccessprofile">
                            <label>{{ 'MEMBERSHIP.AccessProfile' | translate }}</label>
                            <select class="custom-select mr-sm-2 w-100" (change)="onAccessprofileChange($event.target.value)">
                                <option [ngValue]="null">{{'MEMBERSHIP.Select' | translate}}</option>
                                <option *ngFor='let access of _accessProfiles' [value]="access.Id" [selected]="access.Id === _memberContract?.AccessProfileId">{{access.AccessProfileName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>{{ 'MEMBERSHIP.ContractCondition' | translate }}</label>
                            <div class="input-group w-100">
                                <input class="form-control" disabled type="text" formControlName="ContractCondition">
                                <button type="button" class="btn btn-primary" (click)="selectContractCondition(SelectContractCondition)">{{'MEMBERSHIP.Select' | translate}}</button>
                            </div>
                        </div>
                        <div class="form-group">
                          <label>{{ 'MEMBERSHIP.NoOfDays' | translate }}</label>
                          <input type="text" class="form-control" formControlName="NoofDays" (change)="onNoOfPeriodChange($event.srcElement.value, 'DAYS')">
                        </div>
                    </div>

                </div>
            </form>
        </wizard-step>
        <wizard-step [number]="2" [title]="'MEMBERSHIP.Booking' | translate" (onNext)="onBookingLeave($event)" (onComplete)="onComplete($event)"
            (onCancel)="onCancel()">
            <!-- Booking Section -->
            <form [formGroup]="bookingForm">
                <div class="d-flex no-gutters mt-2">
                    <div class="mr-2" style="width: 220px;">
                        <div class="form-group">
                            <label>{{ 'MEMBERSHIP.Day' | translate }}</label>
                            <select *ngIf="!isBookingActivity" style="cursor: no-drop" disabled="disabled" class="custom-select w-100" formControlName='bookingDay' [selectedIndex]= "0" us-error [errorMsg]="formErrors.bookingDay" [displayError]="bookingValidationEnabled && !bookingForm.get('bookingDay').valid">
                            </select>
                            <select *ngIf="isBookingActivity" #bookingSelect class="custom-select w-100" formControlName='bookingDay' [selectedIndex]= "0" us-error [errorMsg]="formErrors.bookingDay" [displayError]="bookingValidationEnabled && !bookingForm.get('bookingDay').valid">
                                <option value="Sunday">{{'MEMBERSHIP.Sunday' | translate }}</option>
                                <option value="Monday">{{'MEMBERSHIP.Monday' | translate }}</option>
                                <option value="Tuesday">{{'MEMBERSHIP.Tuesday' | translate }}</option>
                                <option value="Wednesday">{{'MEMBERSHIP.Wednesday' | translate }}</option>
                                <option value="Thursday">{{'MEMBERSHIP.Thursday' | translate }}</option>
                                <option value="Friday">{{'MEMBERSHIP.Friday' | translate }}</option>
                                <option value="Saturday">{{'MEMBERSHIP.Saturday' | translate }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>{{ 'MEMBERSHIP.StartTime' | translate }}</label>
                            <us-time-picker *ngIf="isBookingActivity" formControlName='startTime' us-error [errorMsg]="formErrors.startTime" [displayError]="bookingValidationEnabled && !bookingForm.get('startTime').valid"></us-time-picker>
                            <select *ngIf="!isBookingActivity" style="cursor: no-drop" disabled="disabled" class="custom-select w-100"></select>
                        </div>
                        <div class="form-group">
                            <label>{{ 'MEMBERSHIP.EndTime' | translate }}</label>
                            <us-time-picker *ngIf="isBookingActivity" formControlName='endTime' us-error [errorMsg]="formErrors.endTime" [displayError]="bookingValidationEnabled && !bookingForm.get('endTime').valid"></us-time-picker>
                            <select *ngIf="!isBookingActivity" style="cursor: no-drop" disabled="disabled" class="custom-select w-100"></select>
                          </div>
                        <div class="form-group">
                            <label>{{ 'MEMBERSHIP.CostPerBooking' | translate }}</label>
                            <us-amount-input *ngIf="isBookingActivity" [hideClose]="true" class="w-100" formControlName='costPerBooking' us-error [errorMsg]="formErrors.costPerBooking"
                                [displayError]="bookingValidationEnabled && !bookingForm.get('costPerBooking').valid"></us-amount-input>
                            <input *ngIf="!isBookingActivity" style="cursor: no-drop" disabled="disabled" class="w-100"/>
                        </div>
                    </div>
                    <div class="col con-resources-table">
                        <label>{{ 'MEMBERSHIP.Resources' | translate }}</label>
                        <!-- REPLACE WITH AG-GRID
                            <us-data-table id="resources" [pagination]="false" [items]="resources" [rowTooltip]="rowTooltip" >
                            <data-table-column [resizable]="true " [width]="45">
                                <ng-template #dataTableCell let-item="item">
                                    <label *ngIf="isBookingActivity" class="custom-control custom-radio mb-0 d-flex">
                                        <input id="Number" [value]="item" (change)="onSelectionChange(item)" group="res" name="radio" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description"></span>
                                    </label>
                                    <label *ngIf="!isBookingActivity" style="cursor: no-drop" disabled="disabled" class="custom-control custom-radio mb-0 d-flex">
                                        <input id="Number" style="cursor: no-drop" disabled="disabled" [value]="item" (change)="onSelectionChange(item)" group="res" name="radio" type="radio" class="custom-control-input">
                                        <span style="cursor: no-drop" disabled="disabled" class="custom-control-indicator"></span>
                                        <span style="cursor: no-drop" disabled="disabled" class="custom-control-description"></span>
                                    </label>
                                </ng-template>
                            </data-table-column>
                            <data-table-column [property]=" 'Name' " [header]=" 'MEMBERSHIP.Name' | translate ">
                            </data-table-column>
                        </us-data-table> -->
                    </div>
                </div>
            </form>



            <button *ngIf="isBookingActivity" class="btn btn-primary mt-2" (click)="addBooking()">{{ 'MEMBERSHIP.Add' | translate }}</button>
            <button *ngIf="!isBookingActivity" style="cursor: no-drop" disabled="disabled" class="btn btn-primary mt-2" >{{ 'MEMBERSHIP.Add' | translate }}</button>
            <div class="con-resorces-added-table mt-2">
                    <!-- REPLACE WITH AG-GRID
                        <us-data-table [pagination]="false" [items]="_memberContract.ContractBookingList" [rowTooltip]="rowTooltip" >
                        <data-table-column [property]="'ResourceName'" [header]="'MEMBERSHIP.Resource' | translate" [sortable]="true" [resizable]="true">

                        </data-table-column>
                        <data-table-column [property]="'Day'" [header]="'MEMBERSHIP.Day' | translate" [sortable]="true" [resizable]="true">

                        </data-table-column>
                        <data-table-column [property]="'BookingStartTime'" [header]="'MEMBERSHIP.StartTime' | translate" [sortable]="true" [resizable]="true">

                        </data-table-column>
                        <data-table-column [property]="'BookingEndTime'" [header]="'MEMBERSHIP.EndDate' | translate" [sortable]="true" [resizable]="true">

                        </data-table-column>
                        <data-table-column [property]="'BookingAmount'" [header]="'MEMBERSHIP.CostPerBooking' | translate" [sortable]="true" [resizable]="true"  [alignment]="'right'">
                            <ng-template #dataTableCell let-item="item">
                                <span>{{item.BookingAmount | amountConverter:locale}}</span>
                            </ng-template>
                        </data-table-column>
                        <data-table-column [property]="''" header="{{'MEMBERSHIP.Delete' | translate}}" [width]="80" [resizable]="true">
                            <ng-template #dataTableCell let-item="item">
                                <button (click)="removeBooking(item)" class="btn btn-danger btn-icon-min" title="{{'MEMBERSHIP.Delete' | translate}}">
                                    <span class="icon-cancel"></span>
                                </button>
                            </ng-template>
                        </data-table-column>
                    </us-data-table> -->
            </div>


        </wizard-step>
        <wizard-step [number]="3" [title]="'MEMBERSHIP.Economy' | translate" [isValid]="economyValid"
            (onComplete)="saveContract($event)" (onCancel)="onCancel()">
            <!-- Economy Section -->

            <div class="d-flex no-gutters mt-2">
                <div class="col mr-2">

                    <form [formGroup]='economyForm'>
                        <div class="d-flex no-gutters">
                            <div class="col-2 mr-2 col-min-width">
                                <div class="form-group">
                                    <label>{{'MEMBERSHIP.DueDate' | translate}} <span class="text-danger">*</span></label>
                                    <us-date-picker class="d-flex w-100" (dateChanged)="startDueDateChanged($event)" formControlName='dueDate' name="dueDate"
                                        [locale]="'COMMON.Locale'| translate" us-error [errorMsg]="formErrors.dueDate" [displayError]="economyValidationEnabled && !economyForm.get('dueDate').valid">
                                    </us-date-picker>
                                </div>
                                <div class="form-group mr-sm-2 w-100">
                                    <label>{{'MEMBERSHIP.NumberOfOrders' | translate}} <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" formControlName='numberOfOrders' us-error [errorMsg]="formErrors.numberOfOrders"
                                        [displayError]="economyValidationEnabled && !economyForm.get('numberOfOrders').valid"
                                        (blur)="onNoOfOrdersChanged();">
                                </div>
                            </div>
                            <div class="col-2 col-min-width" *ngIf="_isMemberFee">
                                <div class="form-group">
                                    <label>{{'MEMBERSHIP.MemberFee' | translate}}</label>
                                    <div class="input-group w-100">
                                        <input class="form-control w-65" type="text" formControlName='MemberFee'>
                                        <button class="btn btn-primary" (click)="selectArticles(monthlyServiceview, 'MEMBERFEE')">{{'MEMBERSHIP.Select' | translate}}</button>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="_IsMemberFeeMonth">
                                    <label>{{'MEMBERSHIP.MemberFeeMonth' | translate}} <span class="text-danger">*</span></label>
                                    <select class="custom-select mr-sm-2 w-100" formControlName='MemberFeeMonth' us-error [errorMsg]="formErrors.MemberFeeMonth"
                                        [displayError]="economyValidationEnabled && !economyForm.get('MemberFeeMonth').valid">
                                        <option *ngFor='let month of months' [ngValue]="month">{{month.value | translate}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="mt-1">
                        <div class="d-flex justify-content-between mb-1">
                            <label>{{'MEMBERSHIP.MonthlyServices' | translate }}</label>
                            <button class="btn btn-primary " (click)="selectArticles(monthlyServiceview, 'MONTHLY')">{{'MEMBERSHIP.Select' | translate}}</button>
                        </div>
                        <!-- REPLACE WITH AG-GRID
                            <us-data-table class="con-reg-econ-table" [pagination]="false" [rowTooltip]="rowTooltip" [items]="_memberContract.EveryMonthItemList">
                            <data-table-column [property]="'ItemName'" [header]="'MEMBERSHIP.Name' | translate" [sortable]="true" [resizable]="true">
                            </data-table-column>
                            <data-table-column [property]="'Price'" [header]="'MEMBERSHIP.Price' | translate" [sortable]="true" [resizable]="true">
                                <ng-template #dataTableCell let-item="item">
                                    <us-amount-input [hideClose]="true" [(ngModel)]="item.Price" class="w-100" (valueBlur)="onMonthlyItemPriceChange(item, $event)"></us-amount-input>
                                </ng-template>
                            </data-table-column>
                            <data-table-column [property]="'Quantity'" [header]="'MEMBERSHIP.Quantity' | translate" [sortable]="true" [resizable]="true">
                            </data-table-column>
                            <data-table-column [property]="'StartOrder'" [header]="'MEMBERSHIP.StartOrder' | translate" [sortable]="true" [resizable]="true">
                                <ng-template #dataTableCell let-item="item">
                                    <input type="text" class="form-control" [(ngModel)]="item.StartOrder" (blur)="onMonthlyItemChange()" />
                                </ng-template>
                            </data-table-column>
                            <data-table-column [property]="'EndOrder'" [header]="'MEMBERSHIP.EndOrder' | translate" [sortable]="true" [resizable]="true">
                                <ng-template #dataTableCell let-item="item">
                                    <input type="text" class="form-control" [(ngModel)]="item.EndOrder" (blur)="onMonthlyItemChange()" />
                                </ng-template>
                            </data-table-column>
                            <data-table-column [property]="''" header="{{'MEMBERSHIP.Delete' | translate}}" [width]="80" [resizable]="true">
                                <ng-template #dataTableCell let-item="item">
                                    <button (click)="removeMonthlyItem(item)" class="btn btn-danger btn-icon-min" title="{{'MEMBERSHIP.Delete' | translate}}">
                                        <span class="icon-cancel"></span>
                                    </button>
                                </ng-template>
                            </data-table-column>
                        </us-data-table> -->
                    </div>

                    <div class="mt-3">
                        <div class="d-flex justify-content-between mb-1">
                            <label class="float-left">{{ 'MEMBERSHIP.Items' | translate }}</label>
                            <button class="btn btn-primary" (click)="selectArticles(monthlyServiceview, 'STARTUP')">{{'MEMBERSHIP.Select' | translate}}</button>
                        </div>
                        <!-- REPLACE WITH AG-GRID
                            <us-data-table class="con-reg-econ-table"  [pagination]="false" [rowTooltip]="rowTooltip"  [items]="_memberContract.StartUpItemList">
                            <data-table-column [property]="'ItemName'" [header]="'MEMBERSHIP.Name' | translate" [sortable]="true" [resizable]="true">
                            </data-table-column>
                            <data-table-column [property]="'Price'" [header]="'MEMBERSHIP.Price' | translate" [sortable]="true" [resizable]="true">
                                <ng-template #dataTableCell let-item="item">
                                    <span>{{ item.Price | amountConverter:locale }}</span>
                                </ng-template>
                            </data-table-column>
                            <data-table-column [property]="'Quantity'" [header]="'MEMBERSHIP.Quantity' | translate" [sortable]="true" [resizable]="true">
                                <ng-template #dataTableCell let-item="item">
                                    <input type="text" class="form-control" [(ngModel)]="item.Quantity" (blur)="onStartUpItemQuantityChange(item)" />
                                </ng-template>
                            </data-table-column>
                            <data-table-column [property]="''" header="{{'MEMBERSHIP.Delete' | translate}}" [width]="80" [resizable]="true">
                                <ng-template #dataTableCell let-item="item">
                                    <button (click)="removeStartUpItem(item)" class="btn btn-danger btn-icon-min" title="{{'MEMBERSHIP.Delete' | translate}}">
                                        <span class="icon-cancel"></span>
                                    </button>
                                </ng-template>
                            </data-table-column>
                        </us-data-table> -->

                    </div>

                </div>


                <div class="col-2">

                    <div class="form-group">
                        <label>{{ 'MEMBERSHIP.StartupItemPrice' | translate }} <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" readonly="readonly" [ngModel]="_memberContract.StartUpItemPrice | amountConverter:locale">
                    </div>
                    <div class="form-group">
                        <label>{{ 'MEMBERSHIP.MonthlyServicePrice' | translate }} <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" readonly="readonly" [ngModel]="_memberContract.ServiceAmount | amountConverter:locale">
                    </div>
                    <div class="form-group">
                        <label>{{ 'MEMBERSHIP.TotalPrice' | translate }} <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" readonly="readonly" [ngModel]="_memberContract.ContractPrize | amountConverter:locale">
                    </div>

                </div>

            </div>

        </wizard-step>
        <!-- <wizard-step [number]="4" [title]="'MEMBERSHIP.Orders' | translate" (onNext)="onOrdersLeave()" (onComplete)="onComplete($event)"
            (onCancel)="onCancel()">
            Orders Section
            <div class="d-flex">
                <button class="btn btn-primary mt-2 float-left mb-1" (click)="addOrder()">{{ 'MEMBERSHIP.Add' | translate }}</button>
            </div>
            <div class="d-flex mt-2">

                <us-data-table class="con-reg-order-table"  [rowTooltip]="rowTooltip" [pagination]="false" [items]="_memberContract.InstalllmentList">
                    <data-table-column [property]="'InstallmentNo'" [header]="'MEMBERSHIP.OrderNo' | translate" [sortable]="true" [width]="100">
                    </data-table-column>
                    <data-table-column [property]="'Text'" [header]="'MEMBERSHIP.Text' | translate" [sortable]="true" [resizable]="true">
                    </data-table-column>
                    <data-table-column [property]="'DueDate'" [header]="'MEMBERSHIP.DueDate' | translate" [sortable]="true" [resizable]="true">
                        <ng-template #dataTableCell let-item="item">
                            <span>{{item.DueDate | date:('COMMON.DateFormat'|translate)}}</span>
                        </ng-template>
                    </data-table-column>
                    <data-table-column [property]="'ActivityPrice'" [header]="'MEMBERSHIP.ServiceAmount' | translate" [sortable]="true" [resizable]="true"  [alignment]="'right'">
                        <ng-template #dataTableCell let-item="item">
                            <span>{{item.ActivityPrice | amountConverter:locale}}</span>
                        </ng-template>
                    </data-table-column>
                    <data-table-column [property]="'AdonPrice'" [header]="'MEMBERSHIP.ItemAmount' | translate" [sortable]="true" [resizable]="true"  [alignment]="'right'">
                        <ng-template #dataTableCell let-item="item">
                            <span>{{item.AdonPrice | amountConverter:locale}}</span>
                        </ng-template>
                    </data-table-column>
                    <data-table-column [property]="'Amount'" [header]="'MEMBERSHIP.OrderAmount' | translate" [sortable]="true" [resizable]="true"  [alignment]="'right'">
                        <ng-template #dataTableCell let-item="item">
                            <span>{{item.Amount | amountConverter:locale}}</span>
                        </ng-template>
                    </data-table-column>
                    <data-table-column [property]="'Date Down'" [width]="40">
                        <ng-template #dataTableCell let-item="item">
                            <button class="btn btn-primary btn-icon-min" title="{{ 'MEMBERSHIP.DateUp' | translate }}" (click)="moveDueDates(item, 'UP')">
                                <span class="icon-move-up"></span>
                            </button>
                        </ng-template>
                    </data-table-column>
                    <data-table-column [property]="'Date Up'" [width]="40">
                        <ng-template #dataTableCell let-item="item">
                            <button class="btn btn-primary btn-icon-min" title="{{ 'MEMBERSHIP.DateDown' | translate }}" (click)="moveDueDates(item, 'DOWN')">
                                <span class="icon-move-down"></span>
                            </button>
                        </ng-template>
                    </data-table-column>

                    <data-table-column [width]="40">
                        <ng-template #dataTableCell let-item="item">
                            <button (click)="openDetailView(orderDetails,item)" class="btn btn-primary btn-icon-min" title="{{ 'MEMBERSHIP.Detail' | translate }}">
                                <span class="icon-detail">

                                </span>
                            </button>
                        </ng-template>
                    </data-table-column>

                    <data-table-column [width]="40">
                        <ng-template #dataTableCell let-item="item">
                            <button (click)="removeOrder(item)" class="btn btn-danger btn-icon-min ml-1" title="{{ 'MEMBERSHIP.Delete' | translate }}">
                                <span class="icon-cancel"></span>
                            </button>
                        </ng-template>
                    </data-table-column>
                </us-data-table>

            </div>

        </wizard-step> -->
        <!-- <wizard-step [number]="5" [title]="'MEMBERSHIP.Group' | translate" (onComplete)="saveContract($event)" (onCancel)="onCancel()">
            <div [ngSwitch]="isCompleted">
                <div *ngSwitchDefault>
                    Group Section
                    <div class="">
                        <button class="btn btn-primary mt-2 mb-1" (click)="addGroupMembers(newMemberModalView)">{{ 'MEMBERSHIP.Add' | translate }}</button>

                        <div>
                            <us-data-table class="con-reg-group-table " [pagination]="false" [items]="this._memberContract.GroupMembers">
                                <data-table-column [property]="'CustId'" [header]="'MEMBERSHIP.CustomerNo' | translate" [sortable]="true" [resizable]="true">
                                </data-table-column>
                                <data-table-column [property]="'Name'" [header]="'MEMBERSHIP.Name' | translate" [sortable]="true" [resizable]="true">
                                </data-table-column>
                                <data-table-column [property]="'Mobile'" [header]="'MEMBERSHIP.Mobile' | translate" [sortable]="true" [resizable]="true">
                                </data-table-column>
                                <data-table-column [property]="'Email'" [header]="'MEMBERSHIP.Email' | translate" [sortable]="true" [resizable]="true">
                                </data-table-column>
                                <data-table-column [property]="'GmStartDate'" [header]="'MEMBERSHIP.StartDate' | translate" [sortable]="true" [resizable]="true">
                                    <ng-template #dataTableCell let-item="item">
                                        <us-date-picker class="w-100" [selDate]="item.GmStartDate" (dateChanged) = "groupDateChanged($event, item, 'START')" name="startDate" #startDate [locale]="'COMMON.Locale'| translate">
                                        </us-date-picker>
                                    </ng-template>
                                </data-table-column>
                                <data-table-column [property]="'GmEndDate'" [header]="'MEMBERSHIP.EndDate' | translate" [sortable]="true" [resizable]="true">
                                    <ng-template #dataTableCell let-item="item">
                                        <us-date-picker class="w-100" (dateChanged) = "groupDateChanged($event, item, 'END')" [selDate]="item.GmEndDate" name="endDate"  #endDate [locale]="'COMMON.Locale'| translate">
                                        </us-date-picker>
                                    </ng-template>
                                </data-table-column>
                                <data-table-column [width]="40">
                                    <ng-template #dataTableCell let-item="item">
                                        <button (click)="removeGroupmMember(item)" class="btn btn-danger btn-icon-min ml-1" title="{{ 'MEMBERSHIP.Delete' | translate }}">
                                            <span class="icon-cancel"></span>
                                        </button>
                                    </ng-template>
                                </data-table-column>
                            </us-data-table>
                        </div>
                    </div>

                </div>
                <div *ngSwitchCase="true">
                    <h4>Thank you! You have completed all the steps.</h4>
                </div>
            </div>
        </wizard-step> -->
    </us-form-wizard>
</div>

<ng-template #selectContratModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.SelectContract' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <exce-contract-tmp-select (selectTempateEvent)="templateSelected($event)"></exce-contract-tmp-select>
    </div>
    <div class="modal-footer">
        <!--<us-icon-button [iconClass]="'icon-done'" *ngIf="false" type="submit" [labelText]="'MEMBERSHIP.Ok' | translate " (click) ></us-icon-button>-->
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click) = "cancelContractSelection()"  ></us-icon-button>
    </div>
</ng-template>

<!-- ====Select Contract Condition ==== -->
<ng-template #SelectContractCondition let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.SelectContractCondition' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <!-- REPLACE WITH AG-GRID
            <us-data-table class="sel-cont-condition-table" [pagination]="false" [items]="_contractConditions" (rowDoubleClick)="contractConditionSelected($event.row.item)">
            <data-table-column [property]="'Id'" [header]="'MEMBERSHIP.Name' | translate">
            </data-table-column>
            <data-table-column [property]="'Name'" [header]="'MEMBERSHIP.Number' | translate">
            </data-table-column>
        </us-data-table> -->
    </div>
    <div class="modal-footer pt-0">
        <us-icon-button [iconClass]="'icon-done'" (click)="closeContractContions()" [labelText]="'MEMBERSHIP.Ok' | translate "></us-icon-button>
    </div>
</ng-template>

<!-- ====monthly service and item ==== -->
<ng-template #monthlyServiceview let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ itemSelectionTitle | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="orderlineModelClose()">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <select-orderlines [selectionType]="selectionType" (closeModel)="orderlineModelClose()" (selectItemByDoubleClick)="selectItemByDoubleClick($event)"
            (selectMultipleArticles)="selectMultipleArticles($event)"></select-orderlines>
    </div>
</ng-template>

<ng-template #orderDetails let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.OrderDetailsView' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <order-details-view [selectedOrder]="selectedOrder" [buttonsEnabled]="false" [IsViewEnabled]="true" [isaEnableShopOperations]="true"
            (closeOrderDetailModel)="closeOderDetailModal()" (orderUpdateSuccessEvent)="orderUpdateSuccess()"></order-details-view>
    </div>
</ng-template>

<!-- member selectioniew-->
<ng-template #newMemberModalView let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'COMMON.MemberSelection' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <exce-entityselection (searchEvent)="searchMember($event)" [itemList]="entityItems" (selectedItems)="MemberSelected($event)"
            (addMemberEvent)="addMemberView(addMemberModalView)" [multipleSelect]="multipleRowSelect" [auotocompleteItems]="autocompleteItems"
            [columns]="columns" [branches]="" [itemcount]="itemCount" [isDisabledRole]="false" [defaultRole]="defaultRoleType"
            [entitySelectionType]="entitySelectionType" [isDbPagination]="true" [isBranchVisible]="true" [isStatusVisible]="true"
            [isRoleVisible]="true" [isAddBtnVisible]="true" [isBasicInforVisible]="false" (closeViewEvent)="closeMemberSelectionView()">

        </exce-entityselection>
    </div>

</ng-template>

<!--add member -->
<ng-template #addMemberModalView let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'COMMON.AddNewMember' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <exce-addmember [roleType]="'MEM'" [IsFollowUp]="true" (addItemEvent)="addNewMember($event)" (canceleAddNewMember)="closeAddMemberView()">
        </exce-addmember>
    </div>
</ng-template>
