.grid-containerS {
  height: 100%;
  width: 75%;
  bottom: 0;
}

.grid-containerL {
  height: 100%;
  width: 100%;
  bottom: 0;
}

.grid {
  font-size: 1em;
  height: 100%;
  width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 500px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.body {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 110px);
  width: 100%;
}

.mainHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.memberContainer {
  height: 100%;
  width: 25%;
  bottom: 0;
}

.memberGrid {
  font-size: 1em;
  height: 100%;
  width: 100%;
}

// user for hover over member
// .popup {
//   position: absolute;
//   z-index: 10000;
//   width: 200px;
//   height: 200px;
// }


