<form autocomplete="off" [formGroup]="userDetailsForm" #userDetailsFrm>
    <div class="d-flex no-gutters">
        <div class="col-3 mr-2">
            <div class="form-group">
                <label>{{ 'USS-ADMIN.CardNumber' | translate }}</label>
                <input class="form-control" type="number" [formControl]="userDetailsForm.controls['CardNumber']" us-error [errorMsg]="formErrors.CardNumber"
                    [displayError]="formSubmited && !userDetailsForm.get('CardNumber').valid">
            </div>
            <div class="form-group">
                <label>{{ 'USS-ADMIN.EmployeeName' | translate }}</label>
                <div class="form-inline">
                    <input class="form-control w-75" type="text" [formControl]="userDetailsForm.controls['DisplayName']" disabled us-error [errorMsg]="formErrors.DisplayName"
                        [displayError]="formSubmited && !userDetailsForm.get('DisplayName').valid">
                    <button class="btn btn-primary w-25" type="text" (click)="openSubModel(entitySelectionModal)">{{ 'USS-ADMIN.Add' | translate }}</button>
                </div>
            </div>
            <div class="form-group">
                <label>{{ 'USS-ADMIN.Email' | translate }}</label>
                <input class="form-control" type="text" [formControl]="userDetailsForm.controls['email']" us-error [errorMsg]="formErrors.email"
                    [displayError]="formSubmited && !userDetailsForm.get('email').valid">
            </div>
            <div class="form-group">
                <label>{{ 'USS-ADMIN.HardwareProfile' | translate }}</label>
                <select class="custom-select w-100" [formControl]="userDetailsForm.controls['HardwareProfileId']" us-error [errorMsg]="formErrors.HardwareProfileId"
                    [displayError]="formSubmited && !userDetailsForm.get('HardwareProfileId').valid">
                    <option value="-1"></option>
                    <option *ngFor="let hwp of hwProfiles" value="{{hwp.Id}}">
                        {{hwp.Name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="col-3 mr-2">
            <div class="form-group">
                <label>{{ 'USS-ADMIN.UserName' | translate }}</label>
                <input class="form-control" type="text" value="{{isAddNew?'':selectedItem?.UserName}}" [formControl]="userDetailsForm.controls['UserName']"
                    us-error [errorMsg]="formErrors.UserName" [displayError]="formSubmited && !userDetailsForm.get('UserName').valid"
                    [readOnly]="!isAddNew">

            </div>
            <div *ngIf="isAddNew">
                <div class="form-group">
                    <label>{{ 'USS-ADMIN.Password' | translate }}</label>
                    <input class="form-control" type="password" [formControl]="userDetailsForm.controls['passowrd']" us-error [errorMsg]="formErrors.passowrd"
                        [displayError]="formSubmited && !userDetailsForm.get('passowrd').valid">
                </div>

                <div class="form-group">
                    <label>{{ 'USS-ADMIN.ConfirmPassword' | translate }}</label>
                    <input class="form-control" type="password" [formControl]="userDetailsForm.controls['ConfirmPassowrd']" us-error [errorMsg]="formErrors.ConfirmPassowrd"
                        [displayError]="formSubmited && !userDetailsForm.get('ConfirmPassowrd').valid">
                </div>
            </div>
            <div *ngIf="!isAddNew">
                <div class="form-group">
                    <label>{{ 'USS-ADMIN.Password' | translate }}</label>
                    <div class="input-group">
                        <input autocomplete="no" class="form-control" type="password" [disabled]="isPwResetDisabled">
                        <button class="btn btn-primary" type="button" (click)="openPasswordReset(passwordReset)" [disabled]="isPwResetDisabled">Reset</button>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-3">
            <div class="form-group">
                <label>{{ 'USS-ADMIN.RoleName' | translate }}</label>
                <select class="custom-select w-100" [formControl]="userDetailsForm.controls['RoleId']" us-error #roleVal [errorMsg]="formErrors.RoleId"
                    [displayError]="formSubmited && !userDetailsForm.get('RoleId').valid" (change)="roleChange(roleVal.value)">
                    <option *ngFor="let role of roles | slice:1" value="{{role.Id}}">
                      {{role.RoleName}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>{{ 'USS-ADMIN.Branch' | translate }}</label>
                <div class="form-inline" us-error #branchVal [errorMsg]="formErrors.Branch"
                [displayError]="formSubmited && selectedBranchCount == 0">
                    <div class="input-group mr-3">
                        <span class="input-group-addon">{{selectedBranchCount}}</span>
                        <button class="btn btn-primary" type="button" (click)="openPopOver(branchPopOver)" container="body" placement="bottom" [usPopover]="addBranchPop"
                            popoverWidth="500" popoverHeight="300" #branchPopOver="usPopover" triggers="manual">{{'USS-ADMIN.AddAndView' | translate}}</button>
                    </div>

                    <label class="custom-control custom-checkbox checkbox-inline">
                        <input type="checkbox" class="custom-control-input" [formControl]="userDetailsForm.controls['IsActive']" us-error [errorMsg]="formErrors.IsActive"
                            [displayError]="formSubmited && !userDetailsForm.get('IsActive').valid" [checked]='true'>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Active</span>
                    </label>
                </div>
            </div>
        </div>

    </div>
</form>
<div class="d-flex no-gutters">
    <div class="col mr-1">
        <div class="scroll-tree border bg-white">
            <us-checkbox-tree [items]="moduleFeatureItems" (selectedChange)="onSelectedChange($event)"
                (change)="treeChange($event)">
            </us-checkbox-tree>
        </div>
    </div>
    <div class="col ml-1">
        <!-- REPLACE WITH AG-GRID
            <us-data-table id="persons-grid" [items]="subItems" [itemCount]="subCount" [pagination]="false">

            <data-table-column [property]="'DisplayName'" [header]="'USS-ADMIN.SubOperationName' | translate" [sortable]="true" [resizable]="true">
            </data-table-column>

            <data-table-column [property]="" [header]="'USS-ADMIN.Fields' | translate" [sortable]="true" [resizable]="true">

                <ng-template #dataTableCell let-item="item">
                    <button class="btn btn-primary btn-sm" type="button" (click)="openSubOp(subOp,item)">
                        {{'USS-ADMIN.Fields' | translate}}
                    </button>
                </ng-template>
            </data-table-column>
        </us-data-table> -->
    </div>
</div>

<div class="d-flex mt-1">
    <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'USS-ADMIN.Save' | translate" (click)="validateUserForm(userDetailsForm.value)"></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'USS-ADMIN.Cancel' | translate" (click)="closePage()"></us-icon-button>
</div>


<ng-template #entitySelectionModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'Member Section' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <exce-entityselection (searchEvent)="searchDeatail($event)" (closeViewEvent)="d('Cross click')" [showOkButton]="false" (selectedItem)="setEmployee($event)" (addMemberEvent)="addMemberModal(addMemberModalView)"
            [multipleSelect]="false" [itemList]="emp" [auotocompleteItems]="auotocompleteItems" [columns]="columns" [branches]="branchesList"
            [isRoleVisible]="false" [isAddBtnVisible]="false" [isBranchVisible]="false" [isDisabledRole]="true" [isBasicInforVisible]="false">
        </exce-entityselection>
    </div>
</ng-template>

<ng-template #addBranchPop>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-light btn-sm cursor-hand text-sm" d="closeBtn" #closeBtn (click)="closePop()">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="mt-1 branch-table">
        <table class="table table-sm table-hover table-default border">
            <thead class="thead-primary">
                <tr>
                    <th style="width: 40px;"></th>
                    <th style="width: 80px;">{{'USS-ADMIN.ID' | translate}}</th>
                    <th>{{'USS-ADMIN.Name' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of branchesList">
                    <td style="width: 40px;">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [checked]="(item.IsCheck || allBranchesSelected )" [value]="item.IsCheck "  (change)="$event.target.checked ? item.IsCheck = true : item.IsCheck = false;branchSelection($event)" >
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description"></span>
                        </label>
                    </td>
                    <td style="width: 80px;">{{item.Id}}</td>
                    <td>{{item.BranchName}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-1">
        <button class="btn btn-primary" type="button" (click)="pickAll()" >{{'USS-ADMIN.All' | translate}}</button>
        <button class="btn btn-primary float-right" type="button" (click)="closePop()">{{'USS-ADMIN.OK' | translate}}</button>
    </div>
</ng-template>

<ng-template #subOp let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">
            <span>{{'USS-ADMIN.Fields' | translate}}</span>
        </span>
        <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body sub-op-table">

        <table class="table table-sm table-hover table-default">
            <thead class="thead-primary">
                <tr>
                    <th>{{'USS-ADMIN.Name' | translate}}</th>
                    <th>{{'USS-ADMIN.Operation' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of rowSubItem.ExtendedInfo.OperationFieldList; let i = index" [attr.data-index]="i">
                    <td>{{item.DisplayName}}</td>
                    <td>
                        <label class="custom-control custom-radio ">
                            <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [checked]="item.FieldStatus==0" (change)="$event.target.checked ? item.FieldStatus=0 :false;"
                                [value]="'0'" #obsValue>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{'USS-ADMIN.Enable' | translate}}</span>
                        </label>

                        <label class="custom-control custom-radio ">
                            <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [checked]="item.FieldStatus==1" (change)="$event.target.checked ? item.FieldStatus=1 :false;"
                                [value]="'1'" #disValue>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{'USS-ADMIN.Disable' | translate}}</span>
                        </label>

                        <label class="custom-control custom-radio ">
                            <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [checked]="item.FieldStatus==2" (change)="$event.target.checked ? item.FieldStatus=2 :false;"
                                [value]="'2'" #hidValue>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{'USS-ADMIN.Hide' | translate}}</span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <us-icon-button [iconClass]="'icon-done'" [labelText]="'Ok'" (click)="c()"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'Cancel'" (click)="c()"></us-icon-button>
    </div>


</ng-template>

<ng-template #passwordReset let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">
            <span>USER PROFILE SETTINGS</span>
        </span>
        <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">

        <exce-pw-reset [selectedUser]="selectedItem" (canceled)="c()" (saveSuccess)="closePasswordReset()"></exce-pw-reset>
    </div>

</ng-template>
