<div class="d-flex justify-content-start mx-1">
    <input type="text" class="form-control col-2" #NamePipeFilter (keyup)="filterInputByName(NamePipeFilter.value)" placeholder="{{'ADMIN.FilterByName' | translate}}">

    <div class="ml-auto">
        <us-icon-button [iconClass]="'icon-add'" [labelText]="'ADMIN.NewTask' | translate " (click)="openaddJobCategoryView(addJobCategoryView)"></us-icon-button>
    </div>
</div>
<div class="mx-1 mt-1">

    <!-- REPLACE WITH AG-GRID
        <us-data-table [pagination]="false" [items]="filteredJobItems" [itemCount]="jobItemsCount" [rowTooltip]="rowTooltip" (rowDoubleClick)="openEditJobCategory(addJobCategoryView, $event.row.item)">

        <data-table-column [property]="'Name'" [header]="'ADMIN.Name' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>

        <data-table-column [property]="''" [width]="40">
            <ng-template #dataTableCell let-item="item">
                <button class="btn btn-primary btn-icon-min" title="{{'ADMIN.Details' | translate}}" (click)="openEditJobCategory(addJobCategoryView, item)">
                    <span class="icon-detail"></span>
                </button>
            </ng-template>
        </data-table-column>

        <data-table-column [property]="''" [width]="40">
            <ng-template #dataTableCell let-item="item">
                <button class="btn btn-danger btn-icon-min" title="{{'ADMIN.Delete' | translate}}" (click)="deleteJob(item)">
                    <span class="icon-cancel"></span>
                </button>
            </ng-template>
        </data-table-column>

    </us-data-table> -->
</div>

<!-- ******************************* Add Job Category Modal **************************************** -->

<ng-template #addJobCategoryView let-c="close" let-d="dismiss">
    <form [formGroup]="jobCategoryForm">
        <div class="modal-header">
            <span class="modal-title">{{ Title | translate}}</span>
            <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')" (click)="closeAddJobCategoryView()">
                <span aria-hidden="true" class="icon-close"></span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group" style="width: 300px;">
                <label>{{ 'ADMIN.CategoryNameC' | translate }}</label>
                <input class="form-control " type="text" formControlName="CategoryName" us-error [errorMsg]="formErrors.CategoryName" [displayError]="jobFormSubmited && !jobCategoryForm.get('CategoryName').valid"
                    placement="right">
            </div>
            <hr class="hr-dashed">
            <div class="d-flex flex-wrap chk-scroller">
                <div class="form-group">

                    <label class="custom-control custom-checkbox checkbox-inline">
                        <input type="checkbox" class="custom-control-input" checked disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"> {{ 'ADMIN.Text' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline">
                        <input type="checkbox" class="custom-control-input" checked disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"> {{ 'ADMIN.Day' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline">
                        <input type="checkbox" class="custom-control-input" checked disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"> {{ 'ADMIN.StartDate' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline">
                        <input type="checkbox" class="custom-control-input" checked disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"> {{ 'ADMIN.EndDate' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline">
                        <input type="checkbox" class="custom-control-input" checked disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"> {{ 'ADMIN.StartTime' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline">
                        <input type="checkbox" class="custom-control-input" checked disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"> {{ 'ADMIN.EndTime' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline">
                        <input type="checkbox" class="custom-control-input" checked disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"> {{ 'ADMIN.WeekType' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline">
                        <input type="checkbox" class="custom-control-input" checked disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"> {{ 'ADMIN.DescriptionText' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline">
                        <input type="checkbox" class="custom-control-input" formControlName="IsRole">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"> {{ 'ADMIN.Role' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline">
                        <input type="checkbox" class="custom-control-input" formControlName="IsEmployee" checked disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"> {{ 'ADMIN.Employee' | translate }}</span>
                    </label>

                </div>


            </div>
            <hr class="hr-dashed mt-0">

            <form [formGroup]="extendedFieldForm">
                <div class="d-flex justify-content-start no-gutters my-1">
                    <div class="col">

                        <div class="form-group">
                            <div class="form-inline">
                                <label class="mr-2">{{ 'ADMIN.FieldTitle' | translate }}</label>

                                <input type="text" class="form-control mr-2" formControlName="Title" us-error [errorMsg]="formErrors.Title" [displayError]="myFormSubmited && !extendedFieldForm.get('Title').valid"
                                    placement="right">

                                <label class="mr-2">{{ 'ADMIN.Type' | translate }}</label>
                                <select class="custom-select custom-width mr-2" formControlName="FieldType" id="Type" (change)="getFieldType($event)">
                                    <option *ngFor="let key of keys()" [value]="key">{{key}}</option>
                                </select>
                                <!--<button class="btn btn-primary" >{{ 'ADMIN.AddS' | translate }}</button> (click)="addActivityTimes(unavailableTimeForm.value)"-->

                                <us-icon-button [labelText]="'COMMON.Add' | translate " (click)="addExtendedFields(extendedFieldForm.value)"></us-icon-button>

                            </div>
                        </div>

                    </div>
                </div>
            </form>


            

            <div class="d-flex my-1">

                <table class="table table-sm table-default mt-1 field-table">
                    <thead class="thead-primary">
                        <tr>
                            <th>{{'ADMIN.FieldName' | translate}}</th>
                            <th>{{'ADMIN.Type' | translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let field of extendedFields">
                            <td>{{field.Title}}</td>


                            <td>
                                <input *ngIf="field.FieldType == 0" disabled type="text" placeholder="Normal Text" class="form-control form-control-sm">

                                <input *ngIf="field.FieldType == 1" disabled type="text" placeholder="Description" class="form-control form-control-sm">

                                <input *ngIf="field.FieldType == 2" disabled type="text" placeholder="MM/dd/yyyy" class="form-control form-control-sm">

                                <label *ngIf="field.FieldType == 3" class="custom-control custom-checkbox checkbox-inline">
                                    <input type="checkbox" class="custom-control-input" disabled>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description"> Check Box </span>
                                </label>
                            </td>



                            <td>
                                <button class="btn btn-danger btn-icon-min" (click)="deleteField(field)">
                                    <span class="icon-cancel"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </form>
    <div class="modal-footer pt-0">
        <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate" (click)="saveJobCategory(jobCategoryForm.value)">
        </us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="closeAddJobCategoryView()"></us-icon-button>
    </div>
</ng-template>