<div class="d-flex no-gutters mx-1 justify-content-between mb-1">
  <div class="col-md-3">
    <div class="input-group" >
        <body onload="openImportOCRModal(importOCR)">
        </body>
      <us-icon-button class="mr-1 cursor-hand" [iconClass]="'icon-generate'" [labelText]="'ECONOMY.GenerateATG' | translate " (click)="openGenerateATGModal(generateATG)"></us-icon-button>
      <us-icon-button class="cursor-hand" [iconClass]="'icon-import'" [labelText]="'ECONOMY.ImportOCR' | translate " (click)="openImportOCRModal(importOCR)"></us-icon-button>
    </div>
  </div>
  <div class="ml-auto no-gutters">
    <form [formGroup]="searchForm">
      <div class="form-inline">
        <label class="mr-1">{{'ECONOMY.StartDate' | translate}}</label>
        <us-date-picker style="width: 180px;" name="startDate" #fromDate formControlName='startDate' [locale]="'ECONOMY.Locale'| translate"
          [options]="">
        </us-date-picker>
        <label class="ml-2 mr-1">{{'ECONOMY.EndDate' | translate}}</label>
        <us-date-picker style="width: 180px;" name="endDate" #fromDate formControlName='endDate' [locale]="'ECONOMY.Locale'| translate"
          [options]="">
        </us-date-picker>
        <button class="btn btn-primary ml-2 cursor-hand" type="button" (click)="getOCRImportHistory()">{{'ECONOMY.GetSummary' | translate}}</button>
      </div>
    </form>
  </div>
</div>

<div class="mx-1">
  <!-- REPLACE WITH AG-GRID
    <us-data-table id="ocrImportHistory" [items]="ocrImportHistoryList" [pagination]="false">
    <data-table-column [property]="'ImportedDate'" header="{{ 'ECONOMY.ImportedDate' | translate }}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.ImportedDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'FileId'" header="{{ 'ECONOMY.FileId' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'FileName'" header="{{ 'ECONOMY.FileName' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'PaymentsCount'" header="{{ 'ECONOMY.PaymentCout' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'StatusCount'" header="{{ 'ECONOMY.StatusCount' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'PaymentsSum'" header="{{ 'ECONOMY.PaymentSum' | translate }}" [sortable]="true" [resizable]="true"
      [alignment]="'right'">
    </data-table-column>
    <data-table-column [property]="'ErrorAccPayments'" header="{{ 'ECONOMY.ErrorAccPayments' | translate }}" [sortable]="true"
      [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'ErrorAccStatus'" header="{{ 'ECONOMY.ErrorAccStatus' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'ErrorAccountPaymentSum'" header="{{ 'ECONOMY.ErrorAccPaymentsSum' | translate }}" [sortable]="true"
      [resizable]="true" [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.ErrorAccountPaymentSum | amountConverter:locale}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'TotalPayments'" header="{{ 'ECONOMY.TotalPayments' | translate }}" [sortable]="true" [resizable]="true"
      [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.TotalPayments | amountConverter:locale}}</span>
      </ng-template>
    </data-table-column>
  </us-data-table> -->
</div>

<!-- *************************************** Generate ATG ******************************************* -->

<ng-template #generateATG let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ "Generate ATG" }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <form [formGroup]="atgForm">
    <div class="modal-body">
      <div class="row">
        <div class="col">
          <div class="alert alert-info" *ngIf="showMessage">
            <span><svg width="18" height="18" class="fill-primary" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
          <path d="M9,0C4.1,0,0,4,0,9s4.1,9,9,9s9-4,9-9S14,0,9,0z M10,15.1H7.9V6.5H10V15.1z M7.7,4.1c0-1.6,2.5-1.6,2.5,0
           C10.3,5.8,7.7,5.8,7.7,4.1z"/>
          </svg></span> <span style="margin-bottom: 15px;">{{statusMessage}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            {{ 'ECONOMY.SDueDate' | translate }}
            <us-date-picker class="w-100" formControlName="startDate" [locale]="'ADMIN.Locale'| translate">
            </us-date-picker>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            {{ 'ECONOMY.EDueDate' | translate }}
            <us-date-picker class="w-100" formControlName="endDate" [locale]="'ADMIN.Locale'| translate">
            </us-date-picker>
          </div>
        </div>
        <div class="col">
          {{ 'ECONOMY.FileType' | translate }}
          <div class="input-group">
            <label class="custom-control custom-radio ">
                  <input id="radio2" name="radio" checked="fileType === 0" type="radio" (click)="setFileType('ATG')" class="custom-control-input mx-2">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ECONOMY.Atg' | translate }}</span>
                </label>

            <label class="custom-control custom-radio ">
                  <input id="radio2" name="radio" type="radio" (click)= "setFileType('CAN')" class="custom-control-input mx-2">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ 'ECONOMY.Cancellation' | translate }}</span>
                </label>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>{{ 'ECONOMY.SendingNumber' | translate }}</label>
            <input type="text" formControlName="sendingNo" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary mr-1" (click)="getATGSummary()" type="button">{{ 'ECONOMY.ViewSummary' | translate }}</button>
          <button class="btn btn-primary mr-1" (click)="generateATGFile()" type="button">{{ 'ECONOMY.GenerateATG' | translate }}</button>
          <button class="btn btn-primary mr-1" [disabled]="!downloadEnabled" (click)="downloadFile()" type="button">{{ 'ECONOMY.Download' | translate }}</button>
        </div>
      </div>
      <hr class="hr-dashed">
      <div class="row">
        <div class="col">
          <div class="input-group">
            <label>{{ 'ECONOMY.Count' | translate }}</label>
            <label class="badge badge-info mx-2">{{atgSummary?.Count}}</label>

            <label>{{ 'ECONOMY.Sum' | translate }}</label>
            <label class="badge badge-info mx-2">{{atgSummary?.SumAmount | amountConverter:locale}}</label>
          </div>
        </div>
      </div>
      <hr class="hr-dashed">
      <h5>{{ 'ECONOMY.Log' | translate }}</h5>
      <p *ngFor="let message of errorMessages">{{message}}</p>
    </div>
  </form>
</ng-template>

<!-- *************************************** Import OCR ******************************************* -->

<ng-template #importOCR let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ "Import OCR" }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <div class="alert alert-info" *ngIf="showOCRMessage">
          <span><svg width="18" height="18" class="fill-primary" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
            <path d="M9,0C4.1,0,0,4,0,9s4.1,9,9,9s9-4,9-9S14,0,9,0z M10,15.1H7.9V6.5H10V15.1z M7.7,4.1c0-1.6,2.5-1.6,2.5,0
             C10.3,5.8,7.7,5.8,7.7,4.1z"/>
            </svg></span> <span style="margin-bottom: 15px;">{{ocrMessage}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <div>
            <label class="custom-file w-100">
              <input type="file" class="custom-file-input"  (change)="fileUploaded($event)"  value="{{'ECONOMY.Upload' | translate}}">
              <span class="custom-file-control"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col">

        <div class="input-group mt-1">
          <label class="mr-2">{{ 'ECONOMY.FileType' | translate }}</label>
          <label class="custom-control custom-radio ">
                    <input id="radio2" name="radio" [checked]="ocrFileType == 'OCR'" (click)="setOCRFileType('OCR')"  type="radio" class="custom-control-input mx-2">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'ECONOMY.OCR' | translate }}</span>
                  </label>

          <label class="custom-control custom-radio ">
                    <input id="radio2" name="radio" type="radio" [checked]="ocrFileType == 's'" (click)="setOCRFileType('DC')"  class="custom-control-input mx-2">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'ECONOMY.DebtCollection' | translate }}</span>
                  </label>
        </div>
      </div>
    </div>
    <button class="btn btn-primary mt-1" type="button" [disabled]="processStatus == -1" (click)="uploadFile()">
          {{ 'ECONOMY.Upload' | translate }}
        </button>
    <hr class="hr-dashed">

    <div class="row">
      <div class="col">
        <div class="input-group">
          <label>{{ 'ECONOMY.PaymentsCount' | translate }}</label>
          <span class="badge badge-info mx-2">{{ OCRSummary ? OCRSummary?.PaymentsCount : 0}}</span>

          <label>{{ 'ECONOMY.PaymentAmount' | translate }}</label>
          <span class="badge badge-info mx-2">{{OCRSummary?.PaymentAmount | amountConverter:locale}}</span>

          <label>{{ 'ECONOMY.StatusUpdates' | translate }}</label>
          <span class="badge badge-info mx-2">{{OCRSummary? OCRSummary?.NewCancellationCount : 0}}</span>
        </div>
      </div>
    </div>
    <hr class="hr-dashed">
    <div class="input-group mb-2">
      <button class="btn btn-primary mr-1" type="button" [disabled]="processStatus != 1" (click)="viewFileSummary()">
        {{ 'ECONOMY.ViewSummary' | translate }}
      </button>
      <button class="btn btn-primary mr-1" [disabled]="processStatus != 1" (click)="importOCRFile()" type="button">
        {{ 'ECONOMY.Import' | translate }}
      </button>
      <button class="btn btn-primary mr-1" [disabled]="processStatus != 2"  (click)="getErrorFiles()" type="button">
        {{ 'ECONOMY.ErrorFiles' | translate }}
      </button>
    </div>
    <h5>{{ 'ECONOMY.Log' | translate }}</h5>
    <p *ngFor="let msg of ocrLog">{{msg}}</p>
  </div>
</ng-template>
