:host .gym-req-set-scroller {
    display: block;
    overflow-y: auto;
    height: calc(100vh - 186px);
    width: 100%;
    margin-bottom: 10px;

}

.custom-checkbox{
  cursor: pointer;
}

.custom-radio{
  cursor: pointer;
}
