
<div  *ngIf="selectedIndex === 1" >
  <div class="d-flex">
      <us-icon-button [iconClass]="'icon-add'"  (click)="openNewContract()" labelText="{{ 'MEMBERSHIP.FrzBtnRegisterNew' | translate }}"></us-icon-button>

  </div>

    <div class="d-flex w-100 no-gutters mt-1 mb-1">
      <!-- REPLACE WITH AG-GRID
        <us-data-table class="table-freeze" id="" [pagination]="false" [items]="items" [itemCount]="itemCount"  (rowDoubleClick)="editFreeze($event,viewDetail)"
        [rowTooltip]="rowTooltip">
        <data-table-column [property]="'FromDate'" header="{{ 'MEMBERSHIP.From' | translate }}" [sortable]="true" [resizable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.FromDate | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'ToDate'" header="{{ 'MEMBERSHIP.To' | translate }}" [sortable]="true" [resizable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.ToDate | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'Category'" header="{{ 'MEMBERSHIP.Category' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'FreezeMonths'" header="{{ 'MEMBERSHIP.FreezeMonths' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'ShiftCount'" header="{{ 'MEMBERSHIP.ShiftOrdersBy' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'isExtended'" header="{{ 'MEMBERSHIP.ExtendContract' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'FreezeDays'" header="{{ 'MEMBERSHIP.ExtendContractByDays' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="''" [header]="''" [sortable]="true" [resizable]="true" [width]="40">
            <ng-template #dataTableCell let-item="item">
                <button class="btn btn-primary btn-icon-min" (click)="freezeDetail(item, viewDetail)"
                    title="{{'MEMBERSHIP.Detail' | translate}}">
                    <span class="icon-detail"></span>
                </button>
            </ng-template>
        </data-table-column>
        <data-table-column [property]="''" [header]="''" [sortable]="true" [resizable]="true">
            <ng-template #dataTableCell let-item="item">
              <button class="btn btn-danger btn-icon-min" title="{{'MEMBERSHIP.Delete' |translate}}" (click)="deleteMessage(item)">
                        <span class="icon-cancel"></span>
              </button>
            </ng-template>
          </data-table-column>
      </us-data-table> -->
    </div>
    <us-icon-button [iconClass]="'icon-cancel'" (click)="cancel()" labelText="{{ 'MEMBERSHIP.Cancel' | translate }}"></us-icon-button>
</div>
<div  *ngIf="selectedIndex === 2" >
    <app-new-freeze  [selectedItem]="selectedItem" [selectedContract]="selectedContract" [insItemsToFreeze]="insItemsToFreeze" [contract]="contract" (canceled)=callCancel() (saveSuccess)="callSaveSuccess()" [isEdit]="isEdit" [editType]="editType">
    </app-new-freeze>
</div>


  <ng-template #viewDetail let-c="close" let-d="dismiss">

      <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.FrzDetailsTitle' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
                <span aria-hidden="true" class="icon-close"></span>
              </button>
      </div>

      <div class="modal-body">

        <div class="d-flex no-gutters">
          <div class="col-2 mr-2">
            <!--<div class="form-group">
              <label>{{ 'MEMBERSHIP.Name' | translate }}</label>
              <div><strong>{{ rowItem.FreezeName}}</strong></div>
            </div>-->
            <div class="form-group">
                <label>{{ 'MEMBERSHIP.Type' | translate }}</label>
                <div><strong>{{ rowItem.Category}}</strong></div>
            </div>
            <div class="form-group">
                <label>{{ 'MEMBERSHIP.FrzDtlsLblFrom' | translate }}</label>
                <div><strong>{{rowItem.FromDate | date:('COMMON.DateFormat'|translate)}}</strong></div>
            </div>
            <div class="form-group">
                <label>{{ 'MEMBERSHIP.ToC' | translate }}</label>
                <div><strong>{{rowItem.ToDate | date:('COMMON.DateFormat'|translate)}}</strong></div>
            </div>
            <div class="form-group">
                <label>{{ 'MEMBERSHIP.FreezeDays' | translate }}</label>
                <div><strong>{{ rowItem.FreezeDays}}</strong></div>
            </div>
            <div class="form-group">
                <label>{{ 'MEMBERSHIP.ShiftOrdersByMonths' | translate }}</label>
                <div><strong>{{ rowItem.FreezeMonths}}</strong></div>
            </div>
            <div class="form-group">
                <label>{{ 'MEMBERSHIP.Note' | translate }}</label>
              <div><strong>{{ rowItem.Note}}</strong></div>
            </div>
          </div>
          <div class="col mr-1">
              <label>{{ 'MEMBERSHIP.FrzDtlsLblFrzdInstallments' | translate }}</label>
                <!-- REPLACE WITH AG-GRID
                  <us-data-table class="freeze-inst-table" id="" [pagination]="false" [items]="insItemsToFreeze" [itemCount]="insCount" (rowClick)="rowClick($event)">
                  <data-table-column [property]="'OrderNo'" header="{{ 'MEMBERSHIP.OrderNo' | translate }}" [sortable]="true" [resizable]="true">
                  </data-table-column>
                  <data-table-column [property]="'InstallmentDate'" header="{{ 'MEMBERSHIP.RegisteredDate' | translate }}" [sortable]="true" [resizable]="true">
                    <ng-template #dataTableCell let-item="item">
                      <span>{{item.InstallmentDate | date:('COMMON.DateFormat'|translate)}}</span>
                    </ng-template>
                  </data-table-column>

                  <data-table-column [property]="'InstallmentAmount'" header="{{ 'MEMBERSHIP.Amount' | translate }}" [sortable]="true" [resizable]="true" [alignment]="'right'">
                    <ng-template #dataTableCell let-item="item">
                      <span>{{item.InstallmentAmount | amountConverter: locale}}</span>
                    </ng-template>
                  </data-table-column>
                  <data-table-column [property]="'InstallmentDueDate'" header="{{ 'MEMBERSHIP.DueDate' | translate }}" [sortable]="true" [resizable]="true">
                    <ng-template #dataTableCell let-item="item">
                      <span>{{item.InstallmentDueDate | date:('COMMON.DateFormat'|translate)}}</span>
                    </ng-template>
                  </data-table-column>
                  <data-table-column [property]="'TrainingPeriodStart'" header="{{ 'MEMBERSHIP.TrainingPeriodStart' | translate }}" [sortable]="true" [resizable]="true">
                    <ng-template #dataTableCell let-item="item">
                      <span>{{item.TrainingPeriodStart | date:('COMMON.DateFormat'|translate)}}</span>
                    </ng-template>
                  </data-table-column>
                  <data-table-column [property]="'TrainingPeriodEnd'" header="{{ 'MEMBERSHIP.TrainingPeriodEnd' | translate }}" [sortable]="true" [resizable]="true">
                    <ng-template #dataTableCell let-item="item">
                      <span>{{item.TrainingPeriodEnd | date:('COMMON.DateFormat'|translate)}}</span>
                    </ng-template>
                  </data-table-column>

                </us-data-table> -->
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <us-icon-button [iconClass]="'icon-done'" labelText="{{ 'MEMBERSHIP.FrzDtlsBtnExtendPeriod' | translate }}" (click)="c();extendContract()"></us-icon-button>
        <!-- <us-icon-button [iconClass]="'icon-done'" labelText="{{ 'MEMBERSHIP.FrzDtlsBtnUnfreeze' | translate }}" (click)="c();deleteMessage(rowItem)"></us-icon-button> -->
      </div>

    </ng-template>

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"
  [information]="message" >
</exce-fade-in-n-out>
