:host /deep/ .expand-row {
    border-top: none;
    padding: 5px;
}
:host /deep/ .table tbody + tbody {
    border-top: 1px solid #e9ecef;
}
:host /deep/ .scroll{

    height: calc(100vh - 298px);
    overflow: auto;
}
.shop-modal-vh{
    height:calc(100vh - 100px);
}