<div class="modal-body">

  <div class="d-flex no-gutters">
    <div class="col-2 mr-2">
      <label class="w-100">{{ 'MEMBERSHIP.Member' | translate }}</label>
      <span class="mb-2">
        <strong>{{selectedOrder?.MemberName}}</strong>
      </span>

      <label class="w-100">{{ 'MEMBERSHIP.Contract' | translate }}</label>
      <span class="mb-2">
        <strong>{{selectedOrder?.MemberContractNo}}</strong>
      </span>
    </div>

    <div class="col-2 mr-2">
      <label class="w-100">{{ 'MEMBERSHIP.DueDate' | translate }}</label>
      <span class="mb-2">
        <strong>{{selectedOrder?.DueDate | date:('COMMON.DateFormat'|translate)}}</strong>
      </span>

      <label class="w-100">{{ 'MEMBERSHIP.Order' | translate }}</label>
      <span class="mb-2">
        <strong>{{selectedOrder?.OrderNo}} </strong>
      </span>
    </div>
    <div class="col-2">
      <label class="w-100">{{ 'MEMBERSHIP.EstimatedOrderAmount' | translate }}</label>
      <span class="mb-2">
        <strong>{{selectedOrder?.EstimatedOrderAmount | amountConverter:locale }}</strong>
      </span>
    </div>
  </div>

  <div class="d-flex no-gutters">
    <hr class="hr-dashed my-1">
  </div>

  <div class="d-flex no-gutters">

    <div class="flex mt-2 w-100" style="background-color: #fff;">
      <div class="align-items-stretch">
        <div class="off-canvas-panel-ani">
          <us-tab>
            <tab-content [tabTitle]="'Basic'">
              <div class="scroll">
                <form [formGroup]="orderlineForm">
                  <div class="d-flex no-gutters">
                    <div class="col-3 mx-2">
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.ActivityPrice' | translate }}</label>
                        <us-amount-input [hideClose]="true" class="w-100" formControlName='ActivityPrice'></us-amount-input>

                      </div>
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.AddOnPrice' | translate }}</label>
                        <us-amount-input [hideClose]="true" class="w-100" formControlName='AdonPrice'></us-amount-input>
                      </div>
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.OrderAmount' | translate }}</label>
                        <us-amount-input [hideClose]="true" class="w-100" formControlName='Amount'></us-amount-input>
                      </div>
                    </div>
                    <div class="col-3 mr-2">
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.DueDate' | translate }}</label>
                        <us-date-picker name="startDate" #startDate [locale]="'COMMON.Locale'| translate" [options]="fromDatePickerOptions" (dateChanged)="onDueDateChange($event)"
                          formControlName="DueDate" us-error [errorMsg]= "formsErrors.DueDate" [displayError]= "!orderlineForm.get('DueDate').valid">
                        </us-date-picker>
                      </div>
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.Text' | translate }}</label>
                        <input type="text" formControlName="Text" class="form-control">
                      </div>
                    </div>
                    <div class="col-3 mr-2">
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.EstimatedDiscountAmount' | translate }}</label>
                        <us-amount-input [hideClose]="true" class="w-100" formControlName='Discount'></us-amount-input>
                      </div>
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.EstimatedSponsoredAmount' | translate }}</label>
                        <us-amount-input [hideClose]="true" class="w-100" formControlName='SponsoredAmount'></us-amount-input>
                      </div>
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.EstimatedOrderAmount' | translate }}</label>
                        <us-amount-input [hideClose]="true" class="w-100" formControlName='EstimatedOrderAmount'></us-amount-input>
                      </div>
                    </div>

                  </div>
                </form>

                <div class="card m-2">
                  <div class="card-header p-2">
                    <div class="d-flex">
                      <div>
                        <label>{{ 'MEMBERSHIP.OrderLines' | translate }}</label>
                      </div>
                      <div class="ml-auto">
                        <us-icon-button (click)="openSelectOrderLine(orderLineModal)" [isDisabled]="!IsButtonEnabled" [iconClass]="'icon-add'" [labelText]="'MEMBERSHIP.Add'| translate"></us-icon-button>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <table class="table table-sm table-default ">
                      <thead class="thead-primary">
                        <tr>
                          <th>{{ 'MEMBERSHIP.ArticleNo' | translate }}</th>
                          <th>{{ 'MEMBERSHIP.Name' | translate }}</th>
                          <th class="text-right">{{ 'MEMBERSHIP.UnitPrice' | translate }}</th>
                          <th class="text-right">{{ 'MEMBERSHIP.Discount' | translate }}</th>
                          <th>{{ 'MEMBERSHIP.Qty' | translate }}</th>
                          <th class="text-right" style="width: 120px;">{{ 'MEMBERSHIP.Price' | translate }}</th>
                          <th style="width: 40px;">{{ 'MEMBERSHIP.Up' | translate }}</th>
                          <th style="width: 40px;">{{ 'MEMBERSHIP.Down' | translate }}</th>
                          <th style="width: 120px;"></th>
                          <th style="width: 40px;"></th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let item of selectedOrder?.AddOnList; let index = index">
                        <tr>
                          <td>
                            {{item.ArticleId}}
                          </td>
                          <td>
                            {{item.ItemName}}
                          </td>
                          <td class="text-right">
                            {{item.UnitPrice | amountConverter:locale}}
                          </td>
                          <td class="text-right">
                            {{item.Discount | amountConverter:locale}}
                          </td>
                          <td>
                            <input  [disabled]="(item.CategoryCode === 'ActivityArticle')" type="number" (change)="quantityChange($event, item)" class="w-25" [(ngModel)] = "item.Quantity">
                          </td>
                          <td>
                            <us-amount-input [hideClose]="true" (valueChange)="onAmountUpdated($event, item)" class="w-100" [(ngModel)] = "item.Price"></us-amount-input>
                            <!--<input #inputDP OnlyNumbers class="form-control form-control-sm text-right" [ngModel]="item.Price | amountConverter:locale">-->
                          </td>
                          <td>
                            <button class="btn btn-primary btn-icon-min" (click)="rowUp(item, index)" [disabled]="!IsViewEnabled">
                              <span class="icon-move-up"></span>
                            </button>
                          </td>
                          <td>
                            <button class="btn btn-primary btn-icon-min" (click)="rowDown(item, index)" [disabled]="!IsViewEnabled">
                              <span class="icon-move-down"></span>
                            </button>
                          </td>
                          <td>
                            <us-icon-button (click)="AddText(item)" [iconClass]="'icon-add'" [labelText]="'MEMBERSHIP.AddText'| translate"></us-icon-button>
                          </td>
                          <td>
                            <button (click)="removeArticle(item)" [disabled]="(item.CategoryCode === 'ActivityArticle') || (item.IsAddedFromShop)" class="btn btn-danger btn-icon-min ml-1" title="{{ 'MEMBERSHIP.Delete' | translate }}" (click)="deleteOrder(item)">
                              <span class="icon-cancel"></span>
                            </button>
                            </td>
                        </tr>
                        <tr *ngIf="item.Description">
                          <td colspan="10" class="expand-row">
                            <textarea class="w-100" [(ngModel)]="item.Description" class="form-control"></textarea>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </tab-content>

            <tab-content [tabTitle]="'Details'">
              <div class="scroll">
                <form [formGroup]="orderlineDetailsForm">
                  <div class="d-flex no-gutters">
                    <div class="col-3 mx-2">
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.TrainingStartAndEndDate' | translate }}</label>
                        <us-date-picker style="width: 200px;" formControlName='TrainingPeriodStart' us-error [errorMsg]= "formsErrors.TrainingPeriodStart" [displayError]= "!orderlineDetailsForm.get('TrainingPeriodStart').valid" > </us-date-picker>
                      </div>
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.OrderDate' | translate }}</label>
                        <us-date-picker style="width: 200px;" formControlName='InstallmentDate' us-error [errorMsg]= "formsErrors.InstallmentDate" [displayError]= "!orderlineDetailsForm.get('InstallmentDate').valid"> </us-date-picker>
                      </div>
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.OriginalDueDate' | translate }}</label>
                        <us-date-picker style="width: 200px;" formControlName='OriginalDueDate' us-error [errorMsg]= "formsErrors.OriginalDueDate" [displayError]= "!orderlineDetailsForm.get('OriginalDueDate').valid"> </us-date-picker>
                      </div>
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.EstimatedInvoiceDate' | translate }}</label>
                        <us-date-picker style="width: 200px;" formControlName='EstimatedInvoiceDate' us-error [errorMsg]= "formsErrors.EstimatedInvoiceDate" [displayError]= "!orderlineDetailsForm.get('EstimatedInvoiceDate').valid"> </us-date-picker>
                      </div>
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.AddOnText' | translate }}</label>
                        <div class="form-inline">
                          <input type="text" class="form-control w-75" formControlName='AdonText'>
                          <button class="btn btn-primary w-25" (click)="selectAddonTextModelOpen(adonTextModal)">{{ 'MEMBERSHIP.Select' | translate }}</button>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.ContractTemplate' | translate }}</label>
                        <input type="text" class="form-control" formControlName='ContractName'>
                      </div>
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.Comment' | translate }}</label>
                        <textarea class="form-control" formControlName='Comment'></textarea>
                      </div>
                    </div>

                    <div class="col-3 mr-2">
                      <div class="form-group">
                        <label> &nbsp;</label>
                        <us-date-picker style="width: 200px;" formControlName='TrainingPeriodEnd' us-error [errorMsg]= "formsErrors.TrainingPeriodEnd" [displayError]= "!orderlineDetailsForm.get('TrainingPeriodEnd').valid"> </us-date-picker>
                      </div>
                    </div>
                    <div class="col-3 mr-2">
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.Gym' | translate }}</label>
                        <input type="text" class="form-control" formControlName='BranchName'>
                      </div>
<!--
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.ChangeCustomer' | translate }}</label>
                        <div class="form-inline">
                          <input type="text" class="form-control w-75" formControlName='PayerName'>
                          <button class="btn btn-primary w-25" (click)="openEntitySelectionModel(entitySelectionModal)" [disabled]="!IsMemberEnabled">{{ 'MEMBERSHIP.Select' | translate }}</button>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>{{ 'MEMBERSHIP.OriginalCustomer' | translate }}</label>
                        <input type="text" class="form-control" formControlName='OriginalCustomer'>
                      </div> -->
                      <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" formControlName="IsSpOrder">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Sponsoring Order</span>
                      </label>
                      <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" formControlName="IsInvoiceFeeAdded">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Invoice Fee</span>
                      </label>
                    </div>
                    <div class="col-2 mt-4 ">
                      <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" formControlName="IsATG">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">ATG</span>
                      </label>
                    </div>
                  </div>
                </form>
              </div>
            </tab-content>

          </us-tab>

        </div>
      </div>
    </div>

  </div>


  <div class="d-flex no-gutters mt-1">
    <div class="form-inline">
      <us-icon-button class="mr-1" (click)="checkOut(shopHomeModel)" [isDisabled]="!this.selectedOrder.IsCheckOutEnable" [iconClass]="'icon-checkout'"
        [labelText]=" 'MEMBERSHIP.CheckOut' | translate "></us-icon-button>
      <us-icon-button class="mr-1" (click)="generateInvoice()" [isDisabled]="!this.selectedOrder.OrderOperationsEnabled" [iconClass]="'icon-print'"
        [labelText]=" 'MEMBERSHIP.PrintInvoiceC' | translate "></us-icon-button>
      <us-icon-button class="mr-1" (click)="printOrder()" [isDisabled]="!IsButtonEnabled" [iconClass]="'icon-print'" [labelText]=" 'MEMBERSHIP.PrintOrder' | translate "></us-icon-button>
      <!-- <us-icon-button class="mr-1" (click)="PrintSponsorOderDetails()" [isDisabled]="!IsButtonEnabled" [iconClass]="'icon-print'"
        [labelText]=" 'MEMBERSHIP.PrintDetailC' | translate "></us-icon-button> -->
      <us-icon-button class="mr-1" (click)="saveOrder()" [isDisabled]="!IsButtonEnabled" [iconClass]="'icon-done'" [labelText]=" 'MEMBERSHIP.Save' | translate "></us-icon-button>
      <us-icon-button class="mr-1" (click)="closeOrderDetailsModel()" [iconClass]="'icon-cancel'" [labelText]=" 'MEMBERSHIP.Cancel' | translate "></us-icon-button>
    </div>
  </div>

</div>



<ng-template #adonTextModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.AddOnTextSelectionC' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="addonTextModelClose()">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <!-- REPLACE WITH AG-GRID
      <us-data-table [items]="addonTextList" #addonTextTable (rowDoubleClick)="selectADTextRowClick($event.row.item)" [selectColumn]="true"
      [multiSelect]="false" [substituteRows]="false" [pagination]="false">

      <data-table-column [property]="'Name'" header="{{ 'MEMBERSHIP.Name' | translate }}" [sortable]="true">
      </data-table-column>
      <data-table-column [property]="'Description'" header="{{ 'COMMON.AddCategoryDescText' | translate }}" [sortable]="true">
      </data-table-column>
    </us-data-table> -->
  </div>
  <div class="modal-footer">
    <us-icon-button [iconClass]="'icon-done'" [labelText]="'SAVE' | translate " (click)="selectADTextRowClick(addonTextTable.selectedRow.item)"></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'CANCEL' | translate " (click)="addonTextModelClose()"></us-icon-button>
  </div>

</ng-template>

<ng-template #orderLineModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.SelectOrderlines' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="orderlineModelClose()">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <select-orderlines (closeModel)="orderlineModelClose()" (selectItemByDoubleClick)="selectItemByDoubleClick($event)" (selectMultipleArticles)="selectMultipleArticles($event)"></select-orderlines>
  </div>


</ng-template>

<ng-template #entitySelectionModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'Member Section' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItem)="selecteMember($event)" (addMemberEvent)="addMemberModal(addMemberModalView)"
      [multipleSelect]="false" [itemList]="entityItems" [auotocompleteItems]="auotocompleteItems" [columns]="columns" [itemcount]="itemCount"
      [isDisabledRole]="true" [entitySelectionType]="entitySearchType" [isDbPagination]="true" [isBranchVisible]="isBranchVisible"
      [isStatusVisible]="isStatusVisible" [isRoleVisible]="isRoleVisible" [isAddBtnVisible]="isAddBtnVisible" [isBasicInforVisible]="isBasicInforVisible">

    </exce-entityselection>
  </div>
</ng-template>

<ng-template #addMemberModalView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'COMMON.AddNewMember' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-addmember [roleType]="'MEM'" (addItemEvent)="addEntity($event)">
    </exce-addmember>
  </div>
</ng-template>

<ng-template #shopHomeModel>
  <div class="modal-header">
    <span class="modal-title">{{'MEMBERSHIP.Shop'| translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="closeShop()">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body p-0 shop-modal-vh">
    <!-- <shop-home (closeShop)="closeShopAfterSave()"></shop-home> -->
    <app-shop-home-layout (closeShop)="closeShopAfterSave()"></app-shop-home-layout>
  </div>

</ng-template>

<ng-template #Pdfwindow let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{PDF}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
    <div class="modal-body">
        <iframe #pdf [src]='sanitizer.bypassSecurityTrustResourceUrl(blobUrl)' height="800px" width="100%"></iframe>
        <br>
      <span>
        <button class="btn btn-primary ml-2 cursor-hand" type="button" (click)="PrintPDF()"  >Print </button>
        <button class="btn btn-primary ml-2 cursor-hand" type="button" (click)="SavePDF()"  >Save </button>
      </span>
    </div>
</ng-template>

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowSaveInfo"
[information]="saveMessage" >
</exce-fade-in-n-out>
