<div class="d-flex justify-content-start w-100v mb-1">
<span class="order-btn-alignment">
    <us-icon-button class="float-right" [iconClass]="'icon-add'" [isDisabled]="" [labelText]="'COMMON.AddOrder' | translate "
        (click)="AddOrderEvent()"></us-icon-button>
</span>
</div>
<div class="d-flex justify-content-start w-100">
    <ag-grid-angular
    class="ag-theme-balham grid w-100"
    [rowData]="orderItems"
    [columnDefs]="orderDefs"
    [enableSorting]="true"
    [enableColResize]="true"
    [enableFilter]="false"
    [floatingFilter]="false"
    [suppressCellSelection] ="true"
    [suppressNoRowsOverlay]="true"

    [suppressRowClickSelection]="true"

    (gridReady)="onGridReady($event)"
    (cellClicked)="cellClickedOrder($event)"
    (rowDoubleClicked)="orderSeleted($event)"
    >
    </ag-grid-angular>
  <!-- <us-data-table id="" [items]="orderItems" [itemCount]="itemCount" (rowDoubleClick)="openDetailView(orderDetails, $event.row.item)"
    (reload)="reloadOrders($event)" [multiSelect]="false" [limit]="limit" [sortBy]="'DueDate'" [sortAsc]="false">

    <data-table-column [property]="'MemberContractNo'" header="{{ 'MEMBERSHIP.ContractNo' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'OrderNo'" header="{{ 'MEMBERSHIP.OrderNo' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'Text'" header="{{ 'MEMBERSHIP.Text' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'DueDate'" header="{{ 'MEMBERSHIP.DueDate' | translate }}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.DueDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [alignment]="'right'" [property]="'ActivityPrice'" header="{{ 'MEMBERSHIP.ActivityPrice' | translate }}"
      [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.ActivityPrice | amountConverter:locale}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [alignment]="'right'" [property]="'AdonPrice'" header="{{ 'MEMBERSHIP.AddOnPrice' | translate }}" [sortable]="true"
      [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.AdonPrice | amountConverter:locale}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [alignment]="'right'" [property]="'Amount'" header="{{ 'MEMBERSHIP.OrderAmount' | translate }}" [sortable]="true"
      [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.Amount | amountConverter:locale}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [width]="40">
      <ng-template #dataTableCell let-item="item">
        <button [disabled]="!item.IsCheckOutEnable" (click)="openShop(shopHomeModel,item)" class="btn btn-primary btn-icon-min ml-1" title="{{ 'MEMBERSHIP.CheckOut' | translate }}">
          <span class="icon-checkout"></span>
        </button>
      </ng-template>
    </data-table-column>

    <data-table-column [width]="40">
      <ng-template #dataTableCell let-item="item">
        <button [disabled]="!item.OrderOperationsEnabled" class="btn btn-primary btn-icon-min ml-1" title="{{ 'MEMBERSHIP.crSmsEmail' | translate }}" (click)="SMSInvoiceEvent(item,editTemplateModal1)">
          <span class="icon-sms"></span>
        </button>
      </ng-template>
    </data-table-column>

    <data-table-column [width]="40">
      <ng-template #dataTableCell let-item="item">
        <button [disabled]="!item.EnableInvoice" class="btn btn-primary btn-icon-min ml-1" title="{{ 'MEMBERSHIP.Invoice' | translate }}" (click)="generateInvoice(item)">
          <span class="icon-invoice"></span>
        </button>
      </ng-template>
    </data-table-column>

    <data-table-column [width]="40">
      <ng-template #dataTableCell let-item="item">
        <button [disabled]="!item.IsTreat" (click)="openDetailView(orderDetails,item)" class="btn btn-primary btn-icon-min ml-1" title="{{ 'MEMBERSHIP.Detail' | translate }}">
          <span class="icon-detail"></span>
        </button>
      </ng-template>
    </data-table-column>

    <data-table-column [width]="40">
      <ng-template #dataTableCell let-item="item">
        <button [disabled]="!item.BtnDeleteOrderEnable" class="btn btn-danger btn-icon-min ml-1" title="{{ 'MEMBERSHIP.Delete' | translate }}" (click)="deleteOrder(item)">
          <span class="icon-cancel"></span>
        </button>
      </ng-template>
    </data-table-column>

  </us-data-table> -->

</div>


<!--Edit template View-->

<ng-template #editTemplateModal1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.editTemplate' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editTemplateForm">

      <div class="d-flex no-gutters">
        <div class="col-6 mr-2">

          <div class="form-group">

            <label class="custom-control custom-checkbox checkbox-inline mr-2">
              <input type="checkbox" class="custom-control-input" formControlName="IsSMSChecked" (change)="changeSmsEvent($event)" [(ngModel)]="SMSChecked">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">SMS</span>
            </label>

            <label class="custom-control custom-checkbox checkbox-inline mr-2">
              <input type="checkbox" class="custom-control-input" formControlName="IsEmailChecked" (change)="changeEmailEvent($event)"
                [(ngModel)]="EmailChecked">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Email</span>
            </label>

          </div>

          <div class="form-control">
            <label>{{ 'MEMBERSHIP.smsNo' | translate }}</label>
            <input type="text" class="form-control" formControlName="SmsNo" [(ngModel)]="SmsNo" [exceError]="editTemplateForm.controls['SmsNo']"
              [validationMesge]="'MEMBERSHIP.InvalidSMSNo' | translate" triggers="manual" container="body" placement="right">
          </div>

          <div class="form-group">
            <label>{{ 'MEMBERSHIP.smsTemplate' | translate }}</label>
            <select class="custom-select w-100" formControlName="SelectedSMSTemplate" [(ngModel)]="SMSTemplate">
              <option *ngFor="let sms of SelectedSMSTemplate" [ngValue]="sms">{{ sms.Name }}</option>
            </select>
          </div>

          <div class="form-group">
            <label>{{ 'MEMBERSHIP.Content' | translate }}</label>
            <textarea class="form-control w-100" rows="10" formControlName="SMSContent" [value]="SMSContent"></textarea>
          </div>

        </div>


        <div class="col">

          <div class="form-control">
            <label>{{ 'MEMBERSHIP.EmailAddress' | translate }}</label>
            <input type="text" class="form-control" formControlName="EmailAddress" [(ngModel)]="EmailAddress">
          </div>
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.EmailTemplate' | translate }}</label>
            <select class="custom-select w-100" formControlName="SelectedEmailTemplate" [(ngModel)]="EmailTemplate">
              <option *ngFor="let email of SelectedEmailTemplate" [ngValue]="email">{{ email.Name }}</option>
            </select>
          </div>

          <div class="form-group">
            <label>{{ 'MEMBERSHIP.Content' | translate }}</label>
            <textarea class="form-control w-100" rows="10" formControlName="EmailContent" [value]="EmailContent"></textarea>
          </div>

        </div>

      </div>
      <div class="d-flex no-gutters mt-1">

        <div class="input-group">
          <us-icon-button [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Send' | translate" (click)="sendSMSOrEmail(editTemplateForm.value)"
            (click)="c('Close click')" [isDisabled]="!editTemplateForm.valid"></us-icon-button>
          <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="c('Close click')"></us-icon-button>
        </div>

      </div>
    </form>
  </div>

</ng-template>

<ng-template #orderDetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.OrderDetailsView' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <order-details-view [selectedOrder]="selectedOrder" [IsViewEnabled]="true" [isaEnableShopOperations]="true" (closeOrderDetailModel)="closeOderDetailModal()"
    (orderUpdateSuccessEvent)="orderUpdateSuccess()"></order-details-view>
</ng-template>

<ng-template #shopHomeModel>
  <div class="modal-header">
    <span class="modal-title">{{'MEMBERSHIP.Shop'| translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="closeShop()">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body p-0 shop-modal-vh">
    <!-- <shop-home ></shop-home> -->
    <app-shop-home-layout (closeShopAfterSave)="closeShopAfterSave()" (closeShop)="closeShop()"></app-shop-home-layout>
  </div>

</ng-template>

<ng-template #Pdfwindow let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{PDF}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="c(); close()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
    <div class="modal-body">
        <iframe #pdf [src]='sanitizer.bypassSecurityTrustResourceUrl(blobUrl)' height="800px" width="100%"></iframe>
        <br>
      <span>
        <button class="btn btn-primary ml-2 cursor-hand" type="button" (click)="PrintPDF()"  >Print </button>
        <button class="btn btn-primary ml-2 cursor-hand" type="button" (click)="SavePDF()"  >Save </button>
      </span>
    </div>
</ng-template>
