<div *ngIf="(isShopLoginNeed || addSalePoint) && !isShopLogged">
  <shop-login [IsShopLoginWithCard]="isLoginReaderAdded" [addSalePoint]= "addSalePoint" [hardWareProfiles] = "hardwareProfileList"></shop-login>
</div>
<shop-home *ngIf="isShopLogged"></shop-home>

