<div>
  <form [formGroup]="branchesForm" #BranchForm>
    <div class="d-flex no-gutters gym-info-scroller">
      <div class="col-2 mr-2">
        <div class="form-group">
          <label>{{ 'ADMIN.GymName' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['BranchName']" us-error [errorMsg]="formErrors.BranchName" [displayError]="formSubmited && !branchesForm.get('BranchName').valid">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.OfficialName' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['OfficialName']" >
        </div>
        <div class="form-group mt-4 mb-3">
          <label class="custom-control custom-checkbox checkbox-inline cursor-hand">
            <input type="checkbox" class="custom-control-input" [formControl]="branchesForm.controls['IsExpressGym']">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.ExpressGym' | translate }}</span>
          </label>
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.MngBranchesTxtRegDate' | translate }}</label>
          <input type="text" disabled class="form-control" value="{{regDate | date:('COMMON.DateFormat'|translate)}}">


        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.Address1' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['Addr1']" >
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.Address2' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['Addr2']" >
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.Address3' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['Addr3']" >
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.MGSREQZipCode' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['ZipCode']" >
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.MngBranchesTxtZipName' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['ZipName']" >
        </div>
      </div>
      <div class="col-2 mr-2">
        <div class="form-group">
          <label>{{ 'ADMIN.MngBranchesTxtAccountNo' | translate }}</label>
          <input type="text" class="form-control" id="addBankAccountId" [formControl]="branchesForm.controls['BankAccountNo']" us-error [errorMsg]="formErrors.BankAccountNo" [displayError]="formSubmited && !branchesForm.get('BankAccountNo').valid">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.KIDSWAPACCOUNTNO' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['KidSwapAccountNo']" us-error [errorMsg]="formErrors.KidSwapAccountNo" [displayError]="formSubmited && !branchesForm.get('KidSwapAccountNo').valid">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.CollectionAccount' | translate }}</label>
          <input type="text" class="form-control" id="CollectionAccountNo" #CollectionAccountNo [formControl]="branchesForm.controls['CollectionAccountNo']" us-error [errorMsg]="formErrors.CollectionAccountNo" [displayError]="formSubmited && !branchesForm.get('CollectionAccountNo').valid" triggers="manual" container="body" placement="right"
          >
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.BureauAccount' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['BureauAccountNO']" us-error [errorMsg]="formErrors.BureauAccountNO" [displayError]="formSubmited && !branchesForm.get('BureauAccountNO').valid">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.MngBranchesTxtTel' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['TelWork']" >
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.FAX' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['Fax']" >
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.Email' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['Email']" us-error [errorMsg]="formErrors.Email" [displayError]="formSubmited && !branchesForm.get('Email').valid">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.Web' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['Web']" >
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.CountryMobilePrefixC' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['CountryMobilePrefix']" >
        </div>
      </div>
      <div class="col-2 mr-2">
        <div class="form-group">
          <label>{{ 'ADMIN.MngBranchesTxtRegNo' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['RegisteredNo']" >
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.Region' | translate }}</label>
          <div class="input-group">
            <select class="custom-select w-100 cursor-hand" id="addRegion" [formControl]="branchesForm.controls['Region']"
              triggers="manual" container="body" placement="right">
              <option *ngFor="let region of regions" value={{region.Code}}>
                {{region.Name}}
              </option>
            </select>
            <button class="btn btn-primary" type="button" (click)="openModel(manageRegion)">{{ 'ADMIN.ADD' | translate }}</button>
          </div>
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.MngBranchesTxtCountryId' | translate }}</label>
          <div class="input-group">
            <select class="custom-select w-100 cursor-hand" id="addCountryId" #addCountryId [formControl]="branchesForm.controls['CountryId']"
              triggers="manual" container="body" placement="right" (change)="loadRegions(addCountryId.value)">
              <option *ngFor="let country of countryList" value={{country.Id}}>
                {{country.Name}}
              </option>

            </select>
            <button class="btn btn-primary" type="button" (click)="openModel(manageCountry )">{{ 'ADMIN.ADD' | translate }}</button>
          </div>
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.OtherAdminMobile' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['OtherAdminMobile']">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.OtherAdminEmail' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['OtherAdminEmail']" >
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.Area' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['Area']" >
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.MngBranchesReorderSMSReceiver' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['ReorderSmsReceiver']">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.CompanyIdSalary' | translate }}</label>
          <input type="text" class="form-control" [formControl]="branchesForm.controls['CompanyIdSalary']" >
        </div>
      </div>
      <div class="col">
        &nbsp;
      </div>

    </div>

    <us-icon-button [iconClass]="'icon-done'" (click)="submitForm(branchesForm.value)" [labelText]="'ADMIN.Save' | translate" ></us-icon-button>
  </form>
</div>


<ng-template #manageRegion let-c="close" let-d="dismiss">
  <form [formGroup]="mngRegionForm" #mngRegion>
    <div class="modal-header">
      <span class="modal-title">
        <label>{{ 'ADMIN.ManageRegion' | translate }}</label>

      </span>
      <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="closeForm()" data-dismiss="modal">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>{{ 'ADMIN.ActivityHVDGCode' | translate }}</label>

        <div class="input-group">
          <input class="form-control" id="Code" [formControl]="mngRegionForm.controls['Code']"
            triggers="manual" container="body" placement="right">
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.Name' | translate }}</label>

        <div class="input-group">
          <input class="form-control" id="Name" [formControl]="mngRegionForm.controls['Name']"
            triggers="manual" container="body" placement="right">
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.MngBranchesTxtCountryId' | translate }}</label>

        <div class="input-group">
          <input class="form-control" id="CountryId" [formControl]="mngRegionForm.controls['CountryId']" us-error [errorMsg]="formErrors.CountryId" [displayError]="formSubmited && !branchesForm.get('CountryId').valid"
            triggers="manual" container="body" placement="right">
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.Description' | translate }}</label>
        <div class="input-group">
          <textarea type="text" rows="4" triggers="manual" container="body" placement="right" class="form-control" id="Description"
            [formControl]="mngRegionForm.controls['Description']">
                </textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate " (click)="saveRegion(manageRegion.value)"></us-icon-button>

      <us-icon-button [iconClass]="'icon-cancel'" (click)="closeForm()" [labelText]="'ADMIN.Cancel' | translate "></us-icon-button>
    </div>
  </form>
</ng-template>

<ng-template #manageCountry let-c="close" let-d="dismiss">
  <form [formGroup]="mngCountryForm" #mngCountry>
    <div class="modal-header">
      <span class="modal-title">
        <label>{{ 'ADMIN.ManageCountry' | translate }}</label>

      </span>
      <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="closeForm()" data-dismiss="modal">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>{{ 'ADMIN.MngBranchesTxtCountryId' | translate }}</label>

        <div class="input-group">
          <input class="form-control" id="CountryCode" [formControl]="mngCountryForm.controls['CountryCode']" [exceError]="mngCountryForm.controls['CountryCode']"
            triggers="manual" container="body" placement="right">
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.Name' | translate }}</label>
        <div class="input-group">
          <input class="form-control" id="Name" [formControl]="mngCountryForm.controls['Name']" [exceError]="mngCountryForm.controls['Name']"
            triggers="manual" container="body" placement="right">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate" (click)="saveCountry(mngCountryForm.value)"></us-icon-button>

      <us-icon-button [iconClass]="'icon-cancel'" (click)="closeForm()" [labelText]="'ADMIN.Cancel' | translate"></us-icon-button>
    </div>
  </form>
</ng-template>

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"[information]="message"></exce-fade-in-n-out>
