
  <!-- <us-data-table #contractsList id="contracts" [items]="contractSummeries" [itemCount]="itemCount"
  (reload)="reloadItems($event)"
    (rowDoubleClick)="selectContract($event.row.item)" [rowColors]="rowColors"> -->

  <!-- REPLACE WITH AG-GRID
    <us-data-table #contractsList id="contracts" [items]="contractSummeries" [itemCount]="itemCount"
    (rowDoubleClick)="selectContract($event.row.item)" [rowColors]="rowColors">
    <data-table-column [property]=" 'ContractNo' " [header]=" 'MEMBERSHIP.ContractNo' | translate " [sortable]="true " [resizable]="true ">
    </data-table-column>
    <data-table-column [property]="'IsATG'" [header]=" 'MEMBERSHIP.SMCVAtg' | translate " [sortable]="true " [resizable]="true "
      >
      <ng-template #dataTableCell let-item="item">
        <span>{{(item.IsATG == true ? 'MEMBERSHIP.Yes' : 'MEMBERSHIP.No') | translate}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]=" 'TemplateName' " [header]=" 'MEMBERSHIP.SMCVTemplate' | translate " [sortable]="true " [resizable]="true ">
    </data-table-column>
    <data-table-column [property]=" 'ActivityName' " [header]=" 'MEMBERSHIP.Activity' | translate " [sortable]="true " [resizable]="true ">
    </data-table-column>
    <data-table-column [property]=" 'SignedDate'" [header]=" 'MEMBERSHIP.SMCVSignedDate' | translate " [sortable]="true " [resizable]="true "
      >
      <ng-template #dataTableCell let-item="item">
        <span>{{item.SignedDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]=" 'EndDate' " [header]=" 'MEMBERSHIP.EndDate' | translate " [sortable]="true " [resizable]="true "
      >
      <ng-template #dataTableCell let-item="item">
        <span>{{item.EndDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]=" 'RenewedDate' " [header]=" 'MEMBERSHIP.SMCVRenevedDate' | translate " [sortable]="true "
      [resizable]="true ">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.RenewedDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]=" 'NoOfOrders' " [header]=" 'MEMBERSHIP.SMCVNoOfOrders' | translate "  [alignment]="'right'" [sortable]="true " [resizable]="true ">
    </data-table-column>
    <data-table-column [property]=" 'StartUpItemsPrice' " [header]=" 'MEMBERSHIP.SMCVStartUpItmsPrice' | translate " [sortable]="true "
      [resizable]="true " [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.StartUpItemsPrice | amountConverter:locale}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]=" 'ServiceAmount' " [header]=" 'MEMBERSHIP.SMCVMonItmsPrice' | translate " [sortable]="true "
      [resizable]="true " [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.ServiceAmount | amountConverter:locale}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]=" 'TotalPrice' " [header]=" 'MEMBERSHIP.TotalPrice' | translate " [sortable]="true " [resizable]="true "
      [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.TotalPrice | amountConverter:locale}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]=" 'GymName' " [header]=" 'MEMBERSHIP.Gym' | translate " [sortable]="true " [resizable]="true ">
    </data-table-column>
    <data-table-column [property]="''" [header]="''" [sortable]="true" [resizable]="true" [width]="40">
        <ng-template #dataTableCell let-item="item">
            <button class="btn btn-primary btn-icon-min" (click)="selectContract(item)"
                title="{{'MEMBERSHIP.Detail' | translate}}">
                <span class="icon-detail"></span>
            </button>
        </ng-template>
    </data-table-column>
  </us-data-table> -->
