:host {
  display: block;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

:host/deep/.shop-content-height{
  display: block;
  min-height: 100%;
  height: 100%;
  padding-bottom: 36px;
}

.w-45{
 width: 45% !important;
}

:host/deep/.customer-detail-panel{
  width: 350px;
  min-width: 350px;
  height: calc(100vh - 126px);
}

:host/deep/.customer-list-panel{
  min-width: 83%;
  max-width: 83%;
  float: left;
}

:host /deep/ .table-default {
  display: flex;
  flex-flow: column;
  height:calc(100vh - 200px);
  width: 100%;
  margin-bottom: 0rem;
}
:host /deep/ .table-default tbody {
  display:block;
  overflow-y:scroll;
  flex: 1 1 auto;
}
:host /deep/ .table-default thead, :host /deep/ .table-default tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
:host /deep/ .table-default thead {
  width: calc( 100% - 1.3em );
}

:host .card-body {
  overflow: hidden;
  overflow-x: hidden;
  max-height: 120px;
}

:host .bg-light{
  overflow: hidden;
}

:host .card{
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height:calc(100vh - 200px);
  min-height: 10px;
}

.element {
  justify-content:center;
  display: flex;
  flex-direction: column;
}

.grid {
  width: 100%;
  height:calc(100vh - 400px);
}
