<div class="d-flex no-gutters justify-content-start px-1 mb-1">
  <div class="mr-2">
    <select class="custom-select cursor-hand" #GroupIdSelect (change)="filterInput(NamePipeFilter.value,GroupIdSelect.value)">
      <option value="ALL">{{'ADMIN.ALL'| translate}}</option>
      <option *ngFor="let bGroup of branchGroups" value= {{bGroup.Id}}>
        {{bGroup.DisplayName}}
      </option>
    </select>
  </div>
  <div class="col-3">
    <input type="text" class="form-control" #NamePipeFilter (keyup)="filterInput(NamePipeFilter.value,GroupIdSelect.value)" placeholder="{{'ADMIN.FilterByName'| translate}}">
  </div>
  <div class="col">
    <us-icon-button class="float-right" [iconClass]="'icon-add'" (click)="openBranchesModel(newBranch,true)" [labelText]="'ADMIN.MngBranchesRegisterNewBranchTitle'| translate"></us-icon-button>
    <us-icon-button class="float-right" [iconClass]="'icon-edit'" (click)="openBranchesModel(newBranch,false)" [labelText]="'Edit Branches'"
      hidden></us-icon-button>
  </div>
</div>
<div class="mx-1">
  <!-- REPLACE WITH AG-GRID
    <us-data-table headerTitle="Manage Categories" [items]="items" [pagination]="false" [itemCount]="itemCount" (reload)="reloadItems($event)"
    (rowDoubleClick)="openBranchesModel(newBranch,false)" (rowDoubleClick)="rowDoubleClick($event)" >
    <data-table-column [property]="'BranchName'" [header]="'ADMIN.MngBranchesGridBranchName'| translate" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'GroupName'" [header]="'ADMIN.MngBranchesGridGroupName'| translate" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'RegisteredDate'" [header]="'ADMIN.MngBranchesGridRegDate'| translate" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.RegisteredDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
  </us-data-table> -->
</div>

<ng-template #newBranch let-c="close" let-d="dismiss">
  <form [formGroup]="branchesForm" #addBranchForm>
    <div class="modal-header">
      <span class="modal-title">
        <span [hidden]="!isAddNew">{{'ADMIN.MngBranchesRegisterNewBranchTitle'| translate}}</span>
        <span [hidden]="isAddNew">{{'ADMIN.MngBranchesRegisterEditBranchTitle'| translate}}</span>
      </span>
      <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="closeForm()" data-dismiss="modal">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>{{'ADMIN.MngBranchesTxtBranchName'| translate}}</label>
            <input class="form-control" id="addBranchName" [formControl]="branchesForm.controls['BranchName']" [exceError]="branchesForm.controls['BranchName']"
              triggers="manual" container="body" placement="right">
          </div>
          <div class="form-group">
            <label class="custom-control custom-checkbox checkbox-inline cursor-hand">
              <input type="checkbox" class="custom-control-input" id="addIsExpressGym" [formControl]="branchesForm.controls['IsExpressGym']"
                [exceError]="branchesForm.controls['IsExpressGym']" triggers="manual" container="body" placement="right">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'ADMIN.MngBranchesExpressGym'| translate}}</span>
            </label>
          </div>
          <div class="form-group">
            <label>{{'ADMIN.MngBranchesTxtRegDate'| translate}}</label>
            <us-date-picker name="registeredDate" #resgisteredDate id="resgisteredDate" [locale]="'COMMON.Locale'| translate" [options]="fromDatePickerOptions"
              [formControl]="branchesForm.controls['RegisteredDate']" [disabled]='true'>
            </us-date-picker>
          </div>


          <div class="form-group">
            <label>{{'ADMIN.Address1'| translate}}</label>
            <input class="form-control" id="addAddr1" [formControl]="branchesForm.controls['Addr1']" [exceError]="branchesForm.controls['Addr1']"
              triggers="manual" container="body" placement="right">

          </div>
          <div class="form-group">
            <label>{{'ADMIN.Address2'| translate}}</label>
            <input class="form-control" id="addAddr1" [formControl]="branchesForm.controls['Addr2']" [exceError]="branchesForm.controls['Addr2']"
              triggers="manual" container="body" placement="right">

          </div>
          <div class="form-group">
            <label>{{'ADMIN.Address3'| translate}}</label>
            <input class="form-control" id="addAddr3" [formControl]="branchesForm.controls['Addr3']" [exceError]="branchesForm.controls['Addr3']"
              triggers="manual" container="body" placement="right">

          </div>
          <div class="form-group">
            <label>{{'ADMIN.MngBranchesTxtZipCode'| translate}}</label>
            <input class="form-control" id="addZipCode" [formControl]="branchesForm.controls['ZipCode']" [exceError]="branchesForm.controls['ZipCode']"
              triggers="manual" container="body" placement="right">

          </div>
          <div class="form-group">
            <label>{{'ADMIN.MngBranchesTxtZipName'| translate}}</label>
            <input class="form-control" id="addZipName" [formControl]="branchesForm.controls['ZipName']" [exceError]="branchesForm.controls['ZipName']"
              triggers="manual" container="body" placement="right">

          </div>

        </div>

        <div class="col-4">
          <div class="form-group">
            <label>{{'ADMIN.MngBranchesTxtCountryId'| translate}}</label>
            <select class="custom-select w-100 cursor-hand" id="addCountryId" #addCountryId [formControl]="branchesForm.controls['CountryId']" [exceError]="branchesForm.controls['CountryId']"
              triggers="manual" container="body" placement="right" (change)="loadRegions(addCountryId.value)">
              <option *ngFor="let country of countryList" value={ {country.Id}}>{{country.Name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>{{'ADMIN.MngBranchesTxtCreditorCollectionId'| translate}}</label>
            <input class="form-control" id="CreditorCollectionId" #CreditorCollectionId [formControl]="branchesForm.controls['CreditorCollectionId']"
              [exceError]="branchesForm.controls['CreditorCollectionId']" triggers="manual" container="body" placement="right"
              [validationType]="'creditCollector'" (blur)="onBlurMethod(CreditorCollectionId.value)">

          </div>
          <div class="form-group">
            <label>{{'ADMIN.MngBranchesTxtAccountNo'| translate}}</label>
            <input class="form-control" id="addBankAccountId" [formControl]="branchesForm.controls['BankAccountNo']" [exceError]="branchesForm.controls['BankAccountNo']"
              [validationType]="'bankAccount'" triggers="manual" container="body" placement="right">

          </div>
          <div class="form-group">
            <label>{{'ADMIN.MngBranchesTxtTel'| translate}}</label>
            <input class="form-control" id="addTelWork" [formControl]="branchesForm.controls['TelWork']" [exceError]="branchesForm.controls['TelWork']"
              triggers="manual" container="body" placement="right">

          </div>
          <div class="form-group">
            <label>{{'ADMIN.MngBranchesTxtFax'| translate}}</label>
            <input class="form-control" id="addFax" [formControl]="branchesForm.controls['Fax']" [exceError]="branchesForm.controls['Fax']"
              triggers="manual" container="body" placement="right">

          </div>
          <div class="form-group">
            <label>{{'ADMIN.EmailC'| translate}}</label>
            <input class="form-control" id="addEmail" [formControl]="branchesForm.controls['Email']" [exceError]="branchesForm.controls['Email']"
              triggers="manual" container="body" placement="right">

          </div>
          <div class="form-group">
            <label>{{'ADMIN.MngBranchesTxtRegNo'| translate}}</label>
            <input class="form-control" id="addRegisteredNo" [formControl]="branchesForm.controls['RegisteredNo']" [exceError]="branchesForm.controls['RegisteredNo']"
              triggers="manual" container="body" placement="right">

          </div>

        </div>

        <div class="col-4">
          <div class="form-group">
            <label>{{'ADMIN.MngBranchesRegion'| translate}}</label>
            <div class="input-group">
              <select class="custom-select w-100 cursor-hand" id="addRegionId" [formControl]="branchesForm.controls['RegionId']" [exceError]="branchesForm.controls['RegionId']"
                triggers="manual" container="body" placement="right">
                <option *ngFor="let region of regions" value={ {region.Code}}>

                  {{region.Name}}
                </option>
              </select>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.SaveC'| translate" (click)="saveBranchDetails(branchesForm.value)"
        [isDisabled]="!branchesForm.valid" *ngIf="isAddNew"></us-icon-button>
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.SaveC' | translate " (click)="editBranches(branchesForm.value)"
        [isDisabled]="!branchesForm.valid" *ngIf="!isAddNew"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" (click)="closeForm()" [labelText]="'ADMIN.CancelC' | translate "></us-icon-button>
    </div>
  </form>
</ng-template>
