<div class="d-flex">
  <us-icon-button class="mr-1" [iconClass]="'icon-add'" [labelText]="'MEMBERSHIP.Followup' | translate" (click)="addFixedFollowUpTemplateModal(followupTemplate)">
  </us-icon-button>
  <us-icon-button class="mr-1" [iconClass]="'icon-add'" [labelText]="'MEMBERSHIP.FollowupProfileC' | translate" (click)="addFixedFollowUpModal(addFollowUp)">
  </us-icon-button>
  <us-icon-button [iconClass]="'icon-move-orders'" [labelText]="'MEMBERSHIP.MoveFollowUpC' | translate"></us-icon-button>
</div>

<!-- <div class="mt-1"> -->
  <div class="grid-container">
    <ag-grid-angular
    class="ag-theme-balham grid"
    [rowData]="rowData"

    [columnDefs]="followupDefinition"
    [rowClassRules]="rowClassRules"

    [enableSorting]="true"
    [enableColResize]="true"
    [rowSelection]="rowSelection"
    [enableFilter]="false"
    [floatingFilter]="false"
    [suppressCellSelection] ="true"
    [suppressNoRowsOverlay]="true"
    [suppressRowClickSelection]="true"
    [getRowHeight]="getRowHeight"

    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)">
  </ag-grid-angular>
  <!-- <us-data-table headerTitle="" [pagination]="false" [items]="followUpDetList" (rowDoubleClick)="updateFixedFollowUpTemplateModal(updateFollowUp)"
    (rowDoubleClick)="rowDoubleClick($event)">

    <data-table-column [property]="'PlannedDate'" header="{{'MEMBERSHIP.PlannedDate' | translate}}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.PlannedDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [property]="'Name'" header="{{'MEMBERSHIP.Text' | translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'AssignedEmpName'" header="{{'MEMBERSHIP.AssignedEmpName' | translate}}" [sortable]="true"
      [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'RoleType'" header="{{'MEMBERSHIP.RoleType' | translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'CompletedDate'" header="{{'MEMBERSHIP.CompletedDate' | translate}}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.CompletedDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [property]="'CompletedEmpName'" header="{{'MEMBERSHIP.CompletedEmp' | translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'TaskCategoryName'" header="{{'MEMBERSHIP.TaskCategoryName' | translate }}" [sortable]="true"
      [resizable]="true">
    </data-table-column>

    <data-table-column [width]="40">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary btn-icon-min" (click)="updateFixedFollowUpTemplateModal(updateFollowUp)" title="{{'MEMBERSHIP.Detail' | translate}}">
          <span class="icon-detail"></span>
        </button>
      </ng-template>
    </data-table-column>
    <data-table-column [width]="40">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-danger btn-icon-min" (click)="deleteFollowUp(item)">
          <span class="icon-cancel"></span>
        </button>
      </ng-template>
    </data-table-column>
  </us-data-table> -->
</div>

<!-- FollowUp View -->
<ng-template #followupTemplate let-c="close" let-d="dismiss">

  <div class="modal-header">
    <span class="modal-title">{{'MEMBERSHIP.AddFixedFollowUpViewTitle'| translate}} {{firstName}} {{lastName}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <fixed-follow-up #fixedFollowUp [isEnabledFollowUp]="true" (newFollowUpOrder)="addNewFollowUpToView($event)" [Mobile]="Mobile" [Email]="Email" (closed)="closeAddFixedFollowUpTemplateView()">
  </fixed-follow-up>

</ng-template>



<!-- FollowUp Profile View -->
<ng-template #addFollowUp let-c="close" let-d="dismiss">

  <div class="modal-header">
    <span class="modal-title">{{'MEMBERSHIP.AddFollowUpProfileViewTitle'| translate}} {{firstName}} {{lastName}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <add-follow-up #followUpProfile [isEnabledFollowUp]="true" [Name]="Name" [MobilePrefix]="MobilePrefix" [Mobile]="Mobile" [Email]="Email" (closed)="closeAddFixedFollowUpView()">
  </add-follow-up>

</ng-template>


<!--  Update Fixed Followup -->
<ng-template #updateFollowUp let-c="close" let-d="dismiss">

  <div class="modal-header">
    <span class="modal-title">{{'MEMBERSHIP.UpdateFollowUpProfileViewTitle'| translate}} {{firstName}} {{lastName}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <add-follow-up #updateMember [isEnabledFollowUp]="true" [Mobile]="Mobile" [Name]="Name" [MobilePrefix]="MobilePrefix" [Email]="Email" (closed)="closeUpdateFixedFollowUpTemplate()">
  </add-follow-up>

</ng-template>


<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"
[information]="message"></exce-fade-in-n-out>
