:host {
    display: block;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

 
.v-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    min-height: 100%;
}

.v-tabs-left {
    min-width: 13rem;
    min-height: 100%;
}

.v-tabs-col {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
}

.v-tabs-fill {
    width: 100%;
}

.v-tabs-content {
    height: 100%;
    flex-grow: 1;
    padding: 0px 0px 0px 5px;
    
}