<!--<form [formGroup]="logNotificationForm">
  <div class="d-flex justify-content-start px-1 no-gutters">

    <div class="col-2 mr-1">
      <label>{{'ECONOMY.InvoiceCategory' | translate}}</label>
      <select class="custom-select col-md-3 cursor-hand">
        <option selected value="">All</option>
      </select>
    </div>
    <div class="col-3 mr-1">
      <label>{{'ECONOMY.DueDate' | translate}}</label>
      <div class="input-group">

        <us-date-picker class="w-100" name="fromDate" #fromDate formControlName='fromDate' [locale]="'ADMIN.Locale'| translate" [options]="fromDatePickerOptions"
          (dateChanged)="fromDateChange($event, toDate)">
        </us-date-picker>

        <span class="input-group-addon border-left-0">{{'ECONOMY.To' | translate}}</span>
        <us-date-picker class="w-100" name="toDate" #toDate formControlName='toDate' [locale]="'ADMIN.Locale'| translate" [options]="toDatePickerOptions"
          (dateChanged)="toDateChange($event)">
        </us-date-picker>
      </div>
    </div>

    <div class="col-2 mr-1">
        <label>{{'ECONOMY.Gym' | translate}}</label>
        <div class="input-group">
        <select class="custom-select w-75 cursor-hand">
          <option selected value="">All</option>
        </select>
        <button class="btn btn-primary">{{ 'ECONOMY.View' | translate }}</button>
      </div>
      </div>


    <div class="col-3 ml-auto">
      <label>{{'ECONOMY.History' | translate}}</label>
      <div class="input-group">

          <us-date-picker class="w-100" name="fromDate" #fromDate formControlName='fromDate' [locale]="'ADMIN.Locale'| translate" [options]="fromDatePickerOptions"
            (dateChanged)="fromDateChange($event, toDate)">
          </us-date-picker>

          <span class="input-group-addon border-left-0">{{'ECONOMY.To' | translate}}</span>
          <us-date-picker class="w-100" name="toDate" #toDate formControlName='toDate' [locale]="'ADMIN.Locale'| translate" [options]="toDatePickerOptions"
            (dateChanged)="toDateChange($event)">
          </us-date-picker>

          <button class="btn btn-primary ml-2">{{ 'ECONOMY.View' | translate }}</button>
        </div>
    </div>


  </div>


</form>

<div class="d-flex px-1 mt-1">
  <us-data-table id="" [items]="items" [pagination]="false" [itemCount]="itemCount" (rowClick)="rowClick($event)" (rowDoubleClick)="openEmployeeInfoModal(empInfoModal)"
    [rowTooltip]="rowTooltip">
    <data-table-column [property]="'customerNo'" header="{{ 'ECONOMY.CID' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'customerName'" header="{{ 'ECONOMY.CustomerName' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'invoiceNo'" header="{{ 'ECONOMY.InvoiceNo' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'invoiceDate'" header="{{ 'ECONOMY.InvoiceSearchDataGridHeaderInvoiceDate' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'dueDate'" header="{{ 'ECONOMY.DueDate' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'total'" header="{{ 'ECONOMY.Total' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'balance'" header="{{ 'ECONOMY.InvoiceSearchDataGridHeaderBalance' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'contractNo'" header="{{ 'ECONOMY.ContractNo' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'gymName'" header="{{ 'ECONOMY.GymName' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
  </us-data-table>
</div>

<div class="d-flex px-1 mt-2">
    <us-icon-button [iconClass]="'icon-print'"  [labelText]="'ECONOMY.Print' | translate "></us-icon-button>
</div>-->

<div>TODO</div>
