
<div>
   <div class="d-flex justify-content-start" >

    <input type="text" style="width:auto;" *ngFor="let filterheader of filterBy; let i = index" class="form-control form-control-sm m-1" placeholder="{{filterheader}}" id="QuestionText" name="QuestionText" [(ngModel)]="filterObjectArray[i].value"
      #QuestionText="ngModel" (input)="filterInput(filterObjectArray)" />

    
  </div>
  
  <table class="table table-sm table-default">
    <thead class="thead-primary">
      <tr>
      <th *ngFor="let header of tableHeadersViewed; let i = index" (click)="sort(tableHeaderMetaData[i])">
        <span>
               {{header}} <span class="icon-sort" *ngIf="tableHeaderMetaData[i].canSort"></span>
        </span>
      </th>
    </tr>
    </thead>
    <tr *ngFor="let dataObj of dataObject; let iObj = index">
      <td *ngFor="let header of tableHeaderMetaData; let i = index">
        <!--(contextmenu)="showHideTextSup(dataObj,header.HeaderName,iObj)"-->
        <!--<ng-container *ngFor="let toggler of dataObj.Toggler">
        <input #tempRefVar (keyup.enter)="updateDataObj(header,iObj,dataObj, tempRefVar.value,$event)" 
        *ngIf="header.isEditable && (toggler.Header === header.HeaderName) && toggler" type="{{header.inputType}}" 
        placeholder="{{dataObj[header.HeaderName]}}"/>
      </ng-container>-->

      <!--(blur)="closeDataPicker($event,inputValue,dp)"-->
        <div class="input-group" *ngIf="header.isEditable" >
          <input *ngIf="header.inputType !=='date'" class="form-control" #viewDataValue (keyup.enter)="updateDataObj(header,iObj,dataObj, viewDataValue.value,$event)" type="text" [value]="dataObj[header.HeaderName]"  /><!--[value]="getView(dp)" value="{{dataObj[header.HeaderName]}}"  [ngModel] ="dataObj[header.HeaderName]" "updateDataObj(header,iObj,dataObj, viewDateValue.value,$event)"-->
          <input [hidden]="header.inputType !=='date'"  class="form-control" type="text" [(ngModel)]="dataObj[header.HeaderName]"  ngbDatepicker #dp="ngbDatepicker" (ngModelChange)="updateDataObj(  header, iObj, dataObj,dataObj[header.HeaderName],$event)" /><!--(ngModelChange)="updateDataObj(header, iObj, dataObj, dataObj[header.HeaderName], $event)" (keyup.enter)="addedFromKeyboard(header,iObj,dataObj, viewDateValue.value,$event)" [(ngModel)]="dataObj[header.HeaderName]"-->
          <div [hidden]="header.inputType !=='date'"  class="input-group-addon" (click)="dp.toggle();">
            <span class="icon-calendar text-primary"></span>
          </div>
        </div>
        <span *ngIf="!header.isEditable">{{dataObj[header.HeaderName]}}</span>
      </td>
      <button *ngIf="addDeleteButton">x</button>
    </tr>
  </table>
</div>