<div class=" w-100">
  <us-tab>
    <tab-content tabTitle="{{'MEMBERSHIP.PHVPurchaseHistory' | translate}}">
      <div class="d-flex justify-content-start w-100 mt-2 mb-1">
        <div class="mr-auto col-4 p-0 mr-3">
          <form [formGroup]="purchaseSearchForm">
            <div class="input-group">
              <us-date-picker class="w-100" name="startDate" #startDate [locale]="'COMMON.Locale'| translate" [options]="fromDatePickerOptions"
                formControlName="fromDate" (dateChanged)="onFromDateChange($event, endDate)">
              </us-date-picker>
              <span class="input-group-addon border-left-0">{{'COMMON.To' | translate}}</span>
              <us-date-picker class="w-100" name="endDate" #endDate [locale]="'COMMON.Locale'| translate" [options]="toDatePickerOptions"
                formControlName="toDate">
              </us-date-picker>
              <span>
                <button class="btn btn-primary ml-2" (click)="searchPurchaceHistory()">{{'MEMBERSHIP.View'| translate}}</button>
              </span>
            </div>
          </form>
        </div>
        <div class="mr-1">
          <input type="text" class="form-control" placeholder="{{'MEMBERSHIP.ArticleNo' | translate}}" (keyup)="filterByArticleNo($event.target.value)">
        </div>
        <div class="mr-1">
          <input type="text" class="form-control" placeholder="{{'MEMBERSHIP.ArticleName' | translate}}" (keyup)="filterByArticleName($event.target.value)">
        </div>
        <div class="ml-2">
          <label>{{'MEMBERSHIP.PaymentType'| translate}}</label>
          <select class="custom-select" style="min-width: 180px;" #filterType (change)="changePaymentType(filterType.value)">
            <option value="ALL">{{'COMMON.All'| translate}}</option>
            <option value="OP">{{'COMMON.BetaltOCR'| translate}}</option>
            <option value="DC">{{'COMMON.DebtCollection'| translate}}</option>
            <option value="TMN">{{'COMMON.Terminal'| translate}}</option>
            <option value="CSH">{{'COMMON.Cash'| translate}}</option>
            <option value="BS">{{'COMMON.BankStatement'| translate}}</option>
            <option value="OA">{{'COMMON.OnAccount'| translate}}</option>
            <option value="GC">{{'COMMON.GiftCard'| translate}}</option>
            <option value="NOR">{{'MEMBERSHIP.NOR'| translate}}</option>


          </select>
        </div>
      </div>
      <!-- REPLACE WITH AG-GRID
        <us-data-table [items]="filterdSales" [itemCount]="itemCount" indexColumnVisible [pagination]="false">
        <data-table-column [property]="'SaleDate'" [header]="'COMMON.SaleDate' | translate" [sortable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.SaleDate | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'SaleDate'" [header]="'COMMON.SaleTime' | translate" [sortable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.SaleDate | date:'hh:mm'}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'ArticleId'" [header]="'COMMON.ArticleNo' | translate" [sortable]="true">
        </data-table-column>
        <data-table-column [property]="'ItemName'" [header]="'MEMBERSHIP.ArticleName' | translate" [sortable]="true">
        </data-table-column>
        <data-table-column [property]="'Quantity'" [header]="'MEMBERSHIP.Quantity' | translate" [sortable]="true" [width]="70">
        </data-table-column>
        <data-table-column [property]="'UnitPrice'" [header]="'MEMBERSHIP.UnitPrice' | translate" [sortable]="true" [alignment]="'right'">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.UnitPrice | amountConverter:locale }}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'Discount'" [header]="'MEMBERSHIP.Discount' | translate" [sortable]="true" [alignment]="'right'">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.Discount | amountConverter:locale }}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'TotalAmount'" [header]="'MEMBERSHIP.Total' | translate" [sortable]="true" [alignment]="'right'">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.TotalAmount | amountConverter:locale }}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'ItemType'" [header]="'MEMBERSHIP.PaymentType' | translate" [sortable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.ItemType | translate}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'EmployeeName'" [header]="'MEMBERSHIP.PHVEmpName' | translate" [sortable]="true">
        </data-table-column>
        <data-table-column [property]="'EmployeeId'" [header]="'MEMBERSHIP.EmployeeId' | translate" [sortable]="true">
        </data-table-column>
        <data-table-column [property]="'BranchName'" [header]="'MEMBERSHIP.BranchName' | translate" [sortable]="true">
        </data-table-column>
        <data-table-column [property]="'active'" [width]="40">
          <ng-template #dataTableCell let-item="item">
            <us-icon-button [iconClass]="'icon-detail'" toolTip="{{ 'COMMON.Details' | translate }}" (click)="viewReceiptDetails(receiptDetailsModal,item)"></us-icon-button>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'active'" [width]="40">
          <ng-template #dataTableCell let-item="item">
            <us-icon-button [iconClass]="'icon-print'" toolTip="{{ 'COMMON.Print' | translate }}" (click)="printShopBill(item)"></us-icon-button>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'active'" [width]="40">
          <ng-template #dataTableCell let-item="item">
            <us-icon-button [iconClass]="'icon-gift'" [hidden]="(item.ItemCategory !== 'GIFTVOUCHER')" toolTip="{{ 'COMMON.GiftCard' | translate }}"
              (click)="openGiftCardModel(giftVoucherModel,item)"></us-icon-button>
          </ng-template>
        </data-table-column>
      </us-data-table> -->

    </tab-content>
    <tab-content tabTitle="{{'MEMBERSHIP.Withdrawals' | translate}}">
      <div class="d-flex justify-content-start w-100 mb-1 mt-2">
        <div class="col-5 p-0 mr-2">
          <form [formGroup]="withdrawalsSearchForm">
            <div class="input-group">
              <us-date-picker class="w-100" name="startDate" #startwDate [locale]="'COMMON.Locale'| translate" [options]="fromwDatePickerOptions"
                formControlName="fromDate" (dateChanged)="onFromwDateChange($event, endDate)">
              </us-date-picker>
              <span class="input-group-addon border-left-0">{{'COMMON.To' | translate}}</span>
              <us-date-picker class="w-100" name="endDate" #endwDate [locale]="'COMMON.Locale'| translate" [options]="towDatePickerOptions"
                formControlName="toDate">
              </us-date-picker>
              <span>
                <button class="btn btn-primary ml-2" (click)="searchWithdrawalsHistory()">{{'MEMBERSHIP.View'| translate}}</button>
              </span>
            </div>
          </form>
        </div>

      </div>
      <!-- REPLACE WITH AG-GRID
        <us-data-table [items]="withdrawalHistory" [itemCount]="itemCount" indexColumnVisible [pagination]="false">
        <data-table-column [property]="'CreatedDate'" [header]="'MEMBERSHIP.CreatedDate' | translate" [sortable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.CreatedDate | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'CreatedDate'" [header]="'MEMBERSHIP.CreatedTime' | translate" [sortable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.CreatedDate | date:'hh:mm'}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'PaymentAmount'" [header]="'COMMON.PaymentAmount' | translate" [sortable]="true" [alignment]="'right'">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.PaymentAmount | amountConverter:locale }}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'CreatedUser'" [header]="'MEMBERSHIP.CreatedUser' | translate" [sortable]="true">
        </data-table-column>
        <data-table-column [property]="'WithdrawalType'" [header]="'MEMBERSHIP.PaymentType' | translate" [sortable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.WithdrawalType | translate}}</span>
          </ng-template>
        </data-table-column>
      </us-data-table> -->

    </tab-content>

  </us-tab>

  <div class="d-flex mt-1">
    <button (click)="openShopAccount()" class="btn btn-primary mr-1">{{ 'MEMBERSHIP.ShopAccount' | translate }}</button>
    <button class="btn btn-primary mr-1" (click)="openShopMOdal(shopHomeModel)">{{ 'MEMBERSHIP.PHTVSales' | translate }}</button>
    <us-icon-button (click)="printPurchasePopup(printPurchaseHitoryModel)" [iconClass]="'icon-print'" labelText="{{'MEMBERSHIP.PrintPurchaseHistory' | translate}}"></us-icon-button>
  </div>
</div>

<ng-template #printPurchaseHistory let-c="close" let-d="dismiss">
  <form [formGroup]="printClassForm" #printBook>
    <div class="modal-header">
      <span class="modal-title">{{ 'MEMBERSHIP.SelectDurationViewTitle' | translate }}</span>
      <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="closeForm()" data-dismiss="modal">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.FrzDtFromDate' | translate }}</label>
        <div class="input-group">
          <us-date-picker class="w-100" name="fromDate" #fromDate id="fromDate" [locale]="'COMMON.Locale'| translate">
          </us-date-picker>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.FrzDtToDate' | translate }}</label>
        <div class="input-group">
          <us-date-picker class="w-100" name="toDate" #toDate id="toDate" [locale]="'COMMON.Locale'| translate">
          </us-date-picker>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" labelText="{{ 'MEMBERSHIP.Ok' | translate }}"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" (click)="closeForm()" labelText="{{ 'MEMBERSHIP.Cancel' | translate }}"></us-icon-button>
    </div>
  </form>
</ng-template>

<ng-template #receiptDetailsModal let-c="close" let-detail="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'COMMON.ReceiptDetails' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="detail('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body pb-0">


    <div class="d-flex justify-content-end">
      <div class="mr-auto">
        <h5>{{'COMMON.TotalPhrase' | translate}} {{ saleItemTotal | amountConverter:locale}}</h5>
      </div>

      <span class="mr-3">{{'COMMON.DatePhrase' | translate}}
        <strong>{{ saleItem.SaleDate | date:('COMMON.DateFormat'|translate)}}</strong>
      </span>
      <span>{{'COMMON.TimePhrase' | translate}}
        <strong>{{saleItem.SaleDate | date:'hh:mm'}}</strong>
      </span>
    </div>

    <div>
      <!-- REPLACE WITH AG-GRID
        <us-data-table class="receipt-details-table" [items]="receiptDetails" [itemCount]="itemCount" [pagination]="false">
        <data-table-column [property]="'ItemCode'" [header]="'MEMBERSHIP.ArticleNo' | translate">
        </data-table-column>
        <data-table-column [property]="'ItemName'" [width]="250" [header]="'COMMON.ArticleName' | translate">
        </data-table-column>
        <data-table-column [property]="'Quantity'" [header]="'MEMBERSHIP.Quantity' | translate">
        </data-table-column>
        <data-table-column [property]="'DefaultAmount'" [header]="'COMMON.UnitPrice' | translate" [alignment]="'right'">
        </data-table-column>
        <data-table-column [property]="'Discount'" [header]="'COMMON.Discount' | translate" [alignment]="'right'">
        </data-table-column>
        <data-table-column [property]="'TotalAmount'" [header]="'COMMON.Total' | translate" [alignment]="'right'">
        </data-table-column>
        <data-table-column [property]="'PurchaseDate'" [header]="'COMMON.SaleDate' | translate" [sortable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.PurchaseDate | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'PurchaseDate'" [header]="'COMMON.SaleTime' | translate" [sortable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.PurchaseDate | date:'hh:mm'}}</span>
          </ng-template>
        </data-table-column>
      </us-data-table> -->
    </div>


  </div>
  <div class="modal-footer pt-1">
    <us-icon-button [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Ok' | translate " (click)="detail('Close click')"></us-icon-button>

  </div>
</ng-template>

<ng-template #giftVoucherModel let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'COMMON.GiftVoucherDetails'| translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <form [formGroup]="addGiftVoucherForm">

    <div class="modal-body">

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>{{'COMMON.VoucherNumber'| translate}}</label>
            <input class="form-control" type="text" formControlName="VoucherNumber">
          </div>
          <div class="form-group">
            <label>{{'COMMON.VoucherPrice'| translate}}</label>
            <us-amount-input [disabled]="true" class="w-100" formControlName='Price'></us-amount-input>
          </div>
          <div class="form-group">
            <label>{{'COMMON.SalePrice'| translate}}</label>
            <us-amount-input [disabled]="true" class="w-100" formControlName='PurchasedPrice'></us-amount-input>
          </div>
          <div class="form-group">
            <label>{{'COMMON.ExpiryDate'| translate}}</label>
            <us-date-picker name="expiryDate" formControlName="ExpiryDate" #expiryDate [locale]="'COMMON.Locale'| translate">
            </us-date-picker>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Ok' | translate " (click)="c('Close click')"></us-icon-button>
    </div>
  </form>

</ng-template>

<ng-template #shopHomeModel>
  <div class="modal-header">
    <span class="modal-title">{{'MEMBERSHIP.Shop'| translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="closeShop()">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body p-0 shop-modal-vh">
    <!-- <shop-home (closeShop)="closeShop()"></shop-home> -->
    <app-shop-home-layout (closeShop)="closeShop()"></app-shop-home-layout>
  </div>

</ng-template>

<ng-template #printPurchaseHitoryModel>
  <div class="modal-header">
    <span class="modal-title">{{'MEMBERSHIP.SelectDurationViewTitle'| translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="closeDurationSelectPopup()">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <form [formGroup]="diurationSelectForm">
    <div class="modal-body">
      <form [formGroup]="printForm">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>{{'MEMBERSHIP.FrzDtFromDate'| translate}}</label>
            <us-date-picker class="w-100" name="startDate" #startDate [locale]="'COMMON.Locale'| translate" [options]="fromDatePickerOptions"
              formControlName="startDate">
            </us-date-picker>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.FrzDtToDate'| translate}}</label>
            <us-date-picker class="w-100" name="endDate" #endDate [locale]="'COMMON.Locale'| translate" [options]="toDatePickerOptions"
              formControlName="endDate">
            </us-date-picker>
          </div>
        </div>
      </div>
      </form>
    </div>
    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Ok' | translate " (click)="printShopHistory()"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="closeDurationSelectPopup()"></us-icon-button>
    </div>
  </form>

</ng-template>