<div class="gym-pos-set-scroller">
  <div class="columns">
      <h1>
          {{'ADMIN.MGSHWHardware' | translate}}
      </h1>
      <!-- <button class="btn btn-primary mr-2 px-2" type="button" (click)="addSetting(hwSettingsForm.value)">
        <span [hidden]="hwSelected">{{ 'ADMIN.ADD' | translate }}</span>
      </button>
      <button>
          <span [hidden]="!hwSelected">{{ 'ADMIN.Update' | translate }}</span>
      </button> -->
      <!-- <us-icon-button [iconClass]="'icon-update'" [labelText]="'ADMIN.update' | translate ">

      </us-icon-button> -->
      <!-- <button class="btn btn-primary mr-2 px-2" type="button" (click)="clearForm()">{{ 'ADMIN.Clear' | translate }}</button> -->
    <div class="d-flex no-gutters">
      <div class="col pr-1 my-2">
        <!-- REPLACE WITH AG-GRID
          <us-data-table class="table-height" id="persons-grid" [items]="hwSettingsItems" [itemCount]="hwSettingsCount">
          <data-table-column [property]="'Name'" [header]="'ADMIN.Name' | translate" [sortable]="true" >
          </data-table-column>
          <data-table-column [property]="'CategoryListString'" [header]="'ADMIN.MGSHWSelectedHW' | translate" [sortable]="true" >
          </data-table-column>
          <data-table-column [width]="40" [property]="''" [header]="''" [width]="50" >

            <ng-template #dataTableCell let-item="item">
              <button class="btn btn-primary btn-icon-min" title="{{'ADMIN.Detail' |translate}}" (click)="showHardWareDetails(hardwaredetails, item)">
                <span class="icon-detail"></span>
              </button>
            </ng-template>
          </data-table-column>
        </us-data-table> -->
      </div>
    </div>
  </div>
  <div class="columns">
    <h1>{{'COMMON.Add' | translate}}</h1>
    <div class="d-flex no-gutters">
      <div class="col pr-1 my-2">
        <!-- REPLACE WITH AG-GRID
          <us-data-table  class="table-height" id="persons-grid" [items]="hwItems" [itemCount]="hwCount">
          <data-table-column [property]="" [header]="'ADMIN.MGSHWHardware' | translate" [sortable]="true" [resizable]="true">
            <ng-template #dataTableCell let-item="item">
              <label class="custom-control custom-checkbox checkbox-inline">
                <input type="checkbox" class="custom-control-input" [formControl]="hwTableForm.controls['HardwareProfileItemList']" [exceError]="hwSettingsForm.controls['HardwareProfileItemList']"
                  [value]="item.Code" (change)="onCheckChange($event,item)" [checked]="item.IsCheck">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{item.Code}}</span>
              </label>
            </ng-template>
          </data-table-column>
        </us-data-table> -->
      </div>
    </div>
    <form [formGroup]="hwSettingsForm" #hwSettings>
      <div class="addFooter">
        <label>{{ 'ADMIN.Name' | translate }}:&nbsp;</label>
        <input type="text" class="form-control mr-2 w-25" [formControl]="hwSettingsForm.controls['Name']" #Name [exceError]="hwSettingsForm.controls['Name']"
          [validationType]="'Name'" (blur)="onBlurMethod(Name.value)">
        <label>{{ 'ADMIN.ChangeMoneyC' | translate }}:&nbsp;</label>
        <input type="text" class="form-control mr-auto w-25" placeholder="0.00" [formControl]="hwSettingsForm.controls['ChangeMoney']" [exceError]="hwSettingsForm.controls['ChangeMoney']">
        <us-icon-button (click)="addSetting(hwSettingsForm.value)" [iconClass]="'icon-add'" [labelText]="'COMMON.Add' | translate ">
        </us-icon-button>
        <us-icon-button class="ml-2" [iconClass]="'icon-cancel'" [labelText]="'ADMIN.CLEAR' | translate " (click)="clearForm()">
        </us-icon-button>
      </div>
    </form>
  </div>
</div>


<ng-template #hardwaredetails let-c="close" let-d="dismiss">
    <div class="modal-header">
      <span class="modal-title">{{ 'ADMIN.MGSHWSelectedHW' | translate }}:&nbsp;{{hwSelected.Name}}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="hwSettingsFormUpdate" #hwSettings>
        <div class="form-group">
          <label>{{ 'ADMIN.Name' | translate }}</label>
          <input disabled #name type="text" class="form-control mr-2 w-50" [formControl]="hwSettingsFormUpdate.controls['Name']" (blur)="nameChange($event)">
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.ChangeMoneyC' | translate }}</label>
          <input #money type="text" align="right" class="form-control mr-auto w-50" placeholder="0.00"
          [formControl]="hwSettingsFormUpdate.controls['ChangeMoney']" (blur)="moneyChange($event)">
        </div>
      </form>
      <!-- REPLACE WITH AG-GRID
        <us-data-table  class="table-height" id="persons-grid" [items]="hwItemsUpdate" [itemCount]="hwCount">
        <data-table-column [property]="" [header]="'ADMIN.MGSHWHardware' | translate" [sortable]="true" [resizable]="true">
          <ng-template #dataTableCell let-item="item">
            <label class="custom-control custom-checkbox checkbox-inline">
              <input type="checkbox" class="custom-control-input"
                [value]="item.Code" (change)="onCheckChange($event,item)" [checked]="item.IsCheck">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{item.Code}}</span>
            </label>
          </ng-template>
        </data-table-column>
      </us-data-table> -->
    </div>
    <div class="modal-footer">
      <us-icon-button (click)="updateHW(false)" [iconClass]="'icon-done'" [labelText]="'COMMON.Save' | translate ">
      </us-icon-button>
      <us-icon-button (click)="closeModal()" class="ml-2" [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate ">
      </us-icon-button>
      <us-icon-button (click)="updateHW(true)" class="ml-auto" [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Delete' | translate ">
      </us-icon-button>
    </div>
  </ng-template>

  <exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"[information]="message"></exce-fade-in-n-out>
