
  <!-- REPLACE WITH AG-GRID
    <us-data-table [items]="introducedMembers" [itemCount]="itemCount" (rowDoubleClick)="openIntroducedMemberDetailsView(introducedMemberDetailView)"
    (rowDoubleClick)="rowDoubleClick($event)">

    <data-table-column [property]="'CustId'" header="{{'MEMBERSHIP.CustomerNo' | translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'Name'" header="{{'MEMBERSHIP.Name' | translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'IntroduceDate'" header="{{'MEMBERSHIP.IntroducedDate' | translate}}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{(item.IntroduceDate | date:('COMMON.DateFormat'|translate)) || " " }}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [property]="'ContractSignDate'" header="{{'MEMBERSHIP.ContractSignDate' | translate}}" [sortable]="true"
      [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{ item.ContractSignDate? (item.ContractSignDate | date:('COMMON.DateFormat'|translate)) : " " }}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [property]="'CreditedDate'" header="{{'MEMBERSHIP.CreditedDate' | translate}}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.CreditedDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [property]="'CreditedText'" header="{{'MEMBERSHIP.CreditedText' | translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [width]="75">
      <ng-template #dataTableCell let-item="item">
        <div class="d-inline-block">
        <button class="btn btn-primary btn-icon-min" (click)="rowItem(item)" (click)="openIntroducedMemberDetailsView(introducedMemberDetailView)">
          <span class="icon-detail"></span>
        </button>
        <button class="btn btn-danger btn-icon-min ml-1" (click)="deleteIntroducedMembers(item)">
          <span class="icon-cancel"></span></button>
        </div>
      </ng-template>
    </data-table-column>
  </us-data-table> -->

<ng-template #introducedMemberDetailView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'MEMBERSHIP.DetailIntroducedMemberChWinTitle'| translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <form [formGroup]="introducedMemberDetailForm">
    <div class="modal-body">
      <!-- Hidden field for memberId -->
      <input class="form-control" type="hidden" formControlName="memberId">

      <div class="form-group">
        <label>{{'MEMBERSHIP.CustomerNo' | translate}}</label>
        <div><strong>{{ editIntroducedMembers.CustId }}</strong></div>
      </div>
      <div class="form-group">
        <label>{{'MEMBERSHIP.Name' | translate}}</label>
        <div><strong>{{ editIntroducedMembers.Name }}</strong></div>
      </div>
      <div class="form-group">
        <label>{{'MEMBERSHIP.IntroducedDate' | translate}}</label>
        <div><strong>{{ editIntroducedMembers.IntroduceDate | date:('COMMON.DateFormat'|translate) }}</strong></div>
      </div>
      <div class="form-group">
        <label>{{'MEMBERSHIP.ContractSignDate' | translate}}</label> <br/>
        <div><strong>{{ editIntroducedMembers.ContractSignDate | date:('COMMON.DateFormat'|translate) }}</strong></div>
      </div>
        <hr class="hr-dashed">
      <div class="form-group">
        <label>{{'MEMBERSHIP.CreditedDate' | translate}}</label>
        <us-date-picker class="w-100" formControlName="CreditedDate" [locale]="'COMMON.Locale'| translate">
        </us-date-picker>
      </div>
      <div class="form-group">
        <label>{{'MEMBERSHIP.CreditedText' | translate}}</label>
        <input class="form-control" type="text" formControlName="CreditedText">
      </div>
    </div>

    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Save' | translate " (click)="saveIntroducedMembers(introducedMemberDetailForm.value)"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" (click)="c('Close click')" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="closeIntroducedMemberDetailForm()"></us-icon-button>
    </div>

  </form>

</ng-template>