<ng-template #defaultItemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
        <div class="form-check">
            <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa" [class.fa-caret-right]="item.collapsed"
                [class.fa-caret-down]="!item.collapsed"></i>
            <label class="custom-control custom-checkbox" *ngIf="item.text.length>0">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="item.checked"   (change)="checkChange(item)" [disabled]="item.disabled" [indeterminate]="item.indeterminate"
                    >
                    <!-- (ngModelChange)="onCheckedChange()" -->
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{item.text}}</span>
                  </label>
        </div>
    </ng-template>
    <ng-template #defaultHeaderTemplate let-config="config" let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange"
        let-onFilterTextChange="onFilterTextChange">
        <div *ngIf="config.hasFilter" >
            <div >
                <input class="form-control" type="text" [placeholder]="i18n.getFilterPlaceholder()" [(ngModel)]="filterText" (ngModelChange)="onFilterTextChange($event)"
                />
            </div>
        </div>
        <div *ngIf="hasFilterItems">
            <div *ngIf="config.hasAllCheckBox || config.hasCollapseExpand">
                    <div class="bg-primary text-white px-2 py-1">
    
                    <label class="custom-control custom-checkbox" *ngIf="config.hasAllCheckBox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="item.checked" (ngModelChange)="onCheckedChange($event);"  (change)="checkChange(item)" [indeterminate]="item.indeterminate">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{i18n.getAllCheckboxText()}}</span>
                          </label>
                    <label *ngIf="config.hasCollapseExpand" class="pull-right form-check-label" (click)="onCollapseExpand()">
                        <i [title]="i18n.getTooltipCollapseExpandText(item.collapsed)" aria-hidden="true"
                            class="fa" [class.fa-expand]="item.collapsed" [class.fa-compress]="!item.collapsed"></i>
                    </label>
                </div>
            </div>
            
        </div>
        
    </ng-template>
    <div class="treeview-header">
        <ng-template [ngTemplateOutlet]="headerTemplate || defaultHeaderTemplate" [ngTemplateOutletContext]="headerTemplateContext">
        </ng-template>
    </div>
    <div [ngSwitch]="hasFilterItems">
        <div *ngSwitchCase="true" class="treeview-container p-2" >
            <ngx-treeview-item *ngFor="let item of filterItems" [config]="config" [item]="item" [template]="itemTemplate || defaultItemTemplate"
                (checkedChange)="onItemCheckedChange(item, $event)">
            </ngx-treeview-item>
            
        </div>
        
        <div *ngSwitchCase="false" class="treeview-text alert alert-info m-3 px-2">
            {{i18n.getFilterNoItemsFoundText()}}
        </div>
        
    </div>