<div class="d-flex justify-content-start no-gutters mx-1">
  <div class="form-inline mr-2">
    <label class="mr-1">{{'ECONOMY.FromDate' | translate}}</label>
    <us-date-picker style="width: 180px"  [locale]="'ADMIN.Locale'| translate">
    </us-date-picker>
    <label class="ml-2 mr-1">{{'ECONOMY.ToDate' | translate}}</label>
    <us-date-picker  style="width: 180px" [locale]="'ADMIN.Locale'| translate">
    </us-date-picker>
  </div>

  <div class="form-inline  mr-2">
      <label class="mr-1">{{'ECONOMY.Source' | translate}}</label>
    <select class="custom-select cursor-hand" style="min-width: 100px">
      <option selected value="">All</option>
    </select>
  </div>
  <div class="form-inline  mr-2">
      <label class="mr-1">{{'ECONOMY.FilterBy' | translate}}</label>
    <select class="custom-select cursor-hand" style="min-width: 100px">
      <option selected value="">All</option>
    </select>
  </div>
  <button class="btn btn-primary" >{{ 'ECONOMY.View' | translate }}</button>
<!--
</div>
<div class="mx-1 mt-1">
  <us-data-table id="" [items]="items" [itemCount]="itemCount" [rowTooltip]="rowTooltip">
    <data-table-column header="{{ 'ECONOMY.Date' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column header="{{ 'ECONOMY.UniqueID' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column header="{{ 'ECONOMY.Type' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column header="{{ 'ECONOMY.TotalDeduction' | translate }}" [sortable]="true" [resizable]="true" [alignment]="'right'">
    </data-table-column>
    <data-table-column header="{{ 'ECONOMY.FileName' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column header="{{ 'ECONOMY.NoOfDeviations' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column header="{{ 'ECONOMY.DateOfFirstOpening' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column header="{{ 'ECONOMY.Status' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column>
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary btn-icon-min" title="{{'ECONOMY.Detail' | translate}}">
          <span class="icon-detail"></span>
        </button>
      </ng-template>
    </data-table-column>
  </us-data-table>
</div>

  <ng-template #econLogDetailModal let-c="close" let-d="dismiss">
      <div class="modal-header">
          <span class="modal-title">{{ 'ECONOMY.EconomyFileLogDetails' | translate }}</span>
          <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
      </div>
      <div class="modal-body log-detail">
          <us-data-table id=""  [pagination]="faske" [rowTooltip]="rowTooltip">
              <data-table-column header="{{ 'ECONOMY.Date' | translate }}" [sortable]="true" [resizable]="true">
              </data-table-column>
              <data-table-column header="{{ 'ECONOMY.Type' | translate }}" [sortable]="true" [resizable]="true">
                </data-table-column>
              <data-table-column header="{{ 'ECONOMY.Amount' | translate }}" [sortable]="true" [resizable]="true" [alignment]="'right'">
              </data-table-column>
              <data-table-column header="{{ 'ECONOMY.FileName' | translate }}" [sortable]="true" [resizable]="true">
              </data-table-column>
              <data-table-column header="{{ 'ECONOMY.Status' | translate }}" [sortable]="true" [resizable]="true">
              </data-table-column>
              <data-table-column header="{{ 'ECONOMY.UniqueID' | translate }}" [sortable]="true" [resizable]="true">
                </data-table-column>

            </us-data-table>
      </div>
      <div class="modal-footer mt-0">
          <us-icon-button [iconClass]="'icon-done'" type="submit" [labelText]="'ECONOMY.Ok' | translate " (click)="d('Cross click')"></us-icon-button>
      </div>
    </ng-template>
-->
