:host/deep/ .exce-validate-content{
    white-space: nowrap;
}

::ng-deep .popover-scroller{
    height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
}

:host {
    ::ng-deep .nav-wizard-content {
        height: calc(100vh - 245px);
        overflow-x: auto;
    }
}