<div>
  <form [formGroup]="memberInfoForm">
    <div class="scroll-content">
      <div class="d-flex no-gutters">
        <div class="col-7 mr-2">
          <div class="d-flex no-gutters">
            <div class="col">
              <!-- REPLACE WITH AG-GRID
                <us-data-table [items]="atgStatusList" indexColumnVisible [pagination]="false" >
                <data-table-column [property]="'AccountNumber'" [header]="'MEMBERSHIP.AccNo' | translate" [sortable]="true" [resizable]="true">
                </data-table-column>
                <data-table-column [header]="'MEMBERSHIP.miwnAtgStatus' | translate" [sortable]="true" [resizable]="true" [width]="300">
                  <ng-template #dataTableCell let-item="item">
                    <span>
                      <select class="custom-select custom-select-sm" (change)="atgStatusOnChange($event.target.value,item)">
                        <option value="0" [selected]="item.SelectedStatus == 0">{{ 'MEMBERSHIP.New' | translate }}</option>
                        <option value="1" [selected]="item.SelectedStatus == 1">{{ 'MEMBERSHIP.NoATG' | translate }}</option>
                        <option value="2" [selected]="item.SelectedStatus == 2">{{'MEMBERSHIP.Deleted' | translate}}</option>
                        <option value="3" [selected]="item.SelectedStatus == 3">{{'MEMBERSHIP.Approved' | translate}}</option>
                      </select>
                    </span>
                  </ng-template>
                </data-table-column>
                <data-table-column [property]="'LastUpdatedDateTime'" [header]="'MEMBERSHIP.miwnAtgLastUpdated' | translate" [sortable]="true"
                  [resizable]="true">
                  <ng-template #dataTableCell let-item="item">
                    <span>{{item.LastUpdatedDateTime | date:('COMMON.DateFormat'|translate)}}</span>
                  </ng-template>
                </data-table-column>
                <data-table-column [header] = "'MEMBERSHIP.Branch' | translate" [resizable]="true" [width]="100" >
                  <ng-template #dataTableCell let-item="item">
                    <span>
                      <div class="input-group input-group-sm">
                        <span class="input-group-addon">{{item.GymCount}}</span>
                        <button class="btn btn-primary btn-sm" type="button" (click)="viewGymsForAccount(item,atgBranch)">{{ 'MEMBERSHIP.View' | translate }}</button>
                      </div>
                    </span>
                  </ng-template>
                </data-table-column>
              </us-data-table> -->
            </div>
          </div>

          <div class="d-flex mt-2 no-gutters">
            <div class="col-6 mr-1">
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.miwnRegistered' | translate }}</label>
                <input class="form-control cursor-disabled" type="text" formControlName="CreatedUser">
              </div>
              <div class="form-group">
                <label>
                  <label class="p-0 mr-1" (click)="groupMemberLink($event,memberCardModal)">{{ 'MEMBERSHIP.GroupM' | translate }}</label>
                  <strong>
                    <small>{{GroupName}}</small>
                  </strong>
                </label>
                <div class="input-group">
                  <input class="form-control cursor-disabled" type="text" formControlName="groupMembersCount">
                  <button class="btn btn-primary" type="button" (click)="groupMembersView();groupMemberPopover.open()" [usPopover]="groupMemberTemplate"
                    #groupMemberPopover="usPopover" popoverWidth="500" container="body" placement="top" triggers="manual">
                    {{ 'MEMBERSHIP.miwnLinkedMembers' | translate }}
                  </button>
                  <button class="btn btn-primary ml-1" type="button" *ngIf="1 >= memberInforNote?.GroupId" (click)="memberSelectionView(entitySelectionTemplate,'GROUP')">{{ 'MEMBERSHIP.Add' | translate }}</button>
                </div>
              </div>
              <div class="form-group">
                <label>
                  <label class="p-0 mr-1">{{ 'MEMBERSHIP.miwnFamily' | translate }}</label>
                  <strong>
                    <small>{{FamilyMember?.Name}} </small>
                  </strong>
                </label>
                <div class="input-group">
                  <input class="form-control cursor-disabled" type="text" formControlName="familyMembersCount">
                  <button class="btn btn-primary" type="button" (click)="familyMembersView();familyMemberPopover.open()" [usPopover]="familyMemberTemplate"
                    #familyMemberPopover="usPopover" popoverWidth="500" container="body" placement="top" triggers="manual">
                    {{ 'MEMBERSHIP.miwnViewFamilyMembers' | translate }}</button>
                  <button class="btn btn-primary ml-1" type="button" *ngIf="1 >= memberInforNote?.FamilyMemberId" (click)="familySelectionView(familyMemberSelect)">{{ 'MEMBERSHIP.Add' | translate }}</button>
                </div>
              </div>
              <div class="form-group" *ngIf="isUsingIntroducedBy" >
                <label>{{ 'MEMBERSHIP.IntroducedBy' | translate }}</label>
                <div class="input-group">
                  <input class="form-control cursor-disabled" type="text" formControlName="IntroducedByName">
                  <button class="btn btn-primary ml-1" type="button" (click)="selectIntroducedView(entitySelectionTemplateIntroduced)">{{ 'MEMBERSHIP.Update' | translate }}</button>
                  <button class="btn btn-primary ml-1" type="button" (click)="removeIntroducedBy()">{{ 'MEMBERSHIP.Remove' | translate }}</button>
                </div>
              </div>
              <div class="form-group" *ngIf="isUsingIntroducedBy && isIntroducedByVisible">
                <label>{{ 'MEMBERSHIP.IntroducedDate' | translate }}</label>
                <input class="form-control cursor-disabled" readonly type="text" value="{{introducedDate | date:('COMMON.DateFormat'|translate) }}">
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.miwnMemberInPeriod' | translate }}</label>
                <input class="form-control cursor-disabled" type="text" formControlName="MemberShipPeriod">
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.Gym' | translate }}</label>
                <select class="custom-select w-100 cursor-disabled" formControlName="branchSelected" [(ngModel)]="selectedGym" (change)="gymChange($event.target.value)"
                  disabled="true">
                  <option *ngFor="let item of userGyms;" [ngValue]="item">{{item.BranchName}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.miwnChargeLimitAtg' | translate }}</label>
                <!-- <input class="form-control " type="text" formControlName="ChargeLimitAtg"> -->
                <us-amount-input class="w-100" formControlName="ChargeLimitAtg"></us-amount-input>
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.miwnAtgKid' | translate }}</label>
                <input readonly class="form-control" type="text" formControlName="AtgKid">
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.miwnOldKid' | translate }}</label>
                <input readonly class="form-control " type="text" formControlName="OldKid">
              </div>
            </div>

            <div class="col ml-1">
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.Instructor' | translate }}</label>
                <div class="input-group">
                  <input class="form-control cursor-disabled" type="text" formControlName="InstructorName">
                  <button class="btn btn-primary" type="button" (click)="employeeSelectionModal(entitySelectionTemplate)">{{ 'MEMBERSHIP.Select' | translate }}</button>
                </div>
              </div>
              <div class="form-group">
                <div class='input-group'>
                <label>{{ 'MEMBERSHIP.miwnLastVisit' | translate }}</label>
                <us-date-picker class="w-100" [locale]="'COMMON.Locale'| translate" formControlName="LastVisitDate"> </us-date-picker>
                </div>
              </div>
              <div class="form-group mb-1">
                <div class="input-group">
                  <span class="w-75">
                    <label>{{ 'MEMBERSHIP.miwnNoofVisits30' | translate }}</label>
                  </span>
                  <input class="form-control w-25" cursor-disabled type="text" formControlName="NoOfVisiteLast30">
                </div>
              </div>
              <div class="form-group mb-0">
                <div class="input-group">
                  <span class="w-75">
                    <label>{{ 'MEMBERSHIP.miwnNoofVisits365' | translate }}</label>
                  </span>
                  <input class="form-control w-25 cursor-disabled" type="text" formControlName="NoOfVisiteLast365">
                </div>
              </div>

              <div class="form-group">
                <label class="float-left">{{ 'MEMBERSHIP.miwnGuestCardNumber' | translate }}</label>
                <input class="form-control " type="text" formControlName="GuestCardNo">
              </div>
              <div class="form-group w-100" >
                <div class="input-group">
                  <div class="form-group w-30">
                    <label>{{ 'MEMBERSHIP.Followup' | translate }}</label>
                    <div class="input-group">
                      <label class="custom-control custom-radio">
                        <input id="radio1Yes" name="FollowUp" type="radio" [checked]="memberInforNote?.IsFollowUp" (change)="changeFollowpUp(true)"
                          class="custom-control-input mr-3">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'MEMBERSHIP.Yes' | translate }}</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="radio1No" name="FollowUp" type="radio" [checked]="!memberInforNote?.IsFollowUp" (change)="changeFollowpUp(false)"
                          class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'MEMBERSHIP.crNo' | translate }}</span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group w-75">
                    <label>{{ 'MEMBERSHIP.LastFollowUp' | translate }}</label>
                    <div class="input-group">
                      <us-date-picker class="w-100 cursor-disabled" [locale]="'COMMON.Locale'| translate" formControlName="LastFollowUpDate"> </us-date-picker>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="form-group">
                <label>{{ 'MEMBERSHIP.LastFollowUp' | translate }}</label>
                <div class="input-group">
                  <us-date-picker class="w-100 cursor-disabled" [locale]="'COMMON.Locale'| translate" formControlName="LastFollowUpDate"> </us-date-picker>
                </div>
              </div> -->
              <div class="form-group mb-1">
                <div class="input-group">
                  <span class="w-75">
                    <label>{{ 'MEMBERSHIP.NoOfFollowUpsLast30Days' | translate }}</label>
                  </span>
                  <input class="form-control w-25 cursor-disabled" type="text" formControlName="NoOfFollowUpLast30">
                </div>
              </div>
              <div class="form-group mb-0">
                <div class="input-group">
                  <span class="w-75">
                    <label>{{ 'MEMBERSHIP.NoOfFollowUpsLast365Days' | translate }}</label>
                  </span>
                  <input class="form-control w-25 cursor-disabled" type="text" formControlName="NoOfFollowUpLast365">
                </div>
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.miwnNextFollowUp' | translate }}</label>
                <div class="input-group">
                  <us-date-picker class="w-100 cursor-disabled" [locale]="'COMMON.Locale'| translate" formControlName="NextFollowUpDate"> </us-date-picker>
                </div>
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.miwnSendAdvertising' | translate }}</label>
                <div class="input-group">
                  <label class="custom-control custom-radio">
                    <input id="isSendAdvertisementYes" name="sendAdvertising" type="radio" [checked]="memberInforNote?.IsSendAdvertisement" (change)="changeSendAdvertising(true)"
                      class="custom-control-input mr-3">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'MEMBERSHIP.Yes' | translate }}</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input id="isSendAdvertisementNes" name="sendAdvertising" type="radio" [checked]="!memberInforNote?.IsSendAdvertisement"
                      (change)="changeSendAdvertising(false)" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'MEMBERSHIP.crNo' | translate }}</span>
                  </label>

                </div>
              </div>
              <div class="form-group">
                <label>{{ 'MEMBERSHIP.miwnAntiDope' | translate }}</label>
                <div class="input-group">
                  <us-date-picker class="w-100" formControlName="AdcSignedDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
                </div>
              </div>

              <div class="form-group">
                <label class="float-left">{{ 'MEMBERSHIP.CreatedDate' | translate }}</label>
                <input class="form-control cursor-disabled" readonly type="text" value="{{regDate | date:('COMMON.DateFormat'|translate)}}">
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 col-min-width">
          <div class="form-group" *ngIf="IsUsingGantner">
            <label>{{ 'MEMBERSHIP.crPinCode' | translate }}</label>
            <div class="input-group">
              <input class="form-control" type="password" OnlyNumbers="true" maxlength="4" formControlName="PinCode">
              <button class="btn btn-primary" type="button" (click)="generatePinCode()">{{ 'MEMBERSHIP.crGenerate' | translate }}</button>
            </div>
          </div>
          <div class="form-group" *ngIf="IsUsingGantner">
            <label>{{ 'MEMBERSHIP.GATCardNo' | translate }}</label>
            <div class="input-group">
              <input type="text" class="form-control w-75 mr-1" formControlName="GATCardNo">
              <button class="btn btn-primary" type="button" (click)="getGatCardNo()">{{ 'MEMBERSHIP.Get' | translate }}</button>
            </div>
          </div>
          <div class="form-group" *ngIf="IsUsingGantner">
            <label class="custom-control custom-checkbox checkbox-inline">
              <input type="checkbox" class="custom-control-input" formControlName="CheckFingerPrint" [checked]="memberInforNote?.CheckFingerPrint">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'MEMBERSHIP.CheckFingerPrint' | translate}}</span>
            </label>
          </div>
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.miwnCurrentContractTem' | translate }}</label>
            <div class="input-group">
              <input class="form-control w-25 mr-1 cursor-disabled" type="text" formControlName="CtNumber">
              <input class="form-control w-75 cursor-disabled" type="text" formControlName="CtName">
            </div>
          </div>
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.ValidPeriod' | translate }}</label>
            <div class="input-group">
              <us-date-picker class="mr-1" style="width: 200px;" formControlName="CtStartDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
              <us-date-picker style="width: 200px;" formControlName="CtEndDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
            </div>
          </div>
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.TimeInContract' | translate }}</label>
            <div class="input-group">
              <input type=text class="form-control cursor-disabled" value={{contractPeriode}} disabled>
            </div>
          </div>
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.CurrentFreezePeriod' | translate }}</label>
            <div class="input-group">
              <us-date-picker class="mr-1" style="width: 200px;" formControlName="FreezeFromDate" [locale]="'COMMON.Locale'| translate">
              </us-date-picker>
              <us-date-picker style="width: 200px;" formControlName="FreezeToDate" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
            </div>
          </div>
          <div class="form-group" *ngIf="isUsingBrisIntegration">
            <label>{{ 'MEMBERSHIP.school' | translate }}</label>
            <input type="text" class="form-control cursor-disabled" formControlName="School">
          </div>
          <div class="form-group" *ngIf="isUsingBrisIntegration">
            <label>{{ 'MEMBERSHIP.LastPaidSemesterFee' | translate }}</label>
            <input type="text" class="form-control cursor-disabled" formControlName="LastPaidSemesterFee">
          </div>
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.Note' | translate }}</label>
            <textarea type="text" formControlName="Note" style="height: 200px;" class="form-control"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <us-icon-button appDebounceClick (debounceClick)="saveBasicInfo(memberInfoForm.value)" [debounceTime]="700" class="mr-1" [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Save' | translate "></us-icon-button>
      <us-icon-button [iconClass]="'icon-print'" labelText="{{ 'MEMBERSHIP.PrintAtg' | translate }}" (click)="printAtg(memberInfoForm.value)"></us-icon-button>
    </div>
  </form>
</div>

<!-- --------------------------------------------------------------------------------------------------------- -->

<ng-template #groupMemberTemplate>
  <div>
    <p class="mb-1">{{'MEMBERSHIP.Linkedmembers' | translate}}</p>
    <table class="table table-sm table-hover table-default popover-table border mb-1">
      <thead class="thead-primary">
        <tr>
          <th style="width: 125px;">{{'MEMBERSHIP.CustomerNo' | translate}}</th>
          <th>{{'MEMBERSHIP.Name' | translate}}</th>
          <th style="width: 40px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let groupItem of groupMemberList">
          <td style="width: 125px;">{{groupItem.CustId}}</td>
          <td>{{groupItem.Name}}</td>
          <td style="width: 40px;" *ngIf="1 >= memberInforNote?.GroupId">
            <button (click)="deleteGroupMember(groupItem)" class="btn btn-danger btn-icon-min" title="{{'MEMBERSHIP.Delete' | translate}}">
              <span class="icon-cancel"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <us-icon-button [iconClass]="'icon-print'" (click)="printGroupMember();groupMemberPopover.close()" labelText="{{ 'MEMBERSHIP.Print' | translate }}"></us-icon-button>
      <button class="btn btn-primary ml-1" type="button" (click)="changeGroupMember();groupMemberPopover.close()">{{'MEMBERSHIP.Ok' | translate}}</button>
    </div>
  </div>
</ng-template>

<!-- --------------------------------------------------------------------------------------------------------- -->

<ng-template #familyMemberTemplate>
  <div>
    <p class="mb-1">{{'MEMBERSHIP.FamilyMembers' | translate}}</p>
    <table class="table table-sm table-hover table-default popover-table border mb-1">
      <thead class="thead-primary">
        <tr>
          <th style="width: 150px;">{{'MEMBERSHIP.CustomerNo' | translate}}</th>
          <th>{{'MEMBERSHIP.Name' | translate}}</th>
          <th style="width: 40px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let familyMember of familyMemberList">
          <td style="width: 150px;">{{familyMember.CustId}}</td>
          <td>{{familyMember.Name}}</td>
          <td style="width: 40px;" *ngIf="1 >= memberInforNote?.FamilyMemberId">
            <button (click)="deleteFamilyMember(familyMember)" class="btn btn-danger btn-icon-min" title="{{'MEMBERSHIP.Delete' | translate}}">
              <span class="icon-cancel"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary ml-1" type="button" (click)="changeFamilyMember();familyMemberPopover.close()">{{'MEMBERSHIP.Ok' | translate}}</button>
    </div>
  </div>
</ng-template>

<!-- ----------------------------------------------------------------------------------------------------- -->

<ng-template #entitySelectionTemplateIntroduced let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{entitySelectionViewTitle}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItem)="selectIntroducedBy($event)" (selectedItems)="selectedRowItems($event)"
    (addMemberEvent)="addMemberModal(addMemberModalView)" [multipleSelect]="multipleRowSelect" [itemList]="items" [auotocompleteItems]="auotocompleteItems"
    [columns]="columns" [branches]="" [itemcount]="itemCount" [isDisabledRole]="isDiabledRole" [defaultRole]="defaultRole"
    [entitySelectionType]="entitySelectionType" [isDbPagination]="isDbPagination" [isBranchVisible]="isBranchVisible" [isStatusVisible]="isStatusVisible"
    [isRoleVisible]="isRoleVisible" [isAddBtnVisible]="isAddBtnVisible" [isBasicInforVisible]="isBasicInforVisible" (closeViewEvent)="closeView()">

  </exce-entityselection> -->
  <exce-memberlist (memberSelectedDblClick)="selectIntroducedBy($event.data)">

  </exce-memberlist>
  </div>
</ng-template>

<!-- --------------------------------------------------------------------------------------------------------------- -->

<ng-template #entitySelectionTemplate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{entitySelectionViewTitle}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItem)="selectedRowItem($event)" (selectedItems)="selectedRowItems($event)"
      (addMemberEvent)="addMemberModal(addMemberModalView)" [multipleSelect]="multipleRowSelect" [itemList]="items" [auotocompleteItems]="auotocompleteItems"
      [columns]="columns" [branches]="" [itemcount]="itemCount" [isDisabledRole]="isDiabledRole" [defaultRole]="defaultRole"
      [entitySelectionType]="entitySelectionType" [isDbPagination]="isDbPagination" [isBranchVisible]="isBranchVisible" [isStatusVisible]="isStatusVisible"
      [isRoleVisible]="isRoleVisible" [isAddBtnVisible]="isAddBtnVisible" [isBasicInforVisible]="isBasicInforVisible" (closeViewEvent)="closeView()">

  </exce-entityselection>
  </div>
</ng-template>

<!-- -------------------------------------------------------------------------------------- -->

<ng-template #addMemberModalView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'COMMON.AddNewMember' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-addmember [roleType]="'MEM'" (addItemEvent)="addEntity($event)">
    </exce-addmember>
  </div>
</ng-template>

<!-- ----------------------------------------------------------------------------------------------------- -->

<ng-template #atgBranch let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title"></span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-sm table-hover table-default atgbranch-table">
      <thead class="thead-primary">
        <tr>
          <th>{{ 'MEMBERSHIP.GymID' | translate }}</th>
          <th>{{ 'MEMBERSHIP.GymNameS' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let branch of atgBranchList">
          <td>{{branch.BranchId}}</td>
          <td>{{branch.BranchName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="d('Cross click')">{{ 'MEMBERSHIP.Ok' | translate }}</button>
  </div>
</ng-template>

<!-- ----------------------------------------------------------------------------------- -->

<ng-template #memberCardModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.MemberSelection' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <member-card></member-card>
    <!-- <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItem)="selectedRowItem($event)" (selectedItems)="selectedRowItems($event)" (addMemberEvent)="addMemberModal(addMemberModalView)" [multipleSelect]="multipleRowSelect" [itemList] ="items"
    [auotocompleteItems] ="auotocompleteItems" [columns] ="columns" [branches] ="" [itemcount] ="itemCount" [isDisabledRole] = "isDiabledRole" [defaultRole] = "defaultRole" [entitySelectionType]="entitySelectionType"
    [isDbPagination] = "isDbPagination" [isBranchVisible] ="isBranchVisible" [isStatusVisible] ="isStatusVisible"
    [isRoleVisible] ="isRoleVisible" [isAddBtnVisible] ="isAddBtnVisible" [isBasicInforVisible]="isBasicInforVisible">

   </exce-entityselection> -->
  </div>


</ng-template>

<!-- ----------------------------------------------------------------------------------- -->

<ng-template #familyMemberSelect let-c="close" let-d="dismiss">
    <div class="modal-header">
      <span class="modal-title">{{ 'MEMBERSHIP.AddFamily' | translate}}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <exce-memberlist [allowMultipleSelect]="true" [columnsToShow]="familyRegColumns" (membersSelected)="familyMembersSelected($event)"
      (memberSelectedDblClick)="familyMemberSelected($event)"
      (closeViewEvent)="closeFamilyMemberSelect()" [newMemberVisibe] ="true" (openModalEvent)="addNewFamilyMember(addMemberModaFamlView)">

      </exce-memberlist>
    </div>
</ng-template>

  <!-- -------------------------------------------------------------------------------------- -->

<ng-template #addMemberModaFamlView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'COMMON.AddNewMember' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-addmember [roleType]="'MEM'" (addItemEvent)="addEntityFam($event)">
    </exce-addmember>
  </div>
</ng-template>

  <!-- -------------------------------------------------------------------------------------- -->

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"
[information]="message"></exce-fade-in-n-out>
