%table-header-fixed-scroller {
    display: flex;
    flex-flow: column;
    width: 100%;
    tbody {
        display: block;
        overflow-y: scroll;
        flex: 1 1 auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        cursor: pointer;
    }
    thead {
        width: calc( 100% - 1.3em);
    }
}

:host /deep/ .table-default {
    height: calc(100vh - 182px);
    @extend %table-header-fixed-scroller;
}

.content-scroll-table {
    display: flex;
    flex-flow: column;
    height: 190px;
    width: 100%;
    overflow-y: auto;
}

::ng-deep .popover-scroller {
    display: flex;
    flex-flow: column;
    height: 110px;
    width: 322px;
}

