<div class="d-flex mx-3">
  <label> {{ 'COMMON.DateAndTime' | translate }}</label>
  <strong class="ml-2 mr-2">{{settlementData?.FromDateTime | date: ('COMMON.DateFormatLong'|translate)}}</strong>
  <label class="ml-4 mr-2"> {{ 'COMMON.ToS' | translate }}</label>
  <strong class="ml-2 mr-2">{{settlementData?.ToDateTime | date: ('COMMON.DateFormatLong'|translate)}}</strong>
</div>
<hr class="hr-dashed">
<div class="d-flex align-items-start">
  <div class="col-4 no-gutters">
    <div class="no-gutters d-flex mb-2">
      <div class="col">{{ 'COMMON.CashS' | translate }}</div>
      <div class="col-3 text-right">
        <strong>{{settlementData?.Cash | amountConverter:locale}}</strong>
      </div>
    </div>
    <div class="no-gutters d-flex mb-2">
      <div class="col">{{ 'COMMON.BankTerminal' | translate }}</div>
      <div class="col-3 text-right">
        <strong>{{settlementData?.BankTerminal | amountConverter:locale}}</strong>
      </div>
    </div>
    <div class="no-gutters d-flex mb-2">
      <div class="col">{{ 'COMMON.GiftCard' | translate }}</div>
      <div class="col-3 text-right">
        <strong>{{settlementData?.GiftCard | amountConverter:locale}}</strong>
      </div>
    </div>
    <div class="no-gutters d-flex mb-2">
      <div class="col">{{ 'COMMON.OnAccount' | translate }}</div>
      <div class="col-3 text-right">
        <strong>{{settlementData?.OnAccount | amountConverter:locale}}</strong>
      </div>
    </div>
    <div class="no-gutters d-flex mb-2">
      <div class="col">{{ 'COMMON.NextOrderS' | translate }}</div>
      <div class="col-3 text-right">
        <strong>{{settlementData?.NextOrder | amountConverter:locale}}</strong>
      </div>
    </div>
    <div class="no-gutters d-flex mb-2">
      <div class="col">{{ 'COMMON.InvoiceS' | translate }}</div>
      <div class="col-3 text-right">
        <strong>{{settlementData?.Invoice | amountConverter:locale}}</strong>
      </div>
    </div>
  </div>
  <div class="col-4 no-gutters">
    <div class="no-gutters d-flex mb-2">
      <div class="col">{{ 'COMMON.ShopReturnS' | translate }}</div>
      <div class="col-3 text-right">
        <strong>{{settlementData?.ShopReturn | amountConverter:locale}}</strong>
      </div>
    </div>
    <div class="no-gutters d-flex mb-2">
      <div class="col">{{ 'COMMON.CashWithdrawalS' | translate }}</div>
      <div class="col-3 text-right">
        <strong>{{settlementData?.CashWithdrawl | amountConverter:locale}}</strong>
      </div>
    </div>
    <div class="no-gutters d-flex mb-2">
      <div class="col">{{ 'COMMON.PettyCashS' | translate }}</div>
      <div class="col-3 text-right">
        <strong>{{settlementData?.PettyCash | amountConverter:locale}}</strong>
      </div>
    </div>
    <div class="no-gutters d-flex mb-2">
      <div class="col">{{ 'COMMON.CashReturn' | translate }}</div>
      <div class="col-3 text-right">
        <strong>{{settlementData?.CashReturn | amountConverter:locale}}</strong>
      </div>
    </div>
  </div>
  <div class="col-4 no-gutters">
    <div class="no-gutters d-flex mb-2">
      <div class="col">{{ 'COMMON.ExchangeS' | translate }}</div>
      <div class="col-3 text-right">
        <strong>{{settlementData?.Exchange | amountConverter:locale}}</strong>
      </div>
    </div>
    <div class="no-gutters d-flex mb-2">
      <div class="col">{{ 'COMMON.CashIn' | translate }}</div>
      <div class="col-3 text-right">
        <strong>{{settlementData?.Cash | amountConverter:locale}}</strong>
      </div>
    </div>
    <div class="no-gutters d-flex mb-2">
      <div class="col">{{ 'COMMON.CashOut' | translate }}</div>
      <div class="col-3 text-right">
        <strong>{{settlementData?.CashOut | amountConverter:locale}}</strong>
      </div>
    </div>
    <div class="form-group no-gutters d-flex mb-2">
      <div class="col">{{ 'COMMON.CountedCashS' | translate }}</div>
      <us-amount-input class="col-3 text-right" [(ngModel)]="countedCash" (ngModelChange)="changeCountedCase($event)"></us-amount-input>
    </div>
  </div>

</div>
<hr>
<div class="d-flex align-items-start">
  <div class="col-4 no-gutters">
    <div class="no-gutters d-flex align-items-center mb-2">
      <div class="col">
        <strong  class="mt-2">{{ 'COMMON.TotalReceivedS' | translate }}</strong>
      </div>
      <div class="col text-right">
        <strong class="text-lg">{{settlementData?.Received | amountConverter:locale}}</strong>
      </div>
    </div>
  </div>
  <div class="col-4 no-gutters">
    <div class="no-gutters d-flex align-items-center mb-2">
      <div class="col">
        <strong class="mt-2">{{ 'COMMON.TotalPaymentS' | translate }}</strong>
      </div>
      <div class="col text-right">
        <strong class="text-lg">{{settlementData?.TotalPayments | amountConverter:locale}}</strong>
      </div>
    </div>
  </div>
  <div class="col-4 no-gutters">
    <div class="no-gutters d-flex align-items-center mb-2">
      <div class="col">
        <strong  class="mt-2">{{ 'COMMON.DeviationS' | translate }}</strong>
      </div>
      <div class="col text-right">
        <strong class="text-lg">{{settlementData?.Deviation | amountConverter:locale}}</strong>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <us-icon-button class="mr-1" (click)="generateDailySettlement()" [iconClass]="'icon-shop-generate-confirm'" [labelText]="'COMMON.Confirm' | translate "></us-icon-button>
  <us-icon-button class="mr-1" (click)="printDailySettlement()" [iconClass]="'icon-print'" [labelText]="'COMMON.Print' | translate"></us-icon-button>
</div>

<ng-template #Pdfwindow let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{PDF}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
    <div class="modal-body">
        <iframe #pdf [src]='safeURL' height="800px" width="100%"></iframe>
        <br>
      <span>
        <button class="btn btn-primary ml-2 cursor-hand" type="button" (click)="PrintPDF()"  >Print </button>
        <button class="btn btn-primary ml-2 cursor-hand" type="button" (click)="SavePDF()"  >Save </button>
      </span>
    </div>
</ng-template>
