%table-header-fixed-scroller {
    display: flex;
    flex-flow: column;
    width: 100%;
    tbody {
        display: block;
        overflow-y: scroll;
        flex: 1 1 auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    thead {
        width: calc( 100% - 1.3em);
    }
  }



:host.w-25 {
    width: 29.2% !important;
}

:host {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

:host .mc-header {
    position: relative;
}

// styles added by UnicornHJA  Fixing text overlap issue
:host .checkbox-position {
    position: absolute;
    top: -31px;
    margin-left: 160px;
}

:host .disabled-overlay {
    background-color: #fff;
    position: absolute;
    z-index: 99999;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    opacity: 0.5;
}

:host .scroll-content {
    display: block;
    overflow: auto;
    height: calc(100vh - 200px);
    width: 100%;
    margin-bottom: 10px;
}

:host /deep/ .table-default {
    height: 200px;
    @extend %table-header-fixed-scroller;
}

.dis-category-table {
    ::ng-deep .table-default {
        height: 200px;
        @extend %table-header-fixed-scroller;
    }
}
.sponsored-mem-table {
    ::ng-deep .table-default {
        height: calc(100vh - 200px);
        @extend %table-header-fixed-scroller;
    }
}
