<form [formGroup]="sponsorSettingForm" (keydown.enter)="$event.preventDefault()">
  <div class="scroll-content">
  <div class="d-flex no-gutters w-100">
      <label class="custom-control custom-checkbox checkbox-inline  ml-2">
          <input type="checkbox" class="custom-control-input" (change)="isSponsorChange($event)" [checked]="isSponsor" >
          <!-- (change)="checked ? isSponsor = true : isSponsor = false" [checked]="isSponsor" [value]="isSponsor"-->
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{'MEMBERSHIP.IsSponsor' | translate }}</span>
      </label>
  </div>
  <div class="d-flex no-gutters w-100" #content>
    <div class="col-3 mr-2">
      <div class="d-flex no-gutters mb-1">
        <div class="col mr-1">
          <label>{{ 'MEMBERSHIP.StartDate' | translate }}</label>
          <us-date-picker [disabled]="!isSponsor" class="w-100"  name="startDate" #startDate formControlName="startDate" [locale]="'COMMON.Locale'| translate"
          us-error [errorMsg]="formErrors.startDate" [displayError]="(inputFormSubmitted && !sponsorSettingForm.get('startDate').valid)"
        placement="top" container="view">
          </us-date-picker>
        </div>
        <div class="col ml-1">
          <label>{{ 'MEMBERSHIP.EndDate' | translate }}</label>
          <us-date-picker [disabled]="!isSponsor" class="w-100"  name="endDate" #endDate formControlName="endDate" [locale]="'COMMON.Locale'| translate"
          us-error [errorMsg]="formErrors.endDate" [displayError]="(inputFormSubmitted && !sponsorSettingForm.get('endDate').valid)"
        placement="top" container="view">
          </us-date-picker>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.SponsorDivergentTime' | translate }}</label>
        <input #SponsorDueDay type="text" formControlName="sponsorDueDay" class="form-control" (blur)="saveTempForm(sponsorSettingForm.value, $event)"
        us-error [errorMsg]="formErrors.sponsorDueDay" [displayError]="(inputFormSubmitted && !sponsorSettingForm.get('sponsorDueDay').valid)"
        placement="top" container="view">
      </div>
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.InvoiceText' | translate }}</label>
        <textarea #InvoiceText type="text" formControlName="invoiceText" class="form-control" (blur)="saveTempForm(sponsorSettingForm.value, $event)"></textarea>
      </div>
      <label class="custom-control custom-checkbox checkbox-inline w-100">
        <input #OrderRegardless type="checkbox" formControlName="isSponsorWithoutVist" class="custom-control-input" (change)="saveTempForm(sponsorSettingForm.value, $event)">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{ 'MEMBERSHIP.OrderRegardless' | translate }}</span>
      </label>
      <label class="custom-control custom-checkbox checkbox-inline w-100">
        <input #IsEmailInvoice type="checkbox" formControlName="isEmailInvoice"  class="custom-control-input" (change)="saveTempForm(sponsorSettingForm.value, $event)">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{ 'MEMBERSHIP.IsEmailInvoice' | translate }}</span>
      </label>
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.LastSponsoredMembers' | translate }}</label>
        <input #LastSponsoredMembers type="text" formControlName="lastSponsoredMembersCount" class="form-control" (blur)="saveTempForm(sponsorSettingForm.value, $event)">
      </div>
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.SponsoredMembers' | translate }}</label>
        <div class="input-group">
          <input #SponsoredMembers type="text" class="form-control w-25" formControlName="sponsoredMembersCount" placeholder="0" (blur)="saveTempForm(sponsorSettingForm.value, $event)" disabled>
          <button #selectSponsoredMembersBtn type="button" class="btn btn-primary" value="" (click)="selectSponsoredMembers(selectSponsoredMembersModal)">{{ 'MEMBERSHIP.Select' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex">
        <label>{{ 'MEMBERSHIP.DiscountCategory' | translate }}</label>
        <div class="ml-auto">
          <div class="input-group input-group-sm">
            <label class=mr-1>{{ 'MEMBERSHIP.DiscountCategoryTempl' | translate }}:</label>
            <input type="text" formControlName="discountCategoryName" class="form-control form-control-sm mr-1 w-25" disabled>
            <button #Select class="btn btn-primary btn-sm mr-1" (click)="selectDisCategory(selectDisCategoryModal)">{{ 'MEMBERSHIP.Select' | translate }}</button>
            <button #Add class="btn btn-primary btn-sm" [disabled]="!IsAddDiscountCategoryVisible" (click)="addSponsorDiscount()">{{ 'MEMBERSHIP.Add' | translate }}</button>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <table class="table table-sm table-hover table-default mt-1 mb-2">
          <thead class="thead-primary">
            <tr>
              <th>{{ 'MEMBERSHIP.DiscountName' | translate }}</th>
              <th>{{ 'MEMBERSHIP.MinMembers' | translate }}</th>
              <th class="text-right">{{ 'MEMBERSHIP.HighAmount' | translate }}</th>
              <th class="text-right">{{ 'MEMBERSHIP.HighPercentage' | translate }}</th>
              <th class="text-right">{{ 'MEMBERSHIP.LowAmount' | translate }}</th>
              <th class="text-right">{{ 'MEMBERSHIP.LowPercentage' | translate }}</th>
              <th style="width: 40px;"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let discount of sponsorDiscountList">
              <td>
                <input type="text" class="form-control form-control-sm" (change)="nameChanged($event.target.value, discount)" value="{{discount.GroupDiscountName}}">
              </td>
              <td>
                <input type="text" class="form-control form-control-sm" (change)="minMemberNoChanged($event.target.value, discount)"
                  value="{{discount.MinMemberNo}}">
              </td>
              <td>
                <input type="text" class="form-control form-control-sm text-right" (change)="highAmountChanged($event.target.value, discount)"
                  value="{{discount.HighAmount | amountConverter:locale}}">
              </td>
              <td>
                <input type="text" class="form-control form-control-sm text-right" (change)="highPercentageChanged($event.target.value, discount)"
                  value="{{discount.HighPercentage | amountConverter:locale}}">
              </td>
              <td>
                <input type="text" class="form-control form-control-sm text-right" (change)="lowAmountChanged($event.target.value, discount)"
                  value="{{discount.LowAmount | amountConverter:locale}}">
              </td>
              <td>
                <input type="text" class="form-control form-control-sm  text-right" (change)="lowPercentageChanged($event.target.value, discount)" value="{{discount.LowPercentage | amountConverter:locale}}">
              </td>
              <td style="width: 40px;">
                <button class="btn btn-danger btn-icon-min" title="{{ 'MEMBERSHIP.Delete' | translate }}" (click)="deleteDiscountCategory(discount)">
                  <span class="icon-cancel"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-start no-gutters">
        <div class="col-3 mr-2">
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.MinVisitsForDiscount' | translate }}</label>
            <input #minVisits formControlName="minVisits" class="form-control" type="text" (blur)="saveTempForm(sponsorSettingForm.value, $event)">
          </div>
        </div>
        <div class="col-3 mr-2">
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.MinAmountAfterDiscount' | translate }}</label>
            <us-amount-input [disabled]="!isSponsor" formControlName='minAmountAfterDiscount' type="text" (valueBlur)="saveUSAmountForm(sponsorSettingForm.value, 'minAmountAfterDiscount')"></us-amount-input >
          </div>
        </div>
        <div class="col-3 mr-2">
          <div class="form-group">
            <label>{{ 'MEMBERSHIP.SponsorCode' | translate }}</label>
            <input #SponsorCode formControlName="pinCode" class="form-control" type="text" (blur)="saveTempForm(sponsorSettingForm.value, $event)">
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-start no-gutters">
        <div class="col-3 mr-2">
          <label class="custom-control custom-checkbox checkbox-inline w-100">
            <input #isDisplayVisitNo type="checkbox" class="custom-control-input" formControlName="isDisplayVisitNo" (change)="saveTempForm(sponsorSettingForm.value, $event)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'MEMBERSHIP.TxtDisplayVisit' | translate }}</span>
          </label>
        </div>
        <div class="col-3 mr-2">
          <label class="custom-control custom-checkbox checkbox-inline w-100">
            <input #isDisplayRemain type="checkbox" class="custom-control-input" formControlName="isDisplayRemain" (change)="saveTempForm(sponsorSettingForm.value, $event)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'MEMBERSHIP.TxtDisplayRemain' | translate }}</span>
          </label>
        </div>
        <div class="col-3 mr-2">
          <div class="input-group">
            <label class="mr-2">{{ 'MEMBERSHIP.InvoicingPeriod' | translate }}</label>
            <input #invoicingPeriod formControlName="invoicingPeriod" class="form-control w-25" type="text" (blur)="saveTempForm(sponsorSettingForm.value, $event)">
          </div>
        </div>
      </div>
      <div class="d-flex no-gutters my-2">
        <div class="input-group">
          <label class="mr-5">{{ 'MEMBERSHIP.EnrollmentFee' | translate }}
          </label>
          <label class="custom-control custom-radio mr-2 cursor-hand">
            <input #enrollmentFee id="radio2" formControlName="enrollmentFee" type="radio" class="custom-control-input" [checked]="sponsorSetting?.EnrollmentFeePayer  === 0"
              [(ngModel)]="enrollmentFeePayer" value="0" (change)="checkRadioButton($event.target.value, sponsorSettingForm.value)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'MEMBERSHIP.none' | translate }}</span>
          </label>
          <label class="custom-control custom-radio mr-2 cursor-hand">
            <input #enrollmentFee2 id="radio2" formControlName="enrollmentFee" type="radio" class="custom-control-input" [checked]="sponsorSetting?.EnrollmentFeePayer  === 2"
              [(ngModel)]="enrollmentFeePayer"  value="2" (change)="checkRadioButton($event.target.value, sponsorSettingForm.value)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'MEMBERSHIP.SponsorId' | translate }}</span>
          </label>
          <label class="custom-control custom-radio mr-2 cursor-hand">
            <input #enrollmentFee3 id="radio2" formControlName="enrollmentFee" type="radio" class="custom-control-input" [checked]="sponsorSetting?.EnrollmentFeePayer  === 1"
              [(ngModel)]="enrollmentFeePayer"  value="1" (change)="checkRadioButton($event.target.value, sponsorSettingForm.value)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'MEMBERSHIP.MemberPaid' | translate }}</span>
          </label>
        </div>
      </div>
      <div class="d-flex no-gutters mt-2">
        <label>{{ 'MEMBERSHIP.EmployeeCategoryC' | translate }}</label>
        <div class="ml-auto">
          <button #addSponsorLevel class="btn btn-primary btn-sm" (click)="addSponsorLevelToView()">{{ 'MEMBERSHIP.Add' | translate }}</button>
        </div>
      </div>
      <div class="d-flex">
        <table class="table table-sm table-hover table-default mt-1">
          <thead class="thead-primary">
            <tr>
              <th>{{ 'MEMBERSHIP.LevelName' | translate }}</th>
              <th class="text-right">{{ 'MEMBERSHIP.MonthlyAmount' | translate }}</th>
              <th class="text-right">{{ 'MEMBERSHIP.SponsoringPercentage' | translate }}</th>
              <th class="text-right">{{ 'MEMBERSHIP.VisitAmount' | translate }}</th>
              <th >{{ 'MEMBERSHIP.MinVisits' | translate }}</th>
              <th style="width: 40px;"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let level of sponsorLevelList | slice:1"> <!-- Skip the first element, is it ALWAYS will be the defaultCategoryValue, enforced in the GetSponsorLevel procedure-->
              <td>
                <input type="text" class="form-control form-control-sm" (change)="levelNameChanged($event.target.value, level)" value="{{level.LevelName}}">
              </td>
              <td>
                <input type="text" class="form-control form-control-sm text-right" (change)="onMonthlyAmountChanged($event.target.value, level)"
                  value="{{level.MonthlyAmount | amountConverter:locale}}">
              </td>
              <td>
                <input type="text" class="form-control form-control-sm text-right" (change)="sponsoringPercentageChanged($event.target.value, level)"
                  value="{{level.SponsoringPercentage | amountConverter:locale}}">
              </td>
              <td>
                <input type="text" class="form-control form-control-sm text-right" (change)="amountPerVisitChanged($event.target.value, level)"
                  value="{{level.AmountPerVisit | amountConverter:locale}}">
              </td>
              <td>
                <input type="text" class="form-control form-control-sm" (change)="minVisitsChanged($event.target.value, level)"
                  value="{{level.MinVisits}}">
              </td>
              <td style="width: 40px;">
                <button class="btn btn-danger btn-icon-min" title="{{ 'MEMBERSHIP.Delete' | translate }}" (click)="deleteEmployeeCategory(level)">
                  <span class="icon-cancel"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</form>

<div class="d-flex">
  <us-icon-button appDebounceClick (debounceClick)="saveSponsoring(sponsorSettingForm.value)" [debounceTime]="700"  [iconClass]="'icon-done'" [isDisabled]="!changeMade" [labelText]="'MEMBERSHIP.Save' | translate" ></us-icon-button>
  <us-icon-button class="ml-1" [isDisabled]="!changeMade" [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Reset' | translate" (click)="cancelChanges()"></us-icon-button>
  <us-icon-button class="ml-1" [iconClass]="'icon-home'" [labelText]="'MEMBERSHIP.Home' | translate" (click)="backToInfoWithNotes()">  </us-icon-button>
</div>

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"
[information]="message" >
</exce-fade-in-n-out>
<!-- <div class="disabled-overlay">

</div> -->
<!-- ************************************* select Discount Category ********************************* -->

<ng-template #selectDisCategoryModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.SelectDiscountCategory' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="dis-category-table">
        <table class="table table-sm table-hover table-default ">
            <thead class="thead-primary">
              <tr>
                <th style="width: 40px"></th>
                <th>{{ 'MEMBERSHIP.Id' | translate }}</th>
                <th>{{ 'MEMBERSHIP.Name' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of discountCategoryList" (dblclick)="categorySelected(category)">
                <td>{{category.Id}}</td>
                <td>{{category.Name}}</td>
              </tr>
            </tbody>
          </table>
    </div>

  </div>
  <div class="modal-footer">
    <!-- <us-icon-button [iconClass]="'icon-done'" [labelText]="'OK'" (click)="getSelectedDiscountCategory(); c('Close click')"></us-icon-button> -->
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'CANCEL' | translate " (click)="c('Close click')"></us-icon-button>
  </div>
</ng-template>

<!-- ********************************* Sponsored Member Modal ********************************** -->

<ng-template #selectSponsoredMembersModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.SponsoredMemberTitle' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <form [formGroup]="sponsoredMembersForm"> -->
      <div class="d-flex justify-content-start">
        <div class="col-3  p-0 mr-2 ">
          <div class="input-group default-input-group ">
            <input type="text" class="form-control">
            <button class="btn btn-primary btn-icon" type="button">
              <span class="icon-search"></span>
            </button>
          </div>
        </div>
        <select class="custom-select col-2" >
          <option>{{ 'MEMBERSHIP.CurrentC' | translate }}</option>
          <option>{{ 'MEMBERSHIP.FormerC' | translate }}</option>
          <option>{{ 'MEMBERSHIP.AllC' | translate }}</option>
        </select>
        <div class="ml-auto">
          <us-icon-button (click)="newMemberModal(newMemberModalView,'ALLMEMANDCOM')" [iconClass]="'icon-add'" [labelText]="'MEMBERSHIP.AddNew' | translate "></us-icon-button>
        </div>
      </div>
      <div class="sponsored-mem-table">
        <table class="table table-sm table-hover table-default  my-1">
          <thead class="thead-primary">
            <tr>
              <th>{{ 'MEMBERSHIP.MemberName' | translate }}</th>
              <th>{{ 'MEMBERSHIP.MemberNo' | translate }}</th>
              <th>{{ 'MEMBERSHIP.crSponsorCat' | translate }}</th>
              <th>{{ 'MEMBERSHIP.StartDate' | translate }}</th>
              <th>{{ 'MEMBERSHIP.EndDate' | translate }}</th>
              <th>{{ 'MEMBERSHIP.GymName' | translate }}</th>
              <th style="width: 40px;"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of sponsoredMemberList; let i = index">
              <td>{{member.MemberName}}</td>
              <td>{{member.MemberNo}}</td>
              <td>
              <select class="custom-select" style="min-width: 150px" [(ngModel)]="sponsoredMemberList[i].SponsoredLevel">
                  <option *ngFor="let level of sponsorLevelList" [ngValue]="level">
                    {{level.LevelName}}
                  </option>
              </select>
              </td>
              <td>
                <us-date-picker style="width: 200px;" [selDate]="member.StartDate" #sponsoredMemberStartDate  [locale]="'COMMON.Locale'| translate"
                  [options]="startDatePickerOptions" (dateChanged)="startDateChange($event, sponsoredMemberStartDate, i)">
                </us-date-picker>
              </td>
              <td>
                <us-date-picker style="width: 200px;"  [selDate]="member.EndDate" #sponsoredMemberEndDate [locale]="'COMMON.Locale'| translate"
                [options]="endDatePickerOptions" (dateChanged)="endDateChange($event, i)">
              </us-date-picker>
              </td>
              <td>{{member.BranchName}}</td>
              <td style="width: 40px;">
                <button class="btn btn-danger btn-icon-min"  title="{{ 'MEMBERSHIP.Delete' | translate }}" (click)="deleteSelectedSponsoredMember(member)">
                  <span class="icon-cancel"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <!-- </form> -->
  </div>
  <div class="modal-footer pt-0">
    <us-icon-button [iconClass]="'icon-done'" (click)="selectSPMembersOk()" labelText="{{ 'MEMBERSHIP.Ok' | translate }}"></us-icon-button>
    <!--<us-icon-button [iconClass]="'icon-cancel'" (click)="selectSPMembersCancel()" labelText="{{ 'MEMBERSHIP.Cancel' | translate }}"
      (click)="c('Close click')"></us-icon-button> -->
  </div>
</ng-template>

<!-- ******************************************** Member Selection **************************************** -->

<ng-template #newMemberModalView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ entitySelectionViewTitle }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItems)="selectedRowItems($event)" [multipleSelect]="true"
      [itemList]="members" [auotocompleteItems]="auotocompleteItems" [columns]="columns" [itemcount]="itemCount" [isDisabledRole]="false"
      [defaultRole]="'ALL'" [entitySelectionType]="MEM" [isDbPagination]="true" [isBranchVisible]="true" [isStatusVisible]="true"
      [isRoleVisible]="true" [IsAddVisible]="false" [isBasicInforVisible]="false" (closeViewEvent)="closeMemberSelectionView()">
    </exce-entityselection> -->
    <exce-memberlist [allowMultipleSelect]="true" (closeViewEvent)="closeMemberSelectionView()" (membersSelected)="selectedRowItems($event)">
    </exce-memberlist>
  </div>
  <exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"
[information]="message" >
</exce-fade-in-n-out>
</ng-template>
