%table-header-fixed-scroller {
    display: flex;
    flex-flow: column;
    width: 100%;
    tbody {
        display: block;
        overflow-y: scroll;
        flex: 1 1 auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        cursor: pointer;
    }
    thead {
        width: calc( 100% - 1.3em);
    }
  }

  :host /deep/ .fc-widget-content .fc-scroller {
    height: calc(100vh - 221px) !important;
    overflow-y: scroll !important;
    overflow-x: scroll !important;
}

  .sel-arrival-table{
    ::ng-deep .table-default {
        height: 200px;
        @extend %table-header-fixed-scroller;
      }
  }


    :host /deep/ .fc-agendaDay-view {
        height: calc(100vh - 221px) !important;
        // overflow-y: hidden !important;
        // overflow-x: scroll !important;
    }

    .custom-select{
      cursor: pointer;
    }

.grid{
  width: 100%;
  height: 300px;
}
