
<div class="d-flex px-1">

  <div class="form-group mr-2">
    <label>{{'ADMIN.Category'| translate}}</label>
    <select class="form-control custom-select" (change)="onCategoryChange($event.target.value)">
      <option value="ALL">{{'COMMON.All'| translate}}</option>
      <option *ngFor="let item of categoryList" value="{{item.Code}}">{{item.Name}}</option>
    </select>
  </div>
  <div class="form-group mr-2">
    <label>{{'ADMIN.Resource'| translate}}</label>
    <select class="form-control custom-select" (change)="onResourceChange($event.target.value)">
      <option value="-1">{{'COMMON.All'| translate}}</option>
      <option *ngFor="let item of resourceList" value="{{item.Id}}">{{item.Name}}</option>
    </select>
  </div>

  <div class="mr-3 mt-4">
    <button class="btn btn-primary" (click)="loadPrevResources()" [disabled]="(pageNumber == 1 || isDisablePrev)" >{{'ADMIN.PrevPage'| translate}}</button>
  </div>
  <div class="mt-4">
    <!-- <button  class="btn btn-primary" (click)="loadNextResources()" [disabled]="(filterResourceList.length > (10 * pageNumber))">Next</button> -->
    <button  class="btn btn-primary" (click)="loadNextResources()"  [disabled]="isDisableNext">{{'ADMIN.NextPage'| translate}}</button>
  </div>

</div>



<div class="calendar-tool-bar d-flex justify-content-between p-1" (click)="hideContextMenu()">
  <div class="btn-group mr-2" (click)="onButtonGroupClick($event)">
    <button type="button" (click)="selectDateRange('TODAY', scheduler)" title="{{'CLASS.Today' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-today active"></button>
    <button type="button"  (click)="selectDateRange('DAYVIEW', scheduler)" title="{{'CLASS.DayView' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-day"></button>
    <button type="button" *ngIf="!isVisibleDayOnlyView" (click)="selectDateRange('WEEKVIEW', scheduler)" title="{{'CLASS.WeekView' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-week"></button>
    <button type="button" *ngIf="!isVisibleDayOnlyView" (click)="selectDateRange('MONTHVIEW', scheduler)" title="{{'CLASS.MonthView' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-month"></button>
    <button type="button" (click)="loadResourceView(scheduler)" title="{{'CLASS.WeekPlan' | translate }}" class="btn btn-primary btn-icon-cal icon-calendar-timeline"></button>
  </div>




  <div class="d-flex align-items-center">
    <h5 *ngIf="!isShowTimeDuration" class="text-white mb-0 fw-l">{{calandarDate | date:('COMMON.DateFormat'|translate)}}</h5>
    <h5 *ngIf="isShowTimeDuration" class="text-white mb-0 fw-l">
      {{calandarDateRange.start | date:('COMMON.DateFormat'|translate)}}
      <span class="px-2">{{ 'CLASS.To' | translate }}</span>
      {{calandarDateRange.end | date:('COMMON.DateFormat'|translate)}}
    </h5>
  </div>
  <div>
    <div class="btn-group">
      <button type="button" (click)="loadPriviousDay(scheduler)" class="btn btn-primary btn-icon-cal icon-calendar-backrange"></button>
      <span class="input-group-addon cal-input-group-addon">
        <span class="group-addon-mt">
          <form [formGroup]="dateFilterForm">
            <us-date-picker style="width: 200px;" formControlName="fromDate" [locale]="'COMMON.Locale'| translate" (dateChanged)="onDateChanged($event, scheduler)">
            </us-date-picker>
          </form>
        </span>
      </span>
      <button type="button" (click)="loadNextDay(scheduler)" class="btn btn-primary btn-icon-cal icon-calendar-nextrange"></button>
    </div>
  </div>
</div>



<exce-scheduler #scheduler [events]="events" [header]="false" [allDaySlot]="false" [defaultView]="viewType" [editable]="true"
  [eventLimit]="true" [scrollTime]="scrollTime" [droppable]="true" [slotEventOverlap]="false" [eventRender]="eventRender" [dayRender]="dayRender" (onDayClick)="handleDayClick($event)"
  [resources]="resources" [selectable]="true" [views]="views" [resourceLabelText]="'CLASS.mClasses' | translate" [resourceAreaWidth]="resourceAreaWidth"
  [businessHours]="true" (onDayRightClick)="onRightClick($event)" (onEventRightclick)="onEventRightclick($event)" (onEventClick)="handleEventClick($event)"
  (onBackgroundRightClick)="onBackgroundRightClick($event)" (onEventDrop)="handleOnDrop($event)" (onEventMouseover)="mouseOver($event)" (onEventMouseout)="mouseOut($event)"
  (onRemoveEvent)="removeEventShortcut($event)">
</exce-scheduler>

<div *ngIf="showDeletedMessage">
  <us-contextmenu [x]="contextmenuX" [y]="contextmenuY">
    <a class="dropdown-item cursor-hand">{{ 'ADMIN.SheculeIsDel' | translate }}</a>
  </us-contextmenu>
</div>

<div *ngIf="isShowDayContextMenu">
  <us-contextmenu [x]="contextmenuX" [y]="contextmenuY">
    <a class="dropdown-item cursor-hand" (click)="openAddNewScheduleModel(ScheduleModal)">{{ 'ADMIN.AddNewSchedule' | translate }}</a>
  </us-contextmenu>
</div>

<div *ngIf="isShowBookingContextMenu">
  <us-contextmenu [x]="contextmenuX" [y]="contextmenuY">
    <a class="dropdown-item cursor-hand" (click)="openAddNewBookingModel(BookingModal)">{{ 'ADMIN.NewBooking' | translate }}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item cursor-hand" (click)="openUnAvailableModel(UnavailableModal)">{{ 'ADMIN.NotAvailable' | translate }}</a>
  </us-contextmenu>
</div>

<div *ngIf="isShowUnAvailableContextMenu">
  <us-contextmenu [x]="contextmenuX" [y]="contextmenuY">
    <a class="dropdown-item cursor-hand" (click)="availableEvent()">{{ 'ADMIN.Available' | translate }}</a>
  </us-contextmenu>
</div>

<div *ngIf="isShowEventContextMenu">
  <us-contextmenu [x]="eventontextmenuX" [y]="eventContextmenuY">
    <a class="dropdown-item cursor-hand" (click)="bookingEditEvent(BookingModal)">{{ 'ADMIN.Edit' | translate }}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item cursor-hand" (click)="bookingCancelEvent(BookingCancelModel)">{{ 'ADMIN.Delete' | translate }}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item cursor-hand" (click)="bookingCategorySelectEvent(selectCategoryModel)">{{ 'ADMIN.BookingCategory' | translate }}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item cursor-hand" (click)="bookingArrivedEvent(selectArrivedModel)">{{ 'ADMIN.Arrived' | translate }}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item cursor-hand" (click)="bookingCheckOutEvent(selectCheckOutModel, shopHomeModel)">{{ 'ADMIN.CheckOut' | translate }}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item cursor-hand" (click)="bookingSmsReminderEvent(BookingModal)">{{ 'ADMIN.ActivitySettingSMSReminder' | translate }}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item cursor-hand" (click)="bookingSmsFreeTextEvent(SmsFreeTextModel)">{{ 'ADMIN.SmsFreeText' | translate }}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item cursor-hand" (click)="bookingSwitchResourceEvent(SwitchResourceModel)">{{ 'ADMIN.SwitchResources' | translate }}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item cursor-hand" (click)="bookingOpenCustomerCardEvent()">{{ 'ADMIN.CustomerCard' | translate }}</a>
  </us-contextmenu>
</div>

<ng-template #BookingModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ selectedResource.title }}: {{ 'ADMIN.' + bookingType | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
  <add-booking (saveBookingEvent)="saveBooking($event)" (cancelBookingEvent)="closeBookingEvent()" [bookingType]="bookingType" [activeTimeDetail]="activeTimeDetail" [isMemberSelected]="true"
  [activityUnAvelabelList]="selectedActivitityUnAvelableList" [unAvelabelList]="selectedUnAvelabelList" [resScheduleItem]="selectedResScheduleItem"
  [bookingList]="selectedBookingList">
  </add-booking>
  </div>
</ng-template>

<ng-template #ScheduleModal let-c="close" let-d="dismiss">
    <form [formGroup]="scheduleForm">
        <div class="modal-header">
            <span class="modal-title">{{ selectedResource.title }}: {{'ADMIN.NewSchedule' | translate}}</span>
            <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true" class="icon-close"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="d-flex no-gutters">
              <div class="col-3 mr-2">
                <div class="form-group">
                  <label>{{'ADMIN.StartDate' | translate}}</label>
                  <div class="input-group">
                    <us-date-picker class="w-100" [locale]="'COMMON.Locale'| translate" formControlName='StartDate'></us-date-picker>
                  </div>
                </div>
                <div class="form-group">
                  <label>{{'ADMIN.FromTime' |translate}}</label>
                  <us-time-picker formControlName='StartTime'></us-time-picker>
                </div>
              </div>
              <div class="col-3 mr-2">
                <div class="form-group">
                  <label>{{'ADMIN.EndDate' | translate}}</label>
                  <div class="input-group">
                    <us-date-picker class="w-100" [locale]="'COMMON.Locale'| translate" formControlName='EndDate'></us-date-picker>
                  </div>
                </div>
                <div class="form-group">
                  <label>{{'ADMIN.ToTime' |translate}}</label>
                  <us-time-picker formControlName='EndTime'></us-time-picker>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>{{ 'ADMIN.SelectEmployee' | translate }}</label>
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName='EmpName'>
                    <button class="btn btn-primary" type="button" (click)="entitySelection(entitySelectionTemplate, 'EMP')">{{ 'ADMIN.Select' | translate }}</button>
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'ADMIN.AdditionalResource' | translate }}</label>
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName='ResourcesName'>
                    <button class="btn btn-primary" type="button" (click)="entitySelection(entitySelectionTemplate, 'RES')">{{ 'ADMIN.Select' | translate }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer pt-0">
            <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate " (click)="saveSchedule(scheduleForm.value)"></us-icon-button>
            <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate "></us-icon-button>
        </div>
    </form>
</ng-template>

<ng-template #UnavailableModal let-c="close" let-d="dismiss">
    <form [formGroup]="unAvailableForm">
  <div class="modal-header">
    <span class="modal-title ml-1">{{ 'ADMIN.UnavailabelTime' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex no-gutters">
    <div class="col px-0 mr-2">
        <div class="form-group">
            <label>{{'ADMIN.ToTime' |translate}}</label>
            <us-time-picker formControlName='StartTime'></us-time-picker>
          </div>
    </div>
    <div class="col px-0">
        <div class="form-group">
            <label>{{'ADMIN.EndTime' |translate}}</label>
            <us-time-picker formControlName='EndTime'></us-time-picker>
          </div>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <us-icon-button [iconClass]="'icon-done'" (click)="saveUnavailableTime(unAvailableForm.value)" [labelText]="'ADMIN.Save' | translate "></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate "></us-icon-button>
</div>
</form>
</ng-template>

<ng-template #selectCategoryModel let-c="close" let-d="dismiss">
  <div class="modal-header">
      <span class="modal-title">{{ 'ADMIN.CategorySelectionC' | translate }}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true" class="icon-close"></span>
      </button>
  </div>
  <div class="modal-body">
      <!-- REPLACE WITH AG-GRID
        <us-data-table class="sel-arrival-table" [pagination]="false" [items]="bookingCategoryList" (rowDoubleClick)="bookingCategoryRowDoubleClick($event.row.item)">

          <data-table-column [property]="'Name'" [header]="'MEMBERSHIP.Name' | translate">
          </data-table-column>
      </us-data-table> -->
  </div>
  <div class="modal-footer pt-0">
      <us-icon-button [iconClass]="'icon-done'" (click)="closeView('CONDITIONS')" [labelText]="'ADMIN.OK' | translate "></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate "></us-icon-button>
  </div>
</ng-template>

<ng-template #selectArrivedModel let-c="close" let-d="dismiss">
  <div class="modal-header">
      <span class="modal-title">{{ 'ADMIN.ExtraResource' | translate }}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true" class="icon-close"></span>
      </button>
  </div>
  <div class="modal-body">
      <!-- REPLACE WITH AG-GRID
        <us-data-table class="sel-arrival-table" [pagination]="false" [items]="notArrivedMembers">
          <data-table-column [property]="''" [header]="''" [sortable]="true" [resizable]="true">
              <ng-template #dataTableCell let-item="item">

                <label class="custom-control custom-checkbox checkbox-inline w-100">
                  <input type="checkbox" class="custom-control-input"  [checked]="item.IsArrived" (change)="item.IsArrived = !item.IsArrived">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description"></span>
                </label>
              </ng-template>
            </data-table-column>
        <data-table-column [property]="'CustId'" [header]="'Number'">
        </data-table-column>
          <data-table-column [property]="'Name'" [header]="'MEMBERSHIP.Name' | translate">
          </data-table-column>
      </us-data-table> -->
  </div>
  <div class="modal-footer pt-0">
      <us-icon-button [iconClass]="'icon-done'" (click)="arrivedMemberSelect()" [labelText]="'ADMIN.OK' | translate "></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate "></us-icon-button>
  </div>
</ng-template>


<ng-template #SmsFreeTextModel let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">Sms</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <label>Text</label>
        <textarea type="text" rows="5" class="form-control w-100 mt-1" [(ngModel)]="smsFreeText"></textarea>
    </div>
    <div class="modal-footer pt-0">
        <us-icon-button [iconClass]="'icon-done'" (click)="sendSmsFreetext()" [labelText]="'ADMIN.OK' | translate "></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate "></us-icon-button>
    </div>
</ng-template>


  <ng-template #SwitchResourceModel let-c="close" let-d="dismiss">
      <form [formGroup]="switchResourceForm">
    <div class="modal-header">
        <span class="modal-title">{{ selectedResource.title }}: {{ 'ADMIN.SwitchResources' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="closesaveResourceChange()">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
      <div class="d-flex no-gutters">
        <div class="col">
          <div class="form-group">
              <label> {{ 'ADMIN.Resource' | translate }}
                  <strong class="text-danger">*</strong>
              </label>
              <div class="input-group">
                <input readonly type="text" class="form-control" formControlName="ResourceName">
                <button class="btn btn-primary" (click)="selectSwitchResourceModel(ChangeResource)" type="button">{{ 'ADMIN.Select' | translate }}</button>
              </div>
          </div>
          <div class="form-group">
            <label>{{ 'ADMIN.Comment' | translate }}
                <strong class="text-danger">*</strong>
            </label>
            <textarea formControlName="Comment" class="form-control" rows="3" (change)="resourceChangeTextare($event.target.value)"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer pt-0">
        <us-icon-button [iconClass]="'icon-done'" (click)="saveResourceChange()" [labelText]="'ADMIN.Save' | translate "></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" (click)="closesaveResourceChange()" [labelText]="'ADMIN.Cancel' | translate "></us-icon-button>
    </div>
    </form>
  </ng-template>

  <ng-template #ChangeResource let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">Velg ressurs å bytte til</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <ag-grid-angular
        class="ag-theme-balham grid"
        [rowData]="allResources"
        [columnDefs]="resourceDefs"
        [enableSorting]="true"
        [enableColResize]="true"
        [enableFilter]="false"
        [floatingFilter]="true"
        [suppressCellSelection] ="true"
        [suppressNoRowsOverlay]="true"
        [suppressRowClickSelection]="true"

        (gridReady)="onChooseResourceGridReady($event)"
        (rowDoubleClicked)="selectResourceDblClick($event.data)"

        >
      </ag-grid-angular>
    </div>
    <div class="modal-footer pt-0">
        <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.OK' | translate "></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate " (click)="d('Cross click')"></us-icon-button>
    </div>
</ng-template>

  <ng-template #BookingCancelModel let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{'ADMIN.ConfirmCancelBooking' | translate}}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <label>{{'ADMIN.Comment' | translate}}</label>
        <textarea type="text" rows="5" class="form-control w-100 mt-1" [(ngModel)]="cancelBookingComment"></textarea>
    </div>
    <div class="modal-footer pt-0">
        <us-icon-button [iconClass]="'icon-done'" (click)="cancelBooking()" [labelText]="'ADMIN.OK' | translate "></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" (click)="closeModal()" [labelText]="'ADMIN.Cancel' | translate "></us-icon-button>
    </div>
</ng-template>


<ng-template #selectCheckOutModel let-c="close" let-d="dismiss">
  <div class="modal-header">
      <span class="modal-title">Select Member</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true" class="icon-close"></span>
      </button>
  </div>
  <div class="modal-body">
      <!-- REPLACE WITH AG-GRID
        <us-data-table class="sel-arrival-table" [pagination]="false" [items]="memberSelectedModel">
        <data-table-column [property]="'CustId'" [header]="'Number'">
        </data-table-column>
          <data-table-column [property]="'Name'" [header]="'MEMBERSHIP.Name' | translate">
          </data-table-column>
      </us-data-table> -->
  </div>
  <!-- <div class="modal-footer pt-0">
      <us-icon-button [iconClass]="'icon-done'" (click)="arrivedMemberSelect()" [labelText]="'ADMIN.OK' | translate "></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate "></us-icon-button>
  </div> -->
</ng-template>

<ng-template #shopHomeModel>
  <div class="modal-header">
    <span class="modal-title">{{'MEMBERSHIP.Shop'| translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="closeShop()">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body p-0 shop-modal-vh">
    <!-- <shop-home ></shop-home> -->
    <app-shop-home-layout (closeShop)="closeShopAfterSave($event)"></app-shop-home-layout>
  </div>

</ng-template>

  <!-- **********************************Employee Selection**************************************************************** -->

  <ng-template #entitySelectionTemplate let-c="close" let-d="dismiss">
      <div class="modal-header">
        <span class="modal-title">{{entitySelectionViewTitle}}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

          <span aria-hidden="true" class="icon-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <exce-entityselection (searchEvent)="searchDetail($event)" (selectedItem)="selectedRowItem($event)" (selectedItems)="selectedRowItems($event)"
          [multipleSelect]="false" [itemList]="items" [itemcount]="itemCount" [auotocompleteItems]="auotocompleteItems"
          [columns]="columns" [isDisabledRole]="true" [defaultRole]="defaultRole"
          [entitySelectionType]="entitySelectionType" [isDbPagination]="isDbPagination"
          [isBranchVisible]="false" [isStatusVisible]="false" [isRoleVisible]="false" [isAddBtnVisible]="false" [isBasicInforVisible]="false"
           (closeViewEvent)="closeView()">

        </exce-entityselection>
      </div>
    </ng-template>
