
//  .timeselector>li {
//      display: inline;
//      margin: 0;
//  }

//  .timeselector>li input {
//      width: 30px;
//      border: 0;
//      text-align: center;
//      cursor: pointer;
//  }

//  .time-selector {
//      z-index: 1001;
//      background-clip: padding-box;
//      display: block;
//      position: absolute;
//      font-size: 14px;
//      text-align: left;
//      background-color: #FFF;
//      border: 1px solid rgba(0, 0, 0, .15);
//      border-radius: 4px;
//      margin-top: 5px;
//      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//      height: 300px;
//  }

//  ul {
     
//     //  text-align: center;
//     //  padding: 0;
//     //  margin-top: 10px;
    
      
//  }

//  .time-selector-list-position-bottom::before {
//      content: "";
//      display: inline-block;
//      position: absolute;
//      box-sizing: border-box;
//      border-top: 0;
//      top: -7px;
//      border-bottom: 7px solid #999;
//      border-left: 7px solid transparent;
//      border-right: 7px solid transparent;
//      left: 6px;
//  }

//  .time-selector-list-position-bottom::after {
//      content: "";
//      display: inline-block;
//      position: absolute;
//      box-sizing: border-box;
//      border-top: 0;
//      top: -6px;
//      border-bottom: 6px solid #ffffff;
//      left: 7px;
//      border-left: 6px solid transparent;
//      border-right: 6px solid transparent;
//  }

//  .time-selector-list-position-top::before {
//      content: "";
//      display: inline-block;
//      position: absolute;
//      box-sizing: border-box;
//      border-top: 0;
//      bottom: -7px;
//      border-top: 7px solid #999;
//      border-left: 7px solid transparent;
//      border-right: 7px solid transparent;
//      left: 6px;
//  }

//  .time-selector-list-position-top::after {
//      content: "";
//      display: inline-block;
//      position: absolute;
//      box-sizing: border-box;
//      border-top: 0;
//      bottom: -6px;
//      border-top: 6px solid #ffffff;
//      left: 7px;
//      border-left: 6px solid transparent;
//      border-right: 6px solid transparent;
//  }

//  li:hover {
//      background: #1980EC;
//      color: #fff;
//      cursor: pointer;
//  }