<!-- REPLACE WITH AG-GRID
  <us-data-table [pagination]="false" [items]="selectedContract?.InstalllmentList">
  <data-table-column [property]="'OrderNo'" [header]="'MEMBERSHIP.OrderNo' | translate">
  </data-table-column>
  <data-table-column [property]="'Text'" [header]="'MEMBERSHIP.Text' | translate">
  </data-table-column>
  <data-table-column [property]="'DueDate'" [header]="'MEMBERSHIP.DueDate' | translate">
    <ng-template #dataTableCell let-item="item">
      <span>{{item.DueDate | date:('COMMON.DateFormat'|translate)}}</span>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'ServiceAmount'" [header]="'MEMBERSHIP.ServiceAmount' | translate" [alignment]="'right'">
    <ng-template #dataTableCell let-item="item">
      <span>{{item.ServiceAmount | amountConverter:locale}}</span>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'ItemAmount'" [header]="'MEMBERSHIP.ItemAmount' | translate" [alignment]="'right'">
    <ng-template #dataTableCell let-item="item">
      <span>{{item.ItemAmount | amountConverter:locale}}</span>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'Amount'" [header]="'MEMBERSHIP.OrderAmount' | translate" [alignment]="'right'">
    <ng-template #dataTableCell let-item="item">
      <span>{{item.Amount | amountConverter:locale}}</span>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="''" [header]="'MEMBERSHIP.DateUp' | translate" [width]="95">
    <ng-template #dataTableCell let-item="item">
      <button class="btn btn-primary btn-icon-min" (click)="moveOrdersEvent(item,'UP')" title="{{'MEMBERSHIP.DateUp' | translate}}">
        <span class="icon-move-up"></span>
      </button>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="''" [header]="'MEMBERSHIP.DateDown' | translate" [width]="110">
    <ng-template #dataTableCell let-item="item">
      <button class="btn btn-primary btn-icon-min" (click)="moveOrdersEvent(item,'DOWN')"  title="{{'MEMBERSHIP.DateDown' | translate}}">
        <span class="icon-move-down"></span>
      </button>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="''" [width]="85">
    <ng-template #dataTableCell let-item="item">
      <button class="btn btn-primary btn-icon-min mr-1" (click)="openDetailView(orderDetails,item)" title="{{'MEMBERSHIP.Detail' | translate}}">
        <span class="icon-detail"></span>
      </button> -->
      <!--<button class="btn btn-danger btn-icon-min" (click)="removeOrder(item)" title="{{'MEMBERSHIP.Delete' | translate}}">
        <span class="icon-cancel"></span>
      </button>-->
    <!-- </ng-template>
  </data-table-column>
</us-data-table> -->
<div class="d-flex justify-content-start mt-2">
  <us-icon-button class="mr-1" [iconClass]="'icon-done'" (click)="updateOrders()" [labelText]="'MEMBERSHIP.Save' | translate "></us-icon-button>
  <us-icon-button [iconClass]="'icon-cancel'" (click)="closeoveOrders()" [labelText]="'MEMBERSHIP.Cancel' | translate "></us-icon-button>
</div>

<ng-template #orderDetails let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.OrderDetailsView' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <order-details-view [selectedOrder]="selectedOrder" [buttonsEnabled]="true" [IsViewEnabled]="true" [isaEnableShopOperations]="true"
            (closeOrderDetailModel)="closeOderDetailModal()" (orderUpdateSuccessEvent)="orderUpdateSuccess()"></order-details-view>
    </div>
</ng-template>
