<div class="d-flex">
  <us-icon-button [iconClass]="'icon-add'" [labelText]="'ADMIN.CreateShedule' | translate " (click)="openNewScheduleView(newScheduleView)"></us-icon-button>
</div>

<div class="mt-1">
  <!-- REPLACE WITH AG-GRID
    <us-data-table [items]="selectedResource?.Schedule?.SheduleItemList" [itemCount]="itemCount" (rowDoubleClick)="getSelectedSchedule($event);openNewScheduleViewUpdate(newScheduleView)"
    [pagination]="true">

    <data-table-column [property]="'Day'" header="{{ 'ADMIN.DayC' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'StartTime'" header="{{ 'ADMIN.FromTimeC' | translate }}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.StartTime | date:'HH:mm'}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [property]="'EndTime'" header="{{ 'ADMIN.ToTimeC' | translate }}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.EndTime | date:'HH:mm'}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [property]="'StartDate'" header="{{ 'ADMIN.StartDateC' | translate }}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.StartDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [property]="'EndDate'" header="{{ 'ADMIN.VATCodeLookupEndDateC' | translate }}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.EndDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [property]="'EmpName'" header="{{ 'ADMIN.EditTimeEntriesEmployeeName' | translate }}" [sortable]="true"
      [resizable]="true">
    </data-table-column>

    <data-table-column [width]="40">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-danger btn-icon-min" (click)="deleteScheduleItem(item)">
          <span class="icon-cancel"></span>
        </button>
      </ng-template>
    </data-table-column>

  </us-data-table> -->
</div>

<!-- ********************************************************************************************** -->

<ng-template #newScheduleView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ planTitle | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click'); resetForm()">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <form [formGroup]="scheduleForm">

    <div class="modal-body">
      <div class="d-flex no-gutters">

        <div class="col-3 mr-2">

          <div class="form-group">
            <label>{{'ADMIN.StartDate' | translate}}</label>
            <div class="input-group">
              <us-date-picker class="w-100" [locale]="'COMMON.Locale'| translate" formControlName='StartDate' [options]="{disableUntil: today}"
                (dateChanged)="fromDateChange($event, toDate)">
              </us-date-picker>
            </div>
          </div>

          <div class="form-group">
            <label>{{'ADMIN.FromTime' |translate}}</label>
            <us-time-picker formControlName='StartTime' [config]="{'format' :'MM:mm', 'is24hourFormat':true}" us-error [errorMsg]="formErrors.StartTime" [displayError]="formSubmited && !scheduleForm.get('StartTime').valid"></us-time-picker>
          </div>

          <div class="form-group">
            <label>{{ 'ADMIN.Week' | translate }}</label>
            <select class="custom-select w-100" formControlName='WeekType' [value]="2">
              <option [value]="2">ALL</option>
              <option [value]="1">ODD</option>
              <option [value]="0">EVEN</option>
            </select>
          </div>

          <div class="form-group" *ngIf="!IsUpdate">
            <label>{{ 'ADMIN.Day' | translate }}</label>
            <select class="custom-select w-100" formControlName='Day'>
              <option [value]="'Monday'">{{ 'ADMIN.MONDAY' | translate }}</option>
              <option [value]="'Tuesday'">{{ 'ADMIN.TUESDAY' | translate }}</option>
              <option [value]="'Wednesday'">{{ 'ADMIN.WEDENSDAY' | translate }}</option>
              <option [value]="'Thursday'">{{ 'ADMIN.THURSDAY' | translate }}</option>
              <option [value]="'Friday'">{{ 'ADMIN.FRIDAY' | translate }}</option>
              <option [value]="'Saturday'">{{ 'ADMIN.SATURDAY' | translate }}</option>
              <option [value]="'Sunday'">{{ 'ADMIN.SUNDAY' | translate }}</option>
            </select>
          </div>
        </div>

        <div class="col-3 mr-2">

          <div class="form-group">
            <label>{{'ADMIN.EndDate' | translate}}</label>
            <div class="input-group">
              <!-- <us-date-picker class="w-100" #toDate formControlName='EndDate' [locale]="'COMMON.Locale'| translate" [options]="toDatePickerOptions">
              </us-date-picker> -->

              <us-date-picker class="w-100" #toDate [locale]="'COMMON.Locale'| translate" formControlName='EndDate' [options]="toDatePickerOptions">
              </us-date-picker>
            </div>
          </div>

          <div class="form-group">
            <label>{{'ADMIN.ToTime' |translate}}</label>
            <us-time-picker formControlName='EndTime' [config]="{'format' :'MM:mm', 'is24hourFormat':true}" us-error [errorMsg]="formErrors.EndTime" [displayError]="formSubmited && !scheduleForm.get('EndTime').valid"></us-time-picker>
          </div>

        </div>

        <div class="col">

          <div class="form-group">
            <label>{{ 'ADMIN.SelectEmployee' | translate }}</label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName='EmpName'>
              <button class="btn btn-primary" type="button" (click)="employeeSelectionModal(employeeSelectionTemplate)">{{ 'ADMIN.Select' | translate }}</button>
            </div>
          </div>

          <div class="form-group">
            <label>{{ 'ADMIN.AdditionalResource' | translate }}</label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName='ResourcesName'>
              <button class="btn btn-primary" type="button" (click)="openEntitySelectionView(resourceSelectionTemplate)">{{ 'ADMIN.Select' | translate }}</button>
            </div>
          </div>

        </div>

      </div>

      <div class="form-group" *ngIf="IsUpdate">
        <label>{{'ADMIN.Day' |translate}}</label>
        <div>

          <label class="custom-control custom-checkbox checkbox-inline">
            <input type="checkbox" class="custom-control-input" formControlName='IsMonday' [value]="'Monday'" (change)="selectDay($event)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.MONDAY' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox checkbox-inline">
            <input type="checkbox" class="custom-control-input" formControlName='IsTuesday' [value]="'Tuesday'" (change)="selectDay($event)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.TUESDAY' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox checkbox-inline">
            <input type="checkbox" class="custom-control-input" formControlName='IsWednesday' [value]="'Wednesday'" (change)="selectDay($event)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.WEDENSDAY' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox checkbox-inline">
            <input type="checkbox" class="custom-control-input" formControlName='IsThursday' [value]="'Thursday'" (change)="selectDay($event)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.THURSDAY' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox checkbox-inline">
            <input type="checkbox" class="custom-control-input" formControlName='IsFriday' [value]="'Friday'" (change)="selectDay($event)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.FRIDAY' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox checkbox-inline">
            <input type="checkbox" class="custom-control-input" formControlName='IsSaturday' [value]="'Saturday'" (change)="selectDay($event)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.SATURDAY' | translate }}</span>
          </label>

          <label class="custom-control custom-checkbox checkbox-inline">
            <input type="checkbox" class="custom-control-input" formControlName='IsSunday' [value]="'Sunday'" (change)="selectDay($event)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'ADMIN.SUNDAY' | translate }}</span>
          </label>

        </div>
      </div>
    </div>

  </form>

  <div class="modal-footer">
    <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate" (click)="SaveSchedule(scheduleForm.value)">
    </us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="d('Cross click'); resetForm()"></us-icon-button>
  </div>
</ng-template>

<!-- **********************************Employee Selection**************************************************************** -->

<ng-template #employeeSelectionTemplate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'ADMIN.SelectEmployee' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">

    <exce-entityselection (searchEvent)="searchEmployee($event)" (selectedItem)="selectedEmployee($event)" (selectedItems)="selectedRowItems($event)"
      [multipleSelect]="false" [itemList]="items" [auotocompleteItems]="auotocompleteItemsForEmpSelection" [columns]="columns"
      [itemcount]="itemCount" [defaultRole]="defaultRole" [entitySelectionType]="entitySelectionType" [isDbPagination]="isDbPagination"
      [isBranchVisible]="false" [isStatusVisible]="false" [isRoleVisible]="false" [isDisabledRole]="false" [isAddBtnVisible]="false"
      [isBasicInforVisible]="false" (closeViewEvent)="closeEmployeeSelectionView()">
    </exce-entityselection>

  </div>

</ng-template>


<!-- ************************************Resources Selection**************************************************************** -->

<ng-template #resourceSelectionTemplate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">
      <span class="modal-title">{{'ADMIN.ResourcesSelectionTitle' | translate}}</span>
    </span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">

    <exce-entityselection (searchEvent)="searchDetail($event)" (selectedItem)="selectResource($event)" (closeViewEvent)="c()"
      [showOkButton]="false" [multipleSelect]="false" [itemList]="entityItems" [auotocompleteItems]="auotocompleteItems" [columns]="ResourceColumns"
      [itemcount]="entityItemCount" [isDisabledRole]="true" [entitySelectionType]="entitySearchType" [isDbPagination]="true"
      [isBranchVisible]="false" [isStatusVisible]="false" [isRoleVisible]="false" [isAddBtnVisible]="false" [isBasicInforVisible]="false">
    </exce-entityselection>

  </div>
</ng-template>


<!-- *************************************ScheduleItems************************************************************************************-->


<ng-template #scheduleItems let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">
      <span class="modal-title">{{'COMMON.FutureScheduleItems' | translate}}</span>
    </span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">

    <!-- REPLACE WITH AG-GRID
      <us-data-table [items]="scheduleItemsForScheduleItem" [itemCount]="itemCount" [pagination]="true">

      <data-table-column [property]="'DisplayDay'" header="{{ 'ADMIN.DayC' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>

      <data-table-column [property]="'StartDate'" header="{{ 'ADMIN.StartDateC' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.StartDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
      </data-table-column>

      <data-table-column [property]="'EndDateTime'" header="{{ 'ADMIN.VATCodeLookupEndDateC' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.EndDateTime | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
      </data-table-column>

      <data-table-column [property]="'StartDateTime'" header="{{ 'ADMIN.FromTimeC' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.StartDateTime | date:'HH:mm'}}</span>
        </ng-template>
      </data-table-column>

      <data-table-column [property]="'EndDateTime'" header="{{ 'ADMIN.ToTimeC' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.EndDateTime | date:'HH:mm'}}</span>
        </ng-template>
      </data-table-column>

      <data-table-column [property]="'ArticleName'" header="{{ 'ADMIN.article' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>

      <data-table-column [property]="'members'" header="{{ 'ADMIN.Members' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>

    </us-data-table> -->

  </div>

  <div class="modal-footer">
    <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'ADMIN.DeleteSchedule' | translate" (click)="deleteConfirm()">
    </us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="closeScheduleItems()"></us-icon-button>
  </div>
</ng-template>
