<div class="d-flex justify-content-start w-100">
  <div class="mr-auto col-4 mr-2" >
    <us-icon-button (click)="openShopPayment(shopPaymentModal)" [iconClass]="'icon-add'" labelText="{{'MEMBERSHIP.NewPayment' | translate}}"></us-icon-button>
  </div>
  <div>
    <span>{{'MEMBERSHIP.Balance' | translate}}
      <strong class="ml-2">{{memberShopAccount?.Balance | amountConverter:locale }}</strong>
    </span>
  </div>
</div>

<div class="d-flex no-gutters mb-1">
  <div class="col mr-3">
    <p class="my-1">{{'MEMBERSHIP.CreditListC' | translate}}</p>
    <!-- REPLACE WITH AG-GRID
      <us-data-table [items]="memberShopAccount?.CreditaccountItemList" indexColumnVisible [pagination]="false">
      <data-table-column [property]="'CreatedDateTime'" [header]="'MEMBERSHIP.CreditDate' | translate" [sortable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.CreatedDateTime | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'PayMode'" [header]="'MEMBERSHIP.PHVPaymentType' | translate" [sortable]="true">
      </data-table-column>
      <data-table-column [property]="'PaymentAmount'" [header]="'MEMBERSHIP.Amount' | translate" [sortable]="true" [alignment]="'right'">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.PaymentAmount | amountConverter:locale }}</span>
        </ng-template>
      </data-table-column>
    </us-data-table> -->
    
  </div>
  <div class="col">
    <p class="my-1">{{'MEMBERSHIP.DebitListC' | translate}}</p>
    <!-- REPLACE WITH AG-GRID
      <us-data-table [items]="memberShopAccount?.DebitaccountItemList" indexColumnVisible [pagination]="false">
        <data-table-column [property]="'CreatedDateTime'" [header]="'MEMBERSHIP.PaidDate' | translate" [sortable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.CreatedDateTime | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'InvoiceNo'" [header]="'MEMBERSHIP.InvoiceNo' | translate" [sortable]="true">
        </data-table-column>
        <data-table-column [property]="'PaymentAmount'" [header]="'MEMBERSHIP.Amount' | translate" [sortable]="true" [alignment]="'right'">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.PaymentAmount | amountConverter:locale }}</span>
          </ng-template>
        </data-table-column>
      </us-data-table> -->
    
  </div>
</div>

<us-icon-button [iconClass]="'icon-cancel'" labelText="{{ 'MEMBERSHIP.Cancel' | translate }}" (click)="gotoShopAccount()"></us-icon-button>

<ng-template #shopPaymentModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.Shop' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <shop-payment (closePayment)="closePaymentView()"></shop-payment>
  </div>

</ng-template>