<div class="d-flex justify-content-start px-1">
  <label class="mt-1">{{ 'ADMIN.Activity' | translate }}</label>
  <select class="custom-select ml-1 col-2">
    <option selected value="">All</option>
  </select>
  <div class="ml-auto d-flex">
    <us-icon-button [iconClass]="'icon-add'" [labelText]="'ADMIN.NewAvailableTime' | translate " (click)="openAvailableTime(newAvailableTimeView)"></us-icon-button>
  </div>
</div>

<div class="d-flex justify-content-start px-1 mt-1">
  <!-- REPLACE WITH AG-GRID
    <us-data-table id="" [items]="items" [itemCount]="itemCount" [pagination]="false" [rowTooltip]="rowTooltip" (rowDoubleClick)="rowDoubleClick(newResourceUpdateView)">

    <data-table-column [property]="''" header="{{ 'ADMIN.Resource' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="''" header="{{ 'ADMIN.Day' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="''" header="{{ 'ADMIN.FromTime' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="''" header="{{ 'ADMIN.ToTime' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>

  </us-data-table> -->
</div>

<!-- Addd new Available Time View  -->
<ng-template #newAvailableTimeView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'ADMIN.NewAvailableTime' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body pb-0">
    <div class="d-flex no-gutters">
      <div class="col-3 mr-2">
        <div class="form-group">
          <label>{{'ADMIN.Day' | translate}}</label>
          <select class="custom-select w-100">
            <option selected value="">All</option>
          </select>
        </div>
      </div>
      <div class="col-2 mr-2">
        <div class="form-group">
          <label>{{ 'ADMIN.FromTime' | translate }}</label>
          <us-time-picker formControlName="StartTime" (timeChanged)="inputFieldChanged($event)" [config]="{'format' :'MM:mm', 'is24hourFormat':true}">
          </us-time-picker>
        </div>
      </div>
      <div class="col-2 mr-2">
        <div class="form-group">
          <label>{{ 'ADMIN.ToTime' | translate }}</label>
          <us-time-picker formControlName="StartTime" (timeChanged)="inputFieldChanged($event)" [config]="{'format' :'MM:mm', 'is24hourFormat':true}">
          </us-time-picker>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>{{'ADMIN.Activity' | translate}}</label>
          <select class="custom-select w-100">
            <option selected value="">All</option>
          </select>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-start">
      <label class="mt-1">{{ 'ADMIN.Resource' | translate }}</label>

      <div class="ml-auto d-flex">
        <button class="btn btn-primary">{{ 'ADMIN.Select' | translate }}</button>
      </div>
    </div>
    <div class="d-flex my-1 ">
        <table class="table table-sm table-hover table-default mng-time-rec-tb-scroller">
          <thead class="thead-primary">
            <tr>
              <th>{{ 'ADMIN.Name' | translate }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

  </div>
  <div class="modal-footer">
    <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate"> </us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="c()"></us-icon-button>
  </div>
</ng-template>


<!-- Resource update view  -->
<ng-template #newResourceUpdateView let-c="close" let-d="dismiss">
    <div class="modal-header">
      <span class="modal-title">{{'ADMIN.ResourceUpdate' | translate}}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body ">
      <div class="form-group">
        <label>{{'ADMIN.Resource' | translate}}</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
          <label>{{'ADMIN.Day' | translate}}</label>
          <input type="text" class="form-control">
        </div>
    <div class="d-flex no-gutters">
        <div class="col mr-2">
            <div class="form-group">
              <label>{{ 'ADMIN.FromTime' | translate }}</label>
              <us-time-picker class="d-block w-100" formControlName="StartTime" (timeChanged)="inputFieldChanged($event)" [config]="{'format' :'MM:mm', 'is24hourFormat':true}">
              </us-time-picker>
            </div>
          </div>
          <div class="col ml-2">
            <div class="form-group">
              <label>{{ 'ADMIN.ToTime' | translate }}</label>
              <us-time-picker class="d-block w-100" formControlName="StartTime" (timeChanged)="inputFieldChanged($event)" [config]="{'format' :'MM:mm', 'is24hourFormat':true}">
              </us-time-picker>
            </div>
          </div>
    </div>
    </div>
    <div class="modal-footer">
      <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate"> </us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="c()"></us-icon-button>
    </div>
  </ng-template>