<div class="d-flex no-gutters justify-content-start mb-2">
  <div class="mr-auto col-4 mx-1">
    <h5>{{title | translate}}</h5>
  </div>
  <div class="mx-1">

    <div class="form-inline">
      <label class="custom-control custom-radio">
        <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [checked]="isSponsor" value="sponsor" (change)="changeType($event)">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{'ADMIN.sponsorC' | translate}}</span>
      </label>

      <label class="custom-control custom-radio">
        <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [checked]="isShop" value="shop" (change)="changeType($event)">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{'ADMIN.Shop' | translate}}</span>
      </label>
      <us-icon-button [iconClass]="'icon-add'" [labelText]="'ADMIN.NewDiscount' | translate" (click)="openNewDiscountModal(newDiscount, false)"></us-icon-button>
    </div>
  </div>
</div>

<!-- ***********************************  Tree Table  ****************************************** -->

<div class="d-flex no-gutters mx-1" *ngIf="isSponsor">
  <div class="d-flex report-tb-scroller mt-1 mx-1">

    <us-tree-table [value]="files" [(selection)]="selectedFiles2" (onRowDblclick)="rowDoubleClickGroup(newDiscount,$event)">

      <us-tree-column field="Id" [header]="'ADMIN.ID' | translate">
      </us-tree-column>

      <us-tree-column field="IsActive" [header]="'ADMIN.Active' | translate">
        <ng-template #dataTableCell let-item="item">
          <label class="custom-control custom-checkbox checkbox-inline">
            <input type="checkbox" class="custom-control-input" [checked]="item.IsActive" disabled>
            <span class="custom-control-indicator"></span>
          </label>
        </ng-template>
      </us-tree-column>

      <us-tree-column field="GroupDiscountName" [header]="'ADMIN.Name' | translate">
      </us-tree-column>

      <us-tree-column field="MinMemberNo" [header]="'ADMIN.MinMembers' | translate">
      </us-tree-column>

      <us-tree-column field="DiscountAmount" [header]="'ADMIN.DiscountAmountC' | translate">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.DiscountAmount | amountConverter:locale}}</span>
        </ng-template>
      </us-tree-column>

      <us-tree-column field="" header="">
        <ng-template #dataTableCell let-item="item">
          <button class="btn btn-danger btn-icon-min" title="{{'ADMIN.Delete' | translate}}" (click)="deleteSelectedGroupDiscount(item)">
            <span class="icon-cancel"></span>
          </button>
        </ng-template>
      </us-tree-column>

    </us-tree-table>

  </div>
</div>


<!-- *************************************** Shop Discount ****************************************** -->

<div *ngIf="isShop" class="mx-1">
  <div class="form-group">
    <label>{{ "Status" }}</label>
    <select class="custom-select" value="ALL" (change)="statusChange($event.target.value)">
      <option value="ALL">{{'ADMIN.ALL' | translate}}</option>
      <option value="OLD">{{'ADMIN.Old' | translate}}</option>
      <option value="VALID">{{'ADMIN.Valid' | translate}}</option>
      <option value="PENDING">{{'ADMIN.Pending' | translate}}</option>
    </select>
  </div>

  <div class="d-flex no-gutters">

    <!-- REPLACE WITH AG-GRID
      <us-data-table class="shop-dis-table" [pagination]="false" [items]="filteredItems" [itemCount]="itemCountShop" (rowDoubleClick)="rowDoubleClickShop($event, newDiscount)">

      <data-table-column [width]="60" [property]="'Id'" [header]="'ADMIN.ID' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>

      <data-table-column [width]="80" [property]="'IsActive'" [header]="'ADMIN.Active' | translate" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <label class="custom-control custom-checkbox checkbox-inline">
            <input type="checkbox" class="custom-control-input" [checked]="item.IsActive" disabled>
            <span class="custom-control-indicator"></span>
          </label>
        </ng-template>
      </data-table-column>

      <data-table-column [property]="'Name'" [header]="'ADMIN.Name' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>

      <data-table-column [width]="120" [property]="'StartDate'" [header]="'ADMIN.StartDate' | translate" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.StartDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
      </data-table-column>

      <data-table-column [width]="120" [property]="'EndDate'" [header]="'ADMIN.EndDate' | translate" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.EndDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
      </data-table-column>

      <data-table-column [width]="120" [property]="'CategoryName'" [header]="'ADMIN.Type' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>

      <data-table-column [width]="120" [property]="'DiscountAmount'" [header]="'ADMIN.Discount' | translate" [sortable]="true"
        [alignment]="'right'">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.DiscountAmount | amountConverter:locale}}</span>
        </ng-template>
      </data-table-column>

      <data-table-column [property]="'VendorName'" [header]="'ADMIN.VendorName' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>

      <data-table-column [width]="142" [property]="'MinNumberOfArticles'" [header]="'ADMIN.MINNOOFARTICLES' | translate" [sortable]="true"
        [resizable]="true">
      </data-table-column>

      <data-table-column [property]="''" [header]="'ADMIN.Items' | translate">
        <ng-template #dataTableCell let-item="item">
          <div class="form-group m-0 ">
            <div class="input-group input-group-sm">
              <button class="btn btn-primary btn-sm" type="button" (click)="viewLoad(item,aProfilePopOver)" container="body" placement="bottom"
                [usPopover]="itemNamesList" popoverWidth="350" popoverHeight="130" #aProfilePopOver="usPopover" triggers="manual">{{'COMMON.ViewItems' | translate}}</button>
            </div>
          </div>
        </ng-template>
      </data-table-column>

      <data-table-column [property]="''" [width]="40">
        <ng-template #dataTableCell let-item="item">
          <button class="btn btn-danger btn-icon-min" (click)="deleteSelectedShopDiscount(item)">
            <span class="icon-cancel"></span>
          </button>
        </ng-template>
      </data-table-column>

    </us-data-table> -->
  </div>

</div>

<!-- **************************************** PopOver ******************************************** -->

<ng-template #itemNamesList let-c="close" let-d="dismiss">
  <div class="d-flex justify-content-end">
    <button class="close modal-close" (click)="closePopOver()" style="font-size: 0.8rem;">
      <span class="icon-close"></span>
    </button>
  </div>

  <div class="item-popover-scroller" *ngFor="let itm of itemList" usScroll>
    <ul class="list-group list-group-flush">
      <li class="list-group-item py-1" *ngFor="let key of objectKeys(itm)">{{itm[key]}}</li>
    </ul>
  </div>
</ng-template>

<!-- *************************************** new Discount ******************************************* -->

<ng-template #newDiscount let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{disTitle | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <div class="modal-body">

    <!-- *************************************** sponsor category******************************************* -->
    <!-- style="display: none;" -->
    <div id="sponsorContent" *ngIf="isSponsorContent">
      <form [formGroup]="SponsorNewDiscountForm">
        <div class="d-flex no-gutters">

          <div class="col-4 mr-1">
            <div class="form-group">
              <label>{{ 'ADMIN.DiscountCategoryC' | translate }}</label>
              <select class="custom-select w-100" #dCate (change)="ChangeDiscountCategory(dCate.value)" formControlName="DiscountCategory">
                <option *ngFor="let dCate of discountCategoryList" [value]="dCate.Name">{{dCate.Name}}</option>
              </select>
            </div>
          </div>

          <div class="col-4 ml-1">
            <div class="form-group">
              <label>{{ 'ADMIN.DISCOUNTTYPE' | translate }}
                <strong class="text-danger">*</strong>
              </label>

              <select class="custom-select w-100" (ngModelChange)="onChange($event)" formControlName="DiscountType">
                <option *ngFor="let dType of discountTypeList" value="{{dType.Id}}">{{dType.Name}}</option>
              </select>

            </div>
          </div>

        </div>
      </form>

      <div class="d-flex justify-content-between mb-1">
        <label>{{ 'ADMIN.DiscountCategoryC' | translate }}</label>
        <button type="button" class="btn btn-primary" (click)="addDiscountCategory()">{{'ADMIN.ADD' | translate}}</button>
      </div>

      <div class="new-dis-sponsor-tb">
        <table class="table table-sm table-hover table-default">
          <thead class="thead-primary">
            <tr>
              <th>{{'ADMIN.Name' | translate}}</th>
              <th>{{'ADMIN.MinMembers' | translate}}</th>
              <th class="text-right">{{'ADMIN.HighAmount' | translate}}</th>
              <th class="text-right">{{'ADMIN.HighPre' | translate}}</th>
              <th class="text-right">{{'ADMIN.LowAmount' | translate}}</th>
              <th class="text-right">{{'ADMIN.LowPre' | translate}}</th>
              <th style="width: 40px;"></th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let discount of filterSponDisCate">
              <td>
                <input type="text" class="form-control form-control-sm" (change)="nameChanged($event.target.value, discount)" value="{{discount.Name}}">
              </td>
              <td>
                <input type="text" class="form-control form-control-sm" (change)="minMemberNoChanged($event.target.value, discount)" value="{{discount.MinMemberNo}}">
              </td>
              <td>
                <input type="text" class="form-control form-control-sm text-right" (change)="highAmountChanged($event.target.value, discount)"
                  value="{{discount.HighAmount | amountConverter:locale}}">
              </td>
              <td>
                <input type="text" class="form-control form-control-sm text-right" (change)="highPercentageChanged($event.target.value, discount)"
                  value="{{discount.HighPercentage | amountConverter:locale}}">
              </td>
              <td>
                <input type="text" class="form-control form-control-sm text-right" (change)="lowAmountChanged($event.target.value, discount)"
                  value="{{discount.LowAmount | amountConverter:locale}}">
              </td>
              <td>
                <input type="text" class="form-control form-control-sm text-right" (change)="lowPercentageChanged($event.target.value, discount)"
                  value="{{discount.LowPercentage | amountConverter:locale}}">
              </td>

            </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-footer px-0 pb-0">
        <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate " (click)="saveSponsorDiscount(filterSponDisCate, SponsorNewDiscountForm.value)"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" (click)="c()" [labelText]="'COMMON.Cancel' | translate "></us-icon-button>
      </div>

    </div>

    <!-- *************************************** shop category ******************************************* -->
    <!-- style="display: none;" -->
    <div id="shopContent" *ngIf="isShopContent">
      <form [formGroup]="ShopNewDiscountForm">

        <div class="d-flex no-gutters">
          <div class="col-4 mr-1">
            <div class="form-group">
              <label>{{ 'ADMIN.DiscountCategoryC' | translate }}</label>
              <select class="custom-select w-100" formControlName="DiscountCategory" #dCate (change)="ChangeDiscountCategory(dCate.value)">
                <option *ngFor="let dCate of discountCategoryList" [value]="dCate.Name">{{dCate.Name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.Name' | translate }}
                <strong class="text-danger">*</strong>
              </label>
              <input class="form-control" formControlName="Name" type="text" us-error [errorMsg]="formErrors.Name" [displayError]="myFormSubmited && !ShopNewDiscountForm.get('Name').valid"
                placement="bottom">
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.Description' | translate }}</label>
              <textarea type="text" style="height: 90px;" formControlName="Description" class="form-control"></textarea>
            </div>

            <div class="form-group">
              <label>{{ 'ADMIN.SELECTVENDER' | translate }}
                <strong class="text-danger">*</strong>
              </label>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="SelectVender" us-error [errorMsg]="formErrors.SelectVender" [displayError]="myFormSubmited && !ShopNewDiscountForm.get('SelectVender').valid"
                  placement="bottom" readonly>
                <button class="btn btn-primary" type="button" (click)="venderSelectionModal(venderSelectionTemplate)">{{ 'ADMIN.Select' | translate }}</button>
              </div>
            </div>

            <div class="form-group">
              <label>{{ 'ADMIN.ARTICLECATEGORY' | translate }}</label>
              <select class="custom-select w-100" formControlName="ArticleCategory" #aCate (change)="ChangeArticleCategory(aCate.value)">
                <option [value]="null">ALL</option>
                <option *ngFor="let aCate of atricleCategoryList" [value]="aCate.Id">{{aCate.Name}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>{{ 'ADMIN.MinNoOfArticlesC' | translate }}
                <strong class="text-danger">*</strong>
              </label>
              <input class="form-control " type="text" formControlName="MinNoOfArticles" us-error [errorMsg]="formErrors.MinNoOfArticles"
                [displayError]="myFormSubmited && !ShopNewDiscountForm.get('MinNoOfArticles').valid" placement="right">
            </div>
          </div>
          <div class="col-4 ml-1">
            <div class="form-group">
              <label>{{ 'ADMIN.btnSelectItems' | translate }}</label>
              <div class="input-group">
                <span class="input-group-addon">{{selectedItemList.length}}</span>
                <button class="btn btn-primary" type="button" (click)="selectItemsModal(selectItemsTemplate)">{{ 'ADMIN.ADD' | translate }}</button>
              </div>
            </div>

            <div class="form-group">
              <label>{{ 'ADMIN.DISCOUNTTYPE' | translate }}</label>

              <select class="custom-select w-100" formControlName="DiscountType" #dMode [(ngModel)]="selectedDiscountMode">
                <option *ngFor="let dMode of discountModeList" [ngValue]="dMode">{{dMode.Name}}</option>
              </select>

            </div>

            <div class="form-group">
              <label>{{ 'ADMIN.Discount' | translate }}
              </label>
              <input class="form-control " type="text" formControlName="Discounts">
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.StartDate' | translate }}</label>
              <us-date-picker class="w-100" #fromDate [locale]="'COMMON.Locale'| translate" formControlName='StartDate' [options]="fromDatePickerOptions"
                (dateChanged)="fromDateChange($event, toDate)" disabled> </us-date-picker>
            </div>
            <div class="form-group">
              <label>{{ 'ADMIN.EndDate' | translate }}</label>
              <us-date-picker class="w-100" #toDate [locale]="'COMMON.Locale'| translate" formControlName='EndDate' [options]="toDatePickerOptions"
                disabled>
              </us-date-picker>
            </div>
          </div>
        </div>

      </form>

      <div class="modal-footer px-0 pb-0">
        <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate " (click)="saveShopDiscount(ShopNewDiscountForm.value)"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" (click)="c()" [labelText]="'COMMON.Cancel' | translate "></us-icon-button>
      </div>

    </div>

  </div>
</ng-template>

<!-- ********************************************* Select Venders **************************************** -->

<ng-template #venderSelectionTemplate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'ADMIN.SelectVendorTitle' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">

    <exce-entityselection (searchEvent)="searchEmployee($event)" (selectedItem)="selectedVender($event)" (selectedItems)="selectedRowItems($event)"
      [multipleSelect]="false" [itemList]="vendersList" [auotocompleteItems]="auotocompleteItemsForEmpSelection" [columns]="columns"
      [itemcount]="itemCount" [defaultRole]="defaultRole" [entitySelectionType]="entitySelectionType" [isDbPagination]="isDbPagination"
      [isBranchVisible]="false" [isStatusVisible]="false" [isRoleVisible]="false" [isDisabledRole]="false" [isAddBtnVisible]="false"
      [isBasicInforVisible]="false" (closeViewEvent)="closeVenderSelectionView()">
    </exce-entityselection>

  </div>

</ng-template>

<!-- ****************************************** select Items ********************************************** -->
<ng-template #selectItemsTemplate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'COMMON.SelectItems' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="select-item-tabel">
      <table class="table table-sm table-hover table-default">
        <thead class="thead-primary">
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itm of selectItems">
            <td style="width: 40px;">
              <input type="checkbox" (change)="checkBoxChange(itm)" />
            </td>
            <td>{{itm.Description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <us-icon-button [iconClass]="'icon-done'" class="mr-1" (click)="c()" [labelText]="'ADMIN.OK' | translate "></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" (click)="c()" [labelText]="'COMMON.Cancel' | translate "></us-icon-button>
  </div>
</ng-template>