<div class="d-flex justify-content-start w-100">
  <div class="mr-auto col-4 p-0 mr-2">

    <form [formGroup]="logNotificationForm">
      <div class="input-group">

        <us-date-picker class="w-100" name="fromDate" #fromDate formControlName='fromDate' [locale]="'ADMIN.Locale'| translate" [options]="fromDatePickerOptions"
          (dateChanged)="fromDateChange($event, toDate)">
        </us-date-picker>

        <span class="input-group-addon border-left-0">{{'ADMIN.To' | translate}}</span>
        <us-date-picker class="w-100 mr-2" name="toDate" #toDate formControlName='toDate' [locale]="'ADMIN.Locale'| translate" [options]="toDatePickerOptions"
          (dateChanged)="toDateChange($event)">
        </us-date-picker>

        <span>
          <button class="btn btn-primary" (click)="getDateChanges(logNotificationForm.value)">{{'COMMON.Search' | translate}}</button>
        </span>

      </div>
    </form>

  </div>

  <div class="mr-2">
    <input type="text" class="form-control" #CatPipeFilter (keyup)="filterByCategory(CatPipeFilter.value)" placeholder="{{'ADMIN.Category' | translate}}">
  </div>

  <div>
    <input type="text" class="form-control" #EmpPipeFilter (keyup)="filterByEmployee(EmpPipeFilter.value)" placeholder="{{'ADMIN.Employee' | translate}}">
  </div>

</div>


<div class="mt-1">

  <!-- REPLACE WITH AG-GRID
    <us-data-table [items]="filterdNotificationList" [itemCount]="itemCount"
    (rowDoubleClick)="rowItemLoad($event.row.item, changeLog)">

    <data-table-column [width]="120" [property]="'CreatedDate'" [header]="'ADMIN.NotificationTemplateHomeCreatedDate' | translate"
      [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.CreatedDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [width]="120" [property]="'CreatedDate'" [header]="'ADMIN.Time' | translate" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.CreatedDate | date:'HH:MM'}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [width]="120" [property]="'Category'" [header]="'ADMIN.Category' | translate" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [width]="180" [property]="'AssignTo'" [header]="'ADMIN.Employee' | translate" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'Description'" [header]="'Message'" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [width]="40" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary btn-icon-min" title="{{'MEMBERSHIP.Detail' |translate}}" (click)="rowItemLoad(item,changeLog)">
          <span class="icon-detail"></span>
        </button>
      </ng-template>
    </data-table-column>
  </us-data-table> -->

</div>

<ng-template #changeLog let-c="close" let-d="dismiss">
  <member-notification-detail [rowItem]="rowItem" [modalReference]="modalReference" (onDoneOrIgnore)="onDoneOrIgnore()"></member-notification-detail>
</ng-template>
