<div class="d-flex no-gutters mr-1">
    <us-icon-button [iconClass]="'icon-add'" [labelText]="'ADMIN.AddS' | translate " (click)="openEmail(emailEditor)"></us-icon-button>
</div>
<div class="d-flex no-gutters mt-1 mr-1">
    <!-- REPLACE WITH AG-GRID
        <us-data-table [pagination]="false" headerTitle="Tabel-header" [items]="items" [itemCount]="">
        <data-table-column [property]="'Name'" [header]="'ADMIN.Name' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'IsDefaultText'" [header]="'ADMIN.DefaultC' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="''" [sortable]="true"  [width]="240">
            <ng-template #dataTableCell let-item="item">
                <div class="d-flex">
                    <us-icon-button class="ml-1" [iconClass]="'icon-edit'" [labelText]="'ADMIN.Update' | translate " (click)="openEmail(emailEditor,item)"></us-icon-button>
                    <us-icon-button class="ml-1" [iconClass]="'icon-print'" [labelText]="'ADMIN.Print' | translate "></us-icon-button>
                </div>
            </ng-template>
        </data-table-column>
        <data-table-column [property]="'active'" [width]="40" [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                <button (click)="deleteContractCondition($event)" (click)="deleteItem(item)" class="btn btn-danger btn-icon-min">
                    <span class="icon-cancel"></span>
                </button>
            </ng-template>
        </data-table-column>
    </us-data-table> -->
</div>

<ng-template #emailEditor let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">
            <span>{{ 'ADMIN.Email' | translate }}</span>
        </span>
        <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>


    <div class="modal-body">

        <div class="d-flex">
            <form [formGroup]="templateForm" #tempForm>
                <div class="form-inline mb-2">
                    <label class="mx-2">{{ 'ADMIN.Name' | translate }}</label>
                    <input class="mr-2" class="form-control" type="text" #name [formControl]="templateForm.controls['Name']" us-error [errorMsg]="formErrors.Name"
                        [displayError]="formSubmited && !templateForm.get('Name').valid">
                    <div class="ml-2">
                        <input type="checkbox" class="custom-control-input" #isDefault [formControl]="templateForm.controls['IsDefault']" us-error
                            [errorMsg]="formErrors.IsDefault" [displayError]="formSubmited && !templateForm.get('IsDefault').valid">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.DefaultC' | translate }}</span>
                    </div>
                </div>
            </form>
        </div>
        <div >
            <ck-editor class="editor-scroller" name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" lang="en" [fullPage]="true"></ck-editor>
        </div>
    </div>
    <div class="modal-footer">
        <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.OK' | translate" (click)="submitForm(templateForm.value)"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="c()"></us-icon-button>
    </div>


</ng-template>