<div class="d-flex flex-row">
  <div class="mr-2">
    <div class="mc-basicinfo-pic mr-pic d-flex justify-content-center align-items-center">
      <svg *ngIf="!data1.image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px"
        height="64px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
        <path class="fill-primary" d="M17.5,36.7c4,3,9,4.8,14.5,4.8c5.4,0,10.4-1.8,14.5-4.8c9.4,1.2,16.7,9.2,16.7,19V64H0.8v-8.3
		C0.8,45.9,8.1,37.9,17.5,36.7z M32,0c9.6,0,17.5,7.8,17.5,17.5C49.5,27.1,41.7,35,32,35c-9.6,0-17.5-7.8-17.5-17.5S22.4,0,32,0z"
        />
      </svg>
      <img width="64px" height="64px" *ngIf="data1.image" [src]="data1.image">
    </div>
  </div>

  <div class="w-100">
    <form autocomplete="off" [formGroup]="memberForm" (keydown.enter)="$event.preventDefault()">
      <us-form-wizard #memberRegisterWizard>
        <wizard-step [number]="1" [title]="'MEMBERSHIP.BasicInfo' | translate" (onNext)="onStep1Next()" (onComplete)="onComplete()" (onCompleteWithContract)="onCompleteWithContract()"
          (onCancel)="cancelRegister()">
          <div class="d-flex mt-2">
            <div class="col-lg-3">
              <div class="input-group">
                <div class="form-group">
                  <label>{{'MEMBERSHIP.Type' | translate}}
                    <strong class="text-danger">*</strong>
                  </label>
                  <div class="form-inline">
                    <div>
                      <label class="custom-control custom-radio">
                        <input id="rdperson" name="Role" type="radio" formControlName="Role" [checked]="registerMember?.Role === 'MEM'" (change)="setMemberType('MEM')"
                          class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{'MEMBERSHIP.crPerson' | translate}}</span>
                      </label>
                    </div>
                    <div>
                      <label class="custom-control custom-radio">
                        <input id="rdcompnay" name="Role" type="radio" formControlName="Role" [checked]="registerMember?.Role === 'COM'" (change)="setMemberType('COM')"
                          class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{'MEMBERSHIP.Company' | translate}}</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group"  *ngIf="IsBrisIntegrated">
                    <label>{{'MEMBERSHIP.SearchInBris' | translate}}
                      <strong class="text-danger">*</strong>
                    </label>
                    <div class="input-group">
                      <us-autocomplete class="w-100"> </us-autocomplete>
                      <div class="input-group-btn">
                        <button class="btn btn-primary" type="button" (click)="openBrisMemberModal(brisMemberModal)">
                          <span class="icon-search"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              <hr>
            </div>
            <div class="col-lg-3" *ngIf="registerMember?.Role === 'MEM'">
                <div class="input-group">
                    <div class="form-group" *ngIf="registerMember?.Role === 'MEM'">
                        <label>{{'MEMBERSHIP.Gender' | translate}}
                          <strong class="text-danger">*</strong>
                        </label>
                        <div class="form-inline">
                          <div>
                            <label class="custom-control custom-radio">
                              <input id="rdmale" type="radio" class="custom-control-input" formControlName="Gender" (change)="setGender(1)" [checked]="registerMember?.Gender === 1">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">{{'MEMBERSHIP.Male' | translate}}</span>
                            </label>
                          </div>

                          <div>
                            <label class="custom-control custom-radio">
                              <input id="rdfemale" type="radio" class="custom-control-input" formControlName="Gender" (change)="setGender(0)" [checked]="registerMember?.Gender === 0"
                              us-error [errorMsg]="formErrors.Gender" [displayError]="myFormSubmited && !memberForm.get('Gender').valid" placement="top" container="view">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">{{'MEMBERSHIP.Female' | translate}}</span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group ml-1" *ngIf="registerMember?.Role === 'MEM'">
                          <label>{{'MEMBERSHIP.Employee' | translate}}
                          </label>
                          <div class="form-inline">
                            <div>
                            <div>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <!-- <span class="custom-control-description">{{'MEMBERSHIP.Employee' | translate}}</span> -->
                                  </label>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <hr>
              </div>
          </div>
          <div class="d-flex mt-2">
            <div class="col-lg-3">
                <!-- <div class="form-group"  *ngIf="IsBrisIntegrated">
                  <label>{{'MEMBERSHIP.SearchInBris' | translate}}
                    <strong class="text-danger">*</strong>
                  </label>
                  <div class="input-group">
                    <us-autocomplete class="w-100"> </us-autocomplete>
                    <div class="input-group-btn">
                      <button class="btn btn-primary" type="button" (click)="openBrisMemberModal(brisMemberModal)">
                        <span class="icon-search"></span>
                      </button>
                    </div>
                  </div>
                </div>
              <div class="form-group">
                <label>{{'MEMBERSHIP.Type' | translate}}
                  <strong class="text-danger">*</strong>
                </label>
                <div class="form-inline">
                  <div>
                    <label class="custom-control custom-radio">
                      <input id="rdperson" name="Role" type="radio" formControlName="Role" [checked]="registerMember?.Role === 'MEM'" (change)="setMemberType('MEM')"
                        class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{'MEMBERSHIP.crPerson' | translate}}</span>
                    </label>
                  </div>
                  <div>
                    <label class="custom-control custom-radio">
                      <input id="rdcompnay" name="Role" type="radio" formControlName="Role" [checked]="registerMember?.Role === 'COM'" (change)="setMemberType('COM')"
                        class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{'MEMBERSHIP.Company' | translate}}</span>
                    </label>
                  </div>
                </div>
              </div>
              <hr> -->
              <div class="form-group mt-1" *ngIf="registerMember?.Role === 'MEM'">
                <label>{{'MEMBERSHIP.LastName' | translate}}
                  <strong class="text-danger">*</strong>
                </label>
                <input autocomplete="off" type="text" class="form-control" formControlName="LastName" us-error [errorMsg]="formErrors.LastName"
                  [displayError]="myFormSubmited && !memberForm.get('LastName').valid" placement="top" container="view" (blur)="trimName('lastname', $event)">
              </div>
              <div class="form-group " *ngIf="registerMember?.Role === 'MEM'">
                <label>{{'MEMBERSHIP.FirstName' | translate}}
                  <strong class="text-danger">*</strong>
                </label>
                <input autocomplete="off" type="text" class="form-control" formControlName="FirstName" us-error (blur)="trimName('firstname', $event)"
                [errorMsg]="formErrors.FirstName" [displayError]="myFormSubmited && !memberForm.get('FirstName').valid"
                  placement="top" container="view">
              </div>
              <div class="d-flex" *ngIf="registerMember?.Role === 'MEM'">
                <div class="form-group w-75">
                  <label>{{'MEMBERSHIP.BirthDate' | translate}}
                    <strong class="text-danger">*</strong>
                  </label>
                  <div class="input-group">
                    <us-date-picker [placeholder]="'DATETIME.onlydate' | translate" class="w-100" name="birthDate" #birthDate [locale]="'COMMON.Locale'| translate" formControlName="BirthDate"
                      us-error [errorMsg]="formErrors.Age" [displayError]="myFormSubmited && !memberForm.get('Age').valid" placement="top"
                      container="view" (dateChanged)="onbirthdayDateChange($event)">
                    </us-date-picker>
                  </div>
                </div>
                <div class="form-group w-25 ml-1">
                  <label>{{'MEMBERSHIP.Age' | translate}}</label>
                  <input disabled type="text" class="form-control age" formControlName="Age" >
                </div>
              </div>
              <div class="form-group" *ngIf="registerMember?.Role === 'COM'">
                <label>{{'MEMBERSHIP.CompanyName' | translate}}
                  <strong class="text-danger">*</strong>
                </label>
                <input type="text" class="form-control " formControlName="CompanyName" us-error [errorMsg]="formErrors.CompanyName" [displayError]="myFormSubmited && !memberForm.get('CompanyName').valid"
                  placement="top" container="view">
              </div>
              <div class="form-group" *ngIf="registerMember?.Role === 'COM'">
                <label>{{'MEMBERSHIP.Department' | translate}}</label>
                <input type="text" class="form-control " formControlName="Department">
              </div>
              <span hidden #message>{{'MEMBERSHIP.NumberTaken' | translate}}</span>
              <div class="d-flex" style="display: flex; flex-direction: column" class="form-group">
                <label>{{'COMMON.Mobile' | translate}}
                  <strong class="text-danger" *ngIf="isMobileReq">*</strong>
                </label>
                <div class="input-group">
                <span hidden #message>{{'MEMBERSHIP.NumberTaken' | translate}}</span>
                <!-- <intl-tel-input [id]="'Mobile'" [intlOptions]="intlOptions" (fullValueChange)="fullValueChange($event,'MOBILE')" formControlName="Mobile" us-error [errorMsg]="formErrors.Mobile"
                  (valueBlur)="mobileBlur($event.target.value,'MOBILE')" (valueFocus)="mobileFocus('MOBILE')" [displayError]="(isMobileBlur || myFormSubmited) && !memberForm.get('Mobile').valid && isMobileReq"
                  placement="top" container="view"></intl-tel-input> -->
                    <input (blur)="prefixChange($event.target.value, 'MobilePrefix')" type="text" formControlName="MobilePrefix" class="prefix">
                    <input  autocomplete="'none'" class="mob" type="text" formControlName="Mobile" us-error [errorMsg]="formErrors.Mobile" [id]="'Mobile'"
                    (blur)="mobileBlur($event.target.value,'MOBILE')" (valueFocus)="mobileFocus('MOBILE')" [displayError]="(isMobileBlur || myFormSubmited) && !memberForm.get('Mobile').valid"
                    placement="top" container="view">
                </div>
              </div>
              <div class="form-group" *ngIf="registerMember?.Role === 'MEM'">
                <label>{{'MEMBERSHIP.Email' | translate}}
                  <!--<strong class="text-danger">*</strong>-->
                </label>
                <input autocomplete="'none'" type="text" class="form-control" formControlName="Email" (focus)="emailFocus('EMAIL')" (blur)="emailBlur($event.target.value,'EMAIL')"
                  us-error [errorMsg]="formErrors.Email" [displayError]="(myFormSubmited || isEmailBlur) && !memberForm.get('Email').valid"
                  placement="top" container="view">
              </div>
              <div class="form-group" *ngIf="registerMember?.Role === 'COM'">
                <label>{{'MEMBERSHIP.crCompanyEmail' | translate}}</label>
                <input type="text" class="form-control" formControlName="CompanyEmail" (focus)="emailFocus('COMEMAIL')" (blur)="emailBlur($event.target.value,'COMEMAIL')"
                  us-error [errorMsg]="formErrors.CompanyEmail" [displayError]="(myFormSubmited || isCompanyEmailBlur) && !memberForm.get('CompanyEmail').valid"
                  placement="top" container="view">
              </div>
              <div class="form-group" *ngIf="registerMember?.Role === 'COM'">
                <label>{{'MEMBERSHIP.crAccountingEmail' | translate}}</label>
                <input type="text" class="form-control" formControlName="AccountingEmail" (focus)="emailFocus('ACCEMAIL')" (blur)="emailBlur($event.target.value,'ACCEMAIL')"
                  us-error [errorMsg]="formErrors.AccountingEmail" [displayError]="(myFormSubmited || isAccountEmailBlur) && !memberForm.get('AccountingEmail').valid"
                  placement="top" container="view">
              </div>
              <div class="form-group">
                  <label>{{'COMMON.Private' | translate}}</label>
                  <!-- <div class="input-group"> -->
                  <!-- <input type="text" class="form-control p-1 w-25" formControlName="PrivateTeleNoPrefix">
                      <input type="text" class="form-control w-75" formControlName="PrivateTeleNo"> -->
                  <!-- <intl-tel-input [intlOptions]="intlOptions" (fullValueChange)="fullValueChange($event,'PRIVATE')" formControlName="PrivateTeleNo" us-error [errorMsg]="formErrors.PrivateTeleNo"
                    (valueBlur)="mobileBlur($event,'PRIVATE')" (valueFocus)="mobileFocus('PRIVATE')" [displayError]="(isPrivateBlur || myFormSubmited) && !memberForm.get('PrivateTeleNo').valid"
                    placement="top" container="view"></intl-tel-input> -->
                  <div class="input-group">
                    <input (blur)="prefixChange($event.target.value, 'PrivateTeleNoPrefix')" type="text" formControlName="PrivateTeleNoPrefix" class="prefix">
                    <input  autocomplete="'none'" class="mob" type="text" formControlName="PrivateTeleNo" us-error [errorMsg]="formErrors.PrivateTeleNo"
                    (blur)="mobileBlur($event.target.value,'PRIVATE')" (valueFocus)="mobileFocus('PRIVATE')" [displayError]="(isPrivateBlur || myFormSubmited) && !memberForm.get('PrivateTeleNo').valid"
                    placement="top" container="view">
                  </div>
                  <!-- </div> -->
                </div>
                <div class="form-group">
                  <label>{{'COMMON.Work' | translate}}</label>
                  <!-- <div class="input-group"> -->
                  <!-- <input type="text" class="form-control p-1 w-25" formControlName="WorkTeleNoPrefix">
                      <input type="text" class="form-control w-75" formControlName="WorkTeleNo"> -->
                  <!-- <intl-tel-input [intlOptions]="intlOptions" (fullValueChange)="fullValueChange($event,'WORK')" formControlName="WorkTeleNo" us-error [errorMsg]="formErrors.WorkTeleNo"
                    (valueBlur)="mobileBlur($event,'WORK')" (valueFocus)="mobileFocus('WORK')" [displayError]="(isWorkBlur || myFormSubmited) && !memberForm.get('WorkTeleNo').valid"
                    placement="top" container="view"></intl-tel-input> -->
                  <div class="input-group">
                    <input (blur)="prefixChange($event.target.value, 'WorkTeleNoPrefix')" type="text" formControlName="WorkTeleNoPrefix" class="prefix">
                    <input  autocomplete="'none'" class="mob" type="text" formControlName="WorkTeleNo" us-error [errorMsg]="formErrors.WorkTeleNo"
                    (blur)="mobileBlur($event.target.value,'WORK')" (valueFocus)="mobileFocus('WORK')" [displayError]="(isWorkBlur || myFormSubmited) && !memberForm.get('WorkTeleNo').valid"
                    placement="top" container="view">
                  </div>
                  <!-- </div> -->
                </div>

            </div>
            <div class="col-lg-3">
            <div class="form-group">
                <label>{{'MEMBERSHIP.CardNo' | translate}}</label>
                <input autocomplete="no" type="text" class="form-control" formControlName="MemberCardNo"  (blur)="memberCardBlur($event.target.value)"
                  us-error [errorMsg]="formErrors.MemberCardNo" [displayError]="(myFormSubmited || isMemberCardBlur) && !memberForm.get('MemberCardNo').valid "
                  placement="top" container="view">
              </div>

              <div class="form-group" *ngIf="registerMember?.Role === 'COM'">
                <label>{{'MEMBERSHIP.OrgNumber' | translate}}</label>
                <input type="text" class="form-control" formControlName="VatNumber">
              </div>

              <div class="form-group">
                <label>{{'MEMBERSHIP.Address1' | translate}}
                  <strong class="text-danger" *ngIf="isAddressReq">*</strong>
                </label>
                <input autocomplete="no" type="text" class="form-control firstLetterUp" formControlName="Address1" us-error [errorMsg]="formErrors.Address1" [displayError]="myFormSubmited && !memberForm.get('Address1').valid"
                  placement="top" container="view">
              </div>
              <div class="form-group">
                <label>{{'MEMBERSHIP.Address2' | translate}}</label>
                <input autocomplete="no" type="text" class="form-control firstLetterUp" formControlName="Address2">
              </div>
              <div class="form-group">
                <label>{{'MEMBERSHIP.Postalcode' | translate}}
                  <strong class="text-danger" *ngIf="isPostalCodeReq">*</strong>
                </label>
                <div class="input-group">

                  <input type="text" class="form-control p-1 w-25" (keyup)="getCityforPostalCode($event.target.value)" formControlName="PostCode"
                    us-error [errorMsg]="formErrors.PostCode" [displayError]="(myFormSubmited || postalCodeChange) && (!memberForm.get('PostCode').valid)"
                    placement="right" container="view">
                  <input type="text" class="form-control w-75" formControlName="PostPlace" [exceError]="memberForm.controls['PostPlace']" container="body"
                    placement="right" readonly>

                  <span class="input-group-btn">
                    <button class="btn btn-primary" (click)="openPostalCodeModal(newpostalModal)" type="button">{{'MEMBERSHIP.Add' | translate}}</button>
                  </span>
                </div>
              </div>

              <!-- <div class="form-group">
                <label>{{'MEMBERSHIP.City' | translate}}</label>
                <input type="text" class="form-control" formControlName="PostPlace" [exceError]="memberForm.controls['PostPlace']" container="body"
                  placement="right">
              </div> -->

              <div class="form-group">
                <label>{{'COMMON.Country' | translate}}</label>
                <div class="input-group">
                  <select class="form-control custom-select" (change)="getSelectedCountry($event.target.value, false)">
                    <option *ngFor="let country of countries" [ngValue]="country" [selected]="country.Id===registerMember?.CountryId">{{country.DisplayName}}</option>


                  </select>
                  <button class="btn btn-primary" (click)="openCountryModal(newCountryModal)" type="button">{{'MEMBERSHIP.Add' | translate}}</button>
                </div>
              </div>
              <div class="form-group" *ngIf="registerMember?.Role === 'MEM' && isUsingIntroducedBy ">
                  <label>{{'MEMBERSHIP.IntroducedBy' | translate}}</label>
                  <div class="input-group w-100">
                    <input type="text" formControlName="IntroducedByCustId" class="form-control p-1 w-25" disabled>
                    <input type="text" formControlName="IntroducedByName" class="form-control w-75" disabled>
                    <button class="btn btn-primary" type="button" (click)="openIntroducedBy(introducedByView)">{{'MEMBERSHIP.Select' | translate}}</button>
                    <button [disabled]="!introducedByAdded" type="button" class="btn btn-danger ml-1" (click)="removeIntroducer()">{{'MEMBERSHIP.Remove' | translate}}</button>
                  </div>
                </div>
            </div>
            <div class="col" *ngIf="registerMember?.Role === 'COM'">
              <div class="form-group">
                <label>{{'MEMBERSHIP.ContactPerson' | translate}}</label>
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="ContactPersonName" disabled>
                  <button class="btn btn-danger btn-icon" type="button" (click)="deleteContactPerson()">
                    <span class="icon-close"></span>
                  </button>
                  <button class="btn btn-primary" type="button" (click)="newMemberModal(newMemberModalView,'CONTACTPERSON')">{{'MEMBERSHIP.Add' | translate}}</button>
                </div>
              </div>
              <div class="form-group">
                <div>
                  <label>{{'MEMBERSHIP.AddedMembers' | translate}}</label>
                  <button class="btn btn-primary float-right" type="button" (click)="newMemberModal(newMemberModalView,'LINKCUSTOMER')">{{'MEMBERSHIP.linkCustomer' | translate}}</button>
                </div>
                <table class="table table-sm table-default mt-2">
                  <thead class="thead-primary">
                    <tr>
                      <th>{{ 'MEMBERSHIP.Name' | translate}} </th>
                      <th>{{ 'COMMON.Mobile' | translate}}</th>
                      <th>{{ 'MEMBERSHIP.Email' | translate}}</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let member of groupMemberList">
                      <td>{{member.Name}}</td>
                      <td>{{member.Mobile}}</td>
                      <td>{{member.Email}}</td>
                      <td>
                        <button class="btn btn-danger btn-icon" type="button" (click)="deleteLinkMember(member)">
                          <span class="icon-cancel"></span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

        <!-- ///////////////////////////////for the cropping seen///////////////////////////// -->
        <div *ngIf="atDecition" class="text-center w-25">

          <button class="btn btn-primary w-50 mt-3" type="button" (click)="wantToUploadFile()">{{'MEMBERSHIP.UploadPhoto' | translate}}</button>
          <p class="mt-2">{{'MEMBERSHIP.Fromyourcomputer' | translate}}</p>
          <div class="divider"></div>
          <button class="btn btn-primary w-50" type="button" (click)="wantToUseWebCam()">{{'MEMBERSHIP.TakeaPhoto' | translate}}</button>
          <p class="mt-2">{{'MEMBERSHIP.WithYourwebcam' | translate}}</p>
        </div>

        <div *ngIf="useWebcam" class="mt-2">
          <button type="button" class="btn btn-outline-primary mb-1" (click)="cancelAction()">Back</button>

          <div class="card">
            <div class="card-body">
              <us-crop-image [getOnlyCameraInput]="useWebcam" #cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></us-crop-image>
            </div>
          </div>

          <!-- <span class="result" *ngIf="data1.image">
                <img [src]="data1.image" [width]="croppedWidth" [height]="croppedHeight"> {{data1.image.length}}
              </span> -->
        </div>

        <div *ngIf="useFileUpload" class="mt-2">
          <button type="button" class="btn btn-outline-primary mb-1" (click)="cancelAction()">Back</button>

          <div class="card">
            <div class="card-body">
              <us-crop-image [getOnlyFileInput]="useFileUpload" #cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></us-crop-image>
            </div>
          </div>
          <!-- <span class="result" *ngIf="data1.image">
                <img [src]="data1.image" [width]="croppedWidth" [height]="croppedHeight"> {{data1.image.length}}
              </span> -->
        </div>

      <!-- ////////////////////////////////////end of cropping seen/////////////////////////// -->


          </div>
        </wizard-step>

        <!-- ************************************************************ -->
        <wizard-step [number]="2" [title]="'MEMBERSHIP.Economy' | translate" (onNext)="onStep2Next()" (onComplete)="onComplete()" (onCompleteWithContract)="onCompleteWithContract()"
          (onPrev)="onStep2Back()" (onCancel)="cancelRegister()">
          <div class="d-flex mt-2">
            <div class="col-lg-3">
              <div class="form-group">
                <label>{{'MEMBERSHIP.GuardianNo' | translate}}</label>
                <div class="input-group w-100">
                  <input type="text" class="form-control" formControlName="GuardianCustId">
                  <button class="btn btn-primary" type="button" (click)="newMemberModal(newMemberModalView,'GUARDIAN')">{{'MEMBERSHIP.Add' | translate}}</button>
                  <button [disabled]="!isGuardianSelected" type="button" class="btn btn-danger ml-1" (click)="removeGuardian()">{{'MEMBERSHIP.Remove' | translate}}</button>
                </div>
                <label>{{'MEMBERSHIP.GuardianName' | translate}}</label>
                <div class="input-group w-100">
                  <input disabled type="text" class="form-control" value="{{guardianName}}">

                </div>
              </div>
              <div class="form-group">
                <label>{{'MEMBERSHIP.GuestCardNumber' | translate}}</label>
                <input class="form-control" type="text" formControlName="GuestCardNo" (blur)="guestCardBlur($event.target.value)"
                us-error [errorMsg]="formErrors.GuestCardNo" [displayError]="(myFormSubmited || isGuestCardBlur) && !memberForm.get('GuestCardNo').valid "
                placement="top" container="view">
              </div>
              <div class="form-group">
                <label>{{'MEMBERSHIP.GATCardNo' | translate}}</label>
                <div class="input-group w-100">
                  <input type="text" class="form-control" formControlName="GatCardNo" us-error [errorMsg]="formErrors.GatCardNo" [displayError]="myFormSubmited  && !memberForm.get('GatCardNo').valid"
                    placement="top" container="view">
                  <button class="btn btn-primary" type="button" (click)="getGatCardNo()">{{'MEMBERSHIP.Get' | translate}}</button>
                </div>
              </div>
              <div class="form-group">
                <label>{{'MEMBERSHIP.PinCode' | translate}}</label>
                <div class="input-group w-100">
                  <input type="password" class="form-control" OnlyNumbers="true" maxlength="4" formControlName="PinCode" us-error [errorMsg]="formErrors.GatCardNo"
                    [displayError]="myFormSubmited  && !memberForm.get('PinCode').valid" placement="top" container="view"
                    enabled>
                  <button class="btn btn-primary" type="button" (click)="generatePinCode()">{{'COMMON.Generate' | translate}}</button>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label>{{'MEMBERSHIP.Group' | translate}}</label>
                <div class="input-group w-100">
                  <input type="text" class="form-control p-1 w-25" formControlName="GroupCustId">
                  <input type="text" class="form-control w-75" formControlName="GroupNameForMember">
                  <button class="btn btn-primary" type="button" (click)="newMemberModal(newMemberModalView,'GROUP')">{{'MEMBERSHIP.Select' | translate}}</button>
                </div>
              </div>
              <div class="form-group">
                <label>{{'MEMBERSHIP.Instructor' | translate}}</label>
                <div class="input-group w-100">
                  <input type="text" class="form-control p-1 w-25" formControlName="InstructorCustId">
                  <input type="text" class="form-control w-75" formControlName="InstructorName">
                  <button class="btn btn-primary" type="button" (click)="employeeSelectionModal(newMemberModalView)">{{'MEMBERSHIP.Select' | translate}}</button>
                </div>
              </div>
              <div class="form-group">
                <label>{{'MEMBERSHIP.crInvoiceCharge' | translate}}</label>
                <div class="form-inline">
                  <div>
                    <label class="custom-control custom-radio">
                      <input  name="InvoiceChage" formControlName="InvoiceChage" [checked]="registerMember?.InvoiceChage" (change)="setInvoiceCharge(1)"
                        type="radio" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{'MEMBERSHIP.Yes' | translate}}</span>
                    </label>
                  </div>
                  <div>
                    <label class="custom-control custom-radio">
                      <input name="InvoiceChage" formControlName="InvoiceChage" [checked]="!registerMember?.InvoiceChage" (change)="setInvoiceCharge(0)"
                        type="radio" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{'MEMBERSHIP.No' | translate}}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group mt-3">
                <label>{{'MEMBERSHIP.crSmsEmail' | translate}}</label>
                <div class="form-inline">
                  <div>
                    <label class="custom-control custom-radio">
                      <input  name="SmsInvoice" formControlName="SmsInvoice" [checked]="registerMember?.SmsInvoice" (change)="setSmsEmailInvoice(1)"
                        type="radio" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{'MEMBERSHIP.Yes' | translate}}</span>
                    </label>
                  </div>
                  <div>
                    <label class="custom-control custom-radio">
                      <input  name="SmsInvoice" formControlName="SmsInvoice" [checked]="!registerMember?.SmsInvoice" (change)="setSmsEmailInvoice(0)"
                        type="radio" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{'MEMBERSHIP.No' | translate}}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>{{'MEMBERSHIP.crBankAccount' | translate}}</label>
                <input class="form-control" type="text" formControlName="BankAccount" us-error [errorMsg]="formErrors.BankAccount" [displayError]="!memberForm.get('BankAccount').valid"
                  placement="top" container="view">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label>{{'MEMBERSHIP.Sponsor' | translate}}</label>
                <div class="input-group w-100">
                  <input type="text" class="form-control p-1 w-25" formControlName="SponserCustId" [readonly]="true">
                  <input type="text" class="form-control w-75" formControlName="SponserName" [readonly]="true">
                  <button class="btn btn-primary" type="button" (click)="isSponsorCategorySelectionAvailable ? (newMemberModal(newMemberModalView,'SPONSORS')) : (removeSelectedSponsor())">{{isSponsorCategorySelectionAvailable ? ('MEMBERSHIP.Select' | translate) : ('MEMBERSHIP.Remove' | translate)}}</button>
                </div>
              </div>
              <div class="form-group">
                <label>{{'MEMBERSHIP.crSponsorCat' | translate}}</label>
                <select class="form-control custom-select" formControlName="employeeCategoryForSponserId" [attr.disabled]="isSponsorCategorySelectionAvailable ? '' : null">
                  <option *ngFor="let empCat of employeeCategoryList" [ngValue]=empCat>
                    {{empCat.Name}}
                   </option>
                </select>
              </div>
              <div class="form-group">
                <label>{{'MEMBERSHIP.EmpNo' | translate}}</label>
                <input class="form-control" type="text" formControlName="EmployeeNo">
              </div>
              <div class="form-group">
                <label>{{'MEMBERSHIP.Ref' | translate}}</label>
                <input class="form-control" type="text" formControlName="Ref">
              </div>
              <div class="form-group">
                <label>{{'MEMBERSHIP.DueDay' | translate}}</label>
                <input class="form-control" type="text" formControlName="DueDate">
              </div>
            </div>
          </div>
        </wizard-step>


        <!-- ///////////////////////////////for the cropping seen///////////////////////////// -->
        <wizard-step [number]="3" [title]="'MEMBERSHIP.crSetProfilePicture' | translate" (onNext)="onStep3Next()" (onComplete)="onComplete()" (onCompleteWithContract)="onCompleteWithContract()"
          (onPrev)="onStep3Back()" (onCancel)="cancelRegister()">
          <div *ngIf="atDecition" class="text-center w-25">

            <button class="btn btn-primary w-50 mt-3" type="button" (click)="wantToUploadFile()">{{'MEMBERSHIP.UploadPhoto' | translate}}</button>
            <p class="mt-2">{{'MEMBERSHIP.Fromyourcomputer' | translate}}</p>
            <div class="divider"></div>
            <button class="btn btn-primary w-50" type="button" (click)="wantToUseWebCam()">{{'MEMBERSHIP.TakeaPhoto' | translate}}</button>
            <p class="mt-2">{{'MEMBERSHIP.WithYourwebcam' | translate}}</p>
          </div>

          <div *ngIf="useWebcam" class="mt-2">
            <button type="button" class="btn btn-outline-primary mb-1" (click)="cancelAction()">Back</button>

            <div class="card">
              <div class="card-body">
                <us-crop-image [getOnlyCameraInput]="useWebcam" #cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></us-crop-image>
              </div>
            </div>

            <!-- <span class="result" *ngIf="data1.image">
                  <img [src]="data1.image" [width]="croppedWidth" [height]="croppedHeight"> {{data1.image.length}}
                </span> -->
          </div>

          <div *ngIf="useFileUpload" class="mt-2">
            <button type="button" class="btn btn-outline-primary mb-1" (click)="cancelAction()">Back</button>

            <div class="card">
              <div class="card-body">
                <us-crop-image [getOnlyFileInput]="useFileUpload" #cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></us-crop-image>
              </div>
            </div>
            <!-- <span class="result" *ngIf="data1.image">
                  <img [src]="data1.image" [width]="croppedWidth" [height]="croppedHeight"> {{data1.image.length}}
                </span> -->
          </div>
        </wizard-step>

        <!-- ////////////////////////////////////end of cropping seen/////////////////////////// -->
        <wizard-step [number]="4" [title]="'MEMBERSHIP.crIntroduce' | translate" (onNext)="onStep4Next()" (onComplete)="onComplete()" (onCompleteWithContract)="onCompleteWithContract()"
          (onPrev)="onStep4Back()" (onCancel)="cancelRegister()">
          <div class="mt-2">
            <div class="d-flex">
              <us-icon-button [iconClass]="'icon-add'" [labelText]="'MEMBERSHIP.Add' | translate " (click)="openIntroducer(introducer)"></us-icon-button>
              <!-- test -->
            </div>
            <div class="introduce-mem-table">
              <table class="table table-sm table-default introduce-mem-table mt-2">
                <thead class="thead-primary">
                  <tr>
                    <th>{{ 'MEMBERSHIP.Name' | translate}} </th>
                    <th>{{ 'COMMON.Mobile' | translate}}</th>
                    <th>{{ 'MEMBERSHIP.Email' | translate}}</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let member of introduceMemberList">
                    <td>{{member.Name}}</td>
                    <td>{{member.Mobile}}</td>
                    <td>{{member.Email}}</td>
                    <td>
                      <button type="button" class="btn btn-danger btn-icon" (click)="deleteIntroduceMember(member)">
                        <span class="icon-cancel"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </wizard-step>

        <!-- ************************************************* -->
        <wizard-step [number]="5" [title]="'MEMBERSHIP.Followup' | translate" (onComplete)="onComplete()" (onPrev)="onStep5Back()" (onCompleteWithContract)="onCompleteWithContract()"
        (onCancel)="cancelRegister()">
          <div class="mt-2 mb-4">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" (change)="followUpChange($event)">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'MEMBERSHIP.Followup' | translate}}</span>
            </label>
          </div>
          <add-follow-up #followUpProfile [isEnabledFollowUp]="isSaveFollowup" (mobileBlurEvent)="followUpMobileBlur($event)" (emailBlurEvent)="followUpEmaileBlur($event)"
            [MobilePrefix]="memberForm.get('MobilePrefix').value" [Mobile]="inputMobile"> </add-follow-up>
        </wizard-step>

      </us-form-wizard>

    </form>
  </div>

</div>


<!-- **************************** -->
<ng-template #newpostalModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.AddNewPostalArea' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-postalcode (addPostalCodeEvent)="addPostalCode($event)" (cancelPostalAreaModal)="closePostalCodeModal()"></exce-postalcode>
  </div>
</ng-template>


<!-- ******************************* -->
<ng-template #newCountryModal let-c="close" let-d="dismiss">
  <form [formGroup]="countryDataForm" novalidate>
    <div class="modal-header">
      <span class="modal-title">{{ 'MEMBERSHIP.AddNewPostalArea' | translate }}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col">
          <div class="form-group w-50">
            <label> {{ 'MEMBERSHIP.CountryID' | translate }}
              <span class="text-danger">*</span>
            </label>
            <input class="form-control" type="text" [formControl]="countryDataForm.controls['Id']">
          </div>
          <div class="form-group">
            <label> {{ 'MEMBERSHIP.Name' | translate }}
              <span class="text-danger">*</span>
            </label>
            <input class="form-control" type="text" [formControl]="countryDataForm.controls['Name']">
          </div>
          <div class="form-group">
            <label> {{ 'MEMBERSHIP.CountryCode' | translate }}
              <span class="text-danger"></span>
            </label>
            <input class="form-control" type="text" [formControl]="countryDataForm.controls['CountryCode']">
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" type="submit" (click)="saveCountryData()" [labelText]="'MEMBERSHIP.Save' | translate "></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate "></us-icon-button>

    </div>
  </form>
</ng-template>


<!-- ********************* -->
<ng-template #newMemberModalView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ entitySelectionViewTitle }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItem)="selectedRowItem($event)" (selectedItems)="selectedRowItems($event)"
      (addMemberEvent)="addMemberModal(addMemberModalView)" [multipleSelect]="multipleRowSelect" [itemList]="items" [auotocompleteItems]="auotocompleteItems"
      [columns]="columns" [branches]="" [itemcount]="itemCount" [isDisabledRole]="isDiabledRole" [defaultRole]="defaultRole"
      [entitySelectionType]="entitySelectionType" [isDbPagination]="isDbPagination" [isBranchVisible]="isBranchVisible" [isStatusVisible]="isStatusVisible"
      [isRoleVisible]="isRoleVisible" [isAddBtnVisible]="isAddBtnVisible" [isBasicInforVisible]="isBasicInforVisible" (closeViewEvent)="closeIntroducer()">

    </exce-entityselection>
  </div>
</ng-template>

<!-- ********************* -->
<ng-template #introducedByView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.IntroducedBy' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItem)="selectedRowItem($event)" (selectedItems)="selectedRowItems($event)"
      (addMemberEvent)="addMemberModal(addMemberModalView)" [multipleSelect]="multipleRowSelect" [itemList]="items" [auotocompleteItems]="auotocompleteItems"
      [columns]="columns" [branches]="" [itemcount]="itemCount" [isDisabledRole]="isDiabledRole" [defaultRole]="defaultRole"
      [entitySelectionType]="entitySelectionType" [isDbPagination]="isDbPagination" [isBranchVisible]="isBranchVisible" [isStatusVisible]="isStatusVisible"
      [isRoleVisible]="isRoleVisible" [isAddBtnVisible]="isAddBtnVisible" [isBasicInforVisible]="isBasicInforVisible">

    </exce-entityselection> -->
    <exce-memberlist (memberSelectedDblClick)="introducedBySelected($event)">

    </exce-memberlist>
  </div>
</ng-template>

<!-- ********************* -->
<ng-template #introducer let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.IntroducedBy' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItem)="selectedRowItem($event)" (selectedItems)="selectedRowItems($event)"
      (addMemberEvent)="addMemberModal(addMemberModalView)" [multipleSelect]="multipleRowSelect" [itemList]="items" [auotocompleteItems]="auotocompleteItems"
      [columns]="columns" [branches]="" [itemcount]="itemCount" [isDisabledRole]="isDiabledRole" [defaultRole]="defaultRole"
      [entitySelectionType]="entitySelectionType" [isDbPagination]="isDbPagination" [isBranchVisible]="isBranchVisible" [isStatusVisible]="isStatusVisible"
      [isRoleVisible]="isRoleVisible" [isAddBtnVisible]="isAddBtnVisible" [isBasicInforVisible]="isBasicInforVisible">

    </exce-entityselection> -->
    <exce-memberlist (memberSelectedDblClick)="selectedIntroducedMembers($event, false)" (membersSelected)="selectedIntroducedMembers($event, true)"
    [allowMultipleSelect]="true" (closeViewEvent)="closeIntroducer()">

    </exce-memberlist>
  </div>
</ng-template>


<!-- ********************* -->
<ng-template #addMemberModalView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'COMMON.AddNewMember' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-addmember [roleType]="'MEM'" (addItemEvent)="addEntity($event)">
    </exce-addmember>
  </div>
</ng-template>


<!-- bris members -->
<ng-template #brisMemberModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">Bris Members</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <!-- REPLACE WITH AG-GRID
      <us-data-table id = "BRISSearchResultList" class="bris-mem-table" [pagination]="false" [items] = "BRISSearchResultList" (rowDoubleClick)="importSIOMember($event)" >
      <data-table-column [property]="'Name'" [header]="'MEMBERSHIP.Name' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'BirthDay'" [header]="'MEMBERSHIP.BirthDay' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'Ssn'" [header]="'MEMBERSHIP.Ssn' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'Email'" [header]="'MEMBERSHIP.Email' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'crMobile'" [header]="'MEMBERSHIP.crMobile' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'school'" [header]="'MEMBERSHIP.school' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'LastPaidSemesterFee'" [header]="'MEMBERSHIP.LastPaidSemesterFee' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
    </us-data-table> -->
  </div>
  <div class="modal-footer pt-0">
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="d('Cross click')"></us-icon-button>
  </div>
</ng-template>

  <!-------------------------------------------------------------------------------------------->

  <exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"
  [information]="aniMessage"></exce-fade-in-n-out>
