<div class="d-flex justify-content-between no-gutters mx-1">
    <div class="col-2">
        <input type="text" class="form-control" #NamePipeFilter (keyup)="filterInput(NamePipeFilter.value)" placeholder="{{'ADMIN.FilterByName'| translate}}" [(ngModel)]="searchValue">
    </div>
    <div>
        <us-icon-button class="float-right" [iconClass]="'icon-add'" [labelText]="'ADMIN.NewTask' | translate " (click)="openNewTaskModal(newTaskModal)"></us-icon-button>
    </div>
</div>

<div class="d-flex mt-1 mx-1">

    <!-- REPLACE WITH AG-GRID
        <us-data-table [pagination]="false" [items]="taskCategories" [itemCount]="itemCount" (rowDoubleClick)="openNewTaskModal(newTaskModal)"
        (rowDoubleClick)="rowDoubleClick($event, extendedFieldForm.value)">

        <data-table-column [property]="'Name'" header="{{'ADMIN.Name' | translate}}" [sortable]="true" [resizable]="true">
        </data-table-column>

        <data-table-column [width]="40">
            <ng-template #dataTableCell let-item="item">
                <button class="btn btn-primary btn-icon-min" title="{{'ADMIN.Details' | translate}}" (click)="rowItemLoad(item)" (click)="openNewTaskModal(newTaskModal)">
                    <span class="icon-detail"></span>
                </button>
            </ng-template>
        </data-table-column>

        <data-table-column [width]="40">
            <ng-template #dataTableCell let-item="item">
                <button class="btn btn-danger btn-icon-min" title="{{'ADMIN.Delete' | translate}}" (click)="deleteTaskCategory(item)">
                    <span class="icon-cancel"></span>
                </button>
            </ng-template>
        </data-table-column>
    </us-data-table> -->
</div>

<ng-template #newTaskModal let-c="close" let-d="dismiss">

    <div class="modal-header">
        <span class="modal-title">{{ 'ADMIN.AddTaskCategoryTitle' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click'); resetEditTaskCategoriesForm()"
            (click)="resetEditTaskCategoriesForm()">

            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>

    <!--Edit task Category Form-->
    <!--START-->

    <form [formGroup]="editTaskCategoriesForm">
        <div class="modal-body">

            <!-- Hidden field for Id -->
            <input class="form-control" type="hidden" formControlName="Id">

            <div class="d-flex justify-content-start no-gutters my-1">
                <div class="col-2">
                    <div class="form-group">
                        <label> {{ 'ADMIN.CategoryNameC' | translate }}</label>
                        <input class="form-control" type="text" formControlName="Name" us-error [errorMsg]="formErrors.Name" [displayError]="myFormSubmited && !editTaskCategoriesForm.get('Name').valid"
                            placement="right">
                    </div>
                </div>
            </div>

            <hr class="hr-dashed my-1">
            <div class="d-flex justify-content-start no-gutters my-1 fixed-col">

                <div class="col-2">

                    <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" checked disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.Text' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" formControlName="IsStartDate">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.StartDate' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" formControlName="IsEndDate">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.EndDate' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" formControlName="IsStartTime">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.StartTimeS' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" formControlName="IsEndTime">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.EndTimeS' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" formControlName="IsPhoneNo">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.PhoneNo' | translate }}</span>
                    </label>
                </div>

                <div class="col-2">

                    <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" checked disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.Description' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" formControlName="IsFoundDate">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.FoundDate' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" formControlName="IsReturnDate">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.ReturnDate' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" formControlName="IsDueDate">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.DueDateS' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" formControlName="IsDueTime">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.DueTime' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" checked disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.NoOfDays' | translate }}</span>
                    </label>
                </div>

                <div class="col-2">

                    <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" checked disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.AssignToEmp' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" checked disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.AssignToRole' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" formControlName="IsAutomatedEmail">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.AutomatedEmail' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" formControlName="IsAutomatedSMS">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.AutomatedSms' | translate }}</span>
                    </label>

                    <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input" formControlName="IsNextFollowUp">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'ADMIN.NextFollowUp' | translate }}</span>
                    </label>
                </div>
            </div>

            <!--END-->


            <hr class="hr-dashed my-1">

            <!--Extended Field Form-->
            <!--START-->

            <form [formGroup]="extendedFieldForm">
                <div class="d-flex justify-content-start no-gutters my-1">
                    <div class="col">

                        <div class="form-group">
                            <div class="form-inline">
                                <label class="mr-2">{{ 'ADMIN.FieldTitle' | translate }}</label>

                                <input type="text" class="form-control mr-2" formControlName="Title" us-error [errorMsg]="formErrors.Title" [displayError]="mFormSubmited && !extendedFieldForm.get('Title').valid"
                                    placement="right">

                                <label class="mr-2">{{ 'ADMIN.Type' | translate }}</label>
                                <select class="custom-select custom-width mr-2 cursor-hand" formControlName="FieldType" id="Type">
                                    <option *ngFor="let key of keys()" [value]="key">{{key}}</option>
                                </select>
                                <!--<button class="btn btn-primary" >{{ 'ADMIN.AddS' | translate }}</button> (click)="addActivityTimes(unavailableTimeForm.value)"-->

                                <us-icon-button [labelText]="'COMMON.Add' | translate " (click)="addExtendedFields(extendedFieldForm.value)"></us-icon-button>

                            </div>
                        </div>

                    </div>
                </div>
            </form>

            <!--END-->

            <div class="d-flex justify-content-start no-gutters my-1">

                <table class="table table-sm table-default table-tsk-category">
                    <thead class="thead-primary">
                        <tr>
                            <th>{{'ADMIN.FieldName' | translate}}</th>
                            <th>{{'ADMIN.Type' | translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let field of extendedFields">
                            <td>{{field.Title}}</td>
                            <td>{{field.FieldType}}</td>
                            <td>
                                <button class="btn btn-danger btn-icon-min" (click)="deleteField(field)">
                                    <span class="icon-cancel"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
        <div class="modal-footer">
            <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate" (click)="saveTaskCategory(editTaskCategoriesForm.value)"></us-icon-button>
            <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="c('Close click'); resetEditTaskCategoriesForm()"
                (click)="resetEditTaskCategoriesForm()"></us-icon-button>
        </div>
    </form>

</ng-template>
