<form [formGroup]="memberForm" (keydown.enter)="$event.preventDefault()">
  <div class="d-flex no-gutters">
    <div class="col mr-1">
      <div class="form-group" *ngIf="roleType === 'MEM'">
        <label>{{'COMMON.LastName' | translate}}
          <strong class="text-danger">*</strong>
        </label>
        <input type="text" class="form-control" formControlName="LastName" us-error [errorMsg]="formErrors.LastName" [displayError]="myFormSubmited && !memberForm.get('LastName').valid"
          (blur)="updateNameFormat($event.target.value,'LNAME')">
      </div>
      <div class="form-group" *ngIf="roleType === 'MEM'">
        <label>{{'COMMON.FirstName' | translate}}
          <strong class="text-danger">*</strong>
        </label>
        <input type="text" class="form-control" formControlName="FirstName" us-error [errorMsg]="formErrors.FirstName" [displayError]="myFormSubmited && !memberForm.get('FirstName').valid"
          (blur)="updateNameFormat($event.target.value,'FNAME')">
      </div>
      <div class="form-group" *ngIf="roleType === 'COM'">
        <label>{{'MEMBERSHIP.Department' | translate}}</label>
        <input type="text" class="form-control " formControlName="CompanyName" [exceError]="memberForm.controls['CompanyName']" reqValidationMesge="{{'MEMBERSHIP.MsgComapnyNameRequired' | translate}}">
      </div>
      <div class="form-group" *ngIf="roleType === 'MEM'">
        <div style="margin-top: 0.85rem;">
          <label>{{'COMMON.Gender' | translate}}
            <strong class="text-danger">*</strong>
          </label>
          <div class="form-inline">
            <div>
              <label class="custom-control custom-radio">
                <input id="rdmale" name="genderRadio" type="radio" class="custom-control-input" (change)="setGender(1)" [checked]="selectedGender === 1">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'COMMON.Male' | translate}}</span>
              </label>
            </div>
            <div>
              <label class="custom-control custom-radio">
                <input id="rdfemale" name="genderRadio" type="radio" class="custom-control-input" (change)="setGender(0)" [checked]="selectedGender === 0">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'COMMON.Female' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>{{'COMMON.Mobile' | translate}}</label>
        <!-- <div class="input-group"> -->
            <!-- <intl-tel-input [id]="'intel'" (fullValueChange)="fullValueChange($event)" formControlName="Mobile" us-error [errorMsg]="formErrors.Mobile"
            placement="right"></intl-tel-input> -->
          <!-- <input type="text" class="form-control p-1 w-25" formControlName="MobilePrefix" (change)="onPhoneNumberChange('MOBILEPRE', $event.target.value)"
            [exceError]="memberForm.controls['MobilePrefix']"> -->

            <intl-tel-input [intlOptions]="intlOptions" [id]="'Mobile'" (fullValueChange)="fullValueChange($event,'MOBILE')" formControlName="Mobile" us-error [errorMsg]="formErrors.Mobile"
                   (valueBlur)= "mobileBlur($event,'MOBILE')" (valueFocus)="mobileFocus('MOBILE')"
                    [displayError]="(isMobileBlur || myFormSubmited) && !memberForm.get('Mobile').valid"
                   placement="right" container="view"></intl-tel-input>
                   <!-- <p>{{phoneNumberDetail | json}}</p> -->

                   <!-- <intl-tel-input [id]="'intel'" (fullValueChange)="fullValueChange($event)" formControlName="intelNumber" us-error [errorMsg]="formErrors.intelNumber"
                   [displayError]="myFormSubmited && !myForm.get('intelNumber').valid" placement="right"></intl-tel-input>
                 <p>{{phoneNumberDetail | json}}</p> -->

      </div>
      <div class="form-group">
        <label>{{'COMMON.Private' | translate}}</label>
        <intl-tel-input  [intlOptions]="intlOptions" (fullValueChange)="fullValueChange($event,'PRIVATE')" formControlName="PrivateTeleNo" us-error [errorMsg]="formErrors.PrivateTeleNo"
        (valueBlur)= "mobileBlur($event,'PRIVATE')" (valueFocus)="mobileFocus('PRIVATE')"
        [displayError]="(isPrivateBlur || myFormSubmited) && !memberForm.get('PrivateTeleNo').valid"
         placement="right" container="view"></intl-tel-input>
         <!-- <p>{{phoneNumberDetail | json}}</p> -->
        <!-- <div class="input-group">
          <input type="text" class="form-control p-1 w-25" formControlName="PrivateTeleNoPrefix" (change)="onPhoneNumberChange('PRIVATEPRE', $event.target.value)"
            [exceError]="memberForm.controls['PrivateTeleNoPrefix']">
          <input type="text" exceMobile mobileNo="{{registerMember.PrivateTeleNo}}" mobilePrefix="{{registerMember.PrivateTeleNoPrefix}}"
            (change)="onPhoneNumberChange('PRIVATE', $event.target.value)" class="form-control w-75" formControlName="PrivateTeleNo"
            us-error [errorMsg]="formErrors.PrivateTeleNo" [displayError]="myFormSubmited && !memberForm.get('PrivateTeleNo').valid"
            placement="right">
        </div> -->
      </div>
      <div class="form-group">
        <label>{{'COMMON.Work' | translate}}</label>
        <intl-tel-input [intlOptions]="intlOptions" (fullValueChange)="fullValueChange($event,'WORK')" formControlName="WorkTeleNo" us-error [errorMsg]="formErrors.WorkTeleNo"
        (valueBlur)= "mobileBlur($event,'WORK')" (valueFocus)="mobileFocus('WORK')"
        [displayError]="(isWorkBlur || myFormSubmited) && !memberForm.get('WorkTeleNo').valid"
        placement="right" container="view"></intl-tel-input>
        <!-- <div class="input-group">
          <input type="text" class="form-control p-1 w-25" formControlName="WorkTeleNoPrefix" (change)="onPhoneNumberChange('WORKPRE', $event.target.value)"
            [exceError]="memberForm.controls['WorkTeleNoPrefix']">
          <input type="text" exceMobile mobileNo="{{registerMember.WorkTeleNo}}" mobilePrefix="{{registerMember.WorkTeleNoPrefix}}"
            (change)="onPhoneNumberChange('WORK', $event.target.value)" class="form-control w-75" formControlName="WorkTeleNo"
            us-error [errorMsg]="formErrors.WorkTeleNo" [displayError]="myFormSubmited && !memberForm.get('WorkTeleNo').valid"
            placement="right">
        </div> -->
      </div>
      <div class="form-group">
        <label>{{'COMMON.Email' | translate}}</label>
        <input type="text" #CreditorCollectionId (focus)="emailFocus()" (blur)="emailBlur($event.target.value)" class="form-control"
          formControlName="Email" us-error [errorMsg]="formErrors.Email" [displayError]="(myFormSubmited || isEmailBlur) && !memberForm.get('Email').valid"
          placement="right">
      </div>
      <div class="d-flex" *ngIf="roleType === 'MEM'">
        <div class="form-group w-75">
          <label>{{'COMMON.Birthday' | translate}}</label>
          <div class="input-group">
            <us-date-picker class="w-100" name="birthDate" #birthDate [locale]="'COMMON.Locale'| translate" formControlName="BirthDate"
              (dateChanged)="onbirthdayDateChange($event)">
            </us-date-picker>
          </div>
        </div>
        <div class="form-group w-25 ml-1">
          <label>{{'COMMON.Age' | translate}}</label>
          <input type="text" class="form-control" formControlName="Age">
        </div>
      </div>
    </div>
    <div class="col ml-1">
      <div class="form-group">
        <label>{{'COMMON.Address1' | translate}}</label>
        <input type="text" class="form-control" formControlName="Address1" us-error [errorMsg]="formErrors.Address1" [displayError]="myFormSubmited && !memberForm.get('Address1').valid">
      </div>
      <div class="form-group">
        <label>{{'COMMON.Address2' | translate}}</label>
        <input type="text" class="form-control" formControlName="Address2">
      </div>
      <div class="form-group">
        <label>{{'COMMON.PostalArea' | translate}}</label>
        <div class="input-group">
          <input type="text" class="form-control p-1 w-25" (keyup)="getCityforPostalCode($event.target.value)" formControlName="PostCode"
            us-error [errorMsg]="formErrors.PostCode" [displayError]="myFormSubmited && !memberForm.get('PostCode').valid">
          <input type="text" class="form-control" formControlName="PostPlace">
          <button class="btn btn-primary" type="button" (click)="openPostalCodeModal(newpostalModal)">{{'COMMON.Add' | translate}}</button>
        </div>
      </div>
      <div class="form-group">
        <label>{{'COMMON.Country' | translate}}</label>
        <select class="form-control custom-select">
          <option *ngFor="let country of countries" [ngValue]="country" [selected]="country.Id===selectedCountry.Id">{{country.Name}}</option>
        </select>
      </div>
      <div class="d-flex" *ngIf="roleType === 'MEM'">
        <div class="form-group w-50">
          <label>{{'COMMON.FromDate' | translate}}</label>
          <us-date-picker class="w-100" name="fromDate" formControlName="FromDate" [locale]="'COMMON.Locale'| translate">
          </us-date-picker>
        </div>
        <div class="form-group w-50 ml-1">
          <label>{{'COMMON.ToDate' | translate}}</label>
          <us-date-picker class="w-100" name="toDate" formControlName="ToDate" [locale]="'COMMON.Locale'| translate">
          </us-date-picker>
        </div>
      </div>
      <div class="form-group">
        <label>{{'COMMON.AccountNo' | translate}}</label>
        <input type="text" class="form-control" formControlName="AccountNo" us-error [errorMsg]="formErrors.AccountNo" [displayError]="(myFormSubmited || memberForm.get('AccountNo').dirty) && !memberForm.get('AccountNo').valid">
      </div>
      <div class="form-group" *ngIf="roleType === 'MEM'">
        <label>{{'COMMON.LinkMember' | translate}}</label>
        <div class="input-group">
          <input type="text" class="form-control" formControlName="LinkMemberName">
          <button class="btn btn-primary" (click)="newMemberModal(newMemberModalView)" type="button">{{'COMMON.Select' | translate}}</button>
        </div>
      </div>

      <div class="form-group" *ngIf="roleType === 'MEM'">
        <label class="custom-control custom-checkbox  mt-3">
          <input type="checkbox" class="custom-control-input" formControlName="IsFollowUp" [checked]="IsFollowUp">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{'COMMON.FollowUp' | translate}}</span>
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary" type="button" (click)="saveMember()">{{'COMMON.Ok' | translate}}</button>
      <button class="btn btn-primary" type="button" (click)="closeNewMemberRegisterView()">{{'COMMON.Cancel' | translate}}</button>
    </div>
  </div>
</form>



<ng-template #newMemberModalView let-c="close" let-d="dismiss">

  <div class="modal-header">
    <span class="modal-title">{{ entitySelectionViewTitle }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItem)="selectedRowItem($event)" [multipleSelect]="false"
      [itemList]="items" [auotocompleteItems]="auotocompleteItems" [columns]="columns" [branches]="branches" [isDisabledRole]="isDisabledRole"
      [isAddBtnVisible]="isAddBtnVisible" (closeViewEvent)="closeNewMemberRegisterView(); closeMemberSelection()">
      <!-- (addMemberEvent)="addMemberModal(addMemberModalView)" -->
    </exce-entityselection>
  </div>


</ng-template>

<ng-template #newpostalModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.AddNewPostalArea' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-postalcode (addPostalCodeEvent)="d('Cross click');addPostalCode($event)" (cancelPostalAreaModal)="closePostalAreaModal()"></exce-postalcode>
  </div>
</ng-template>
