<div class="d-flex no-gutters">
  <div class="col mr-1">

    <us-icon-button [iconClass]="'icon-add'" (click)="openNewAccessProfileModel(newAccessProfileModal)" [labelText]="'ADMIN.AddAccessProfile' | translate "></us-icon-button>

    <table class="table mt-1 table-sm table-default" (rowClick)="rowClick($event)">
      <thead class="thead-primary">
        <tr>
          <th>{{ 'ADMIN.Name' | translate}} </th>
          <th>{{ 'ADMIN.AssignedDays' | translate}}</th>
          <th style="width: 80px">{{ 'ADMIN.AddEmGender' | translate}}</th>
          <th style="width: 100px">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profile of accessProfilesList">
          <td>{{profile.AccessProfileName}}</td>
          <td>
            {{profile.isMonday ? ('ADMIN.Mon' | translate) : ''}} {{profile.isTuesday ? ('ADMIN.Tue' | translate) : ''}} {{profile.isWednesday
            ? ('ADMIN.Wed' | translate) : ''}} {{profile.isThursday ? ('ADMIN.Thu' | translate) : ''}} {{profile.isFriday
            ? ('ADMIN.Fri' | translate) : ''}} {{profile.isSaturday ? ('ADMIN.Sat' | translate) : ''}} {{profile.isSunday
            ? ('ADMIN.Sun' | translate) : ''}}
          </td>
          <td style="width: 80px">{{profile.Gender =='1'? ('COMMON.Male' | translate) : ''}} {{profile.Gender =='2'? ('COMMON.Female' | translate)
            : ''}} {{profile.Gender =='3'? ('COMMON.All' | translate) : ''}}
          </td>
          <td style="width: 100px">
            <button class="btn btn-primary btn-icon-min" (click)="openViewAccessProfileModel(newAccessProfileModal, profile,false)">
              <span class="icon-detail"></span>
            </button>
            <button class="btn btn-danger btn-icon-min ml-1" (click)="deletAccessProfile(profile)">
              <span class="icon-cancel"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- ******************************** New Access Profile Modal *************************************** -->

<ng-template #newAccessProfileModal let-cRev="close" let-d="dismiss">
  <form [formGroup]="newAccessProfileForm">
    <div class="modal-header">
      <span class="modal-title" [hidden]="isAddAccessProf">{{'ADMIN.UpdateAccessProfileTitle' | translate}}</span>
      <span class="modal-title" [hidden]="!isAddAccessProf"> {{'ADMIN.AddAccessProfileTitle' | translate}}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click'); closeAccessProfileView()">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>{{ 'ADMIN.NameC' | translate}} </label>
            <input class="form-control" formControlName="name" type="text" us-error [errorMsg]="formErrors.name" [displayError]="myFormSubmited && !newAccessProfileForm.get('name').valid"
              placement="right">

          </div>
        </div>
        <div class="col">
          <div class="d-flex justify-content-start">
            <div class="form-group mr-2">
              <label>{{'ADMIN.AddNewTemplateTxbGymAvailable' | translate}}</label>
              <div class="input-group">
                <span class="input-group-addon">{{selectedGymBranchCount}}</span>
                <button class="btn btn-primary" type="button" (click)="viewLoad(gymGroup);loadBranches()" container="body" placement="bottom"
                  [usPopover]="gymAvailableGroup" popoverWidth="350" popoverHeight="340" #gymGroup="usPopover" triggers="manual">{{'ADMIN.Select' | translate}}</button>
              </div>
            </div>


            <div class="mr-2">
              <div class="form-group">
                <label>{{'ADMIN.AddNewTemplateTxbRegionAvailable' | translate}}</label>
                <div class="input-group">
                  <span class="input-group-addon">{{selectedRegionCount}}</span>
                  <button class="btn btn-primary" type="button" (click)="viewLoad(regionGroup);loadRegions()" container="body" placement="bottom"
                    [usPopover]="regionAvailableGroup" popoverWidth="350" popoverHeight="340" #regionGroup="usPopover" triggers="manual">{{'ADMIN.Select' | translate}}</button>
                </div>
              </div>
            </div>


            <div class="mr-2">
              <div class="form-group">
                <label>{{'ADMIN.AddNewTemplateTxbCountryAvailable' | translate}}</label>
                <div class="input-group">
                  <span class="input-group-addon">{{selectedCountryCount}}</span>
                  <button class="btn btn-primary" type="button" (click)="viewLoad(countryGroup);loadCountries()" container="body" placement="bottom"
                    [usPopover]="countryAvailableGroup" popoverWidth="350" popoverHeight="340" #countryGroup="usPopover" triggers="manual">{{'ADMIN.Select' | translate}}</button>
                </div>
              </div>
            </div>


            <div class="ml-5">
              <label class="mt-1-2">{{ 'ADMIN.AddEmGender' | translate}}</label>
              <div class="form-group">
                <div class="form-check form-check-inline">
                  <label class="custom-control custom-radio cursor-hand">
                    <input class="custom-control-input" id="rdGender" name="Gender" type="radio" formControlName="Gender" [checked]="selectedAccessProfile?.Gender === 1"
                      value="male" (change)="getGenderChange($event)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'ADMIN.AddEmMale' | translate}}</span>
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="custom-control custom-radio cursor-hand">
                    <input class="custom-control-input" id="rdGender" name="Gender" type="radio" formControlName="Gender" [checked]="selectedAccessProfile?.Gender === 2"
                      value="female" (change)="getGenderChange($event)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'ADMIN.AddEmFemale' | translate}}</span>
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="custom-control custom-radio cursor-hand">
                    <input class="custom-control-input" id="rdGender" name="Gender" type="radio" formControlName="Gender" [checked]="selectedAccessProfile?.Gender === 3"
                      value="all" (change)="getGenderChange($event)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ 'ADMIN.ALL' | translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>{{ 'ADMIN.Time' | translate}} </label>
            <div class="input-group">
              <us-time-picker formControlName="fromTime"> </us-time-picker>
              <span class="input-group-addon border-left-0">{{'ADMIN.To' | translate}}</span>
              <us-time-picker formControlName="toTime"> </us-time-picker>
            </div>
          </div>
        </div>
        <div class="col">
          <label></label>
          <div class="form-inline">
            <label class="custom-control custom-checkbox cursor-hand">
              <input type="checkbox" formControlName="isMonday" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'ADMIN.MONDAY' | translate }}</span>
            </label>
            <label class="custom-control custom-checkbox cursor-hand">
              <input type="checkbox" formControlName="isTuesday" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'ADMIN.TUESDAY' | translate }}</span>
            </label>
            <label class="custom-control custom-checkbox cursor-hand">
              <input type="checkbox" formControlName="isWednesday" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'ADMIN.WEDENSDAY' | translate }}</span>
            </label>
            <label class="custom-control custom-checkbox cursor-hand">
              <input type="checkbox" formControlName="isThursday" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'ADMIN.THURSDAY' | translate }}</span>
            </label>
            <label class="custom-control custom-checkbox cursor-hand">
              <input type="checkbox" formControlName="isFriday" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'ADMIN.FRIDAY' | translate }}</span>
            </label>
            <label class="custom-control custom-checkbox cursor-hand">
              <input type="checkbox" formControlName="isSaturday" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'ADMIN.SATURDAY' | translate }}</span>
            </label>
            <label class="custom-control custom-checkbox cursor-hand">
              <input type="checkbox" formControlName="isSunday" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'ADMIN.SUNDAY' | translate }}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary" [hidden]="isEditAccessTime" (click)="addAccessProfileTime()">
            {{ 'ADMIN.ADD' | translate }}
          </button>
          <button type="button" class="btn btn-primary" [hidden]="!isEditAccessTime" (click)="addAccessProfileTime()">
            {{ 'ADMIN.Update' | translate }}
          </button>
        </div>
      </div>
      <div class="d-flex acces-pro-table">
        <table class="table mt-1 table-sm table-default">
          <thead class="thead-primary">
            <tr>
              <th>{{ 'ADMIN.DayS' | translate}} </th>
              <th>{{ 'ADMIN.FromTime' | translate}}</th>
              <th>{{ 'ADMIN.ToTime' | translate}}</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let accessTime of selectedAccessProfile?.AccessTimeList">
              <td>
                {{accessTime?.Monday ? ('ADMIN.Mon' | translate) : ''}} {{accessTime?.Tuesday ? ('ADMIN.Tue' | translate) :''}} {{accessTime?.Wednesday
                ? ('ADMIN.Wed' | translate) : ''}} {{accessTime?.Thursday ? ('ADMIN.Thu' | translate): ''}} {{accessTime?.Friday
                ? ('ADMIN.Fri' | translate) : ''}} {{accessTime?.Saturday ? ('ADMIN.Sat' | translate): ''}} {{accessTime?.Sunday
                ? ('ADMIN.Sun' | translate) : ''}}
              </td>
              <td>{{accessTime?.FromTime| date:"HH:mm" }}</td>
              <td>{{accessTime?.ToTime| date:"HH:mm" }}</td>

              <td>
                <button class="btn btn-primary btn-icon-min mr-1" (click)="editAccessProfileTime(accessTime)">
                  <span class="icon-detail"></span>
                </button>
                <button class="btn btn-danger btn-icon-min" (click)="deletAccessTime(accessTime)">
                  <span class="icon-cancel"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </form>

  <div class="modal-footer">
    <us-icon-button [iconClass]="'icon-done'" (click)="SaveAccessProfile(newAccessProfileForm.value)" [labelText]="'ADMIN.SaveC' | translate "></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.CancelC' | translate " (click)="cRev('Close click'); closeAccessProfileView()"></us-icon-button>
  </div>

</ng-template>

<!-- ************************************gym available  group ******************************** -->

<ng-template #gymAvailableGroup>
  <div>
    <span class="modal-title">
      <strong>{{ 'ADMIN.AddNewTemplateTxbGymAvailable' | translate}}</strong>
    </span>
    <button class="close modal-close" (click)="closePopOver()" style="font-size: 0.8rem;">
      <span class="icon-close"></span>
    </button>
  </div>

  <div class="scroll-content" usScroll>
    <div class="form-group mb-0" *ngFor="let branch of branchList">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" [checked]="branch.IsCheck" (change)="getSelectedBranches(branch, $event)">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{branch.BranchName}}</span>
      </label>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary float-right" type="button" (click)="closePopOver() ;changeGymAvailble()">{{'ADMIN.OK' | translate}}</button>
  </div>

</ng-template>



<!-- *********************************** region available  group ******************************* -->

<ng-template #regionAvailableGroup>

  <div>
    <span class="modal-title">
      <strong>{{ 'ADMIN.RegionAvailable' | translate}}</strong>
    </span>
    <button class="close modal-close" (click)="closePopOver()" style="font-size: 0.8rem;">
      <span class="icon-close"></span>
    </button>
  </div>

  <div class="scroll-content" usScroll>
    <div class="form-group mb-0" *ngFor="let region of regionList">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" [checked]="region.IsCheck" [value]="region.IsCheck" (change)="getSelectedRegions(region)">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{region.Name}}</span>
      </label>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary float-right" type="button" (click)="closePopOver(); changeRegionAvailble()">{{'ADMIN.OK' | translate}}</button>
  </div>

</ng-template>


<!-- ************************************* country available  group ****************************** -->

<ng-template #countryAvailableGroup>

  <div>
    <span class="modal-title">
      <strong>{{ 'ADMIN.CountryAvailable' | translate}}</strong>
    </span>
    <button class="close modal-close" (click)="closePopOver()" style="font-size: 0.8rem;">
      <span class="icon-close"></span>
    </button>
  </div>

  <div class="scroll-content" usScroll>
    <div class="form-group mb-0" *ngFor="let country of countryList">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" [checked]="country.IsCheck" [value]="country.IsCheck" (change)="getSelectedCountries(country)">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{country.Name}}</span>
      </label>
    </div>
  </div>
  <div>
    <button class="btn btn-primary float-right" type="button" (click)="closePopOver();changeCountryAvailble()">{{'ADMIN.OK' | translate}}</button>
  </div>
</ng-template>
