<div class="card h-100">
    <div class="card-header p-1">
        <us-icon-button class="d-inline-block" [customBtnColor]="this.isItemReturn ? 'btn-warning': ''" [iconClass]="'icon-shop-return'"
        [labelText]="'COMMON.Return' | translate" (click)="itemReturn()" [iconBgClass]="isItemReturn ? 'us-icon-btn-bg-warning': ''" [isDisabled]="isSelectedMember">
        </us-icon-button>
        <us-icon-button class="d-inline-block" [customBtnColor]="this.isEmployee ? 'btn-warning': ''" [iconClass]="'icon-user'"
        [labelText]="'COMMON.Employee' | translate" (click)="openMemberModal(payModal, 'EMPLOYEE')" [iconBgClass]="isEmployee ? 'us-icon-btn-bg-warning': ''" [isDisabled]="isSelectedMember">
        </us-icon-button>
        <us-icon-button class="d-inline-block" [isDisabled]="isSelectedMember" (click)="openMemberModal(payModal, 'MEMBER')" [iconClass]="'icon-add'" [labelText]="'COMMON.Customer'| translate"></us-icon-button>
        <p class="m-0 d-inline-block">{{'COMMON.CustomerNumber' | translate}}:</p>
        <strong class="d-inline-block">{{CustId}}</strong>&emsp;
        <p class="m-0 d-inline-block">{{'COMMON.Name' | translate}}:</p>
        <strong class="d-inline-block">{{Name}}</strong>&emsp;
        <button [hidden]='!isSelectedMember' title="{{'COMMON.btnRemove' | translate}}" class="btn btn-danger btn-icon-min cursor-hand" (click)="removeMember()" ><span class="icon-cancel"></span></button>
    </div>
    <div class="card-body bg-light p-0 scroll-card ">
        <!-- REPLACE WITH AG-GRID
            <us-data-table [items]="shopItems" [itemCount]="itemCount" indexColumnVisible (reload)="reloadItems($event)" [pagination]="false">
            <data-table-column [property]="'ArticleNo'" [header]="'COMMON.ItemCode' | translate" [sortable]="true" [resizable]="true" [width]="50">
            </data-table-column>
            <data-table-column [property]="'Description'" [header]="'COMMON.ItemName' | translate" [sortable]="true" [resizable]="true" [width]="180">
            </data-table-column>
            <data-table-column [property]="'UnitPrice'" [width]="90" [header]="'COMMON.UnitPrice' | translate" [sortable]="false" [resizable]="true" [alignment]="'right'">
                <ng-template #dataTableCell let-item="item">
                    <us-amount-input [disabled]="item.IsVoucher || item.ArticleType === 'ITEM'" [hideClose]="true" class="form-control form-control-sm text-right" (valueBlur)="onUnitPriceChanged(item, $event)" [(ngModel)]="item.DefaultPrice" class="w-100"></us-amount-input>
                </ng-template>
            </data-table-column>

            <data-table-column [property]="'DiscountAmountPercentage'" [header]="'COMMON.DiscountAmountPercentage' | translate" [sortable]="false" [resizable]="true" [width]="160">
                <ng-template #dataTableCell let-item="item">
                    <div class="input-group input-group-sm">
                        <us-amount-input [disabled]="item.isPromoAdded || item.IsVoucher || isEmployee" (valueBlur)="discountChanged(item, $event, true, discountCommentModal)" [hideClose]="true" class="form-control form-control-sm text-right" [(ngModel)]="item.DiscountPercentage" class="w-100"></us-amount-input>
                        <span class="input-group-addon bg-light">%</span>
                        <us-amount-input [disabled]="item.isPromoAdded || item.IsVoucher || isEmployee" style="width:110px;" (valueBlur)="discountChanged(item, $event, false, discountCommentModal)" [hideClose]="true" class="form-control form-control-sm text-right" [(ngModel)]="item.Discount" class="w-100"></us-amount-input>

                    </div>
                </ng-template>
            </data-table-column>

            <data-table-column [property]="'Quantity'" [header]="'COMMON.Quantity' | translate" [sortable]="false" [resizable]="true" [width]="72">
                <ng-template #dataTableCell let-item="item">
                    <span>
                     <input *ngIf="isItemReturn" [disabled]="item.isPromoAdded || item.IsVoucher" class="form-control form-control-sm" style=" width:65px" type="number" [ngModel]="item.OrderQuantity"
                     (ngModelChange)="OrderQuantityChanged(item, $event)" max="-1" OnlyNumbers>
                     <input *ngIf="!isItemReturn" [disabled]="item.isPromoAdded || item.IsVoucher" class="form-control form-control-sm" style=" width:65px" type="number" [ngModel]="item.OrderQuantity"
                     (ngModelChange)="OrderQuantityChanged(item, $event)" min="1" OnlyNumbers>
                    </span>
                </ng-template>
            </data-table-column>
            <data-table-column [property]="'VatRate'" [header]="'COMMON.VatRate' | translate" [sortable]="false" [resizable]="true" [width]="60">
              <ng-template #dataTableCell let-item="item">
                  <span>
                   <input disabled class="form-control form-control-sm" style=" width:65px" type="number" [ngModel]="item.VatRate"
                    OnlyNumbers>
                  </span>
              </ng-template>
          </data-table-column>
            <data-table-column [property]="'DefaultPrice'" [header]="'COMMON.Price' | translate" [sortable]="true" [resizable]="true" [alignment]="'right'" [width]="100">
                <ng-template #dataTableCell let-item="item">
                    <span>
                        {{isEmployee ? item.Price : item.Price | amountConverter:locale}}
                    </span>
                </ng-template>
            </data-table-column>
            <data-table-column [property]="'active'" [header]="" [width]="38">
                <ng-template #dataTableCell let-item="item">
                    <span>
                     <button [disabled]='item.isPromoAdded' title="{{'COMMON.btnRemove' | translate}}" class="btn btn-danger btn-icon-min cursor-hand" (click)="removeShopItem(item)" ><span class="icon-cancel"></span></button>
                    </span>
                </ng-template>
            </data-table-column>
        </us-data-table> -->
    </div>
    <div class="card-footer p-1">
        <div class="d-flex justify-content-between sh-total-pr">
            <strong>{{ 'COMMON.TotalPhrase' | translate }}</strong>
            <strong><h5 class="m-0 text-dark">{{saleItemTotal | amountConverter:locale}}</h5></strong>
        </div>
        <div class="d-flex justify-content-start my-2" *ngFor="let promo of addedCampaignList">
            <span>{{ promo.Name }}</span>

            <strong class="ml-auto mr-1">{{promo.Price  | amountConverter:locale}}</strong>
            <button class="btn btn-danger btn-icon-min ml-2 cursor-hand" (click)="removeCampaign(promo)"><span class="icon-cancel"></span></button>
        </div>
    </div>
</div>

<!-- -------------------------------------------------------------------------------------------------------------------- -->

<ng-template #discountCommentModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'COMMON.DiscountComment' | translate }}</span>
        <button type="button" class="close modal-close cursor-hand" aria-label="Close" (click)="closeDiscountModel()">

            <span aria-hidden="true" class="icon-close"></span>
          </button>
    </div>
    <form [formGroup]="discountForm">
        <div class="modal-body">
            <div class="form-group">
                <textarea rows="4" class="form-control" formControlName="discountComment" us-error [errorMsg]="discountFormErrors.discountComment" [displayError]="discountFormSubmited && !discountForm.get('discountComment').valid" placement="right"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <us-icon-button [iconClass]="'icon-done'" [labelText]="'SAVE'" (click)="submitDiscountComment()"></us-icon-button>
            <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'CANCEL' | translate " (click)="closeDiscountModel()"></us-icon-button>

        </div>
    </form>
</ng-template>

<!-- -------------------------------------------------------------------------------------------------------------------- -->

<ng-template #returnCommentModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'COMMON.ReturnComment' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="retunItemCancel()">

            <span aria-hidden="true" class="icon-close"></span>
          </button>
    </div>
    <form [formGroup]="returnItemForm">
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <textarea rows="4" cols="50" formControlName="returnItemComment" us-error [errorMsg]="returnformErrors.returnItemComment" [displayError]="returnItemFormSubmited && !returnItemForm.get('returnItemComment').valid" placement="right"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <us-icon-button [iconClass]="'icon-done'" [labelText]="'SAVE' | translate " (click)="addReturnItemComment()"></us-icon-button>
            <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'CANCEL' | translate " (click)="retunItemCancel()"></us-icon-button>
        </div>
    </form>

</ng-template>

<!-- -------------------------------------------------------------------------------------------------------------------- -->


<ng-template #payModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'COMMON.MemberSelect' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="closeEntitySelection()">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <exce-entityselection (searchEvent)="searchDeatail($event)" (closeViewEvent)="closeMemberSelection()" (selectedItem)="selecteMember($event)" (addMemberEvent)="addMemberModal(addMemberModalView)"
      [multipleSelect]="false" [itemList]="entityItems" [auotocompleteItems]="auotocompleteItems" [columns]="columns" [itemcount]="itemCount"
      [isDisabledRole]="true" [entitySelectionType]="entitySearchType" [isDbPagination]="true" [isBranchVisible]="isBranchVisible"
      [isStatusVisible]="isStatusVisible" [isRoleVisible]="isRoleVisible" [isAddBtnVisible]="isAddBtnVisible" [isBasicInforVisible]="isBasicInforVisible">

    </exce-entityselection> -->
    <exce-memberlist (memberSelectedDblClick)="selecteMember($event)" [allowMultipleSelect]="false" (closeViewEvent)="closeEntitySelection()"
    [getType]="memberListGetType" [columnsToShow]="columnsToShowMemberModal">

    </exce-memberlist>
  </div>

</ng-template>

<!-- -------------------------------------------------------------------------------------------------------------------- -->

<ng-template #addMemberModalView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'COMMON.AddNewMember' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-addmember [roleType]="'MEM'" (addItemEvent)="addEntity($event)">
    </exce-addmember>
  </div>
</ng-template>
