
<div class="gym-get-inte-scroller">
  <form [formGroup]="GATForm" #GATfrm>
    <div class="d-flex m-1 no-gutters">
      <div class="col-2 mr-2">
        <div class="form-group">
          <label>{{ 'ADMIN.TerminalName' | translate }}</label>
          <input type="text" class="form-control" [formControl]="GATForm.controls['TerminalName']" us-error [errorMsg]="formErrors.TerminalName" [displayError]="formSubmited && !GATForm.get('TerminalName').valid"
          >
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.Type' | translate }} </label>
          <select class="custom-select mr-sm-2 w-100" [formControl]="GATForm.controls['TerminalTypeId']" [exceError]="GATForm.controls['TerminalTypeId']">
            <option value=""></option>
            <option *ngFor="let type of terminalTypes" value={{type.TypeId}}>
              {{type.TypeName}}
            </option>
          </select>
        </div>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="GATForm.controls['IsOnline']" >
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.IsOnline' | translate }}</span>
        </label>
        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="GATForm.controls['IsSecondIdentification']" >
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.IsSecondIdentification' | translate }}</span>
        </label>
        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="GATForm.controls['IsPaid']"
            (change)="paidChange($event)">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.PaidVisitTerminal' | translate }}</span>
        </label>
        <div class="form-inline">
          <us-icon-button class="mr-2" [iconClass]="'icon-done'" (click)="submitForm(GATForm.value)" [labelText]="'ADMIN.SaveC' | translate" ></us-icon-button>
          <us-icon-button [iconClass]="'icon-cancel'" (click)="clearForm()" [labelText]="'ADMIN.CLEAR' | translate"></us-icon-button>
        </div>
      </div>

      <div class="col-2 mr-2">
        <div class="form-group">
          <label>{{ 'ADMIN.IpAddress' | translate }}</label>
          <input type="text" class="form-control" [formControl]="GATForm.controls['Location']" us-error [errorMsg]="formErrors.Location" [displayError]="formSubmited && !GATForm.get('Location').valid"
          >
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.Port' | translate }} </label>
          <input type="text" class="form-control" [formControl]="GATForm.controls['Port']" us-error [errorMsg]="formErrors.Port" [displayError]="formSubmited && !GATForm.get('Port').valid"
          >
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.ArticleName' | translate }} </label>
          <div class="form-group">
            <div class="input-group default-input-group">
              <input type="text" class="form-control w-100" [formControl]="GATForm.controls['ArticleName']" >
              <button class="btn btn-primary" type="button" [disabled]="!isPaid" (click)="openArticleSelectionModel(articleSelection)">{{ 'ADMIN.Select' | translate }}</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>{{ 'ADMIN.Activity' | translate }} </label>
          <select class="custom-select mr-sm-2 w-100" [formControl]="GATForm.controls['ActivityId']" us-error [errorMsg]="formErrors.ActivityId" [displayError]="formSubmited && !GATForm.get('ActivityId').valid"
          >
            <option value=""></option>
            <option *ngFor="let activity of activities" value={{activity.Id}}>
              {{activity.Name}}
            </option>

          </select>
        </div>

      </div>

      <div class="col">
        <label>{{ 'ADMIN.AccessProfiles' | translate }} </label>
        <div class="border">
        <!-- REPLACE WITH AG-GRID
          <us-data-table class="access-table-scroller" id="persons-grid" [pagination] = "false" [items]="accessProfileItems" [itemCount]="accessProfileCount" >
          <data-table-column [property]="''" [header]="''" [sortable]="true" [resizable]="true">
            <ng-template #dataTableCell let-item="item">

              <label class="custom-control custom-checkbox checkbox-inline w-100">
                <input type="checkbox" class="custom-control-input" [checked]="item.isChecked" (change)="item.isChecked = !item.isChecked">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"></span>
              </label>
            </ng-template>
          </data-table-column>
          <data-table-column [property]="'AccessProfileName'" [header]="'ADMIN.AccessProfileC' | translate" [sortable]="true" [resizable]="true">
          </data-table-column>
          <data-table-column [property]="'drawPunches'" [header]="'ADMIN.DrawPunches' | translate" [sortable]="true" [resizable]="true">
            <ng-template #dataTableCell let-item="item">

              <label class="custom-control custom-checkbox checkbox-inline w-100">
                <input type="checkbox" class="custom-control-input" [checked]="item.IsDrawPuncheSelect" (change)="item.IsDrawPuncheSelect = !item.IsDrawPuncheSelect"
                  readonly>
                <span class="custom-control-indicator" readonly></span>
                <span class="custom-control-description"></span>
              </label>
            </ng-template>
          </data-table-column>
        </us-data-table> -->
      </div>
      </div>

    </div>

  </form>

  <div class="d-flex m-1">
    <!-- REPLACE WITH AG-GRID
      <us-data-table class="access-gat-ini-table-scroller border" id="persons-grid" [pagination] = "false" [items]="GATItems" [itemCount]="GATCount">
      <data-table-column [property]="'Id'" [header]="'ADMIN.ID' | translate " [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'TerminalName'" [header]="'ADMIN.TerminalName' | translate " [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'Location'" [header]="'ADMIN.TerminalName' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'Port'" [header]="'ADMIN.Port' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'TerminalTypeName'" [header]="'ADMIN.TerminalType' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'IsPaid'" [header]="'ADMIN.PaidVisitTerminal' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'ArticleName'" [header]="'ADMIN.ArticleName' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'IsOnline'" [header]="'ADMIN.IsOnline' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'IsSecondIdentification'" [header]="'ADMIN.IsSecondIdentification' | translate" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="''" [header]="'ADMIN.AccessProfiles' | translate" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <button class="btn btn-primary" type="button" (click)="viewLoad(item,aProfilePopOver)" container="body" placement="top"
            [usPopover]="accessProfilesList" popoverWidth="350" #aProfilePopOver="usPopover" triggers="manual">{{ 'ADMIN.View' | translate }}</button>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="''" [header]="''" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <button class="btn btn-primary btn-icon-min" title="{{'ADMIN.Detail' |translate}}" (click)="gatRowItemLoad(item)">
            <span class="icon-edit"></span>
          </button>
          <button class="btn btn-danger btn-icon-min" title="{{'ADMIN.Delete' |translate}}" (click)="deleteSetting(item)">
            <span class="icon-cancel"></span>
          </button>
        </ng-template>
      </data-table-column>
    </us-data-table> -->

  </div>

</div>


<ng-template #accessProfilesList let-c="close" let-d="dismiss">

    <div class="row">
      <button class="close modal-close" (click)="closePopOver()">X</button>
    </div>

    <div class="row">
      <select name="accessProfiles" disabled size="5" class="form-control">
              <option *ngFor="let aProfile of accessProfiles" value= {{aProfile.Id}} >{{aProfile.AccessProfileName}}</option>
            </select>
          </div>
</ng-template>


<ng-template #articleSelection let-c="close" let-d="dismiss">

  <div class="modal-header">
    <span class="modal-title">
      <span>{{ 'ADMIN.ArticleSelectionC' | translate }}</span>
    </span>
    <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">

    <input type="text" class="form-control" #NamePipeFilter (keyup)="filterInput(NamePipeFilter.value)" placeholder="{{'ADMIN.FilterByName'| translate}}">

    <div class="row">

      <!-- REPLACE WITH AG-GRID
         <us-data-table headerTitle="Manage Categories" [items]="articleItems" [itemCount]="articleCount" (rowDoubleClick)="articleRowDoubleClick($event)"
        >
        <data-table-column [property]="'ArticleNo'" [header]="'ADMIN.ArticleId' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'Description'" [header]="'ADMIN.ArticleName' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
      </us-data-table> -->


    </div>



  </div>
  <div class="modal-footer">
    <us-icon-button [iconClass]="'icon-done'" (click)="c()" [labelText]="'SELECT'"></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" (click)="c()" [labelText]="'CANCEL'"></us-icon-button>
  </div>

</ng-template>
