<!-- <us-data-table #dataTable indexColumnVisible [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)" [limit]="limit"
    [offset]="setOffset()" [isDbPagination]="'true'" [rowColors]="rowColors" (rowDoubleClick)="openGenerateConfirmModal(Pdfwindow, $event.row.item)">

    <data-table-column [property]=" 'MembeInvoiceId' " header="{{'MEMBERSHIP.Id' | translate}}" [sortable]="true" [width]="50"></data-table-column>
    <data-table-column [property]="'InvoiceNo'" header="{{'MEMBERSHIP.InvoiceNo' | translate}}" [sortable]="true"></data-table-column>
    <data-table-column [property]="'InvoiceDate'" header="{{'MEMBERSHIP.INVInvoiceDate' | translate}}" [sortable]="true" [width]="100">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.InvoiceDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
    </data-table-column>
    <data-table-column [property]="'InvoiceDueDate'" header="{{'MEMBERSHIP.INVInvoiceDueDate' | translate}}" [sortable]="true"
        [width]="125">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.InvoiceDueDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
    </data-table-column>
    <data-table-column [property]="'InvoiceAmount'" header="{{'MEMBERSHIP.Total' | translate}}" [sortable]="true" [alignment]="'right'">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.InvoiceAmount | amountConverter:locale}}</span>
        </ng-template>
    </data-table-column>
    <data-table-column [property]="'InvoiceBalance'" header="{{'MEMBERSHIP.Balance' | translate}}" [sortable]="true" [alignment]="'right'">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.InvoiceBalance | amountConverter:locale}}</span>
        </ng-template>
    </data-table-column>
    <data-table-column [property]="'ContractId'" header="{{'MEMBERSHIP.ContractNo' | translate}}" [sortable]="true"></data-table-column>

    <data-table-column [property]="''" header="{{'MEMBERSHIP.INVPayer' | translate}}" [sortable]="true">
        <ng-template #dataTableCell let-item="item">
            <div *ngIf="item.PayDirection != 0" class="d-flex align-items-center">
                <span>
                    <svg *ngIf="item.PayDirection == 2" class="d-block" version="1.1" id="pthright" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                        xml:space="preserve">
                        <path fill="#C6731F" d="M12,0C5.4,0,0,5.4,0,12s5.4,12,12,12c6.6,0,12-5.4,12-12S18.6,0,12,0z M13.5,16.5v-3c0,0-6-1.5-9,3c0-5,4-9,9-9v-3l6,6
                L13.5,16.5z" />
                    </svg>
                    <svg *ngIf="item.PayDirection == 1" class="d-block" version="1.1" id="pthleft" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                        xml:space="preserve">
                        <path fill="#2286D4" d="M12,0c6.6,0,12,5.4,12,12s-5.4,12-12,12C5.4,24,0,18.6,0,12S5.4,0,12,0z M10.5,16.5v-3c0,0,6-1.5,9,3c0-5-4-9-9-9v-3l-6,6
                L10.5,16.5z" />
                    </svg>
                </span>
                <span class="ml-2">{{item.PayeePayerName}}</span>
            </div>
        </ng-template>
    </data-table-column>
    <data-table-column [property]="''" header="{{'MEMBERSHIP.Content' | translate}}" [width]="80">
        <ng-template #dataTableCell let-item="item">
            <button class="btn btn-primary btn-icon-min" title="pdf" (click)="invoiceContent(item, Pdfwindow)">
                <span class="icon-pdf"></span>
            </button>
        </ng-template>
    </data-table-column>
    <data-table-column [property]="''" header="{{'MEMBERSHIP.Type' | translate}}" [width]="50">
        <ng-template #dataTableCell let-item="item">
            <span *ngIf="item.InvoiceType == 'IN'" id="contTypeIn" title="{{'MEMBERSHIP.IN' | translate}}">
                <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                    xml:space="preserve">
                    <path class="fill-primary" d="M12,0.2C5.4,0.2,0.2,5.5,0.2,12S5.5,23.8,12,23.8S23.8,18.5,23.8,12S18.5,0.2,12,0.2z M7.6,16 c0,0.4-0.1,0.7-0.3,1c-0.2,0.2-0.4,0.3-0.8,0.3c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.3-0.5-0.3-1V8c0-0.4,0.1-0.7,0.3-0.9 C6,6.9,6.3,6.8,6.6,6.8s0.6,0.1,0.8,0.3c0.2,0.2,0.3,0.5,0.3,1V16z M18.4,15.9c0,0.9-0.4,1.3-1.1,1.3c-0.2,0-0.3,0-0.5-0.1 c-0.1,0-0.3-0.1-0.4-0.2c-0.1-0.1-0.2-0.2-0.3-0.4c-0.1-0.1-0.2-0.3-0.3-0.5l-3.8-5.9v5.9c0,0.4-0.1,0.7-0.3,0.9 c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.2-0.5-0.2-0.9V8.3c0-0.3,0-0.6,0.1-0.8c0.1-0.2,0.2-0.4,0.4-0.5 c0.2-0.1,0.4-0.2,0.7-0.2c0.2,0,0.3,0,0.5,0.1S11.9,7,12,7.1c0.1,0.1,0.2,0.2,0.3,0.4c0.1,0.1,0.2,0.3,0.3,0.5l3.9,5.9v-6 c0-0.4,0.1-0.7,0.2-0.9c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3c0.2,0.2,0.2,0.5,0.2,0.9V15.9z"
                    /> </svg>
            </span>
            <span *ngIf="item.InvoiceType == 'Shop'" id="contTypeShop" title="{{'MEMBERSHIP.Shop' | translate}}">
                <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                    xml:space="preserve">
                    <path class="fill-primary" d="m15.3 8.4h-6.6c0-1.9 1.5-3.4 3.3-3.4s3.3 1.5 3.3 3.4zm8.5 3.6c0 6.5-5.3 11.8-11.8 11.8s-11.8-5.3-11.8-11.8 5.2-11.8 11.8-11.8c6.5 0 11.8 5.3 11.8 11.8zm-5.7 2.6l0.4-6.2h-2.5c0-2.3-1.8-4.1-4.1-4.1s-4.1 1.8-4.1 4.1h-2.4l0.6 6.2-0.3 4h12.7l-0.3-4z"
                    />
                </svg>
            </span>
            <span *ngIf="item.InvoiceType == 'IP'" id="contTypeIp" title="{{'MEMBERSHIP.IP' | translate}}">
                <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                    xml:space="preserve">
                    <path class="fill-primary" d="M16.6,9.1c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.1,0.7-0.3,0.9c-0.2,0.2-0.4,0.4-0.8,0.5c-0.3,0.1-0.8,0.2-1.3,0.2h-1.4V8.7h1.4C15.7,8.7,16.3,8.8,16.6,9.1z M23.8,12c0,6.5-5.3,11.8-11.8,11.8S0.2,18.5,0.2,12S5.4,0.2,12,0.2C18.5,0.2,23.8,5.5,23.8,12z M8.7,8.2c0-0.4-0.1-0.8-0.3-1S7.9,6.9,7.6,6.9C7.3,6.9,7.1,7,6.9,7.2s-0.3,0.5-0.3,1v8.3c0,0.4,0.1,0.8,0.3,1s0.5,0.3,0.8,0.3c0.3,0,0.6-0.1,0.8-0.3s0.3-0.5,0.3-1V8.2z M19.2,10.2c0-0.5-0.1-1-0.2-1.4c-0.2-0.4-0.4-0.7-0.7-1c-0.3-0.3-0.7-0.5-1.1-0.6C16.7,7.1,16,7,15.2,7h-2.8c-0.5,0-0.8,0.1-1,0.3c-0.2,0.2-0.3,0.5-0.3,1v8.2c0,0.4,0.1,0.7,0.3,1s0.5,0.3,0.8,0.3c0.3,0,0.6-0.1,0.8-0.3c0.2-0.2,0.3-0.5,0.3-1v-3h2c1.3,0,2.3-0.3,3-0.8C18.9,12.1,19.2,11.3,19.2,10.2z"
                    />
                </svg>
            </span>
            <span *ngIf="item.InvoiceType == 'PP'" id="contTypePp" title="{{'MEMBERSHIP.PP' | translate}}">
                <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                    xml:space="preserve">
                    <path class="fill-primary" d="M16.8,8.7h-1.4v3.1h1.4c0.5,0,0.9-0.1,1.2-0.2c0.3-0.1,0.6-0.3,0.8-0.5s0.3-0.5,0.3-0.9c0-0.5-0.1-0.8-0.4-1.1C18.4,8.9,17.8,8.7,16.8,8.7z M7.3,8.7H5.9v3.1h1.4c0.5,0,0.9-0.1,1.2-0.2c0.3-0.1,0.6-0.3,0.8-0.5s0.3-0.5,0.3-0.9c0-0.5-0.1-0.8-0.4-1.1C8.8,8.9,8.2,8.7,7.3,8.7z M12,0.2C5.4,0.2,0.2,5.5,0.2,12S5.5,23.8,12,23.8S23.8,18.5,23.8,12S18.5,0.2,12,0.2z M10.6,12.6C10,13.2,9,13.4,7.8,13.4H5.9v2.9c0,0.4-0.1,0.7-0.3,0.9c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.6-0.1-0.8-0.3c-0.2-0.2-0.3-0.5-0.3-0.9V8.4c0-0.5,0.1-0.8,0.3-1c0.2-0.2,0.5-0.3,1-0.3h2.7c0.8,0,1.4,0.1,1.8,0.2c0.4,0.1,0.8,0.3,1.1,0.6s0.5,0.6,0.7,1c0.2,0.4,0.2,0.8,0.2,1.3C11.6,11.3,11.3,12.1,10.6,12.6z M20.2,12.6c-0.6,0.5-1.6,0.8-2.9,0.8h-1.9v2.9c0,0.4-0.1,0.7-0.3,0.9c-0.2,0.2-0.4,0.3-0.7,0.3s-0.6-0.1-0.8-0.3c-0.2-0.2-0.3-0.5-0.3-0.9V8.4c0-0.5,0.1-0.8,0.3-1s0.5-0.3,1-0.3h2.7c0.8,0,1.4,0.1,1.8,0.2s0.8,0.3,1.1,0.6c0.3,0.3,0.5,0.6,0.7,1s0.2,0.8,0.2,1.3C21.2,11.3,20.9,12.1,20.2,12.6z"
                    />
                </svg>
            </span>
            <span *ngIf="item.InvoiceType == 'SP'" id="contTypeSp" title="{{'MEMBERSHIP.SP' | translate}}">
                <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                    xml:space="preserve">
                    <path class="fill-primary" d="M18.8,9.4c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.1,0.7-0.3,0.9s-0.4,0.4-0.8,0.5c-0.3,0.1-0.7,0.2-1.2,0.2h-1.4V8.9h1.4C17.9,8.9,18.5,9.1,18.8,9.4z M23.8,12c0,6.5-5.3,11.8-11.8,11.8S0.2,18.5,0.2,12S5.4,0.2,12,0.2C18.5,0.2,23.8,5.5,23.8,12z M11.6,14.6c0-0.5-0.1-1-0.3-1.3s-0.4-0.7-0.8-0.9c-0.3-0.2-0.7-0.4-1.2-0.6c-0.5-0.2-1-0.3-1.6-0.5c-0.5-0.1-0.8-0.2-1-0.3c-0.2-0.1-0.4-0.1-0.6-0.3c-0.2-0.1-0.4-0.2-0.5-0.4s-0.2-0.3-0.2-0.5C5.5,9.5,5.7,9.3,6,9c0.3-0.2,0.8-0.4,1.3-0.4c0.6,0,1,0.1,1.3,0.3c0.3,0.2,0.5,0.5,0.7,0.9c0.1,0.3,0.3,0.5,0.4,0.6c0.1,0.1,0.3,0.2,0.5,0.2c0.3,0,0.5-0.1,0.7-0.3c0.2-0.2,0.3-0.4,0.3-0.7c0-0.3-0.1-0.6-0.2-0.8c-0.1-0.3-0.4-0.6-0.7-0.8S9.6,7.6,9.1,7.4c-0.5-0.2-1-0.2-1.7-0.2C6.7,7.2,6,7.3,5.4,7.5s-1,0.6-1.4,1C3.7,9,3.6,9.5,3.6,10.1c0,0.6,0.1,1.1,0.4,1.5c0.3,0.4,0.7,0.7,1.2,1c0.5,0.2,1.1,0.4,1.9,0.6c0.6,0.1,1,0.2,1.3,0.4C8.8,13.6,9,13.8,9.2,14c0.2,0.2,0.3,0.5,0.3,0.8c0,0.4-0.2,0.8-0.6,1.1c-0.4,0.3-0.9,0.4-1.5,0.4c-0.5,0-0.8-0.1-1.1-0.2s-0.5-0.3-0.6-0.5c-0.2-0.2-0.3-0.5-0.4-0.8c-0.1-0.3-0.2-0.5-0.4-0.6c-0.2-0.1-0.3-0.2-0.6-0.2c-0.3,0-0.5,0.1-0.7,0.3c-0.2,0.2-0.3,0.4-0.3,0.7c0,0.4,0.1,0.9,0.4,1.4C4.1,16.7,4.5,17,5,17.3c0.7,0.4,1.5,0.6,2.5,0.6c0.9,0,1.6-0.1,2.2-0.4c0.6-0.3,1.1-0.7,1.4-1.2C11.5,15.8,11.6,15.2,11.6,14.6z M21.3,10.5c0-0.5-0.1-0.9-0.2-1.3c-0.2-0.4-0.4-0.7-0.7-1c-0.3-0.3-0.7-0.5-1.1-0.6c-0.4-0.1-1-0.2-1.8-0.2h-2.7c-0.5,0-0.8,0.1-1,0.3c-0.2,0.2-0.3,0.5-0.3,1v8c0,0.4,0.1,0.7,0.3,0.9c0.2,0.2,0.4,0.3,0.8,0.3c0.3,0,0.6-0.1,0.7-0.3c0.2-0.2,0.3-0.5,0.3-1v-2.9h1.9c1.3,0,2.3-0.3,2.9-0.8C21,12.3,21.3,11.5,21.3,10.5z"
                    />
                </svg>
            </span>
            <span *ngIf="item.InvoiceType == 'ATG'" id="contTypeAtg" title="{{'MEMBERSHIP.ATG' | translate}}">
                <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                    xml:space="preserve">
                    <path class="fill-primary" d="M5.5,10.3l1,3.5c0,0,0,0.1,0,0.1h-2c0,0-0.1,0,0-0.1L5.5,10.3C5.4,10.3,5.4,10.3,5.5,10.3C5.5,10.3,5.5,10.3,5.5,10.3z M23.8,12c0,6.5-5.3,11.8-11.8,11.8C5.5,23.8,0.2,18.5,0.2,12C0.2,5.5,5.4,0.2,12,0.2C18.5,0.2,23.8,5.5,23.8,12z M8.4,16.2c0-0.1,0-0.1,0-0.2L6,8C5.9,7.7,5.8,7.6,5.5,7.6C5.2,7.6,5,7.7,4.9,8l-2.4,8c0,0.1,0,0.1,0,0.2c0,0.2,0.1,0.3,0.2,0.4c0.1,0.1,0.3,0.2,0.4,0.2c0.3,0,0.5-0.1,0.6-0.4L4,15.1c0,0,0-0.1,0.1-0.1h2.7c0,0,0.1,0,0.1,0.1l0.4,1.3c0.1,0.3,0.3,0.4,0.6,0.4c0.2,0,0.3-0.1,0.4-0.2C8.4,16.5,8.4,16.4,8.4,16.2z M14.9,8.2c0-0.2-0.1-0.3-0.2-0.4c-0.1-0.1-0.3-0.2-0.4-0.2h-3.9c-0.2,0-0.3,0.1-0.4,0.2C9.9,7.9,9.8,8,9.8,8.2S9.9,8.5,10,8.6c0.1,0.1,0.3,0.2,0.4,0.2h1.3c0,0,0.1,0,0.1,0.1v7.4c0,0.2,0.1,0.3,0.2,0.4c0.1,0.1,0.3,0.2,0.4,0.2s0.3-0.1,0.4-0.2c0.1-0.1,0.2-0.3,0.2-0.4V8.8c0,0,0-0.1,0.1-0.1h1.3c0.2,0,0.3-0.1,0.4-0.2C14.9,8.5,14.9,8.3,14.9,8.2z M21.5,14.6v-2.4c0-0.2-0.1-0.3-0.2-0.4c-0.1-0.1-0.3-0.2-0.4-0.2h-1.4c-0.2,0-0.3,0.1-0.4,0.2c-0.1,0.1-0.2,0.3-0.2,0.4s0.1,0.3,0.2,0.4c0.1,0.1,0.3,0.2,0.4,0.2h0.7c0,0,0.1,0,0.1,0.1v1.8c0,0.3-0.1,0.5-0.3,0.8s-0.5,0.3-0.8,0.3h-0.6c-0.3,0-0.5-0.1-0.8-0.3c-0.2-0.2-0.3-0.5-0.3-0.8V9.8c0-0.3,0.1-0.6,0.3-0.8s0.5-0.3,0.8-0.3h0.6c0.5,0,0.8,0.2,1,0.6c0.1,0.2,0.3,0.3,0.5,0.3c0.2,0,0.3-0.1,0.4-0.2c0.1-0.1,0.2-0.2,0.2-0.4c0-0.1,0-0.2-0.1-0.3c-0.2-0.4-0.5-0.7-0.8-0.9c-0.4-0.2-0.8-0.3-1.2-0.3h-0.6c-0.6,0-1.1,0.2-1.6,0.7c-0.4,0.4-0.7,1-0.7,1.6v4.8c0,0.6,0.2,1.1,0.7,1.6c0.4,0.4,1,0.7,1.6,0.7h0.6c0.6,0,1.1-0.2,1.6-0.7C21.3,15.7,21.5,15.2,21.5,14.6z"
                    />
                </svg>
            </span>
            <span *ngIf="item.InvoiceType == 'SMS'" id="contTypeSms" title="{{'MEMBERSHIP.sms' | translate}}">
                <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                    xml:space="preserve">
                    <path class="fill-primary" d="M12,0.2C5.4,0.2,0.2,5.5,0.2,12c0,6.5,5.3,11.8,11.8,11.8c6.5,0,11.8-5.3,11.8-11.8C23.8,5.5,18.5,0.2,12,0.2z M18.9,14.7c0,0.7-0.6,1.3-1.3,1.3h-3l-5.9,4l1.4-4H6.8c-0.7,0-1.3-0.6-1.3-1.3V7.3C5.5,6.6,6.1,6,6.8,6h10.8c0.7,0,1.3,0.6,1.3,1.3V14.7z"
                    />
                </svg>
            </span>
            <span *ngIf="item.InvoiceType == 'Email'" id="contTypeEmail" title="{{'MEMBERSHIP.Email' | translate}}">
                <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                    xml:space="preserve">
                    <path class="fill-primary" d="M12,0.2C5.4,0.2,0.2,5.5,0.2,12S5.5,23.8,12,23.8S23.8,18.5,23.8,12S18.5,0.2,12,0.2z M12,6.5h6.4l-3.2,3.2L12,12.9L8.8,9.7L5.6,6.5H12z M19.3,17.1H4.7V7.6h0L8.2,11l3.8,3.7l3.8-3.7l3.4-3.4h0V17.1z"
                    />
                </svg>
            </span>
            <span *ngIf="item.InvoiceType == 'Paper'" id="contTypePaper" title="{{'MEMBERSHIP.Paper' | translate}}">
                <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                    xml:space="preserve">
                    <path class="fill-primary" d="M12,0.2C5.4,0.2,0.2,5.5,0.2,12S5.5,23.8,12,23.8S23.8,18.5,23.8,12S18.5,0.2,12,0.2z M17.8,17.6c0,0.6-0.5,1.1-1.1,1.1H7.3c-0.6,0-1.1-0.5-1.1-1.1V6.4c0-0.6,0.5-1.1,1.1-1.1h5.9v3c0,0.9,0.7,1.6,1.6,1.6h3V17.6z M17.8,8.9L17.8,8.9h-3c-0.4,0-0.7-0.3-0.7-0.7v-3L17.8,8.9L17.8,8.9L17.8,8.9z"
                    />
                </svg>
            </span>
            <span *ngIf="item.InvoiceType == 'CN'" id="contTypeCreditNote" title="{{'MEMBERSHIP.CreditNoteC' | translate}}">
                <svg class="d-block" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                    xml:space="preserve">
                    <path class="fill-primary" d="M6.7,17.9h7.4v-3.1h3.1V6.1H6.7V17.9z M10.1,8.9h5v1.2h-5V8.9z M8.3,13.3c0.3-0.3,0.8-0.3,1.1,0l0.8,0.8l2.8-2.8c0.3-0.3,0.8-0.3,1.1,0c0.3,0.3,0.3,0.8,0,1.1l-3.8,3.8l-1.9-1.9C8.1,14.1,8.1,13.6,8.3,13.3z M12,0.2C5.4,0.2,0.2,5.5,0.2,12S5.5,23.8,12,23.8S23.8,18.5,23.8,12S18.5,0.2,12,0.2z M18.5,15.4c0,0.2-0.1,0.3-0.2,0.4l-3.1,3.1c-0.1,0.1-0.3,0.2-0.4,0.2H6.1c-0.3,0-0.6-0.3-0.6-0.6v-13c0-0.3,0.3-0.6,0.6-0.6h11.8c0.3,0,0.6,0.3,0.6,0.6V15.4z"
                    />
                </svg>
            </span>
        </ng-template>
    </data-table-column>
    <data-table-column [property]="''" header="{{'MEMBERSHIP.Status' | translate}}" [sortable]="true">
        <ng-template #dataTableCell let-item="item">
            <span *ngIf="item.IsPartiallyPaid" class="badge badge-warning py-1">{{item.InvoiceStatus}}</span>
            <span *ngIf="item.IsFullyPaid" class="badge badge-success py-1">{{item.InvoiceStatus}}</span>
            <span *ngIf="item.IsNotPaid" class="badge badge-danger py-1">{{item.InvoiceStatus}}</span>
        </ng-template>
    </data-table-column>
    <data-table-column [property]="''" [width]="40">
        <ng-template #dataTableCell let-item="item">
            <button class="btn btn-primary btn-icon-min" (click)="viewInvoiceDetails( item.InvoiceType !== 'CN'? invoiceDetails: creditNote, item)"
                title="{{'MEMBERSHIP.Detail' | translate}}">
                <span class="icon-detail"></span>
            </button>
        </ng-template>
    </data-table-column>
</us-data-table> -->

<ag-grid-angular
        class="ag-theme-balham grid"
        [rowData]="invoicesSummeries"
        [columnDefs]="columnDefs"
        [enableSorting]="true"
        [enableColResize]="true"
        [enableFilter]="true"
        [floatingFilter]="true"
        [suppressCellSelection] ="true"
        [suppressNoRowsOverlay]="true"

        (gridReady)="onGridReady($event)"
        (rowDoubleClicked)="viewInvoiceDetails($event)"
        (cellClicked)="cellClicked($event)">
>
</ag-grid-angular>


<ng-template #invoiceDetails let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.InvoiceDetails' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <invoice-details-view [selectedDetail]="selectedDetail" [CNBtnDisabled]="IsCNBtnEnable" (closeInvoiceDetailModel)="closeInvoiceDetailModel()"></invoice-details-view>
</ng-template>

<ng-template #creditNote let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.CreditNoteC' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
    <credit-note-view [creditNote]="selectedCreditNote" [memberId]="memberId" [memberName]="customerName" (closeCreditNoteModel)="closeCreditNoteModal()"></credit-note-view>
    </div>
  </ng-template>


<ng-template #Pdfwindow let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{PDF}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
    <div class="modal-body">
        <iframe #pdf [src]='sanitizer.bypassSecurityTrustResourceUrl(blobUrl)' height="800px" width="100%"></iframe>
        <br>
      <span>
        <button class="btn btn-primary ml-2 cursor-hand" type="button" (click)="PrintPDF()"  >Print </button>
        <button class="btn btn-primary ml-2 cursor-hand" type="button" (click)="SavePDF()"  >Save </button>
      </span>
    </div>
</ng-template>
