<div *ngIf="selectedIndex === 1">


    <div class="d-flex w-100">
    <!-- REPLACE WITH AG-GRID
      <us-data-table id="" [items]="items" [itemCount]="itemCount" (rowDoubleClick)="rowDoubleClick($event)" [rowTooltip]="rowTooltip"
      [rowColors]="rowColors">
      <data-table-column [property]="'ContractNo'" header="{{ 'MEMBERSHIP.ContractNo' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'IsATG'" header="{{ 'MEMBERSHIP.ATG' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.atgDisplay}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'TemplateName'" header="{{ 'MEMBERSHIP.Template' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'ActivityName'" header="{{ 'MEMBERSHIP.Activity' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'SignedDate'" header="{{ 'MEMBERSHIP.SignedDate' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.SignedDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'EndDate'" header="{{ 'MEMBERSHIP.EndDate' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.EndDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'RenewedDate'" header="{{ 'MEMBERSHIP.SMCVRenevedDate' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <ng-template #dataTableCell let-item="item">
        <span>{{item.RenewedDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
      <data-table-column [property]=" 'StartUpItemsPrice' " [header]=" 'MEMBERSHIP.SMCVStartUpItmsPrice' | translate " [sortable]="true "
        [resizable]="true " [alignment]="'right'">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.StartUpItemsPrice | amountConverter:locale}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]=" 'ServiceAmount' " [header]=" 'MEMBERSHIP.SMCVMonItmsPrice' | translate " [sortable]="true "
        [resizable]="true " [alignment]="'right'">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.ServiceAmount | amountConverter:locale}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]=" 'TotalPrice' " [header]=" 'MEMBERSHIP.TotalPrice' | translate " [sortable]="true " [resizable]="true "
        [alignment]="'right'">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.TotalPrice | amountConverter:locale}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'GymName'" header="{{ 'MEMBERSHIP.Gym' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="''" [width]="40">
          <ng-template #dataTableCell let-item="item">
              <button class="btn btn-primary btn-icon-min" (click)="rowClick(item)"
                  title="{{'MEMBERSHIP.Detail' | translate}}">
                  <span class="icon-detail"></span>
              </button>
          </ng-template>
      </data-table-column>
    </us-data-table> -->
  </div>
</div>
<div *ngIf="selectedIndex === 2">
  <app-freeze [selectedContract]="selectedContract" (canceled)=cancel()></app-freeze>
</div>
