<form [formGroup]="salesHistorySearchForm">

  <div class="d-flex justify-content-start w-100">
    <div class="col-4 p-0 mr-2">
      <div class="input-group">
        <us-date-picker class="w-100" name="startDate" #startDate [locale]="'COMMON.Locale'| translate" [options]="fromDatePickerOptions"
          [formControl]="salesHistorySearchForm.controls['fromDate']" (dateChanged)="onStartDateChange($event, endDate)">
        </us-date-picker>
        <span class="input-group-addon border-left-0">{{'COMMON.To' | translate}}</span>
        <us-date-picker class="w-100" name="endDate" #endDate [locale]="'COMMON.Locale'| translate" [options]="toDatePickerOptions"
          [formControl]="salesHistorySearchForm.controls['toDate']">
        </us-date-picker>
        <span>
          <button type="button" class="btn btn-primary" (click)="salesHistorySearch(salesHistorySearchForm.value)">{{'COMMON.View'| translate}}</button>
        </span>
      </div>
    </div>

    <div>
      <label class="custom-control custom-radio">
        <input id="radio1" name="salesType" type="radio" class="custom-control-input" (change)="searchTypeChange(false)" [checked]='(isShopSales === false)'>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{'COMMON.GiftVoucherB' | translate}}</span>
      </label>
      <label class="custom-control custom-radio">
        <input id="radio2" name="salesType" type="radio" class="custom-control-input" (change)="searchTypeChange(true)" [checked]='isShopSales === true'>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{'COMMON.ShopSales' | translate}}</span>
      </label>

    </div>
    <div class="ml-auto">

      <label>Payment Type</label>
      <select class="custom-select" #filterType (change)="filterSalesHistory(filterType.value)">
        <option value="ALL">{{'COMMON.All'| translate}}</option>
        <option *ngIf="isShopSales" value="LOP">{{'COMMON.BetaltOCR'| translate}}</option>
        <option *ngIf="isShopSales" value="DC">{{'COMMON.DebtCollection'| translate}}</option>
        <option *ngIf="isShopSales" value="TMN">{{'COMMON.Terminal'| translate}}</option>
        <option value="CSH">{{'COMMON.Cash'| translate}}</option>
        <option *ngIf="isShopSales" value="BS">{{'COMMON.BankStatement'| translate}}</option>
        <option *ngIf="isShopSales" value="OA">{{'COMMON.OnAccount'| translate}}</option>
        <option *ngIf="isShopSales" value="GC">{{'COMMON.GiftCard'| translate}}</option>
        <option *ngIf="isShopSales" value="PM">{{'COMMON.PaymentMemo'| translate}}</option>
        <option *ngIf="isShopSales" value="DB">{{'COMMON.Betaltkreditor'| translate}}</option>
        <option value="BNK">{{'COMMON.Bank'| translate}}</option>
        <option *ngIf="isShopSales" value="PB">{{'COMMON.PrepaidBalance'| translate}}</option>
        <option *ngIf="isShopSales" value="BT">{{'COMMON.BankTerminal'| translate}}</option>
      </select>

    </div>
  </div>

</form>

<div class="mt-2">

  <!-- <us-data-table [items]="filterdSales" [itemCount]="itemCount" indexColumnVisible (reload)="reloadShopHistory($event)" [pagination]="false">
    <data-table-column [property]="'SaleDate'" [header]="'COMMON.SaleDate' | translate" [sortable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.SaleDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'SaleTime'" [header]="'COMMON.SaleTime' | translate" [sortable]="true">
    </data-table-column>
    <data-table-column [property]="'Amount'" [header]="'COMMON.Total' | translate" [visible]="isShopSales" [alignment]="'right'">
        <ng-template #dataTableCell let-item="item">
            {{item.Amount | amountConverter:locale}}
          </ng-template>
    </data-table-column>
    <data-table-column [property]="'GiftVoucherNumber'" [header]="'COMMON.VoucherNumber' | translate" [visible]="!isShopSales">
    </data-table-column>
    <data-table-column [property]="'GiftVoucherAmount'" [header]="'COMMON.VoucherPrice' | translate" [visible]="!isShopSales"
      [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        {{item.VoucherPrice | amountConverter:locale}}
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'Balance'" [header]="'COMMON.Balance' | translate" [visible]="!isShopSales"
      [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        {{item.Balance | amountConverter:locale}}
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'PayMode'" [header]="'COMMON.PaymentTypeC' | translate" [visible]="isShopSales">
    </data-table-column>
    <data-table-column [property]="'PaymentType'" [header]="'COMMON.PaymentTypeC' | translate" [visible]="!isShopSales">
    </data-table-column>
    <data-table-column [property]="'MemberName'" [header]="'COMMON.CustomerName' | translate" [visible]="!isShopSales">
    </data-table-column>
    <data-table-column [property]="'CreatedUser'" [header]="'COMMON.Employee' | translate">
    </data-table-column>
    <data-table-column [property]="'active'" [width]="40">
      <ng-template #dataTableCell let-item="item">
        <us-icon-button [iconClass]="'icon-detail'" toolTip="{{ 'COMMON.Details' | translate }}" (click)="viewReceiptDetails(receiptDetailsModal,item)"></us-icon-button>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'active'" [width]="40">
      <ng-template #dataTableCell let-item="item">
        <us-icon-button [iconClass]="'icon-print'" toolTip="{{ 'COMMON.Print' | translate }}" (click)="printShopBill(item)"></us-icon-button>
      </ng-template>
    </data-table-column>
  </us-data-table> -->

  <ag-grid-angular
  class="ag-theme-balham grid"
  [rowData]="filterdSales"
  [columnDefs]="salesDefs"
  [enableSorting]="true"
  [enableColResize]="true"
  [enableFilter]="false"
  [floatingFilter]="false"
  [suppressCellSelection] ="true"
  [suppressNoRowsOverlay]="true"
  [suppressRowClickSelection]="true"

  (gridReady)="onGridReady($event)"
  (bodyScroll)="scroll($event)"
  (cellClicked)="cellClicked($event)"
  >
</ag-grid-angular>
</div>

<ng-template #receiptDetailsModal let-c="close" let-detail="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'COMMON.ReceiptDetails' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="detail('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">


    <div class="d-flex justify-content-end">
      <div class="mr-auto">
        <h3>{{'COMMON.TotalPhrase' | translate}} {{ saleItemTotal | amountConverter:locale}}</h3>
      </div>

      <span class="mr-3">{{'COMMON.DatePhrase' | translate}}
        <strong>{{ saleItem.SaleDate | date:('COMMON.DateFormat'|translate)}}</strong>
      </span>
      <span>{{'COMMON.TimePhrase' | translate}}
        <strong>{{ saleItem.SaleTime }}</strong>
      </span>
    </div>

    <div>
      <!-- REPLACE WITH AG-GRID
        <us-data-table [items]="receiptDetails" [itemCount]="itemCount" [pagination]="false">
        <data-table-column [property]="'ItemCode'" [header]="'SHOP.ArticleNo' | translate">
        </data-table-column>
        <data-table-column [property]="'ItemName'" [width]="250" [header]="'COMMON.ArticleName' | translate">
        </data-table-column>
        <data-table-column [property]="'Quantity'" [header]="'SHOP.Quantity' | translate">
        </data-table-column>
        <data-table-column [property]="'DefaultAmount'" [header]="'COMMON.UnitPrice' | translate">
            <ng-template #dataTableCell let-item="item">
                {{item.DefaultAmount | amountConverter:locale}}
              </ng-template>
        </data-table-column>
        <data-table-column [property]="'Discount'" [header]="'COMMON.Discount' | translate">
            <ng-template #dataTableCell let-item="item">
                {{item.Discount | amountConverter:locale}}
              </ng-template>
        </data-table-column>
        <data-table-column [property]="'TotalAmount'" [header]="'COMMON.Total' | translate">
            <ng-template #dataTableCell let-item="item">
                {{item.TotalAmount | amountConverter:locale}}
              </ng-template>
        </data-table-column>
        <data-table-column [property]="'PurchaseDate'" [header]="'COMMON.SaleDate' | translate" [sortable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.PurchaseDate | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'PurchaseDate'" [header]="'COMMON.SaleTime' | translate" [sortable]="true">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.PurchaseDate | date:'hh:mm a'}}</span>
          </ng-template>
        </data-table-column>
      </us-data-table> -->
    </div>


  </div>
  <div class="modal-footer">
    <us-icon-button [iconClass]="'icon-done'" [labelText]="'SHOP.OkButtonText' | translate " (click)="detail('Close click')"></us-icon-button>

  </div>
</ng-template>
