<!-- unavailableTimeForm -->
<form [formGroup]="unavailableTimeForm">

  <div class="d-flex justify-content-start no-gutters ml-1">

    <!-- Hidden field for ActivityId -->
    <input class="form-control" type="hidden" formControlName="Id">

    <div class="form-group col-1 mr-2">
      <label>{{'ADMIN.Activity' | translate}}</label>

      <select class="custom-select w-100" formControlName="ActivityId" us-error [errorMsg]="formErrors.ActivityId" [displayError]="myFormSubmited && !unavailableTimeForm.get('ActivityId').valid"
        placement="right">

        <!-- Data bind to the Activity name dropbox-->
        <option *ngFor="let aType of activityTypes" value="{{ aType.Id }}">{{ aType.Name }}</option>
      </select>
    </div>

    <div class="form-group col-2 mr-2">
      <label>{{ 'ADMIN.StartDate' | translate}} </label>

      <us-date-picker class="w-100" formControlName="Startdate" #startDate [locale]="'COMMON.Locale'| translate" [options]="startDatePickerOptions"
        (dateChanged)="onStartDateChange($event, endDate)" placeholder="MM/dd/yyyy" us-error [errorMsg]="formErrors.Startdate"
        [displayError]="myFormSubmited && !unavailableTimeForm.get('Startdate').valid" placement="right">
      </us-date-picker>

    </div>
    <div class="form-group col-2 mr-2">
      <label>{{ 'ADMIN.EndDate' | translate}} </label>
      <us-date-picker class="w-100" formControlName="EndDate" #endDate [locale]="'COMMON.Locale'| translate" [options]="endDatePickerOptions"
        placeholder="MM/dd/yyyy" us-error [errorMsg]="formErrors.EndDate" [displayError]="myFormSubmited &&!unavailableTimeForm.get('EndDate').valid"
        placement="right">
      </us-date-picker>
    </div>
    <div class="form-group col-1 mr-2" style="min-width: 130px;">
      <label>{{'ADMIN.StartTimeS' | translate}}</label>
      <us-time-picker formControlName="StartTime"> </us-time-picker>
    </div>

    <div class="form-group col-1" style="min-width: 130px;">
      <label>{{ 'ADMIN.EndTime' | translate}} </label>
      <us-time-picker formControlName="EndTime"> </us-time-picker>
    </div>

  </div>

  <div class="d-flex justify-content-start no-gutters ml-1">
    <div class="form-group col-4 mr-2">
      <label>{{ 'ADMIN.Reason' | translate}} </label>
      <textarea class="form-control noresize" rows="2" formControlName="Reason" style="height: 62px;"></textarea>
    </div>

    <div class="col-2" style="padding-top: 3.55rem;">
      <us-icon-button [iconClass]="'icon-add'" [labelText]="'COMMON.Add' | translate " (click)="addActivityTimes(unavailableTimeForm.value)"></us-icon-button>
    </div>

  </div>

</form>

<div class="mb-1 mx-1">
  <!-- REPLACE WITH AG-GRID
    <us-data-table [items]="items" [pagination]="false" [itemCount]="itemCount" indexColumnVisible>

    <data-table-column property="ActivityName" header="{{'ADMIN.Activity' | translate}}"></data-table-column>

    <data-table-column property="Startdate" header="{{'COMMON.StartDate' | translate}}">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.Startdate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column property="EndDate" header="{{'COMMON.EndDate' | translate}}">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.EndDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column property="StartTime" header="{{'COMMON.StartTime' | translate}}">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.StartTime | date:'hh:mm'}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column property="EndTime" header="{{'COMMON.EndTime' | translate}}">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.EndTime | date:'hh:mm'}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [width]="40">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary btn-icon-min" (click)="rowItemLoad(item)">
          <span class="icon-detail"></span>
        </button>
      </ng-template>
    </data-table-column>

    <data-table-column [width]="40">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-danger btn-icon-min" (click)="deleteUnavailableTimes(item)">
          <span class="icon-cancel"></span>
        </button>
      </ng-template>
    </data-table-column>

  </us-data-table> -->
</div>

<div class="ml-1">
  <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate " (click)="saveUnavailableTimes()"></us-icon-button>
</div>
