<form [formGroup]="countryDataForm" (ngSubmit)="saveCountryData()" novalidate>
      <div class="modal-header">
          <span class="modal-title">{{ 'MEMBERSHIP.AddNewPostalArea' | translate }}</span>
          <button type="button" class="close modal-close" aria-label="Close">

    <span aria-hidden="true" class="icon-close"></span>
  </button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col">
                  <div class="form-group w-50">
                      <label> {{ 'MEMBERSHIP.CountryID' | translate }} <span class="text-danger">*</span></label>
                      <input class="form-control" type="text" [formControl]="countryDataForm.controls['Id']">
                  </div>
                  <div class="form-group">
                      <label> {{ 'MEMBERSHIP.Name' | translate }} <span class="text-danger">*</span></label>
                      <input class="form-control" type="text" [formControl]="countryDataForm.controls['Name']">
                  </div>
                  <div class="form-group">
                      <label> {{ 'MEMBERSHIP.CountryCode' | translate }} <span class="text-danger"></span></label>
                      <input class="form-control" type="text" [formControl]="countryDataForm.controls['CountryCode']">
                  </div>
              </div>
          </div>

      </div>
      <div class="modal-footer">
          <us-icon-button [iconClass]="'icon-done'" type="submit" [labelText]="'MEMBERSHIP.Save' | translate "></us-icon-button>
          <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate "></us-icon-button>

      </div>
  </form>
