<div class="d-flex justify-content-start px-1">
  <div class="col-2 p-0 mr-2 ">
    <div class="input-group">
      <us-autocomplete class="w-100" #autobox [config]="config" [items]="auotocompleteItems" [textValue]="textValue" (selectDefaultEvent)="searchArticles()"
        (selectEvent)="onSelectSearchItem($event)"> </us-autocomplete>
      <div class="input-group-btn">
        <button class="btn btn-primary btn-icon" type="button" (click)="searchArticles()">
          <span class="icon-search"></span>
        </button>
      </div>
    </div>
  </div>
  <input type="text" #NumberPipeFilter (keyup)="filterArticle(NumberPipeFilter.value,NamePipeFilter.value,BarcodePipeFilter.value)"
    class="form-control col-2 mr-2" placeholder="{{ 'ADMIN.Number' | translate }}" />
  <input type="text" #NamePipeFilter (keyup)="filterArticle(NumberPipeFilter.value,NamePipeFilter.value,BarcodePipeFilter.value)"
    class="form-control col-2 mr-2" placeholder="{{ 'ADMIN.Name' | translate }}" />
  <input type="text" #BarcodePipeFilter (keyup)="filterArticle(NumberPipeFilter.value,NamePipeFilter.value,BarcodePipeFilter.value)"
    class="form-control col-2 mr-2" placeholder="{{ 'ADMIN.Barcode' | translate }}" />
</div>
<div class="d-flex mx-1 mt-1">
  <!-- REPLACE WITH AG-GRID
    <us-data-table id="" [items]="articleList" [itemCount]="itemCount" (reload)="reloadArticleList($event)" [limit]="50" [showPageNumber]="true"
    [showFirstLast]="true">
    <data-table-column [property]="'ArticleNo'" header="{{ 'ADMIN.ArticleNo' | translate }}" [sortable]="true">
    </data-table-column>
    <data-table-column [property]="'Description'" header="{{ 'ADMIN.Name' | translate }}" [sortable]="true">
    </data-table-column>
    <data-table-column [property]="'StockLevel'" header="{{ 'ADMIN.Instock' | translate }}" [sortable]="true">
    </data-table-column>
    <data-table-column [property]="''" header="{{ 'ADMIN.Counted' | translate }}" [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        <span>
          <input [(ngModel)]="item.Counted" (enterKey)='countEnterEvent($event,item)' type="number" min="0">
        </span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'Deviation'" header="{{ 'ADMIN.Deviation' | translate }}" [sortable]="true">
    </data-table-column>
    <data-table-column [property]="'NetValue'" header="{{ 'ADMIN.NetValue' | translate }}" [sortable]="true" [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        {{item.NetValue | amountConverter:locale}}
      </ng-template>
    </data-table-column>

    <data-table-column [property]="'CountedValue'" header="{{ 'ADMIN.CountedValue' | translate }}" [sortable]="true" [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        {{item.CountedValue | amountConverter:locale}}
      </ng-template>
    </data-table-column>
  </us-data-table> -->
</div>
<div class="d-flex mt-1 ml-1">
  <us-icon-button class="mr-2" (click)="saveInventoryDetails()" [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate"></us-icon-button>
  <us-icon-button [iconClass]="'icon-print'" (click)="printInventory()" [labelText]="'ADMIN.Print' | translate"></us-icon-button>
</div>
