:host {
  display: block;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}
:host/deep/.shop-content-height{
  display: block;
  min-height: 100%;
  padding-bottom: 40px;
  height: 100%;
  flex-direction: column;
}

:host/deep/.class{
  border-color:  rgba(0, 0, 0, 0.125);
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 1px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid;
  box-sizing: border-box;
  display: inline;
}

:host/deep/.line {
  border-left: 1px solid;
  margin-left: 2px;
  margin-right: 2px;
  border-color: rgba(0,0,0,0.125)
}
