<!-- ==================================  Edit Resource Basic Info ======================================-->


<div class="mc-basic-info" *ngIf="isEditMode" style="min-width: 465px;">
  <div class="scroll-content" usScroll>

    <form [formGroup]="EditResInfoForm">

      <div class="d-flex no-gutters mx-1">
        <div class="col">

          <div class="form-group">
            <label>{{'ADMIN.Name' | translate}}
              <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control form-control-sm" formControlName='Name' us-error [errorMsg]="formErrors.Name" [displayError]="myFormSubmited && !EditResInfoForm.get('Name').valid"
              placement="bottom">
          </div>

          <div class="d-flex no-gutters">

            <div class="col mr-1">
              <div class="form-group">
                <label>{{'ADMIN.ResourcePurchasedDate' | translate}}</label>
                <us-date-picker class="w-100" #fromDate [locale]="'COMMON.Locale'| translate" formControlName='PurchasedDate' [options]="fromDatePickerOptions"
                  (dateChanged)="fromDateChange($event, toDate)"> </us-date-picker>
              </div>
            </div>

            <div class="col ml-1">
              <div class="form-group">
                <label>{{'ADMIN.ResourceServiceDate' | translate}}</label>
                <us-date-picker class="w-100" #toDate [locale]="'COMMON.Locale'| translate" formControlName='MaintenanceDate' [options]="toDatePickerOptions">
                </us-date-picker>
              </div>
            </div>

          </div>

          <div class="form-group mt-1">
            <div class="form-inline">

              <div>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" formControlName='IsEquipment'>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{'ADMIN.EQUIPMENT' | translate}}</span>
                </label>
              </div>

              <div>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" formControlName='ActiveStatus'>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{'ADMIN.Active' | translate}}</span>
                </label>
              </div>

            </div>
          </div>

          <div class="form-group">
            <label>{{'ADMIN.Description' | translate}}</label>
            <textarea class="form-control form-control-sm" formControlName='Description' rows="2" style="height: 78px;"></textarea>
          </div>

          <div class="form-group">
            <label>{{'ADMIN.Category' | translate}}</label>
            <select class="w-100 pt-0 custom-select custom-select-sm" formControlName='ResourceCategory'>
              <option *ngFor="let cat of categoryTypes" [value]="cat.Id">{{ cat.Name }}</option>
            </select>
          </div>

          <div class="form-group">
            <label>{{'ADMIN.TimeCategory' | translate}}</label>
            <select class="w-100 pt-0 custom-select custom-select-sm" formControlName='TimeCategory'>
              <option *ngFor="let tc of timeCategory" [value]="tc">{{ tc.Name }}</option>
            </select>
          </div>

          <div class="form-group mt-1">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" formControlName='IsSalaryPerBooking'>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'ADMIN.SalaryPerBooking' | translate}}</span>
            </label>
          </div>

          <div class="form-group">
            <label>{{'ADMIN.Activity' | translate}}</label>
            <select class="w-100 pt-0 custom-select custom-select-sm" formControlName='ActivityId' #activitySelect (change)="selectedActivity=activitySelect.value">
              <option *ngFor="let act of activityTypes" [value]="act.Id">{{ act.Name }}</option>
            </select>
          </div>

          <div class="form-group">
            <label>{{'ADMIN.article' | translate}}</label>
            <div class="input-group input-group-sm">
              <input type="text" class="form-control form-control-sm" #activityText formControlName='ArticleName'
                (change)="activityVal=activityText.value">

              <div *ngIf="activityVal != '' ? true : false">
                <button class="btn btn-danger btn-icon-min" title="{{'ADMIN.Delete' |translate}}" (click)="removeArticle()">
                  <span class="icon-cancel"></span>
                </button>
              </div>

              <button class="btn btn-primary btn-sm" type="button" (click)="articleSelectionModal(articleSelection)">{{ 'ADMIN.Select' | translate }}</button>
            </div>
          </div>

          <div class="d-flex justify-content-between mt-2">
            <label>{{'ADMIN.Employee' | translate}}</label>
            <button class="btn btn-primary btn-sm" type="button" (click)="employeeSelectionModal(entitySelectionTemplate)">{{ 'ADMIN.Select' | translate }}</button>
          </div>

          <div class="bg-white mt-1 mb-2 p-1 border content-scroll-table">
            <span class="dropdown-item" *ngFor="let key of objectKeys(selectedEmpList)"> {{ selectedEmpList[key] }} </span>
          </div>

        </div>
      </div>

      <div class="d-flex mt-3 mb-3">

        <div class="form-inline">
          <us-icon-button class="ml-1" [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate " (click)="updateResource(EditResInfoForm.value)"></us-icon-button>
          <us-icon-button class="ml-1" [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate " (click)="cancelUpdate()"></us-icon-button>
        </div>

      </div>

    </form>
  </div>
</div>


<!-- =======================================  Basic Resource Information  ===========================================-->

<div class="mc-basic-info" *ngIf="!isEditMode" style="min-width: 332px;">
  <div class="scroll-content" usScroll>

    <div class="form-group row">
      <span class="col-4 pr-0 text-right">{{'ADMIN.Category' | translate}}</span>
      <strong class="col-8">{{ selectedRes?.ResourceCategory.Name }}</strong>
    </div>

    <div class="form-group row">
      <span class="col-4 pr-0 text-right">{{'ADMIN.EQUIPMENT' | translate}}</span>
      <strong class="col-8">{{ selectedRes?.EquipmentText }}</strong>
    </div>

    <div class="form-group row">
      <span class="col-4 pr-0 text-right">{{'ADMIN.ResourcePurchasedDate' | translate}}</span>
      <strong class="col-8">{{ selectedRes?.PurchasedDate == "1900-01-01T00:00:00" ? "" : selectedRes?.PurchasedDate | date:('COMMON.DateFormat'|translate)
        }}
      </strong>
    </div>

    <div class="form-group row">
      <span class="col-4 pr-0 text-right">{{'ADMIN.ResourceServiceDate' | translate}}</span>
      <strong class="col-8">{{ selectedRes?.MaintenanceDate == "1900-01-01T00:00:00" ? "" : selectedRes?.MaintenanceDate | date:('COMMON.DateFormat'|translate)
        }}
      </strong>
    </div>

    <div class="form-group row">
      <span class="col-4 pr-0 text-right">{{'ADMIN.Activity' | translate}}</span>
      <strong class="col-8">{{ selectedRes?.ActivityName }}</strong>
    </div>

    <div class="form-group row">
      <span class="col-4 pr-0 text-right">{{'ADMIN.ArticleName' | translate}}</span>
      <strong class="col-8">{{ selectedRes?.ArticleName }}</strong>
    </div>

    <div class="form-group row mt-2">
      <span class="col-4 pr-0 text-right">{{'ADMIN.Employee' | translate}}</span>
      <strong class="col-8">
        <div class="dropdown">
          <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{'ADMIN.ClickToView' | translate}}
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <span class="dropdown-item" *ngFor="let key of objectKeys(selectedEmpList)"> {{ selectedEmpList[key] }} </span>
          </div>

        </div>
      </strong>
    </div>

  </div>
</div>

<!-- ************************************************************************************************************* -->

<ng-template #articleSelection let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'ADMIN.ArticleSelectionC' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">

    <div class="d-flex justify-content-start no-gutters my-1">

      <!-- REPLACE WITH AG-GRID
        <us-data-table [pagination]="false" [items]="articles" [itemCount]="itemCount" (rowDoubleClick)="rowDoubleClickSelectArticle($event)">

        <data-table-column [property]="'ArticleNo'" [header]="'ADMIN.Number' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'Description'" [header]="'ADMIN.Name' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>

      </us-data-table> -->

    </div>

  </div>
</ng-template>

<!-- ********************************************************************************************************* -->

<ng-template #entitySelectionTemplate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'ADMIN.SelectEmployee' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">

    <exce-entityselection (searchEvent)="searchEmployee($event)" (selectedItem)="selectedEmployee($event)" (selectedItems)="selectedRowItems($event)"
      [multipleSelect]="false" [itemList]="items" [auotocompleteItems]="auotocompleteItemsForEmpSelection" [columns]="columns"
      [itemcount]="itemCount" [defaultRole]="defaultRole" [entitySelectionType]="entitySelectionType" [isDbPagination]="isDbPagination"
      [isBranchVisible]="false" [isStatusVisible]="false" [isRoleVisible]="false" [isDisabledRole]="false" [isAddBtnVisible]="false"
      [isBasicInforVisible]="false" (closeViewEvent)="closeEmployeeSelectionView()">
    </exce-entityselection>

  </div>

</ng-template>