<div class="d-flex no-gutters w-100">
  <div class="col-12">
    <div class="form-group">
    <strong>Exorlive</strong>
    <div class="clearfix"></div>
    <button class="btn btn-primary" (click)="loadExcorlive()">Register</button>
    </div>
    <hr class="hr-dashed">
  </div>
</div>

<div class="d-flex no-gutters w-100">
  <div class="col-12">
    <div class="form-group">
      <label><strong>Wellness</strong> User Id: {{wellnessId}}</label>
    <div class="clearfix"></div>
    <button class="btn btn-primary mr-1" (click)="registerWellness()">Register</button>
    <button class="btn btn-primary" (click)="updateWellness()" >Update</button>
    </div>
    <hr class="hr-dashed">
  </div>
</div>

<div class="d-flex no-gutters w-100">
  <div class="col-12">
    <label><strong>info Gym</strong> User Id: {{infoGymId}}</label>
    <div class="clearfix"></div>
    <button class="btn btn-primary mr-1" (click)="infoGymGenerate()">Register</button>
  </div>
  <hr class="hr-dashed">
</div>



