<form [formGroup]="templateForm">
    <h5>{{followupTemplate?.Name}}</h5>

    <div class="d-flex no-gutters">
      <div class="col-3 mr-2">
        <div class="form-group">
          <label>{{'COMMON.Text' | translate}}
            <strong class="text-danger">*</strong>
          </label>
          <input type="text" class="form-control " formControlName='Name' us-error [errorMsg]="formErrors.Name" [displayError]="formSubmited && !templateForm.get('Name').valid"
            placement="right" container="view">
        </div>
        <div class="form-group">
          <div class="form-inline">
            <div>
              <label class="custom-control custom-radio">
                <input id="rdemployee" name="empnroleRadio" type="radio" class="custom-control-input" (change)="setFollowUpType('EMP')" [checked]="isEmpSelected">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'MEMBERSHIP.Employee' | translate}}</span>
              </label>
            </div>
            <div>
              <label class="custom-control custom-radio">
                <input id="rdrole" name="empnroleRadio" type="radio" class="custom-control-input" (change)="setFollowUpType('ROL')" [checked]="isRoleSelected">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{'COMMON.RoleC' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="isEmpSelected">
          <label>{{'COMMON.AssignToEmpC' | translate}}</label>
          <strong class="text-danger" *ngIf="this.isEmpSelected">*</strong>
          <div class="input-group">
            <input type="text" class="form-control" readonly formControlName='AssignedEmpName' us-error [errorMsg]="formErrors.AssignedEmpName"
              [displayError]="formSubmited && !templateForm.get('AssignedEmpName').valid" placement="top" container="view">
            <button class="btn btn-primary" (click)="newMemberModal(newMemberModalView,'ASSIGNEMP')">{{'MEMBERSHIP.Select' | translate}}</button>
          </div>
        </div>
        <div class="form-group" *ngIf="isRoleSelected">
          <label>{{'COMMON.AssignToRoleC' | translate}}</label>
          <strong class="text-danger" *ngIf="this.RoleType">*</strong>
          <div class="input-group">
            <input type="text" class="form-control" readonly formControlName='RoleType' us-error [errorMsg]="formErrors.RoleType" [displayError]="formSubmited && !templateForm.get('RoleType').valid"
              placement="top" container="view">
            <button class="btn btn-primary" (click)="roleModal(roleSelectionModal)">{{'MEMBERSHIP.Select' | translate}}</button>
          </div>
        </div>
        <div class="form-group" *ngIf="isEmpSelected">
          <label>{{'COMMON.RoleC' | translate}}</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label>{{'COMMON.CompletedEmployeeC' | translate}}</label>
          <div class="input-group">
            <input type="text" class="form-control" formControlName='CompletedEmpName'>
            <button class="btn btn-primary" (click)="newMemberModal(newMemberModalView,'COMPLETEDEMP')">{{'MEMBERSHIP.Select' | translate}}</button>
          </div>
        </div>
        <div class="d-flex no-gutters">
          <div class="form-group col mr-1">
            <label>{{'MEMBERSHIP.PlannedDate' | translate}}</label>
            <us-date-picker class="w-100" name="plannedDate" formControlName='PlannedDate' #plannedDate [locale]="'COMMON.Locale'| translate">
            </us-date-picker>
          </div>
          <div class="form-group col ml-1">
            <label>{{'MEMBERSHIP.CompletedDate' | translate}}</label>
            <us-date-picker class="w-100" name="completedDate" [disabled]="isRoleSelected" formControlName='CompletedDate' #completedDate
              [locale]="'COMMON.Locale'| translate">
            </us-date-picker>
          </div>
        </div>
        <div class="d-flex no-gutters">
          <div class="form-group col mr-1" *ngIf="followupTemplate?.IsStartDate">
            <label>{{'MEMBERSHIP.StartDate' | translate}}</label>
            <us-date-picker class="w-100" name="startDate" formControlName='StartDate' #startDate [locale]="'COMMON.Locale'| translate">
            </us-date-picker>
          </div>
          <div class="form-group col ml-1" *ngIf="followupTemplate?.IsEndDate">
            <label>{{'MEMBERSHIP.EndDate' | translate}}</label>
            <us-date-picker class="w-100" name="endDate" formControlName='EndDate' #endDate [locale]="'COMMON.Locale'| translate">
            </us-date-picker>
          </div>
        </div>

        <div class="d-flex no-gutters">
          <div class="form-group col mr-1" *ngIf="followupTemplate?.IsStartTime">
            <label>{{'MEMBERSHIP.StartTime' | translate}}</label>
            <us-time-picker formControlName="StartTime"> </us-time-picker>
          </div>

          <div class="form-group col ml-1" *ngIf="followupTemplate?.IsEndTime">
            <label>{{'MEMBERSHIP.EndTime' | translate}}</label>
            <us-time-picker formControlName="EndTime"> </us-time-picker>
          </div>
        </div>

        <div class="form-group" *ngIf="followupTemplate?.IsPhoneNo">
          <label>{{'MEMBERSHIP.PhoneNumber' | translate}}</label>
          <input type="text" class="form-control " formControlName="PhoneNo">
        </div>

        <div class="form-group" *ngIf="followupTemplate?.IsAutomatedSMS">
          <label>{{'MEMBERSHIP.sms' | translate}}</label>
          <textarea class="form-control" rows="3" formControlName="AutomatedSMS"></textarea>
        </div>

      </div>

      <div class="col-3">

        <div class="form-group">
          <label>{{'COMMON.Discription' | translate}}</label>
          <textarea class="form-control" rows="3" formControlName="Description"></textarea>
        </div>

        <div class="d-flex">

          <!-- <div class="form-group w-50" *ngIf="followupTemplate?.IsFoundDate">
            <label>{{'MEMBERSHIP.FoundDate' | translate}}</label>
            <us-date-picker class="w-100" name="foundDate" formControlName="FoundDate" #foundDate [locale]="'COMMON.Locale'| translate">
            </us-date-picker>
          </div> -->

          <!-- <div class="form-group" *ngIf="followupTemplate?.IsPhoneNo">
            <label>{{'MEMBERSHIP.PhoneNumber' | translate}}</label>
            <input type="text" class="form-control " formControlName="PhoneNo">
          </div> -->

          <!-- <div class="form-group" *ngIf="followupTemplate?.IsAutomatedSMS">
            <label>{{'MEMBERSHIP.sms' | translate}}</label>
            <textarea class="form-control" rows="3" formControlName="Sms"></textarea>
          </div> -->

        </div>

        <div class="d-flex">

          <div class="form-group w-50" *ngIf="followupTemplate?.IsFoundDate">
            <label>{{'MEMBERSHIP.FoundDate' | translate}}</label>
            <us-date-picker class="w-100" name="foundDate" formControlName="FoundDate" #foundDate [locale]="'COMMON.Locale'| translate">
            </us-date-picker>
          </div>

          <div class="form-group w-50 ml-1" *ngIf="followupTemplate?.IsReturnDate">
            <label>{{'MEMBERSHIP.ReturnDate' | translate}}</label>
            <us-date-picker class="w-100" name="returnDate" formControlName="ReturnDate" #returnDate [locale]="'COMMON.Locale'| translate">
            </us-date-picker>
          </div>

        </div>

        <div class="d-flex">

          <div class="form-group w-50" *ngIf="followupTemplate?.IsDueDate">
            <label>{{'MEMBERSHIP.DueDate' | translate}}</label>
            <us-date-picker class="w-100" name="dueDate" formControlName="DueDate" #dueDate [locale]="'COMMON.Locale'| translate">
            </us-date-picker>
          </div>

          <div class="form-group w-50 ml-1" *ngIf="followupTemplate?.IsDueTime">
            <label>{{'MEMBERSHIP.DueTime' | translate}}</label>
            <us-time-picker formControlName="DueTime"> </us-time-picker>
          </div>

        </div>

        <div class="form-group w-50" *ngIf="followupTemplate?.IsNoOfDays">
          <label>{{'MEMBERSHIP.NoOfDays' | translate}}</label>
          <input type="text" class="form-control " formControlName='NumOfDays' placement="right" container="view">
        </div>

        <div class="form-group" *ngIf="followupTemplate?.IsAutomatedEmail">
          <div>
            <label>{{'MEMBERSHIP.Email' | translate}}</label>
            <label class="float-right">0</label>
          </div>
          <textarea class="form-control" rows="3" formControlName="AutomatedEmail"></textarea>
        </div>

        <div class="form-group">
          <div>
            <label>{{'MEMBERSHIP.Comment' | translate}}</label>
            <label class="float-right">0</label>
          </div>
          <textarea class="form-control" rows="3" formControlName="Comment"></textarea>
        </div>

        <!-- <div class="form-group" *ngIf="followupTemplate?.IsNextFollowUpValue"> -->
        <div class="form-group" *ngIf="isNextFollowUp">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" formControlName="IsNextFollowUp">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{'MEMBERSHIP.miwnNextFollowUp' | translate}}</span>
          </label>
        </div>

        <div class="form-group">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" formControlName="IsPopUp">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{'COMMON.IsPopUpC' | translate}}</span>
          </label>
        </div>

      </div>

    </div>
</form>

<div class="col-6">
  <form [formGroup]="formDy">

    <div *ngFor="let question of questions" class="form-row">
      <div [ngSwitch]="question.controlType">

        <div *ngSwitchCase="'textbox'" class="form-group w-50">
          <label>{{question.label}}</label>
          <input [formControlName]="question.key" [id]="question.key" [type]="question.type">
        </div>

        <div class="form-group w-50" *ngSwitchCase="'checkbox'">
          <label>{{question.label}}</label>
          <input [checked]="question.value == 'true'" [formControlName]="question.key" [id]="question.key" [value]="question.value"
            [type]="question.type" (change)="onCheckboxChange($event)">
        </div>

        <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
          <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
        </select>

        <div class="form-group w-50" *ngSwitchCase="'datepicker'">
          <label>{{question.label}}</label>
          <us-date-picker class="w-100" [formControlName]="question.key" [id]="question.key" [locale]="'COMMON.Locale'| translate">
          </us-date-picker>
        </div>

      </div>
    </div>

  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong>
    <br>{{payLoad}}
  </div>
</div>


<ng-template #newMemberModalView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ entitySelectionViewTitle }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItem)="selectedRowItem($event)" [multipleSelect]="false"
      [itemList]="items" [auotocompleteItems]="auotocompleteItems" [columns]="columns" [itemcount]="itemCount" [entitySelectionType]="entitySelectionType"
      [isDbPagination]="isDbPagination" [isBranchVisible]="false" [isStatusVisible]="false" [isRoleVisible]="false" [isAddBtnVisible]="false"
      [isBasicInforVisible]="false" (closeViewEvent)="closeEmployeeSelectionView()">
    </exce-entityselection>
  </div>
</ng-template>


<ng-template #roleSelectionModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ entitySelectionViewTitle }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <!-- REPLACE WITH AG-GRID
      <us-data-table [items]="roleItems" [itemCount]="roleItemCount" indexColumnVisible (rowDoubleClick)="roleDoubleClick($event)">
      <data-table-column [property]="'RoleName'" header="{{'MEMBERSHIP.Name' | translate}}" [sortable]="true" [resizable]="true"
        [sortable]="true">
      </data-table-column>
    </us-data-table> -->
  </div>
</ng-template>
