<div class="d-flex justify-content-start">
  <div class="col-2 p-1 mr-2">
    <label class="w-100">{{ 'MEMBERSHIP.Member' | translate }}</label>
    <span><strong>1001429 - Jayani Perera</strong></span>
  </div>
  <div class="col-2 p-1 mr-2">
    <label class="w-100">{{ 'MEMBERSHIP.DueDate' | translate }}</label>
    <span><strong>3/17/2017</strong></span>
  </div>
  <div class="col-2 p-1 mr-2">
    <label class="w-100">{{ 'MEMBERSHIP.EstimatedOrderAmount' | translate }}</label>
    <span><strong>250.00</strong></span>
  </div>
</div>

<div class="d-flex justify-content-start my-2">
  <div class="col-2 p-1 mr-2">
    <label class="w-100">{{ 'MEMBERSHIP.Contract' | translate }}</label>
    <span><strong>8000279</strong></span>
  </div>
  <div class="col-2 p-1 mr-2">
    <label class="w-100">{{ 'MEMBERSHIP.Order' | translate }}</label>
    <span><strong>10001452546996544</strong></span>
  </div>
</div>



<div class="d-flex justify-content-start my-2">
  <div class="col p-1">
    <us-tab>
      <tab-content [tabTitle]="'Basic'">

        <div class="d-flex justify-content-start">
          <div class="col-2 p-1 mr-2">
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.ActivityPrice' | translate }}</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.AddOnPrice' | translate }}</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.OrderAmount' | translate }}</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-2 p-1 mr-2">
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.DueDate' | translate }}</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.Text' | translate }}</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-2 p-1 mr-2">
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.EstimatedDiscountAmount' | translate }}</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.EstimatedSponsoredAmount' | translate }}</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.EstimatedOrderAmount' | translate }}</label>
              <input type="text" class="form-control">
            </div>
          </div>

        </div>

        <div class="d-flex justify-content-start">
          <div>
            <label>{{ 'MEMBERSHIP.OrderLines' | translate }}</label>
          </div>
          <div class="ml-auto">
            <button class="btn btn-primary">{{ 'MEMBERSHIP.Add' | translate }}</button>
          </div>
        </div>

        <div class="d-flex justify-content-start">
          <table class="table table-sm table-hover table-default data-table my-2">
            <thead class="thead-primary">
              <tr>
                <th>{{ 'MEMBERSHIP.ArticleNo' | translate }}</th>
                <th>{{ 'MEMBERSHIP.Name' | translate }}</th>
                <th>{{ 'MEMBERSHIP.UnitPrice' | translate }}</th>
                <th>{{ 'MEMBERSHIP.Discount' | translate }}</th>
                <th>{{ 'MEMBERSHIP.Qty' | translate }}</th>
                <th>{{ 'MEMBERSHIP.Price' | translate }}</th>
                <th>{{ 'MEMBERSHIP.Up' | translate }}</th>
                <th>{{ 'MEMBERSHIP.Down' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>10230</td>
                <td>Smith</td>
                <td>50</td>
                <td>3%</td>
                <td>22</td>
                <td>250.00</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>

      </tab-content>
      <tab-content [tabTitle]="'Details'">

        <div class="d-flex justify-content-start">
          <div class="col-2 p-1 mr-2">
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.TrainingStartAndEndDate' | translate }}</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.OrderDate' | translate }}</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.OriginalDueDate' | translate }}</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.EstimatedInvoiceDate' | translate }}</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-2 p-1 mr-2">
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.EndDate' | translate }}</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-3 p-1 mr-2">
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.Gym' | translate }}</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.ChangeCustomer' | translate }}</label>
              <div class="form-inline">
                <input type="text" class="form-control w-75">
                <button class="btn btn-primary w-25">{{ 'MEMBERSHIP.Select' | translate }}</button>
              </div>
            </div>
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.OriginalCustomer' | translate }}</label>
              <input type="text" class="form-control">
            </div>
            <label class="custom-control custom-checkbox checkbox-inline w-100">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Sponsoring Order</span>
                    </label>
            <label class="custom-control custom-checkbox checkbox-inline w-100">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Invoice Fee</span>
                      </label>
          </div>
          <div class="col-2 p-1 mt-4 ">
            <label class="custom-control custom-checkbox checkbox-inline w-100 mt-3">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">ATG</span>
                    </label>
          </div>

        </div>

        <div class="d-flex justify-content-start">
          <div class="col-4 p-1">
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.AddOnText' | translate }}</label>
              <div class="form-inline">
                <input type="text" class="form-control w-75">
                <button class="btn btn-primary w-25">{{ 'MEMBERSHIP.Select' | translate }}</button>
              </div>
            </div>
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.ContractTemplate' | translate }}</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>{{ 'MEMBERSHIP.Comment' | translate }}</label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
        </div>

      </tab-content>
    </us-tab>

  </div>
</div>

<div class="d-flex justify-content-start">
  <div class="col p-1">
    <div class="form-inline">
      <!-- doing nothing -->
      <!-- <us-icon-button class="mr-2" [iconClass]="'icon-checkout'" [labelText]="'MEMBERSHIP.CheckOut' | translate"></us-icon-button> -->
      <us-icon-button class="mr-2" [iconClass]="'icon-print'" [labelText]="'MEMBERSHIP.PrintInvoiceC' | translate"></us-icon-button>
      <us-icon-button class="mr-2" [iconClass]="'icon-print'" [labelText]="'MEMBERSHIP.PrintOrder' | translate"></us-icon-button>
      <us-icon-button class="mr-2" [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Save' | translate"></us-icon-button>
      <us-icon-button class="mr-2" [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate"></us-icon-button>
    </div>
  </div>
</div>
