%table-header-fixed-scroller {
    display: flex;
    flex-flow: column;
    width: 100%;
    tbody {
        display: block;
        overflow-y: scroll;
        flex: 1 1 auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    thead {
        width: calc( 100% - 1.3em);
    }
}

:host {
    display: block;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}

:host/deep/.report-content-height {
    display: block;
    min-height: 100%;
    height: 100%;
    padding-bottom: 40px;
}

.schedule-col-width {
    width: 180px;
}

.schedule-add-table {
    ::ng-deep .data-table {
        height: 200px;
        @extend %table-header-fixed-scroller;
    }
}