<div class="d-flex no-gutters justify-content-start report-content-height">
  <div class="col-md-2">
    <div class="modal-header">
      <span class="modal-title">
        <span>{{ 'REPORT.SelectionScreenBtnSelectEntity' | translate }}</span>
      </span>
      <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn>
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>

    <div class="mt-2 ml-1">
      <div class="mb-1" *ngFor="let entity of EntityList">
        <label class="custom-control custom-checkbox checkbox-inline">
          <input type="checkbox" class="custom-control-input" [checked]="entity.isSelect" [(ngModel)]="entity.isSelect" (change)="$event.target.checked&&selectedEntityList.length>2?entity.isSelect=false:enititySelect($event,entity)">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ entity.DisplayName }}</span>
        </label>
      </div>

    </div>
  </div>
  <div class="col-md-10">
    <as-split direction="horizontal">
      <as-split-area class="bg-white" [size]="50">
        <div class="d-flex justify-content-between p-1 title-bg">
          <button type="button" class="btn btn-primary">{{'REPORT.SelectionScreenBtnSelectEntity' | translate}}</button>
          <div>
            <button type="button" class="btn btn-primary btn-icon-min" title="{{'REPORT.SelectionScreenBtnMoveTabToLeft' | translate}}">
              <span class="icon-caret-left"></span>
            </button>
            <button type="button" class="btn btn-primary btn-icon-min" title="{{'REPORT.SelectionScreenBtnMoveTabToRight' | translate}}">
              <span class="icon-caret-right"></span>
            </button>

          </div>
        </div>
        <div class="mt-1">
          <us-tab>
            <tab-content *ngFor="let selectedEntity of selectedEntityList" [tabTitle]="selectedEntity.DisplayName">
              <div>
                <div>
                  <div class="d-flex justify-content-between">
                    <div class="form-inline mt-1">

                      <input type="text" class="form-control mx-1" placeholder="{{'REPORT.PropertyName' | translate}}">
                      <label class="custom-control custom-checkbox checkbox-inline mr-2">
                        <input type="checkbox" [checked]="false" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{'REPORT.SelectionScreenCbxGroup' | translate}}</span>
                      </label>
                      <label class="custom-control custom-checkbox checkbox-inline mr-2">
                        <input type="checkbox" [checked]="false" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{'REPORT.SelectionScreenCbxCount' | translate}}</span>
                      </label>
                    </div>

                    <div class="mt-1">
                      <button type="button" class="btn btn-primary btn-icon-min" title="{{'REPORT.SelectionScreenTtMoveSelectedUp' | translate}}">
                        <span class="icon-move-selected-up"></span>
                      </button>
                      <button type="button" class="btn btn-primary btn-icon-min" title="{{'REPORT.SelectionScreenBtnMovePropertyUp' | translate}}">
                        <span class="icon-caret-up"></span>
                      </button>
                      <button type="button" class="btn btn-primary btn-icon-min" title="{{'REPORT.SelectionScreenBtnMovePropertyDown' | translate}}">
                        <span class="icon-caret-down"></span>
                      </button>

                    </div>
                  </div>
                  <div class="d-flex mt-1 ml-1">
                    <table class="table table-sm table-hover table-default">
                      <tbody>
                        <tr *ngFor="let property of selectedEntity.Properties">
                          <td width="10%">
                            <label class="custom-control custom-checkbox checkbox-inline mr-2">
                              <input type="checkbox" [checked]="property.Selected" [(ngModel)]="property.Selected" class="custom-control-input">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description"></span>
                            </label>
                          </td>
                          <td width="40%">{{property.DisplayName}}</td>
                          <td width="40%">{{property.DataColumnReturnName}}</td>
                          <td width="20%">
                            <button type="button" class="btn btn-default btn-icon-min">
                              <span class="icon-report-aggregate"></span>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </tab-content>
          </us-tab>
        </div>
      </as-split-area>
      <as-split-area class="bg-white" [size]="50">
        <div class="d-block p-1 title-bg">
          <h5 class="text-white m-0">{{'REPORT.SelectionScreenTblFilter' | translate}}</h5>
        </div>
        <div class="d-flex mb-2">
          <table class="table table-sm table-hover table-default scroll-table gym-table">
            <thead class="thead-primary">
              <tr>
                <th width="2%"></th>
                <th width="2%"></th>
                <th>
                  <button type="button" class="btn btn-primary btn-icon-min">
                    <span class="icon-report-group-selected-clauses"></span>
                  </button>
                </th>
                <th>{{ 'REPORT.AddConditionHAndOr' | translate }}</th>
                <th>{{ 'REPORT.AddConditionHFeild' | translate }}</th>
                <th>{{ 'REPORT.AddConditionHOperator' | translate }}</th>
                <th>{{ 'REPORT.AddConditionHValue' | translate }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let condition of conditionList">
                <td>
                  <a class="cursor-hand ml-1">
                    <i class="icon-add"></i>
                  </a>
                </td>
                <td>
                  <button class="btn btn-danger btn-icon-min" (click)="deleteClause(condition)">
                    <span class="icon-cancel"></span>
                  </button>
                </td>
                <td>
                  <label class="custom-control custom-checkbox checkbox-inline mr-2">
                    <input type="checkbox" [checked]="condition.IsChecked" [(ngModel)]="condition.IsChecked" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                  </label>
                </td>
                <td>
                  <select class="custom-select w-100" [disabled]="condition.Conjunction == ''" [(ngModel)]="condition.Conjunction">
                    <!-- *ngIf="conditionList.length > 1" -->
                    <option [value]="'AND'">AND</option>
                    <option [value]="'OR'">OR</option>
                  </select>
                </td>
                <td>
                  <select class="custom-select w-100" (change)="getLeftOperand($event, condition)">
                    <!-- [(ngModel)]="condition.EntityPropertyForLeftOperand" -->
                    <option [ngValue]="null">{{condition.EntityPropertyForLeftOperand.DataColumnReturnName}}</option>
                    <option *ngFor="let prop of AllProperties" [ngValue]="prop">{{prop.DataColumnReturnName}}</option>
                  </select>
                </td>
                <td>
                  <select class="custom-select w-100" [(ngModel)]="condition.Operator">
                    <option *ngFor="let operator of _operatorList" [ngValue]="operator">{{operator}}</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="condition.EntityPropertyForRightOperand.ConditionFixValue">
                </td>
                <!-- <td>
                  <button class="btn btn-default btn-icon-min" (click)="deleteClause(condition)">
                    <span class="icon-report-ungroup-clauses"></span>
                  </button>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <a class="cursor-hand ml-1" (click)="addNewClasue()">
          <i class="icon-add"></i> Add new clause</a>
      </as-split-area>
    </as-split>
  </div>

</div>

<div class="d-flex fixed-bottom pb-1 pl-1">
  <us-icon-button class="mr-1" [iconClass]="'icon-add'" [labelText]="'REPORT.ScheduleBtn' | translate" (click)="openSchedule(scheduleModal)"></us-icon-button>
  <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'REPORT.QueryEditViewBtnSave' | translate" (click)="openSaveReport(saveReportModal)"></us-icon-button>
  <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'REPORT.AddNewReportCategoryViewBtnCancel' | translate" (click)="backToReports()"></us-icon-button>
</div>

<!-- **************************** Save Report Modal ******************************* -->
<ng-template #saveReportModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">Upload Report</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <save-report-view [selectedItem]="currentReport" (saveSuccess)="saveSuccess()" (canceled)="closeUploadModal()" [isEdit]="isEdit">
    </save-report-view>
  </div>
</ng-template>


<!-- ******************************* Schedule Modal ******************************* -->
<ng-template #scheduleModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'REPORT.ScheduleTitle' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="closeUploadModal()">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="reportScheduleForm">
      <div class="d-flex">
        <div class="form-group schedule-col-width mr-1">
          <label>{{ 'REPORT.ScheduleReccurence' | translate }}</label>
          <select class="custom-select w-100" formControlName="ScheduleRecurrence" (change)="getRecurrence($event)" us-error [errorMsg]="formErrors.ScheduleRecurrence"
            [displayError]="myFormSubmited && !reportScheduleForm.get('ScheduleRecurrence').valid">

            <option value="Yearly">{{'REPORT.ListItemYearly' | translate}}</option>
            <option value="Monthly">{{'REPORT.ListItemMonthly' | translate}}</option>
            <option value="Weekly">{{'REPORT.ListItemWeekly' | translate}}</option>
            <option value="Daily">{{'REPORT.ListItemDaily' | translate}}</option>
          </select>
        </div>
        <div class="form-group schedule-col-width mr-1">
          <label>{{ 'REPORT.ScheduleMonth' | translate }}</label>
          <select class="custom-select w-100" formControlName="ScheduleMonth" (change)="getMonth($event)">
            <option value="January">{{'REPORT.ListItemJan' | translate}}</option>
            <option value="February">{{'REPORT.ListItemFeb' | translate}}</option>
            <option value="March">{{'REPORT.ListItemMarch' | translate}}</option>
            <option value="April">{{'REPORT.ListItemApril' | translate}}</option>
            <option value="May">{{'REPORT.ListItemMay' | translate}}</option>
            <option value="June">{{'REPORT.ListItemJune' | translate}}</option>
            <option value="July">{{'REPORT.ListItemJul' | translate}}</option>
            <option value="August">{{'REPORT.ListItemAug' | translate}}</option>
            <option value="September">{{'REPORT.ListItemSep' | translate}}</option>
            <option value="October">{{'REPORT.ListItemOct' | translate}}</option>
            <option value="November">{{'REPORT.ListItemNov' | translate}}</option>
            <option value="December">{{'REPORT.ListItemDec' | translate}}</option>
          </select>
        </div>
        <div class="form-group schedule-col-width mr-1">
          <label>{{ 'REPORT.ScheduleDay' | translate }}</label>
          <select class="custom-select w-100" formControlName="ScheduleDay" (change)="getDay($event)">
            <option value="Monday">{{'REPORT.ListItemMon' | translate}}</option>
            <option value="Tuesday">{{'REPORT.ListItemTue' | translate}}</option>
            <option value="Wednesday">{{'REPORT.ListItemWed' | translate}}</option>
            <option value="Thursday">{{'REPORT.ListItemThu' | translate}}</option>
            <option value="Friday">{{'REPORT.ListItemFri' | translate}}</option>
            <option value="Saturday">{{'REPORT.ListItemSat' | translate}}</option>
            <option value="Sunday">{{'REPORT.ListItemSun' | translate}}</option>
          </select>
        </div>
        <div class="form-group schedule-col-width mr-1">
          <label>{{ 'REPORT.ScheduleDate' | translate }}</label>
          <select class="custom-select w-100" #d formControlName="ScheduleDate" (change)="getDate(d.value)">
            <option *ngFor="let date of DateList" [value]="date">{{date}}</option>
          </select>
        </div>
        <div class="form-group schedule-col-width">
          <label>{{ 'REPORT.ScheduleTime' | translate }}</label>
          <us-time-picker class="w-100" formControlName="ScheduleTime">
          </us-time-picker>
        </div>
      </div>
      <div class="d-flex">
        <div class="mr-2">
          <div class="form-group">
            <label>{{ 'REPORT.ScheduleStartDatetime' | translate }}</label>
            <div class="input-group">
              <div class="input-group">
                <us-date-picker class="mr-1" style="width: 200px;" formControlName="ScheduleStartDate" [locale]="'COMMON.Locale'| translate"
                  [options]="fromDatePickerOptions" (dateChanged)="fromDateChange($event, toDate)" us-error [errorMsg]="formErrors.ScheduleStartDate"
                  [displayError]="myFormSubmited && !reportScheduleForm.get('ScheduleStartDate').valid" placement="right">
                </us-date-picker>

                <us-time-picker style="width: 200px;" formControlName="ScheduleStartTime"> </us-time-picker>
              </div>
            </div>

          </div>
        </div>
        <div class="mr-2">
          <div class="form-group">
            <label>{{ 'REPORT.ScheduleEndDatetime' | translate }}</label>
            <div class="input-group">
              <div class="input-group">
                <us-date-picker class="mr-1" style="width: 200px;" formControlName="ScheduleEnddate" [locale]="'COMMON.Locale'| translate"
                  #toDate [options]="toDatePickerOptions" us-error [errorMsg]="formErrors.ScheduleEnddate" [displayError]="myFormSubmited && !reportScheduleForm.get('ScheduleEnddate').valid"
                  placement="right">
                </us-date-picker>

                <us-time-picker style="width: 200px;" formControlName="ScheduleEndTime"> </us-time-picker>
              </div>
            </div>

          </div>
        </div>
        <div class="mt-4">
          <div class="form-group">
            <label class="custom-control custom-checkbox checkbox-inline">
              <input type="checkbox" class="custom-control-input" formControlName="IsUntillFurtherNotice" (change)="untilNoticedChange($event)">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'REPORT.ScheduleUntillNoticed' | translate }}</span>
            </label>
          </div>
        </div>
      </div>

      <hr class="hr-dashed">
      <div class="d-flex no-gutters">
        <div class="col-2 mr-1">
          <div class="form-group">
            <label>{{ 'REPORT.ScheduleCategory' | translate }}</label>
            <select class="custom-select w-100" formControlName="ScheduleItemCategory" (change)="getCategoryChange($event)" us-error
              [errorMsg]="formErrors.ScheduleItemCategory" [displayError]="myFormSubmited && !reportScheduleForm.get('ScheduleItemCategory').valid">

              <option value="1">{{'REPORT.ListItemFollowup' | translate}}</option>
              <option value="2">{{'REPORT.ViewOperation_ResultBtnSMS' | translate}}</option>
              <option value="3">{{'REPORT.ListItemEmail' | translate}}</option>
              <option value="4">{{'REPORT.ListItemPrint' | translate}}</option>
            </select>
          </div>
        </div>
        <div class="col-2 mr-1">
          <div class="form-group">
            <label>{{ 'REPORT.ScheduleEntity' | translate }}</label>
            <select class="custom-select w-100" formControlName="ReportPrimaryEntity" us-error [errorMsg]="formErrors.ReportPrimaryEntity"
              [displayError]="myFormSubmited && !reportScheduleForm.get('ReportPrimaryEntity').valid" (change)="getSelectedEntity($event)">
              <option *ngFor="let ent of selectedEntityList" [value]="ent.DisplayName">{{ent.DisplayName}}</option>
            </select>
          </div>
        </div>

        <div class="col mr-1">
          <div class="form-group">
            <label>{{ 'REPORT.ScheduleTemplate' | translate }}</label>
            <div class="input-group">
              <input class="form-control" formControlName="ScheduleItemTemplate" type="text" us-error [errorMsg]="formErrors.ScheduleItemTemplate"
                [displayError]="myFormSubmited && !reportScheduleForm.get('ScheduleItemTemplate').valid">
              <button class="btn btn-primary" type="button" (click)="openAddTemplateView(addTemplete)"> {{ 'REPORT.Select' | translate }}</button>
            </div>
          </div>
        </div>

        <div class="col-2" *ngIf="hideFields">
          <div class="form-group">
            <label>{{ 'REPORT.ScheduleRecipient' | translate }}</label>
            <input class="form-control" formControlName="ScheduleItemRecipient" type="text">
          </div>
        </div>

        <div class="col-2" *ngIf="!hideFields">
          <div class="form-group">
            <label>{{ 'REPORT.ScheduleRole' | translate }}</label>
            <select class="custom-select w-100" #r formControlName="ScheduleItemRecipientRole" (change)="getSelectedRole(r.value)">
              <option *ngFor="let role of userRoles" [value]="role.Id">{{role.RoleName}}</option>
            </select>
          </div>
        </div>

      </div>

      <div class="d-flex no-gutters" *ngIf="!hideFields">
        <div class="col-2 mr-1">
          <div class="form-group">
            <label>{{ 'REPORT.FollowupStartTime' | translate }}</label>
            <us-time-picker class="w-100" formControlName="FollowupStartTime"></us-time-picker>
          </div>
        </div>
        <div class="col-2 mr-1">
          <div class="form-group">
            <label>{{ 'REPORT.FollowupEndTime' | translate }}</label>
            <us-time-picker class="w-100" formControlName="FollowupEndTime"></us-time-picker>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>{{ 'REPORT.ScheduleTemplateText' | translate }}</label>
            <input class="form-control" type="text" formControlName="Text">
          </div>
        </div>
      </div>

      <div class="d-flex no-gutters" *ngIf="!hideFields">
        <div class="col">
          <div class="form-group">
            <label>{{ 'REPORT.ReportingHomeHDescription' | translate }}</label>
            <textarea type="text" rows="2" class="form-control" formControlName="Description"></textarea>

          </div>
        </div>
      </div>

    </form>

    <div class="d-flex mb-1">
      <us-icon-button [iconClass]="'icon-add'" [labelText]="'REPORT.AddConditionViewBAddContent' | translate " (click)="GetScheduleFormValues(reportScheduleForm.value)"></us-icon-button>
    </div>

    <div class="d-flex">
      <!-- REPLACE WITH AG-GRID
        <us-data-table class="schedule-add-table" [items]="reportScheduleList" [pagination]="false">

        <data-table-column [width]="40">
          <ng-template #dataTableCell let-item="item">
            <button class="btn btn-primary btn-icon-min" (click)="editSelectedSchedule(item)">
              <span class="icon-edit"></span>
            </button>
          </ng-template>
        </data-table-column>

        <data-table-column [width]="40">
          <ng-template #dataTableCell let-item="item">
            <button class="btn btn-danger btn-icon-min" (click)="deleteSelectedSchedule(item)">
              <span class="icon-cancel"></span>
            </button>
          </ng-template>
        </data-table-column>


        <data-table-column [property]="'ScheduleStartDate'" [header]="'REPORT.From' | translate">
        </data-table-column>
        <data-table-column [property]="'ScheduleEnddate'" [header]="'COMMON.To' | translate">
        </data-table-column>
        <data-table-column [property]="'IsUntillFurtherNotice'" [header]="'REPORT.ScheduleUntillNoticed' | translate">
        </data-table-column>
        <data-table-column [property]="'ScheduleRecurrence'" [header]="'REPORT.ScheduleReccurence' | translate">
        </data-table-column>
        <data-table-column [property]="'ScheduleMonth'" [header]="'REPORT.ScheduleMonth' | translate">
        </data-table-column>
        <data-table-column [property]="'ScheduleDay'" [header]="'REPORT.ScheduleWeek' | translate">
        </data-table-column>
        <data-table-column [property]="'ScheduleDate'" [header]="'REPORT.ScheduleDay' | translate">
        </data-table-column>
        <data-table-column [property]="'ScheduleTime'" [header]="'REPORT.ScheduleTime' | translate">
        </data-table-column>
        <data-table-column [property]="'ReportPrimaryEntity'" [header]="'REPORT.ScheduleEntity' | translate">
        </data-table-column>
        <data-table-column [property]="'ScheduleItemCategory'" [header]="'REPORT.ScheduleCategory' | translate">
        </data-table-column>
        <data-table-column [property]="'ScheduleItemTemplate'" [header]="'REPORT.ScheduleTemplate' | translate">
        </data-table-column>
        <data-table-column [property]="'ScheduleItemRecipient'" [header]="'REPORT.ScheduleRecipient' | translate">
        </data-table-column>
        <data-table-column [property]="'ScheduleItemRecipientRole'" [header]="'REPORT.ScheduleRole' | translate">
        </data-table-column>
      </us-data-table> -->
    </div>

  </div>
  <div class="modal-footer">
    <us-icon-button [iconClass]="'icon-done'" labelText="{{ 'REPORT.QueryEditViewBtnSave' | translate }}" (click)="closeUploadModal()"></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" (click)="closeUploadModal()" labelText="{{ 'REPORT.AddNewReportCategoryViewBtnCancel' | translate }}"></us-icon-button>
  </div>

</ng-template>


<!-- ******************************* Add Template ********************************** -->

<ng-template #addTemplete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'REPORT.ScheduleTemplteTitle' | translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <div class="modal-body">

    <div class="d-flex">
      <!-- REPLACE WITH AG-GRID
        <us-data-table class="schedule-add-table" [items]="templateList" [pagination]="false" (rowDoubleClick)="rowDoubleClickItemSelect($event)"
        (rowClick)="rowClickItemSelect($event)">
        <data-table-column [property]="'TemplateId'" [header]="'REPORT.ScheduleTemplateId' | translate">
        </data-table-column>
        <data-table-column [property]="'TemplateName'" [header]="'REPORT.ScheduleTemplate' | translate">
        </data-table-column>
        <data-table-column [property]="'TemplateText'" [header]="'REPORT.ScheduleTemplateText' | translate">
        </data-table-column>
      </us-data-table> -->
    </div>

    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" labelText="{{ 'COMMON.OkC' | translate }}" (click)="rowClickPatchItem()"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" (click)="d('Cross click')" labelText="{{ 'COMMON.Cancel' | translate }}"></us-icon-button>
    </div>

  </div>
</ng-template>
