<!--======Edit Member Basic Info==========-->
<div *ngIf="isEditMode && !_editImage" class="mc-basic-info" style="min-width: 465px;">
    <div class="scroll-content" usScroll>
        <form [formGroup]="memberForm">

            <div class="d-flex no-gutters">
                <div class="col mr-2">
                    <div class="form-group">
                        <label>{{'MEMBERSHIP.Status' | translate}}</label>
                        <select class="w-100 pt-0 custom-select custom-select-sm" (change)="getSelectedStatus($event.target.value)">
                            <option *ngFor="let status of memberStatus" [ngValue]="status" [selected]="status.StatusID === selectedMember?.MemberStatuse">
                                {{status.StatusName}}</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="selectedMember?.Role!=0">
                        <label>{{'MEMBERSHIP.LastName' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control form-control-sm" (blur)="updateNameFormat($event.target.value,'LNAME')" formControlName='LastName'
                            us-error [errorMsg]="formErrors.LastName" [displayError]="myFormSubmited && !memberForm.get('LastName').valid"
                            placement="right">
                    </div>
                    <div class="form-group " *ngIf="selectedMember?.Role!=0">
                        <label>{{'MEMBERSHIP.FirstName' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control form-control-sm" (blur)="updateNameFormat($event.target.value,'FNAME')" formControlName='FirstName'
                            us-error [errorMsg]="formErrors.FirstName" [displayError]="myFormSubmited && !memberForm.get('FirstName').valid"
                            placement="right">
                    </div>
                    <div class="form-group" *ngIf="selectedMember?.Role==0">
                        <label>{{'MEMBERSHIP.CompanyName' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control form-control-sm" formControlName='LastName' us-error [errorMsg]="formErrors.LastName"
                            [displayError]="myFormSubmited && !memberForm.get('LastName').valid" placement="right">
                    </div>
                    <div class="form-group" *ngIf="selectedMember?.Role==0">
                      <label>{{'MEMBERSHIP.Department' | translate}}
                          <span class="text-danger">*</span>
                      </label>
                      <input type="text" class="form-control form-control-sm" formControlName='FirstName' us-error [errorMsg]="formErrors.FirstName"
                          [displayError]="myFormSubmited && !memberForm.get('FirstName').valid" placement="right">
                    </div>
                    <div class="form-group mt-1" *ngIf="selectedMember?.Role!=0">
                        <label>{{'MEMBERSHIP.Gender' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <div class="form-inline">
                            <div>
                                <label class="custom-control custom-radio">
                                    <input id="rdmale" name="gender" formControlName='gender' type="radio" class="custom-control-input" (change)="setGender(1)"
                                        [checked]="selectedMember?.Gender === 1">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{'MEMBERSHIP.Male' | translate}}</span>
                                </label>
                            </div>
                            <div>
                                <label class="custom-control custom-radio">
                                    <input id="rdfemale" name="gender" type="radio" formControlName='gender' class="custom-control-input" (change)="setGender(2)"
                                        [checked]="selectedMember?.Gender === 2"  us-error [errorMsg]="formErrors.gender" [displayError]="myFormSubmited && !memberForm.get('gender').valid" placement="top" container="view">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{'MEMBERSHIP.Female' | translate}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{'MEMBERSHIP.Address1' | translate}}</label>
                        <input type="text" class="form-control form-control-sm" formControlName='Address1' us-error [errorMsg]="formErrors.Address1" (change) = "removeleadingzeroes()"
                            [displayError]="myFormSubmited && !memberForm.get('Address1').valid" placement="right">
                    </div>
                    <div class="form-group">
                        <label>{{'MEMBERSHIP.Address2' | translate}}</label>
                        <input type="text" class="form-control form-control-sm" formControlName='Address2'>
                    </div>
                    <div class="form-group">
                        <label>{{'MEMBERSHIP.Postalcode' | translate}}</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" (change)="getCityforPostalCode($event.target.value)" formControlName='PostCode' us-error
                                [errorMsg]="formErrors.PostCode" [displayError]="myFormSubmited && !memberForm.get('PostCode').valid"
                                placement="right">
                            <span>
                                <button class="btn btn-primary btn-sm" (click)="openPostalCodeModal(newpostalModal)" type="button">{{'MEMBERSHIP.Add' | translate}}</button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{'MEMBERSHIP.City' | translate}}</label>
                        <input type="text" class="form-control form-control-sm" formControlName='PostPlace'>
                    </div>
                    <div class="form-group">
                        <label>{{'MEMBERSHIP.Country' | translate}}</label>
                        <select class="w-100 pt-0 custom-select custom-select-sm" formControlName='country' (change) = "onCountryChange()" >
                            <option *ngFor="let country of countries" [ngValue]="country.Id" >{{'COUNTRIES.' + country.Id | translate}}</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label>{{'MEMBERSHIP.ccInfoCategory' | translate}}</label>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">{{selectedMember?.InfoCategoryList.length}}</span>
                            <button class="btn btn-primary btn-sm w-100" type="button" (click)="viewLoad(p)" container="body" placement="top" [usPopover]="memberinforcategory"
                                popoverWidth="350" #p="usPopover" triggers="manual">{{'MEMBERSHIP.ccViewAndChange' | translate}}</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group" >
                        <label>{{'MEMBERSHIP.CardNo' | translate}}</label>
                        <input type="text" class="form-control" formControlName="MemberCardNo" (focus)="memberCardFocus()" (blur)="memberCardBlur($event.target.value)"
                          us-error [errorMsg]="formErrors.MemberCardNo" [displayError]="(myFormSubmited || isMemberCardBlur) && !memberForm.get('MemberCardNo').valid"
                          placement="top" container="view">
                      </div>
                    <div class="form-group">
                        <label>{{'MEMBERSHIP.Mobile' | translate}}
                          <strong class="text-danger" *ngIf="isMobileReq">*</strong>
                        </label>
                        <div class="input-group">
                          <span hidden #message>{{'MEMBERSHIP.NumberTaken' | translate}}</span>
                          <!-- <intl-tel-input [id]="'Mobile'" [intlOptions]="intlOptions" (fullValueChange)="fullValueChange($event,'MOBILE')" formControlName="Mobile" us-error [errorMsg]="formErrors.Mobile"
                            (valueBlur)="mobileBlur($event.target.value,'MOBILE')" (valueFocus)="mobileFocus('MOBILE')" [displayError]="(isMobileBlur || myFormSubmited) && !memberForm.get('Mobile').valid && isMobileReq"
                            placement="top" container="view"></intl-tel-input> -->
                              <input (blur)="prefixChange($event.target.value, 'MobilePrefix')" type="text" formControlName="MobilePrefix" class="prefix">
                              <input  autocomplete="'none'" class="mob" type="text" formControlName="Mobile" us-error [errorMsg]="formErrors.Mobile" [id]="'Mobile'"
                              (blur)="mobileBlur($event.target.value,'MOBILE')" (valueFocus)="mobileFocus('MOBILE')" [displayError]="(isMobileBlur || myFormSubmited) && !memberForm.get('Mobile').valid"
                              placement="top" container="view">
                          </div>
                    </div>
                    <div class="form-group">
                        <label>{{'COMMON.Private' | translate}}</label>
                     <!--   <div class="input-group">
                            <input type="text" class="form-control form-control-sm w-25" formControlName='PrivateTeleNoPrefix' (change)="onPhoneNumberChange('PRIVATEPRE', $event.target.value)">
                            <input type="text" exceMobile mobileNo="{{selectedMember.PrivateTeleNo}}" mobilePrefix="{{selectedMember.PrivateTeleNoPrefix}}"
                                (change)="onPhoneNumberChange('PRIVATE', $event.target.value)" class="form-control form-control-sm w-75"
                                formControlName='PrivateTeleNo'>
                        </div>-->
                        <!-- <intl-tel-input [intlOptions]="intlOptions" (fullValueChange)="fullValueChange($event,'PRIVATE')" formControlName="PrivateTeleNo" us-error [errorMsg]="formErrors.PrivateTeleNo"
                        (valueBlur)="mobileBlur($event,'PRIVATE')" (valueFocus)="mobileFocus('PRIVATE')" [displayError]="(isPrivateBlur || myFormSubmited) && !memberForm.get('PrivateTeleNo').valid"
                        placement="top" container="view"></intl-tel-input> -->
                        <div class="input-group">
                            <input (blur)="prefixChange($event.target.value, 'PrivateTeleNoPrefix')" type="text" formControlName="PrivateTeleNoPrefix" class="prefix">
                            <input  autocomplete="'none'" class="mob" type="text" formControlName="PrivateTeleNo" us-error [errorMsg]="formErrors.PrivateTeleNo"
                            (blur)="mobileBlur($event.target.value,'PRIVATE')" (valueFocus)="mobileFocus('PRIVATE')" [displayError]="(isPrivateBlur || myFormSubmited) && !memberForm.get('PrivateTeleNo').valid"
                            placement="top" container="view">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{'COMMON.Work' | translate}}</label>
                      <!--  <div class="input-group">
                            <input type="text" class="form-control form-control-sm w-25" formControlName='WorkTeleNoPrefix' (change)="onPhoneNumberChange('WORKPRE', $event.target.value)">
                            <input type="text" exceMobile mobileNo="{{selectedMember.WorkTeleNo}}" mobilePrefix="{{selectedMember.WorkTeleNoPrefix}}"
                                (change)="onPhoneNumberChange('WORK', $event.target.value)" class="form-control form-control-sm w-75"
                                formControlName='WorkTeleNo'>
                        </div> -->
                        <!-- <intl-tel-input [intlOptions]="intlOptions" (fullValueChange)="fullValueChange($event,'WORK')" formControlName="WorkTeleNo" us-error [errorMsg]="formErrors.WorkTeleNo"
                        (valueBlur)="mobileBlur($event,'WORK')" (valueFocus)="mobileFocus('WORK')" [displayError]="(isWorkBlur || myFormSubmited) && !memberForm.get('WorkTeleNo').valid"
                        placement="top" container="view"></intl-tel-input> -->
                        <div class="input-group">
                          <input (blur)="prefixChange($event.target.value, 'WorkTeleNoPrefix')" type="text" formControlName="WorkTeleNoPrefix" class="prefix">
                          <input  autocomplete="'none'" class="mob" type="text" formControlName="WorkTeleNo" us-error [errorMsg]="formErrors.WorkTeleNo"
                          (blur)="mobileBlur($event.target.value,'WORK')" (valueFocus)="mobileFocus('WORK')" [displayError]="(isWorkBlur || myFormSubmited) && !memberForm.get('PrivateTeleNo').valid"
                          placement="top" container="view">
                      </div>
                    </div>
                    <div class="form-group" *ngIf="selectedMember?.Role==0">
                        <label>{{'MEMBERSHIP.crCompanyEmail' | translate}}</label>
                        <input type="text" class="form-control form-control-sm" formControlName='CompanyEmail'>
                    </div>
                    <div class="form-group" *ngIf="selectedMember?.Role==0">
                        <label>{{'MEMBERSHIP.crAccountingEmail' | translate}}</label>
                        <input type="text" class="form-control form-control-sm" formControlName='AccountingEmail'>
                    </div>
                    <div class="form-group" *ngIf="selectedMember?.Role==0">
                        <label>{{'MEMBERSHIP.OrgNumber' | translate}}</label>
                        <input type="text" class="form-control form-control-sm" formControlName='VatNumber'>
                    </div>
                    <div class="form-group" *ngIf="selectedMember?.Role!=0">
                        <label>{{'MEMBERSHIP.Email' | translate}}</label>
                        <input type="text" class="form-control form-control-sm" formControlName='Email' us-error [errorMsg]="formErrors.Email" [displayError]="myFormSubmited && !memberForm.get('Email').valid"
                            placement="bottom" container="view">
                    </div>

                    <div class="form-group" *ngIf="selectedMember?.Role!=0">
                        <label>{{'MEMBERSHIP.BirthDate' | translate}}</label>
                        <div class="input-group">
                            <us-date-picker class="w-100" name="birthDate" #birthDate [locale]="'COMMON.Locale'| translate" formControlName='BirthDate'
                                (dateChanged)="onbirthdayDateChange($event)">
                            </us-date-picker>
                        </div>
                    </div>

                    <div class="form-group mt-4">
                        <div class="form-inline">
                            <div>
                                <label class="custom-control custom-radio">
                                    <input id="rdmember" name="Role" type="radio" (change)="setMemberType(1)" [checked]="selectedMember?.Role === 1" class="custom-control-input"
                                        formControlName='Role'>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{'MEMBERSHIP.Member' | translate}}</span>
                                </label>
                            </div>
                            <div>
                                <label class="custom-control custom-radio">
                                    <input id="rdcompany" name="Role" type="radio" (change)="setMemberType(0)" [checked]="selectedMember?.Role === 0" class="custom-control-input"
                                        formControlName='Role'>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{'MEMBERSHIP.Company' | translate}}</span>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="d-flex mt-3 mb-3">
                <div class="form-inline">
                    <us-icon-button [iconBgClass]="'bg-danger'" [isDisabled]="deleteButtonEnabled" [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Delete' | translate "></us-icon-button>
                    <us-icon-button class="ml-1" [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Save' | translate " (click)= "saveMemberUpdates()"   type="submit"></us-icon-button>
                    <us-icon-button class="ml-1" [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="cancelUpdate()"></us-icon-button>

                </div>
            </div>
            <ng-template #memberinforcategory>
                <div class="d-block mb-1" style="height: 240px; width:324px; " usScroll>
                    <ul class="list-unstyled">
                        <li class="list-line-item" *ngFor="let nMethod of notifiMethods">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [value]="nMethod.IsCheck" [checked]="nMethod.IsCheck" (change)="$event.target.checked ? nMethod.IsCheck = true : nMethod.IsCheck = false">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{nMethod.Name}}</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-sm" type="button" (click)="changeInforCats(p); closePopOver()">{{'MEMBERSHIP.Ok' | translate}}</button>
                </div>
            </ng-template>

        </form>
    </div>
</div>


<!--==============================================================-->

<div class="mc-basic-info" *ngIf="!isEditMode" style="min-width: 350px;">
    <div class="scroll-content" usScroll>
        <div class="form-group row">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.Status' | translate}}</span>
            <strong class="col-8">{{selectedMember?.StatusName}}</strong>
        </div>
        <div class="form-group row">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.CardNo' | translate}}</span>
            <strong class="col-8">{{selectedMember?.MemberCardNo}}</strong>
        </div>
        <div class="form-group row" *ngIf="selectedMember?.Role===0">
          <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.CompanyName' | translate}}</span>
          <strong class="col-8">{{selectedMember?.LastName}}</strong>
        </div>
        <div class="form-group row" *ngIf="selectedMember?.Role===0">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.Department' | translate}}</span>
            <strong class="col-8">{{selectedMember?.FirstName}}</strong>
        </div>
        <div class="form-group row" *ngIf="selectedMember?.Role===0">
          <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.ContactPerson' | translate}}</span>
          <strong class="col-8">{{selectedMember?.ContactPerson}}</strong>
        </div>
        <div class="form-group row" *ngIf="selectedMember?.Role!==0">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.Gender' | translate}}</span>
            <strong class="col-8">{{(selectedMember?.Gender === 1) ? ('MEMBERSHIP.Male' | translate):('MEMBERSHIP.Female' |translate)}}</strong>
        </div>
        <div class="form-group row">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.Address1' | translate}}</span>
            <strong class="col-8">{{selectedMember?.Address1}}</strong>
        </div>
        <div class="form-group row">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.Address2' | translate}}</span>
            <strong class="col-8">{{selectedMember?.Address2}}</strong>
        </div>
        <div class="form-group row">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.Postalcode' | translate}}</span>
            <strong class="col-8">{{selectedMember?.PostCode}}</strong>
        </div>
        <div class="form-group row">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.City' | translate}}</span>
            <strong class="col-8">{{selectedMember?.PostPlace}}</strong>
        </div>
        <div class="form-group row">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.Country' | translate}}</span>
            <strong class="col-8">{{ 'COUNTRIES.' + (selectedMember?.CountryId) | translate}}</strong>
        </div>
        <div class="form-group row" *ngIf="selectedMember?.Role!=0">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.BirthDay' | translate}}</span>
            <strong class="col-8">{{selectedMember?.BirthDate | date:('COMMON.DateFormat'|translate)}}</strong>
        </div>
        <div class="form-group row" *ngIf="selectedMember?.Role!=0">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.Age' | translate}}</span>
            <strong class="col-8">{{selectedMember?.Age}}</strong>
        </div>

        <div class="form-group row mt-3">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.Mobile' | translate}}</span>
            <a *ngIf="selectedMember?.Mobile.length > 0" href="javascript:" (click)="openMobileSendSmsModal(sendSmsModal)" class="col-8 link">{{selectedMember?.Mobile.length > 0 ? selectedMember?.MobilePrefix: ''}} {{selectedMember?.Mobile}}</a>
        </div>
        <!--
        <div class="form-group row">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.Private' | translate}}</span>
            <strong class="col-8">{{selectedMember?.PrivateTeleNo.length > 0 ? selectedMember?.PrivateTeleNoPrefix: ''}} {{selectedMember?.PrivateTeleNo}}</strong>
        </div>

        <div class="form-group row">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.Work' | translate}}</span>
            <strong class="col-8">{{selectedMember?.WorkTeleNo.length > 0 ? selectedMember?.WorkTeleNoPrefix: ''}} {{selectedMember?.WorkTeleNo}}</strong>
        </div>-->

        <div class="form-group row" *ngIf="selectedMember?.Role!=0">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.GuardianNo' | translate}}</span>
            <strong class="col-8" [ngClass]="{'indicateHyperlink' : selectedMember?.GuardianId !== -1 }" (click)="routeToGuardian()">{{selectedMember?.GuardianCustId}}</strong>
        </div>
        <div class="form-group row" *ngIf="selectedMember?.Role!=0">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.GuardianName' | translate}}</span>
            <strong class="col-8" [ngClass]="{'indicateHyperlink' : selectedMember?.GuardianId !== -1 }" (click)="routeToGuardian()">{{selectedMember?.GuardianName}}</strong>
        </div>

        <div class="form-group row" *ngIf="selectedMember?.Role!=0">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.EmployeeId' | translate}}</span>
            <strong class="col-8">{{selectedMember?.EmployeeNo}}</strong>
        </div>

        <div class="form-group row" *ngIf="selectedMember?.Role==0">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.TxtFax' | translate}}</span>
            <strong class="col-8">{{selectedMember?.FaxNo}}</strong>
        </div>

        <div class="form-group row" *ngIf="selectedMember?.Role!=0">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.Email' | translate}}</span>
            <a  href="javascript:" class="col-8 truncate link" (click)="sendEmail($event.target.value, emailEditor)">{{selectedMember?.Email}}</a>
        </div>
        <div class="form-group row" *ngIf="selectedMember?.Role==0">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.crCompanyEmail' | translate}}</span>
            <a href="mailto:{{selectedMember?.Email}}" class="col-8 truncate">{{selectedMember?.Email}}</a>
        </div>
        <div class="form-group row" *ngIf="selectedMember?.Role==0">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.crAccountingEmail' | translate}}</span>
            <strong class="col-8 truncate" title="{{selectedMember?.AccountingEmail}}">{{selectedMember?.AccountingEmail}}</strong>
        </div>
        <div class="form-group row" *ngIf="selectedMember?.Role==0">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.OrgNumber' | translate}}</span>
            <strong class="col-8">{{selectedMember?.VatNumber}}</strong>
        </div>

        <div class="form-group row" *ngIf="isUsingBrisIntegration">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.Ssn' | translate}}</span>
            <strong class="col-8">{{selectedMember?.Ssn}}</strong>
        </div>
        <div class="form-group row" *ngIf="selectedMember?.IsBrisIntegrated && selectedMember?.Role!=0">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.Language' | translate}}</span>
            <strong class="col-8">{{selectedMember?.Language}}</strong>
        </div>
        <div class="form-group row" *ngIf="isUsingBrisIntegration">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.UserId' | translate}}</span>
            <strong class="col-8">{{selectedMember?.UserId}}</strong>
        </div>

        <div class="form-group row mt-3">
            <span class="col-4 pr-0 text-right">{{'MEMBERSHIP.GroupM' | translate}}</span>
            <strong class="col-8">{{selectedMember?.GroupNameForMember}}</strong>
        </div>

    </div>
</div>

<ng-template #newpostalModal let-c="close" let-d="dismiss">
    <form [formGroup]="postalDataForm" (ngSubmit)="savePostalData()" novalidate>
        <div class="modal-header">
            <span class="modal-title">{{ 'MEMBERSHIP.AddNewPostalArea' | translate }}</span>
            <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

                <span aria-hidden="true" class="icon-close"></span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <div class="form-group w-50">
                        <label> {{ 'MEMBERSHIP.Postalcode' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" type="text" formControlName='postalCode'>
                    </div>
                    <div class="form-group">
                        <label> {{ 'COMMON.PostalName' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" type="text" formControlName='postalName'>
                    </div>
                    <div class="form-group">
                        <label> {{ 'COMMON.population' | translate }}
                            <span class="text-danger"></span>
                        </label>
                        <input class="form-control" type="text" formControlName='population'>
                    </div>
                    <div class="form-group">
                        <label> {{ 'COMMON.houseHould' | translate }}
                            <span class="text-danger"></span>
                        </label>
                        <input class="form-control" type="text" formControlName='houseHold'>
                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <us-icon-button [iconClass]="'icon-done'" type="submit" [labelText]="'MEMBERSHIP.Save' | translate "></us-icon-button>
            <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate "></us-icon-button>

        </div>
    </form>
</ng-template>

<ng-template #sendSmsModal let-c="close" let-d="dismiss">

    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.SendSMS' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <select class="form-control custom-select form-control-sm" (change)="setSMSText($event.target.value)">
                        <option *ngFor="let template of smsTemplates" [ngValue]="template">{{template.Name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="10" (change)="getText($event)">{{smsText}}</textarea>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <us-icon-button [iconClass]="'icon-done'" type="submit" [labelText]="'MEMBERSHIP.Send' | translate " (click)="sendSMS(smsConfirmationModal, smsErrorModal)"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="closeMobileSendSmsModal()"></us-icon-button>

    </div>

</ng-template>

<!-- ********************************************* -->

<ng-template #smsConfirmationModal let-c="close" let-d="dismiss">

    <div class="modal-header">
        <span class="modal-title">{{ 'MEMBERSHIP.sms' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <label> {{ 'MEMBERSHIP.SMSSent' | translate }}
            <span></span>
        </label>

    </div>
    <div class="modal-footer">
        <us-icon-button [iconClass]="'icon-done'" [labelText]="'Ok'" (click)="d('Cross click')"></us-icon-button>
    </div>

</ng-template>

<!-- ********************************************* -->

<ng-template #smsErrorModal let-c="close" let-d="dismiss">

  <div class="modal-header">
      <span class="modal-title">{{ 'MEMBERSHIP.Error' | translate }}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true" class="icon-close"></span>
      </button>
  </div>
  <div class="modal-body">
      <label> {{ 'MEMBERSHIP.SmsError' | translate }}
          <span></span>
      </label>

  </div>
  <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" [labelText]="'Ok'" (click)="d('Cross click')"></us-icon-button>
  </div>

</ng-template>

<!-- ********************************************* -->

<ng-template #emailEditor let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">
            <span>Email</span>
        </span>
        <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="form-group">
        <div class="form-inline">
            <label>{{ 'MEMBERSHIP.To' | translate }}</label>
            <input class="form-control" type="text" #to [value]='selectedMember.Email' readonly>
        </div>
        <div class="form-inline">
            <label>{{ 'MEMBERSHIP.Subject' | translate }}</label>
            <input class="form-control" type="text" #subject>
        </div>
    </div>
    <div class="modal-body">
        <ck-editor name="editor1" [(ngModel)]="emailEditorValue" skin="moono-lisa" lang="en" [fullPage]="true"></ck-editor>
    </div>
    <div class="modal-footer">
        <us-icon-button [iconClass]="'icon-done'" [labelText]="'Ok'" (click)="sendFromEmailEditor(to.value, subject.value)"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'Cancel'" (click)="c()"></us-icon-button>
    </div>
</ng-template>

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"
[information]="message" >


