<form [formGroup]="logNotificationForm">
  <div class="d-flex px-1">
    <div class="input-group">
      <label class="mr-2">{{'ECONOMY.Month' | translate}}</label>
      <select class="custom-select col-md-2 mr-2 cursor-hand">
        <option selected value="">All</option>
      </select>
      <button class="btn btn-primary cursor-hand">{{ 'ECONOMY.Generate' | translate }}</button>
    </div>
  </div>
</form>

<div class="d-flex px-1 mt-1">
  <!-- REPLACE WITH AG-GRID
    <us-data-table id="" [items]="items" [pagination]="false" [itemCount]="itemCount" (rowClick)="rowClick($event)" (rowDoubleClick)="openEmployeeInfoModal(empInfoModal)"
    [rowTooltip]="rowTooltip">
    <data-table-column [property]="" header="{{ 'ECONOMY.Name' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
  </us-data-table> -->
</div>
