<!-- <div *ngIf="selectedIndex === 1"> -->
<div class="d-flex justify-content-between no-gutters mx-1">
    <div class="form-inline">
        <div class="col mr-2 p-0">
            <div class="input-group default-input-group ">
                <input type="text" class="form-control" #searchTxt>
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-icon" type="button" (click)="search(searchTxt.value)">
                        <span class="icon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <input type="text" class="form-control mr-2" placeholder="{{'ADMIN.FilterByName'| translate}}" #NameFilter (keyup)="filterInput(NameFilter.value)">

        <label class="custom-control custom-radio cursor-hand">
            <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [value]="'ACTIVE'" checked="checked" #actValue
                (change)="radioValue($event);search(searchTxt.value)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{'ADMIN.Active'| translate}}</span>
        </label>
        <label class="custom-control custom-radio cursor-hand">
            <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [value]="'INACTIVE'" (change)="radioValue($event);search(searchTxt.value)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{'ADMIN.InactiveC'| translate}}</span>
        </label>
    </div>
    <div>
        <us-icon-button [iconClass]="'icon-add'" [labelText]="'ADMIN.AddNewUser' | translate " (click)="openModel(userDetails,true)"></us-icon-button>
    </div>
</div>

<div class="d-flex no-gutters mt-1 mx-1">
    <!-- REPLACE WITH AG-GRID
        <us-data-table headerTitle="Manage Categories" [pagination]="false" [items]="items | slice:1" [itemCount]="itemCount" (reload)="reloadItems($event)"
        (rowDoubleClick)="rowItemLoad($event,userDetails)" >
        <data-table-column [property]="'UserName'" header="{{'ADMIN.UserName' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'email'" header="{{'ADMIN.Email' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'DisplayName'" header="{{'ADMIN.DisplayName' | translate}} " [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'RoleName'" header="{{'ADMIN.RoleName' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
    </us-data-table> -->
</div>

<ng-template #userDetails let-c="close" let-d="dismiss">

    <div class="modal-header">
        <span class="modal-title">
            <span [hidden]="isAddNew">{{'ADMIN.EditUserDetails' | translate }}</span>
            <span [hidden]="!isAddNew">{{'ADMIN.AddNewUser' | translate }}</span>
        </span>
        <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>

    <div class="modal-body">
        <app-user-details [selectedItem]="rowItem" (canceled)="c()" [isAddNew]="isAddNew" (saveSuccess)="saveSuccess();c()"></app-user-details>
    </div>
</ng-template>
