<div class="d-flex justify-content-start w-100">
  <div class="mr-auto col-4 p-0 mr-2">
    <form [formGroup]="dateForm" #selectDate>
      <div class="input-group">
        <us-date-picker class="w-100" name="fromDate" #fromDate id="fromDate" [formControl]="dateForm.controls['fromDate']" [locale]="'COMMON.Locale'| translate">
        </us-date-picker>
        <span class="input-group-addon border-left-0">{{'MEMBERSHIP.To' | translate}}</span>
        <us-date-picker class="w-100" name="toDate" #toDate id="toDate" [formControl]="dateForm.controls['toDate']" [locale]="'COMMON.Locale'| translate">
        </us-date-picker>
        <span>
          <button class="btn btn-primary" (click)="dateFilter(dateForm.value)">{{'MEMBERSHIP.View'| translate}}</button>
        </span>
      </div>
    </form>
  </div>
  <div class="mr-2">
    <input type="text" class="form-control" #CategoryFilter (keyup)="filterInput(CategoryFilter.value,EmployeeFilter.value)"
      placeholder="{{'MEMBERSHIP.Category' | translate}}">
  </div>
  <div>
    <input type="text" class="form-control" #EmployeeFilter (keyup)="filterInput(CategoryFilter.value,EmployeeFilter.value)"
      placeholder="{{'MEMBERSHIP.Employee' | translate}}">
  </div>
</div>


<div class="mt-1">
  <!-- REPLACE WITH AG-GRID
    <us-data-table headerTitle="Manage Categories" [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)" (rowDoubleClick)="openEventModel($event, eventLog)"
   [showPageNumber]="false" [showLimit]="false" #bookingDatatable>

    <data-table-column [width]="120" [property]="'CreatedDate'" [header]="'MEMBERSHIP.CreatedDate' | translate" [sortable]="true"
      [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.CreatedDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [width]="120" [property]="'CreatedDate'" [header]="'MEMBERSHIP.CreatedTime' | translate" [sortable]="true"
      [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.CreatedDate | date:'HH:mm'}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [width]="120" [property]="'Category'" [header]="'MEMBERSHIP.Category' | translate" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [width]="180" [property]="'CreatedUser'" [header]="'MEMBERSHIP.Employee' | translate" [sortable]="true"
      [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Description'" [header]="''" [sortable]="true" [resizable]="true">
    </data-table-column>
  </us-data-table> -->

</div>


<ng-template #eventLog let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.Event' | translate }}: {{evenId}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
      <div class="d-flex">
        <div class="col-7">
          <div class="eventTitle">
            {{eventTitle}}
          </div>
          <div>
          <hr class="w-75" align="left">
        </div>
          <div>
            <textarea disabled readonly  type="text" rows="7" cols="35" class="textAr">
              {{eventDescription}}
            </textarea>
          </div>
        </div>
        <div class="col-5">
            <div class="form-group">
                <label>{{ 'MEMBERSHIP.CreatedDated' | translate }}</label>
                <div class="input-group">
                  <input class="form-control cursor-disabled w-100" disabled type="text" value="{{eventCreatedDate | date:('COMMON.DateFormat'|translate) }}">
                </div>
              </div>
        <div class="form-group">
            <label>{{ 'MEMBERSHIP.CreatedUser' | translate }}</label>
            <div class="input-group">
              <input class="form-control cursor-disabled w-100" disabled type="text" value="{{eventCreatedUser}}">
            </div>
          </div>
        <div class="form-group">
            <label>{{ 'MEMBERSHIP.Category' | translate }}</label>
            <div class="input-group">
              <input class="form-control cursor-disabled w-100" disabled type="text" value="{{eventCategory}}">
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <us-icon-button [iconClass]="'icon-done'" [labelText]="'MEMBERSHIP.Close' | translate" (click)="c()"></us-icon-button>
  </div>
</ng-template>
