<form [formGroup]="otherSettingsForm">
      <div class="system-set-othset-scroller">
            <div class="d-flex no-gutters">
                  <div class="col-2 mr-2">
                        <div class="form-group">
                              <label>{{ 'ADMIN.ClassGeneratingDays' | translate}} </label>
                              <input class="form-control" formControlName="ClassGeneratingDays" type="text">
                        </div>
                        <div class="form-group">
                              <label>{{ 'ADMIN.NoOfCopiesForInvoice' | translate}} </label>
                              <input class="form-control" formControlName="NoOfCopiesForInvoice" type="text">
                        </div>
                        <div class="form-group">
                              <label>{{ 'ADMIN.NetsSendingNo' | translate}} </label>
                              <input class="form-control" formControlName="NetsSendingNo" type="text">
                        </div>
                        <div class="form-group">
                              <label>{{ 'ADMIN.CustomerNo' | translate}} </label>
                              <input class="form-control" formControlName="CustomerNo" type="text">
                        </div>
                        <div class="form-group">
                              <label>{{ 'ADMIN.ContractNo' | translate}} </label>
                              <input class="form-control" formControlName="ContractNo" type="text">
                        </div>
                  </div>
                  <div class="col-2">

                        <div class="form-group">
                              <label>{{ 'ADMIN.ExcludeConCategories' | translate}} </label>
                              <div class="input-group">
                                    <span class="input-group-addon">{{selectedCategotyCount}}</span>
                                    <button class="btn btn-primary" type="button" (click)="viewLoad(excludingCategories) " container="body" placement="bottom"
                                          [usPopover]="excludingCategoriesGroup" popoverWidth="350" #excludingCategories="usPopover"
                                          triggers="manual">{{'ADMIN.ADD' | translate}}</button>

                              </div>
                        </div>

                        <div *ngIf="isBrisIntegrated" class="form-group">
                            <label class="custom-control custom-checkbox checkbox-inline cursor-hand">
                                <input type="checkbox" disabled checked class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{ 'ADMIN.isBrisIntegrated' | translate}}</span>
                              </label>
                        </div>
                  </div>
            </div>
      </div>
      <div>
            <us-icon-button [iconClass]="'icon-done'" (click)="saveOtherSettings()" [labelText]="'ADMIN.SaveC' | translate "></us-icon-button>
      </div>

</form>
<ng-template #excludingCategoriesGroup>
      <div class="scroll-content" usScroll>
            <div class="p-1" *ngFor="let categoryItem of contractCategoriesList">
                  <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [checked]="categoryItem.IsCheck" [value]="categoryItem.IsCheck" (change)="$event.target.checked ? categoryItem.IsCheck = true : categoryItem.IsCheck = false">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{categoryItem.Name}}</span>
                  </label>
            </div>
      </div>
      <div class="d-flex justify-content-end">
            <button class="btn btn-primary" type="button" (click)="changeContractCategory();closePopOver()">{{'ADMIN.OK' | translate}}</button>
      </div>
</ng-template>
