.scroll-content{
    height: 244px;
    width: 320px;
   }

   :host .system-set-othset-scroller {
    display: block;
    overflow-y: auto;
    height: calc(100vh - 125px);
    width: 100%;
    margin-bottom: 10px;
    .col-2{
        min-width: 250px
    }
}
