<form [formGroup]="gymOpenTimeForm" #gymOpenTime>
  <div class="d-flex no-gutters">
    <div class="col-2 mr-3">
      <div class="form-group">
        <label>{{ 'ADMIN.From' | translate }}</label>
        <us-time-picker [formControl]="gymOpenTimeForm.controls['StartTime']" [exceError]="gymOpenTimeForm.controls['StartTime']"></us-time-picker>
      </div>
    </div>

    <div class="col-2 mr-3">
      <div class="form-group">
        <label>{{ 'ADMIN.To' | translate }}</label>
        <us-time-picker [formControl]="gymOpenTimeForm.controls['EndTime']" [exceError]="gymOpenTimeForm.controls['EndTime']"></us-time-picker>
      </div>
    </div>

    <div class="col">

    </div>
  </div>
</form>


<form [formGroup]="dateForm" #datefrm>
  <div class="d-flex justify-content-start no-gutters my-2">

    <label class="custom-control custom-checkbox checkbox-inline mr-2">
      <input type="checkbox" class="custom-control-input" [formControl]="dateForm.controls['IsMonday']" [exceError]="dateForm.controls['IsMonday']">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">{{ 'ADMIN.MONDAY' | translate }}</span>
    </label>

    <label class="custom-control custom-checkbox checkbox-inline mr-2">
      <input type="checkbox" class="custom-control-input" [formControl]="dateForm.controls['IsTuesday']" [exceError]="dateForm.controls['IsTuesday']">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">{{ 'ADMIN.TUESDAY' | translate }}</span>
    </label>

    <label class="custom-control custom-checkbox checkbox-inline mr-2">
      <input type="checkbox" class="custom-control-input" [formControl]="dateForm.controls['IsWednesday']" [exceError]="dateForm.controls['IsWednesday']">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">{{ 'ADMIN.WEDENSDAY' | translate }}</span>
    </label>

    <label class="custom-control custom-checkbox checkbox-inline mr-2">
      <input type="checkbox" class="custom-control-input" [formControl]="dateForm.controls['IsThursday']" [exceError]="dateForm.controls['IsThursday']">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">{{ 'ADMIN.THURSDAY' | translate }}</span>
    </label>

    <label class="custom-control custom-checkbox checkbox-inline mr-2">
      <input type="checkbox" class="custom-control-input" [formControl]="dateForm.controls['IsFriday']" [exceError]="dateForm.controls['IsFriday']">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">{{ 'ADMIN.FRIDAY' | translate }}</span>
    </label>

    <label class="custom-control custom-checkbox checkbox-inline mr-2">
      <input type="checkbox" class="custom-control-input" [formControl]="dateForm.controls['IsSaturday']" [exceError]="dateForm.controls['IsSaturday']">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">{{ 'ADMIN.SATURDAY' | translate }}</span>
    </label>

    <label class="custom-control custom-checkbox checkbox-inline mr-2">
      <input type="checkbox" class="custom-control-input" [formControl]="dateForm.controls['IsSunday']" [exceError]="dateForm.controls['IsSunday']">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">{{ 'ADMIN.SUNDAY' | translate }}</span>
    </label>

  </div>
</form>
<div class="d-flex justify-content-start no-gutters my-2">
  <div class="col">
    <button class="btn btn-primary mr-2 px-2" type="button" [disabled]="!dateForm.valid || !gymOpenTimeForm.valid" (click)="addSetting(gymOpenTimeForm.value,dateForm.value)">
      <span [hidden]="!isAddNew">{{'ADMIN.ADD' |translate}}</span>
      <span [hidden]="isAddNew">{{'ADMIN.ToUpdate' |translate}}</span>
    </button>
    <button class="btn btn-primary mr-2 px-2" type="button" (click)="clearForm()">{{'ADMIN.CLEAR' |translate}}</button>
  </div>
</div>

<div class=" my-2 mr-1">

    <!-- REPLACE WITH AG-GRID
      <us-data-table [pagination]="false" [items]="openTimeItems" [itemCount]="openTimeCount">
      <data-table-column [property]="'Days'" [header]="'ADMIN.DayS' |translate" [sortable]="true">
      </data-table-column>
      <data-table-column [property]="'StartTime'" header="{{'ADMIN.FromTime' |translate}}">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.StartTime | date:'HH:mm'}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'EndTime'" header="{{'ADMIN.ToTime' |translate}}">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.EndTime | date:'HH:mm'}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [width]="40" [property]="''" [header]="''" [width]="100" [resizable]="true">

        <ng-template #dataTableCell let-item="item">
          <button class="btn btn-primary btn-icon-min" title="{{'ADMIN.Edit' |translate}}" (click)="rowItemLoad(item)">
            <span class="icon-edit"></span>
          </button>
        </ng-template>
      </data-table-column>
      <data-table-column [width]="40" [property]="''" [header]="''" [width]="100" [resizable]="true">

        <ng-template #dataTableCell let-item="item">
          <button class="btn btn-danger btn-icon-min" title="{{'ADMIN.Delete' |translate}}" (click)="deleteSetting(item)">
            <span class="icon-cancel"></span>
          </button>
        </ng-template>
      </data-table-column>
    </us-data-table> -->

</div>

<div>
  <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate " (click)="saveSettings()"></us-icon-button>
</div>

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo" [information]="message"></exce-fade-in-n-out>
