<form [formGroup]="sponsorDetailsForm">
  <div class="d-flex no-gutters mx-1">
    <div class="col-3 col-min-width mr-2">
      <div class="form-group">
        <label>{{'ADMIN.DueDate' | translate}}</label>
        <div class="input-group">
          <us-date-picker class="w-100" formControlName='startDueDate' us-error [errorMsg]="formErrors.startDueDate" [displayError]="validationEnabled&&!sponsorDetailsForm.get('startDueDate').valid"
            placement="right" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
          <span class="input-group-addon border-left-0">{{'ADMIN.To' | translate}}</span>
          <us-date-picker class="w-100" formControlName='endDueDate' us-error [errorMsg]="formErrors.endDueDate" [displayError]="validationEnabled&&!sponsorDetailsForm.get('endDueDate').valid"
            placement="right" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
        </div>
      </div>
      <div class="form-group">
        <label>{{'ADMIN.VisitPeroid' | translate}}</label>
        <div class="input-group">
          <us-date-picker class="w-100" formControlName='visitStartDate' us-error [errorMsg]="formErrors.visitStartDate" [displayError]="validationEnabled&&!sponsorDetailsForm.get('visitStartDate').valid"
            placement="right" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
          <span class="input-group-addon border-left-0">{{'ADMIN.To' | translate}}</span>
          <us-date-picker class="w-100" formControlName='visitEndDate' s-error us-error [errorMsg]="formErrors.visitEndDate" [displayError]="validationEnabled&&!sponsorDetailsForm.get('visitEndDate').valid"
            placement="right" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
        </div>
      </div>
      <div class="form-group">
        <label class="custom-control custom-checkbox checkbox-inline">
        <input type="checkbox" formControlName = 'includeOrderlines'  class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{ 'ADMIN.IncludeOrderLines' | translate }}</span>
      </label>
      </div>
      <button type="button" class="btn btn-primary" (click)="getSponsors()">{{'ADMIN.View' | translate}}</button>
    </div>
    <div class="col-2 col-min-width">
      <div class="form-group">
        <label>{{'ADMIN.SponsoringDueDate' | translate}}</label>
        <us-date-picker class="w-100" formControlName='sponsoringDueDate' us-error [errorMsg]="formErrors.sponsoringDueDate" [displayError]="validationEnabled&&!sponsorDetailsForm.get('sponsoringDueDate').valid"
          placement="right" [locale]="'COMMON.Locale'| translate"> </us-date-picker>
      </div>
      <div class="form-group">
        <label>{{'ADMIN.BranchId' | translate}}</label>
        <select class="w-100 pt-0 custom-select"  formControlName='selectedbranch' (change)="onBranchChanged($event.target.value)">
        <option  value="-2">{{'ADMIN.ALL' | translate}}</option>
        <option *ngFor="let branch of branches" value="{{branch.BranchId}}" >{{branch.BranchName}}</option>
      </select>
      </div>
    </div>
  </div>
</form>

<div class="mx-1 mt-1">
  <!-- REPLACE WITH AG-GRID
    <us-data-table id="" [items]="sponsors" [pagination]="false" [selectColumn]="true" [rowTooltip]="rowTooltip" (rowSelect)="rowsSelected($event)">
    <data-table-column [property]="'CustId'" header="{{ 'ADMIN.Number' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Name'" header="{{ 'ADMIN.Name' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'GmEndDate'" header="{{ 'ADMIN.EndDate' | translate }}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.GmEndDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
  </us-data-table> -->
</div>

<div class="d-flex mt-1 mx-1">
  <us-icon-button [iconClass]="'icon-generate'" (click)="generateSponsoring()" [labelText]="'ADMIN.GenerateSponsorOrders' | translate"></us-icon-button>
</div>
