<div class="d-flex no-gutters mx-1 mb-1">
  <div class="col-2">
    <div class="form-inline">
      <label class="mr-1">{{ 'ADMIN.ReportEntity' | translate }}</label>
      <select class="custom-select mr-2 cursor-hand" #entityVal (change)="entChange(entityVal.value)" [(ngModel)]="selectedEntity">
        <!-- <option></option> -->
        <option *ngFor="let entity of entityList" value={{entity.Id}} [selected]="false">{{entity.DisplayName}}</option>
      </select>
    </div>

  </div>
  <div class="col">
    <div class="form-inline">
      <label class="mr-1">{{ 'ADMIN.Method' | translate }}</label>
      <select class="custom-select mr-2 cursor-hand" #methodVal (change)="typeChange(methodVal.value,typeVal.value)" [(ngModel)]="selectedMethod">
        <!-- <option></option> -->
        <option *ngFor="let catMethod of catMethods" [ngValue]="catMethod" [selected]="false">{{catMethod.Code}}</option>
      </select>

      <label class="mr-1">{{ 'ADMIN.Type' | translate }}</label>
      <select class="custom-select mr-2 cursor-hand" #typeVal (change)="typeChange(methodVal.value,typeVal.value)" [(ngModel)]="selectedType">
        <!-- <option></option> -->
        <option *ngFor="let catType of catTypes" [ngValue]="catType" [selected]="false">{{catType.Name}}</option>
      </select>

      <us-icon-button class="mr-2" [iconClass]="'icon-add'" [labelText]="'ADMIN.Type' | translate " (click)="openAddCat(addNewCategory)"></us-icon-button>
      <us-icon-button [iconClass]="'icon-edit'" [labelText]="'ADMIN.Email' | translate " [isDisabled]="isEmailButtondisabled" (click)="openEmail(emailEditor)"></us-icon-button>
    </div>
  </div>
</div>

<div class="d-flex no-gutters mx-1 my-1">
  <div class="col-2 card mr-2">

    <ul>
      <li *ngFor="let entType of entityTypes" value={{entType.Id}} (click)="clickEntityType(tArea.value,entType.Code)">{{entType.Code}}</li>

    </ul>

  </div>
  <div class="col">
    <textarea type="text" rows="20" class="form-control w-100" id="textArea" #tArea [value]="textAreaText" [(ngModel)]="textAreaText"
      (ngModelChange)="enableSaveButton()"></textarea>
  </div>
</div>

<div class="d-flex no-gutters mx-1 my-1">
  <div class="col-2 mr-2">&nbsp;</div>
  <div class="col">
    <us-icon-button [iconClass]="'icon-save'" [labelText]="'ADMIN.Save' | translate " (click)="SaveNotificationTextTemplate()"
      [isDisabled]="saveButtonIsDisabled"></us-icon-button>
  </div>
</div>

<ng-template #emailEditor let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">
      <span>Email</span>
    </span>
    <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" lang="en" [fullPage]="true"></ck-editor>
  </div>
  <div class="modal-footer">
    <us-icon-button [iconClass]="'icon-done'" [labelText]="'Ok'" (click)="emailTemplateConfirm()"></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'Cancel'" (click)="c()"></us-icon-button>
  </div>


</ng-template>


<ng-template #addNewCategory let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ "Add new Category" }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-category [CategoryTypeCode]="'NOTIFICATIONTEMPLATE'" [branchId]="branchId" [isShowColorPicker]="'true'" (closed)="c()"
      (saved)="getCategoryTypesType();c()">
    </exce-category>
  </div>

</ng-template>
