<div class="fade-container alert"
[ngClass]="{
'alert-success': type === 'SUCCESS',
'alert-danger': type === 'DANGER',
'alert-info': type === 'INFO',
'alert-warning': type === 'WARNING',
'alert-dark': type === 'DARK'
}"
role="alert" [@fade]="isShow ? 'visible' : 'hide'">
  <div>
    <p>{{ information }}</p>
  </div>
</div>
