<!-- <div *ngFor="let header of headers"> -->


<div class="d-flex mx-1">
    <div class="form-inline mb-1">
        <button class="btn btn-primary" (click)="openEmailModal(emailEditor)">{{'REPORT.ViewOperation_ResultBtnEmail' | translate}}</button>
        <button class="btn btn-primary mx-1" (click)="openMobileSendSmsModal(smsModal)">{{'REPORT.ViewOperation_ResultBtnSMS' | translate}}</button>
        <button class="btn btn-primary" (click)="openprintModal(printModal)">{{'REPORT.ListItemPrint' | translate}}</button>
    </div>
</div>

<!-- <div class="d-flex mx-1">
    <div class="form-inline mb-1">
        <input class="form-control mr-1" type="text" *ngFor="let header of headers;let i = index" placeholder={{header.headerVal}}
            [(ngModel)]="header.text" (ngModelChange)="filterInput()">

    </div>
</div> -->
<!-- </div> -->
<!-- <table style="width:100%">
    <tr>
      <th *ngFor="let header of headers">{{header}}</th>
    </tr>
    <tr *ngFor="let row of tableData">
      <td *ngFor="let column of row.split(';')">{{column}}</td>
    </tr>
  </table>  -->

<div class="d-flex mx-1">
    <!-- <us-data-table [pagination]="false" [items]="items" [itemCount]="itemCount" [selectColumn]="true" [selectColumn]="true" (rowSelect)="selectRow($event)">
        <!-- <div *ngFor="let header of heraders">
        <data-table-column *ngFor="let item of columns" [property]="item.header" [header]="item.header" [sortable]="true" [resizable]="true">
        </data-table-column>
        <!-- </div>  -->
    <!--</us-data-table> -->
    <ag-grid-angular
    class="ag-theme-balham grid"
    [rowData]="items"
    [columnDefs]="columnDefs"
    [enableSorting]="true"
    [enableColResize]="true"
    [enableFilter]="false"
    [floatingFilter]="true"
    [suppressCellSelection] ="true"
    [suppressNoRowsOverlay]="true"

    [getRowHeight]="getRowHeight"

    [suppressRowClickSelection]="true"
    [rowSelection]="'multiple'"

    (gridReady)="onGridReady($event)"
    >

    </ag-grid-angular>
</div>

<!-- ************************** Email MOdal *********************************** -->

<ng-template #emailEditor let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">
            <span>{{ 'REPORT.Email' | translate }}</span>
        </span>
        <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="form-inline">
                <label>{{ 'REPORT.EmailViewTxtSubject' | translate }}</label>
                <input class="form-control ml-1" type="text" #subject>
            </div>
        </div>
        <ck-editor name="editor1" [(ngModel)]="emailEditorValue" skin="moono-lisa" lang="en" [fullPage]="true"></ck-editor>

        <label class="custom-control custom-checkbox checkbox-inline w-100 ">
            <input type="checkbox" class="custom-control-input" [checked]="isReminder" [(ngModel)]="isReminder">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'REPORT.Reminder' | translate }}</span>
        </label>
        <label class="custom-control custom-checkbox checkbox-inline w-100">
            <input type="checkbox" class="custom-control-input" [checked]="addReminderFee" [(ngModel)]="addReminderFee" [disabled]="!isReminder">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'REPORT.AddReminderFee' | translate }}</span>
        </label>
        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [checked]="addReminderFee" [(ngModel)]="considerGDPR">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Ta hensyn til informasjonskategori (GDPR)</span>
        </label>
        <label>{{ 'REPORT.ReminderDuedate' | translate }}</label>
        <us-date-picker [(ngModel)]="dueDate" [disabled]="!isReminder"></us-date-picker>
    </div>
    <div class="modal-footer">
        <us-icon-button [iconClass]="'icon-done'" [labelText]="'Ok'" (click)="sendEmailorSMS(subject.value,'EMAIL')"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'Cancel'" (click)="c()"></us-icon-button>
    </div>
</ng-template>

<!-- ******************************** SMS Modal *************************************** -->

<ng-template #smsModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'REPORT.SendSms' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <select class="form-control custom-select form-control-sm" (change)="setSMSText($event.target.value)" #subject>
                        <option *ngFor="let template of smsTemplates" [ngValue]="template">{{template.Name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="10">{{smsText}}</textarea>
                </div>
            </div>
        </div>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
            <input type="checkbox" class="custom-control-input" [checked]="isReminder" [(ngModel)]="isReminder">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'REPORT.Reminder' | translate }}</span>
        </label>
        <label class="custom-control custom-checkbox checkbox-inline w-100">
            <input type="checkbox" class="custom-control-input" [checked]="addReminderFee" [(ngModel)]="addReminderFee" [disabled]="!isReminder">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'REPORT.AddReminderFee' | translate }}</span>
        </label>
        <label class="custom-control custom-checkbox checkbox-inline w-100">
            <input type="checkbox" class="custom-control-input" [checked]="addReminderFee" [(ngModel)]="isGetReply">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'REPORT.SMSIsGettingReply' | translate }}</span>
        </label>
        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [checked]="addReminderFee" [(ngModel)]="considerGDPR">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Ta hensyn til informasjonskategori (GDPR)</span>
        </label>
        <label>{{ 'REPORT.ReminderDuedate' | translate }}</label>
        <us-date-picker [(ngModel)]="dueDate" [disabled]="!isReminder"></us-date-picker>

    </div>
    <div class="modal-footer">
        <us-icon-button [iconClass]="'icon-done'" type="submit" [labelText]="'Send'" (click)="sendEmailorSMS(subject.value?.Name,'SMS')"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'Cancel'" (click)="c()"></us-icon-button>
    </div>

</ng-template>

<!-- ********************************** Print Modal **************************************** -->
<ng-template #printModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'REPORT.ListItemPrint' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">

        <label class="custom-control custom-radio">
            <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [value]=true [(ngModel)]="isReminder">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'REPORT.Reminder' | translate }}</span>
        </label>

        <label class="custom-control custom-radio ">
            <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [value]=false [(ngModel)]="isReminder">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'REPORT.Invoice' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100 mt-2">
            <input type="checkbox" class="custom-control-input" [checked]="addReminderFee" [(ngModel)]="addReminderFee" [disabled]="!isReminder">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ 'REPORT.ReminderFee' | translate }}</span>
        </label>

        <label>{{ 'REPORT.ReminderDuedate' | translate }}</label>
        <us-date-picker [(ngModel)]="dueDate" [disabled]="!isReminder"></us-date-picker>

    </div>
    <div class="modal-footer">
        <us-icon-button [iconClass]="'icon-print'" type="submit" [labelText]="'Print'" (click)="sendEmailorSMS('','PRINT')"></us-icon-button>


    </div>

</ng-template>
