<div class="form-inline">
  <label>{{'ADMIN.JobCategory' | translate}}</label>

  <select class="custom-select ml-1" #catSelect (change)="filterInput(catSelect.value,statusVal.value,branchSelect.value)">
    <option selected value="ALL">{{ 'ADMIN.ALL' | translate }}</option>
    <option *ngFor="let jobCat of jobCategories" value={{jobCat.Id}}>{{jobCat.Name}}</option>
  </select>

  <input type="text" class="form-control ml-1" placeholder="{{ 'ADMIN.STATUS' | translate }}" #statusVal (keyup)="filterInput(catSelect.value,statusVal.value,branchSelect.value)">

    <select class="custom-select ml-1" #branchSelect (change)="filterInput(catSelect.value,statusVal.value,branchSelect.value)">
      <option selected value="ALL">{{ 'ADMIN.ALL' | translate }}</option>
      <option *ngFor="let branch of branches" value={{branch.BranchName}}>{{branch.BranchName}}</option>
    </select>
</div>

 <!-- (rowDoubleClick)="openEmployeeInfoModal(empInfoModal)" -->

<div class="mt-1">
  <!-- REPLACE WITH AG-GRID
    <us-data-table [pagination]="false" [items]="items" [itemCount]="itemCount"  [rowTooltip]="rowTooltip">
    <data-table-column [property]="'Day'" header="{{ 'ADMIN.Day' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Date'" header="{{ 'ADMIN.Date' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.Date | date:('COMMON.DateFormat'|translate)}}</span>
          </ng-template>
    </data-table-column>
    <data-table-column [property]="'StartTime'" header="{{ 'ADMIN.StartTime' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'EndTime'" header="{{ 'ADMIN.EndTime' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'JobName'" header="{{ 'ADMIN.Job' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'JobCategoryName'" header="{{ 'ADMIN.JobCategory' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Status'" header="{{ 'ADMIN.STATUS' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'BranchName'" header="{{ 'ADMIN.GymName' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
  </us-data-table> -->
</div>


