<form [formGroup]="articleForm">
  <div class="d-flex">

    <div class="input-group">
      <label class="mr-2">{{ 'ADMIN.ArticleType' | translate }}</label>
      <label class="custom-control custom-radio ">
        <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [checked]="articleType === 'SERVICE'" (change)="changeArticleType('SERVICE')"
          [disabled]="ArticleType == 'ITEM'">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{ 'ADMIN.RegisterNewArtService' | translate }}</span>
      </label>

      <label class="custom-control custom-radio ">
        <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [checked]="articleType === 'ITEM'" (change)="changeArticleType('ITEM')"
          [disabled]="ArticleType == 'SERVICE'">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{ 'ADMIN.ITEM' | translate }}</span>
      </label>
    </div>

  </div>

  <hr class="hr-dashed my-1">

  <div class="d-flex no-gutters">

    <div class="col-md-4 mr-2">
      <div class="form-group">
        <label>{{ 'ADMIN.ArticleId' | translate }}</label>
        <input class="form-control" formControlName='ArticleNo' type="text" readonly>
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.RegisterNewArtShortcutKey' | translate }}</label>
        <input class="form-control" formControlName='SortCutKey' type="number">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.ArticleName' | translate }}
          <strong class="text-danger">*</strong>
        </label>
        <input class="form-control" formControlName='Description' us-error [errorMsg]="formErrors.Description" [displayError]="formSubmited && !articleForm.get('Description').valid"
          type="text">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.Barcode' | translate }}</label>
        <input class="form-control" formControlName='BarCode' type="text">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.Unit' | translate }}</label>
        <div class="input-group">
          <select class="custom-select w-75" formControlName='UnitId'>
            <option *ngFor="let item of unitCategoryList" value="{{item.Id}}">{{item.Name}}</option>
          </select>
          <button class="btn btn-primary w-25" type="button" (click)="openCategoryModal('UNIT',addNewCategory)">{{ 'ADMIN.AddS' | translate }}</button>
        </div>
      </div>
      <div class="form-group" *ngIf="articleType === 'SERVICE'">
        <label>{{ 'ADMIN.Activity' | translate }}</label>
        <select class="custom-select w-100" formControlName='ActivityId'>
          <option *ngFor="let item of acrivityList" value="{{item.Id}}">{{item.Name}}</option>
        </select>

      </div>
      <div class="form-group" *ngIf="articleType === 'ITEM'">
        <label>{{ 'ADMIN.VendorName' | translate }}</label>
        <div class="input-group">
          <input class="form-control" type="text" formControlName="VendorName" readonly>
          <button class="btn btn-primary w-25" type="button" (click)="vendorNameOpen(vendorNameModel)">{{ 'ADMIN.Select' | translate }}</button>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.RevenueAccount' | translate }}
            <strong class="text-danger">*</strong>
        </label>
        <div class="input-group">
          <input class="form-control" type="text" formControlName="RevenueAccountName" us-error [errorMsg]="formErrors.RevenueAccountName"
            [displayError]="formSubmited && !articleForm.get('RevenueAccountName').valid" readonly>
          <button class="btn btn-primary w-25" type="button" (click)="revenueAccountOpen(selectRevAccountModal)">{{ 'ADMIN.Select' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mr-2">
      <div class="form-group">
        <label>{{ 'ADMIN.RegisterNewArtDefaultPrice' | translate }}</label>
        <us-amount-input formControlName='DefaultPrice' type="text"></us-amount-input>
      </div>

      <div class="form-group">
        <label>{{ 'ADMIN.PurchasePriceWithoutVat' | translate }}</label>
        <us-amount-input formControlName='PurchasePriceWithoutVat' type="text"> </us-amount-input>
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.PurchasedPriceC' | translate }}</label>
        <us-amount-input formControlName='PurchasedPrice' type="text"> </us-amount-input>
      </div>
      <div class="form-group">
        <label>{{ 'COMMON.EmployeePrice' | translate }}</label>
        <us-amount-input formControlName='EmployeePrice' type="text"></us-amount-input>
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.Category' | translate }}
            <strong class="text-danger">*</strong>
        </label>
        <div class="input-group">
          <select class="custom-select w-75" (change)="categoryChange()" formControlName='CategoryId' us-error [errorMsg]="formErrors.CategoryId" [displayError]="formSubmited && !articleForm.get('CategoryId').valid">
            <option *ngFor="let item of categoryList" value="{{item.Id}}">{{item.Name}}</option>
          </select>
          <button class="btn btn-primary w-25" type="button" (click)="openCategoryModal(articleType,addNewCategory)">{{ 'ADMIN.AddS' | translate }}</button>
        </div>
      </div>{{selected}}
      <div class="form-group" *ngIf="isbookingselected">
        <label>{{ 'COMMON.NoOfMinutes' | translate }}</label>
        <input class="form-control" formControlName='NoOfMinutes' type="number">
      </div>

      <div class="form-group">
        <label>{{ 'ADMIN.VatName' | translate }}
            <strong class="text-danger">*</strong>
        </label>
        <div class="input-group">
          <input class="form-control" type="text" formControlName="VatCodeName" us-error [errorMsg]="formErrors.VatCodeName" [displayError]="formSubmited && !articleForm.get('VatCodeName').valid"
            readonly>
          <button class="btn btn-primary w-25" type="button" (click)="vatCodeOpen(vatCodeModel)">{{ 'ADMIN.Select' | translate }}</button>
        </div>
      </div>
      <div class="form-group" *ngIf="articleType === 'SERVICE'">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="IsPunchCard" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.punchCard' | translate }}</span>
        </label>
        <br>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="IsContractBooking" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.ContractBooking' | translate }}</span>
        </label>
      </div>
      <div class="form-group" *ngIf="articleType === 'ITEM'">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="StockStatus" (change)="stockItemChange($event)" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.StockItem' | translate }}</span>
        </label>
        <br>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="ObsoleteStatus" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.ObsoleteC' | translate }}</span>
        </label>
        <br>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="IsVoucher" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.Voucher' | translate }}</span>
        </label>
      </div>
      <div class="d-flex no-gutters mr-2" *ngIf="articleType === 'ITEM'">
        <div class="col-md-4 mr-2">
          <div class="form-group">
            <label>{{ 'ADMIN.AddNewTemplateCbInStock' | translate }}</label>
            <input class="form-control" type="text" formControlName="StockLevel" [attr.disabled]="isStockItem ? null: true">
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <label>{{ 'ADMIN.ReOrderLevelC' | translate }}</label>
            <input class="form-control" type="text" formControlName="ReOrderLevel" [attr.disabled]="isStockItem ? null: true">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <label>{{ 'ADMIN.SelectGym' | translate }}</label>
      <div class="mr-3">
        <!-- REPLACE WITH AG-GRID
          <us-data-table id="persons-grid" [pagination]="false" [items]="branches" [itemCount]="branchCount" >
          <data-table-column [property]="''" [header]="''" [width]="40">
            <ng-template #dataTableCell let-item="item">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [disabled]="!item.IsEnabled" [checked]="item.IsCheck" (change)="item.IsCheck = !item.IsCheck">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"></span>
              </label>
            </ng-template>
          </data-table-column>
          <data-table-column [property]="'BranchName'" [header]="'ADMIN.MngBranchesGridBranchName' | translate" [sortable]="true" [resizable]="true">
          </data-table-column>
        </us-data-table> -->
      </div>
    </div>
  </div>

  <div class="d-flex">
    <us-icon-button class="mr-2" (click)="saveArticle(articleForm.value)" [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate "></us-icon-button>
    <us-icon-button class="mr-2" *ngIf="Mode !== 'ADD'" (click)="updateArticle(articleForm.value)" [iconClass]="'icon-done'"
      [labelText]="'ADMIN.UpdateAll' | translate "></us-icon-button>
    <!--<us-icon-button class="mr-2" *ngIf="Mode !== 'ADD'" [iconBgClass]="'bg-danger'" (click)="deleteConfirmMsg()"
     [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Delete' | translate "></us-icon-button>-->
    <us-icon-button [iconClass]="'icon-cancel'" (click)="cancelArticle()" [labelText]="'ADMIN.Cancel' | translate "></us-icon-button>
  </div>
</form>

<ng-template #vendorNameModel let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'ADMIN.VenderSelection' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItem)="selectedRowItem($event)" (addMemberEvent)="addMemberModal(addMemberModalView)"
      [multipleSelect]="false" [itemList]="items" [itemcount]="itemCount" [auotocompleteItems]="auotocompleteItems" [columns]="columns"
      [isDisabledRole]="true" [defaultRole]="'COM'" [entitySelectionType]="'COM'" [isDbPagination]="true" [isBranchVisible]="true"
      [isStatusVisible]="true" [isRoleVisible]="true" [isAddBtnVisible]="true" [isBasicInforVisible]="true" (closeViewEvent)="closeModal()">
    </exce-entityselection>
  </div>
</ng-template>


<ng-template #addMemberModalView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'COMMON.AddNewMember' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <exce-addmember [roleType]="'COM'" (addItemEvent)="addEntity($event)">
    </exce-addmember>
  </div>
</ng-template>


<ng-template #revAccountModel let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'ADMIN.RegisterNewArtSearchRevenueAccount' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex no-gutters">
      <div class="col-md-3 mr-2">
        <div class="form-group">
          <label>{{ 'ADMIN.AccountNumber' | translate }}</label>
          <input class="form-control" type="text">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="{{ 'ADMIN.AccountNo' | translate }}">
        </div>
      </div>
      <div class="col-md-3 mr-2">
        <div class="form-group">
          <label>{{ 'ADMIN.AccountName' | translate }}</label>
          <input class="form-control" type="text">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="{{ 'ADMIN.AccountName' | translate }}">
        </div>
      </div>
      <div class="col-md-3 mr-2">
        <div class="form-group">
          <label>&nbsp;</label>
          <div class="input-group">
            <button class="btn btn-primary w-25 mr-2" type="button">{{ 'ADMIN.AddS' | translate }}</button>
            <button class="btn btn-primary" type="button" (click)="c()">{{ 'ADMIN.Cancel' | translate }}</button>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-3 mr-2">
      <div class="form-group">
        <label>{{ 'ADMIN.AccountName' | translate }}</label>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="{{ 'ADMIN.AccountName' | translate }}">
      </div>
    </div>
    <div class="col-md-3 mr-2">
      <div class="form-group">
        <label>&nbsp;</label>
        <div class="input-group">
          <button class="btn btn-primary w-25 mr-2" type="button">{{ 'ADMIN.AddS' | translate }}</button>
          <button class="btn btn-primary" type="button">{{ 'ADMIN.Cancel' | translate }}</button>
        </div>
      </div>

    </div>
  </div>
  <div class="d-flex no-gutters">
    <div class="col-md-12">
      <!-- REPLACE WITH AG-GRID
        <us-data-table>
        <data-table-column [property]="'AccountNo'" header="{{ 'ADMIN.AccountNo' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'AccountName'" header="{{ 'ADMIN.AccountName' | translate }}" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="''" header="" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="''" header="" [sortable]="true" [resizable]="true">
        </data-table-column>
      </us-data-table> -->
    </div>
  </div>
  <div class="d-flex mt-2">
    <div class="input-group">
      <us-icon-button class="mr-2" [iconClass]="'icon-done'" [labelText]="'ADMIN.Select' | translate "></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate "></us-icon-button>
    </div>
  </div>

</ng-template>


<ng-template #vatCodeModel let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'ADMIN.RegisterNewArtSearchVATCode' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <!-- REPLACE WITH AG-GRID
      <us-data-table class="select-vatcode-table" [pagination]="false" [items]="vatCodeItems" [itemCount]="vatCodeItemCount" [limit]="limit"
      (reload)="reloadVatCodeList($event)" (rowDoubleClick)="vatCodeDoubleClick($event)" (rowClick)="vatCoderowClick($event)">
      <data-table-column [property]="'VatCode'" header="{{ 'ADMIN.VatCode' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'Name'" header="{{ 'ADMIN.Name' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'Rate'" header="{{ 'ADMIN.VATCodeLookupRate' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'VatAccountName'" header="{{ 'ADMIN.VATCodeLookupVatAccName' | translate }}" [sortable]="true"
        [resizable]="true">
      </data-table-column>
      <data-table-column [property]="'StartDate'" header="{{ 'ADMIN.StartDate' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.StartDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'EndDate'" header="{{ 'ADMIN.EndDate' | translate }}" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.EndDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'Description'" header="{{ 'ADMIN.Description' | translate }}" [sortable]="true" [resizable]="true">
      </data-table-column>
    </us-data-table> -->
  </div>
  <div class="modal-footer pt-0">
    <us-icon-button class="mr-2" [iconClass]="'icon-done'" [labelText]="'ADMIN.Select' | translate " (click)="selectVatCode()"></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate " (click)="c()"></us-icon-button>
  </div>
</ng-template>


<ng-template #selectRevAccountModal let-cRev="close" let-d="dismiss">
  <form [formGroup]="selectRevAccountForm">
    <div class="modal-header">
      <span class="modal-title">{{ 'ADMIN.RegisterNewArtSearchRevenueAccount' | translate}}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="d-flex no-gutters">
        <div class="col-4 mr-2">
          <div class="form-group">
            <label>{{ 'ADMIN.AccountNumber' | translate}} </label>
            <input class="form-control" formControlName="AccountNo" type="text">
          </div>
        </div>
        <div class="col-6">
          <label>{{ 'ADMIN.AccountName' | translate}} </label>
          <div class="input-group">
            <input class="form-control mr-1" formControlName="AccountName" type="text">
            <us-icon-button class="mr-1" [iconClass]="'icon-add'" (click)="addRevenueAccount()" [labelText]="'ADMIN.AddS' | translate "></us-icon-button>
            <us-icon-button (click)="cancelUpdateRevAccount()" [iconClass]="'icon-cancel'" [labelText]="'ADMIN.CLEAR' | translate "></us-icon-button>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <hr class="hr-dashed my-1">
      <div class="form-inline mb-1">
        <input #AccountNoPipeFilter (keyup)="filterInput(AccountNamePipeFilter.value,AccountNoPipeFilter.value)" class="form-control form-control-sm"
          type="text" placeholder="{{ 'ADMIN.AccountName' | translate}}">
          <input #AccountNamePipeFilter (keyup)="filterInput(AccountNamePipeFilter.value,AccountNoPipeFilter.value)" class="form-control form-control-sm mr-1"
          type="text" placeholder="{{ 'ADMIN.AccountNumber' | translate}}">
      </div>
      <div class="d-flex">

        <!-- REPLACE WITH AG-GRID
          <us-data-table class="select-rev-acc-table" [pagination]="false" (reload)="reloadRevAccItems($event)"
          [items]="revenueItems" (rowDoubleClick)="selectRevenueAccount2($event)">
          <data-table-column [resizable]="true" [width]="45" >
            <ng-template #dataTableCell let-item="item">
              <label class="custom-control custom-radio mb-0 d-flex">
                  <input id="Number" [value]="item" (change)="selectRevenueAccount(item)" group="res" name="radio" type="radio" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description"></span>
              </label>
            </ng-template>
          </data-table-column>
          <data-table-column [property]="'AccountNo'" [width]="120" [header]="'ADMIN.AccountNumber' | translate" [sortable]="true"
            [resizable]="true">
          </data-table-column>
          <data-table-column [property]="'Name'" [header]="'ADMIN.AccountName' | translate" [sortable]="true" [resizable]="true">
          </data-table-column>
          <data-table-column [property]="'active'" [width]="50">
            <ng-template #dataTableCell let-item="item">
              <button class="btn btn-primary btn-icon-min" (click)="rowClickAccount(item)">
                <span class="icon-edit"></span>
              </button>
            </ng-template>
          </data-table-column>
          <data-table-column [property]="'active'" [width]="50">
            <ng-template #dataTableCell let-item="item">
              <button class="btn btn-danger btn-icon-min" (click)="deleteRevenueAccount(item)">
                <span class="icon-cancel"></span>
              </button>
            </ng-template>
          </data-table-column>
        </us-data-table> -->

      </div>
    </div>
    <div class="modal-footer pt-0">
      <us-icon-button id="closeBtn" (click)="revAccountSelected()" [iconClass]="'icon-done'" [labelText]="'ADMIN.Select' | translate "></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" (click)="closeRevAccountForm()" [labelText]="'ADMIN.Cancel' | translate "></us-icon-button>
    </div>
  </form>
</ng-template>

<ng-template #addNewCategory let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{'ADMIN.RegisterNewArtAddNewArtCat'| translate}}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <exce-category [CategoryTypeCode]="categoryTypeCode" (saved)="saveCategory($event)" [isShowColorPicker]="false" [branchId]="branchId"
    (closed)="closeView()">
  </exce-category>
</ng-template>
