<form [formGroup]="updateDataForm">
  <div class="d-flex no-gutters mx-1">
    <div class="col-2 mr-2">
      <div class="form-group">
        <label>{{'ECONOMY.DueFrom' | translate}}</label>
        <us-date-picker class="w-100" name="fromDate" formControlName='dueDate' [locale]="'ECONOMY.Locale'| translate">
        </us-date-picker>
      </div>
      <div class="mb-1">
        <label class="custom-control custom-checkbox checkbox-inline cursor-hand">
          <input type="checkbox" class="custom-control-input" formControlName = 'lockInperiod'>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ECONOMY.LockInPeriod' | translate }}</span>
        </label>
        <label class="custom-control custom-checkbox checkbox-inline cursor-hand">
          <input type="checkbox" class="custom-control-input" formControlName = 'priceGuarantee'>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ECONOMY.PriceGuarantyPeriod' | translate }}</span>
        </label>
        <label class="custom-control custom-checkbox checkbox-inline cursor-hand">
          <input type="checkbox" class="custom-control-input" formControlName = 'changeToNextTemplate'>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ECONOMY.ChangeToNextTemplate' | translate }}</span>
        </label>
      </div>
    </div>

    <div class="col-3">
      <div class="form-group">
        <label>{{ 'ECONOMY.MinimumAmount' | translate }}</label>
        <us-amount-input class="w-100" formControlName='minimumAmount' ngDefaultControl></us-amount-input>
      </div>

      <div class="form-group">
        <label>{{ 'ECONOMY.Template' | translate }}</label>
        <div class="input-group">
          <input type="text" class="form-control w-25 mr-1" formControlName='templateNo'>
          <input type="text" class="form-control w-50 mr-1" formControlName='templateName'>
          <button class="btn btn-primary cursor-hand" (click)="openContractTemplates(contractTemplates)">{{ 'ECONOMY.Select' | translate }}</button>
          <button (click)="removeTemplate()" *ngIf="TemplateId > 0" class="btn btn-danger" title="{{'ECONOMY.Delete' | translate}}"><span class="icon-cancel"></span> </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="d-flex mx-1 mt-1">
  <!-- REPLACE WITH AG-GRID
    <us-data-table id="" [items]="branches" [pagination]="false" (rowSelect)="rowsSelected($event)" [selectColumn]="true">
    <data-table-column [property]="'BranchName'" header="{{ 'ECONOMY.Name' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
  </us-data-table> -->
</div>

<div class="d-flex mx-1 mt-1">
  <div class="input-group">
    <button class="btn btn-primary mr-1 cursor-hand" (click)="getContractCount()" type="button">{{ 'ECONOMY.ViewSummary' | translate }}</button>
    <us-icon-button class="mr-1" [iconClass]="'icon-change-price'" (click)="updatePrice(false)" [labelText]="'ECONOMY.ChangePrice' | translate"></us-icon-button>
    <button class="btn btn-primary mr-1 cursor-hand" (click)="getUpdateContracts(priceUpdateContractsview)" type="button">{{ 'ECONOMY.ViewContracts' | translate }}</button>
    <span class="p-1 bg-light w-100">{{ 'ECONOMY.NoofContracts' | translate }} <strong>{{ContractCount}}</strong></span>
  </div>
</div>

<ng-template #contractTemplates let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.SelectContract' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
  </div>
  <div class="modal-body">
    <exce-contract-tmp-select (selectTempateEvent)="templateSelected($event)"></exce-contract-tmp-select>
  </div>
  <div class="modal-footer">
    <!--<us-icon-button [iconClass]="'icon-done'" type="submit" [labelText]="'MEMBERSHIP.Ok' | translate "></us-icon-button>-->
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="closeView('TEMPLATE')"></us-icon-button>
  </div>
</ng-template>

<ng-template #priceUpdateContractsview let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'ECONOMY.MemberContracts' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
  </div>
  <div class="modal-body">
    <!-- REPLACE WITH AG-GRID
      <us-data-table class="tab-list-table" id="orders" [pagination]="false" [items]="priceUpdateContracts" [rowTooltip]="rowTooltip">
      <data-table-column [property]=" 'MemberContractNo' " [header]=" 'ECONOMY.ContractNo' | translate "></data-table-column>
      <data-table-column [property]=" 'MemberCustId' " [header]=" 'ECONOMY.CustomerNo' | translate "></data-table-column>
      <data-table-column [property]=" 'MemberName' " [header]=" 'ECONOMY.Name' | translate " [alignment]="'right'"></data-table-column>
      <data-table-column [property]=" 'ContractEndDate' " [header]=" 'ECONOMY.ContractEndDate' | translate " [alignment]="'right'">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.ContractEndDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]=" 'ContractPrize' " [header]=" 'ECONOMY.ContractPrice' | translate ">
        <ng-template #dataTableCell let-item="item">
          <span>{{item.ContractPrize | amountConverter:locale}}</span>
        </ng-template>
      </data-table-column>
      <data-table-column [property]=" 'TemplateNo' " [header]=" 'ECONOMY.TemplateNo' | translate " [alignment]="'right'"></data-table-column>
       <data-table-column [property]=" 'ActivityName' " [header]=" 'ECONOMY.Activity' | translate " [alignment]="'right'"></data-table-column>
        <data-table-column [property]=" 'BranchName' " [header]=" 'ECONOMY.Gym' | translate " [alignment]="'right'"></data-table-column>
    </us-data-table> -->

  </div>
  <div class="modal-footer">
    <us-icon-button class="mr-1 cursor-hand" [iconClass]="'icon-change-price'" (click)="updatePrice(true)" [labelText]="'ECONOMY.ChangePrice' | translate"></us-icon-button>
    <us-icon-button [iconClass]="'icon-done'" type="submit" (click) = "closeContracts()" [labelText]="'ECONOMY.Cancel' | translate "></us-icon-button>
  </div>
</ng-template>
