<div class="d-flex justify-content-start mb-2">
  <div class="form-inline">
    <labeL>{{'ADMIN.GYMNO' | translate}}</labeL>
    <input type="text" class="form-control mx-2" [value]="branchNumber" readonly>
    <div class="input-group default-input-group">

      <labeL>{{'ADMIN.GymName' | translate}}</labeL>
      <input type="text" class="ml-2 form-control" [value]="branchName" readonly>
      <span>
        <button class="btn btn-primary" type="button" (click)="getBranches()" (click)="openModel(newBranch)">{{'ADMIN.GYMLIST' | translate}}</button>
      </span>
    </div>
  </div>
</div>
<hr class="hr-dashed ">


<ng-template #newBranch let-c="close" let-d="dismiss">

  <div class="modal-header">
    <span class="modal-title">
      <span>{{'ADMIN.GYMLIST' | translate}}</span>
    </span>
    <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex no-gutters">
      <div class="form-group col-2 mr-1">
        <input type="text" class="form-control" #namePipeFilter (keyup)="filterInput(namePipeFilter.value,regionPipeFilter.value,xpGymSelect.value)"
          placeholder="{{'ADMIN.Name' | translate}}">
      </div>
      <div class="form-group col-2 mr-1">
        <input type="text" class="form-control" #regionPipeFilter (keyup)="filterInput(namePipeFilter.value,regionPipeFilter.value,xpGymSelect.value)"
          placeholder="{{'ADMIN.Region' | translate}}">
      </div>
      <div class="form-group col-2">
        <select class="custom-select  w-100" #xpGymSelect (change)="filterInput(namePipeFilter.value,regionPipeFilter.value,xpGymSelect.value)">
          <option value="ALL">{{'ADMIN.ALL' | translate}}</option>
          <option value=true>{{'ADMIN.ExpressGym' | translate}}</option>
          <option value=false>{{'ADMIN.NonExpressGym' | translate}}</option>

        </select>
      </div>
    </div>
    <div class="gym-list-table">
      <!-- REPLACE WITH AG-GRID
        <us-data-table headerTitle="Manage Categories" [pagination]="false" [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)"
        (rowDoubleClick)="rowDoubleClick($event)" [rowTooltip]="rowTooltip">
        <data-table-column [property]="'Id'" [header]="'ADMIN.BranchId' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'BranchName'" [header]="'ADMIN.GymName' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'Region'" [header]="'ADMIN.Region' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'IsExpressGym'" [header]="'ADMIN.ExpressGym' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'Addr1'" [header]="'ADMIN.Address1' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'Addr2'" [header]="'ADMIN.Address2' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'Addr3'" [header]="'ADMIN.Address3' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'BankAccountNo'" [header]="'ADMIN.MngBranchesTxtAccountNo' | translate" [sortable]="true"
          [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'OfficialName'" [header]="'ADMIN.OfficialName' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'ZipCode'" [header]="'ADMIN.MngBranchesTxtZipCode' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'ZipName'" [header]="'ADMIN.MngBranchesTxtZipName' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'KidSwapAccountNo'" [header]="'ADMIN.KIDSWAPACCOUNTNO' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'TelWork'" [header]="'ADMIN.MngBranchesTxtTel' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'Fax'" [header]="'ADMIN.MngBranchesTxtFax' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'Email'" [header]="'ADMIN.Email' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'Web'" [header]="'ADMIN.Web' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'RegisteredNo'" [header]="'ADMIN.MngBranchesTxtRegNo' | translate" [sortable]="true" [resizable]="true">
        </data-table-column>
    
      </us-data-table> -->
    </div>
  </div>
  <div class="modal-footer">
    <us-icon-button [iconClass]="'icon-cancel'" (click)="c()" [labelText]="'ADMIN.Cancel' | translate"></us-icon-button>
  </div>

</ng-template>