<div class="d-flex justify-content-start px-1">

  <div class="col-3 p-0 mr-2 ">
    <form [formGroup]="searchTypeForm" (keydown.enter)="$event.preventDefault()">
      <div class="input-group">
        <us-autocomplete class="w-100" #autobox [config]="config" [items]="auotocompleteItems" (selectDefaultEvent)="contractSearch(searchTypeForm.value)"
          (selectEvent)="onSelect($event,searchTypeForm.value)"> </us-autocomplete>
        <div class="input-group-btn">
          <button class="btn btn-secondary btn-icon border-right-0" type="button" (click)="closedSearch()">
            <span class="icon-close"></span>
          </button>
          <button class="btn btn-primary btn-icon" type="button" (click)="contractSearch(searchTypeForm.value)">
            <span class="icon-search"></span>
          </button>
        </div>
      </div>
    </form>
  </div>

  <select class="custom-select mr-2" #catSelect (change)="changeBranch(catSelect.value)">
    <option selected value="-2">{{ 'ADMIN.ALL' | translate }}</option>
    <option *ngFor="let branch of branches" value={{branch.Id}}>{{branch.BranchName}}</option>
  </select>

  <input type="text" class="form-control col-md-2 mr-2" #nameFilter placeholder="Filter by name" (keyup)="filterInput(nameFilter.value)"
  />


  <label class="custom-control custom-radio">
    <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [value]="true" [checked]="activeVal=== true ? true:false"
      (change)="changeActiveVal($event)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{ 'ADMIN.Active' | translate }}</span>
  </label>

  <label class="custom-control custom-radio ">
    <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [value]="false" [checked]="activeVal=== false ? true:false"
      (change)="changeActiveVal($event)">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{ 'ADMIN.InactiveC' | translate }}</span>
  </label>


  <div class="ml-auto">
    <us-icon-button [iconClass]="'icon-add'" (click)="openAddNewEmployeeModel(newEmployee)" [labelText]="'ADMIN.AddNewEmployee' | translate "></us-icon-button>
  </div>

</div>

<div class="d-flex justify-content-start px-1 mt-1">
  <!-- REPLACE WITH AG-GRID
    <us-data-table id="" [items]="items" [itemCount]="itemCount" (rowDoubleClick)="rowDoubleClick($event.row.item)"
    >
    <data-table-column [property]="'Name'" header="{{ 'ADMIN.Name' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'IntCustId'" header="{{ 'ADMIN.EmHomeEmployeeNo' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Mobile'" header="{{ 'ADMIN.Mobile' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'HomeGymName'" header="{{ 'ADMIN.HomeGym' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column *ngIf="showRole" [property]="" header="{{ 'ADMIN.HomeGym' | translate }}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary" type="button" (click)="getEmpRoles(item,roleItemViewer);" container="body" placement="top"
          [usPopover]="roleItemList" popoverWidth="200" #p="usPopover" triggers="manual" #roleItemViewer="usPopover">{{ 'ADMIN.viewRoleItems' | translate }}</button>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="" header="" [width]="106">
      <ng-template #dataTableCell let-item="item"> -->
        <!-- <div *ngIf="showRole"> -->
        <!-- <button class="btn  btn-icon-min" title="{{'ADMIN.Detail' |translate}}" (click)="deleteSetting(item)">
          View Role Items
          </button> -->
        <!-- </div> -->

        <!-- <button class="btn btn-primary btn-icon-min" title="{{'ADMIN.Details' |translate}}" (click)="rowDoubleClick(item)">
          <span class="icon-detail"></span>
        </button>
        <button class="btn btn-primary btn-icon-min" title="{{'ADMIN.Calendar' |translate}}" (click)="loadEmployeeCalendar(item)">
          <span class="icon-calendar-month"></span>
        </button>
        <button class="btn btn-primary btn-danger btn-icon-min" title="{{'ADMIN.Delete' |translate}}" (click)="deleteEmp(item)">
          <span class="icon-cancel"></span>
        </button>
      </ng-template>
    </data-table-column>
  </us-data-table> -->
</div>


<ng-template #newEmployee let-c="close" let-d="dismiss">

  <div class="modal-header">
    <span class="modal-title">
      <span class="modal-title">{{ 'ADMIN.AddNewEmployee' | translate }}</span>
    </span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <add-gym-employee (savedSuccess)="getEmployees(-2, '',true, -1);d('Cross click')" (canceled)="d('Cross click')">
  </add-gym-employee>

</ng-template>


<ng-template #empInfoModal let-c="close" let-d="dismiss">

  <div class="modal-header">
    <span class="modal-title">
      <span class="modal-title">{{ 'ADMIN.AddNewEmployee' | translate }}</span>
    </span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <add-gym-employee>
  </add-gym-employee>

</ng-template>



<ng-template #roleItemList>
  <div class="d-flex justify-content-end">
    <button class="btn btn-link btn-sm" type="button" (click)="closeEmpPop()">
      <span class="icon-close"></span>
    </button>
  </div>
  <div class="d-block" style="overflow: auto; height: 240px;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item p-1" *ngFor="let role of empRoles">{{role.RoleName}}</li>
    </ul>
  </div>
</ng-template>
