<div class="d-flex no-gutters justify-content-start">
  <div class="col-2 mr-2">
    <div class="input-group">
      <us-date-picker class="w-100" name="dateSelect" #dateSelect id="dateSelect" [locale]="'COMMON.Locale'| translate"
        (dateChanged)="filterInput($event.formatted,InstructorFilter.value,ClassTypeFilter.value,ClassGroupSelect.value)">
      </us-date-picker>
    </div>
  </div>
  <div class="col-2 mr-2">
    <input type="text" class="form-control" #InstructorFilter (keyup)="filterInput($event.formatted,InstructorFilter.value,ClassTypeFilter.value,ClassGroupSelect.value)"
      placeholder="{{'MEMBERSHIP.Instructors'| translate}}">
  </div>

  <div class="col-2 mr-2">
    <input type="text" class="form-control" #ClassTypeFilter (keyup)="filterInput($event.formatted,InstructorFilter.value,ClassTypeFilter.value,ClassGroupSelect.value)"
      placeholder="{{'MEMBERSHIP.ClassType'| translate}}">
  </div>
  <div>

  </div>
  <div class="col form-inline">
    <label>{{'MEMBERSHIP.ClassGroup'| translate}}</label>
    <select class="custom-select ml-2 cursor-hand" #ClassGroupSelect (change)="filterInput($event.formatted,InstructorFilter.value,ClassTypeFilter.value,ClassGroupSelect.value)">
      <option value="ALL">All</option>
      <option *ngFor="let cgroup of classGroups" value={{cgroup}}>{{cgroup}}</option>
    </select>
  </div>

</div>

<div class="mt-1">
  <!-- REPLACE WITH AG-GRID
    <us-data-table headerTitle="Manage Categories" [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)" (rowDoubleClick)="openClassesModel(memberClasses)"
    (rowDoubleClick)="rowDoubleClick($event)" [rowColors]="rowColors" #bookingDatatable>

    <data-table-column [property]="'StartDate'" header="{{'MEMBERSHIP.Date'| translate}}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.StartDate | date:('COMMON.DateFormat'|translate)}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'StartDate'" header="{{'MEMBERSHIP.FromTime'| translate}}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.StartDate | date:'HH:mm'}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'EndDate'" header="{{'MEMBERSHIP.ToTime'| translate}}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.EndDate | date:'HH:mm'}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'ClassType'" header="{{'MEMBERSHIP.ClassType'| translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'ClassGroup'" header="{{'MEMBERSHIP.ClassGroup'| translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'InstructorCount'" header="{{'MEMBERSHIP.Instructors'| translate}}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <div class="input-group input-group-sm">
          <span class="input-group-addon">{{item.InstructorCount}}</span>
          <button class="btn btn-primary btn-sm" type="button" #popIns="usPopover" (click)="openPopOver(item,popIns);" container="body"
            placement="top" [usPopover]="listOfInstructors" popoverWidth="350" popoverHeight="200" triggers="manual">{{'MEMBERSHIP.View' | translate}}</button>
        </div>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'VisitTime'" header="{{'MEMBERSHIP.VisitTime'| translate}}" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.VisitTime | date:'HH:mm'}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'GymName'" header="{{'MEMBERSHIP.GymName'| translate}}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'active'" [header]="''" [width]="100" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary btn-icon-min" (click)="openClassesModel(memberClasses)" (click)="rowItemLoad(item)">
          <span class="icon-detail"></span>
        </button>
      </ng-template>
    </data-table-column>
  </us-data-table> -->
</div>

<div class="d-flex mt-2">
  <us-icon-button [iconClass]="'icon-print'" [labelText]="'Print'" (click)="openPrintBookingModel(printBooking)"></us-icon-button>
</div>

<ng-template #memberClasses let-c="close" let-d="dismiss">
  <form [formGroup]="memberClassesForm" #addMemberClasses>
    <div class="modal-header">
      <span class="modal-title">{{'MEMBERSHIP.DetailMemberClassChWinTitle'| translate}}</span>
      <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="closeForm()" data-dismiss="modal">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>

    <div class="modal-body">
      <div class="d-flex align-content-start no-gutters">
        <div class="col mr-2">
          <div class="form-group">
            <label>{{'MEMBERSHIP.Date'| translate}}</label>
            <div>
              <strong>{{rowItem.StartDate | date:('COMMON.DateFormat'|translate)}}</strong>
            </div>
          </div>

          <div class="d-flex  no-gutters">
            <div class="col">
              <div class="form-group">
                <label>{{'MEMBERSHIP.FromTime'| translate}}</label>
                <div>
                  <strong>{{rowItem.StartDate | date:'HH:mm'}}</strong>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>{{'MEMBERSHIP.ToTime'| translate}}</label>
                <div>
                  <strong>{{rowItem.EndDate | date:'HH:mm'}}</strong>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.ClassType'| translate}}</label>
            <div>
              <strong>{{rowItem.ClassType}}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.ClassGroup'| translate}}</label>
            <div>
              <strong>{{rowItem.ClassGroup}}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.Instructors'| translate}}</label>
            <select name="sometext" size="5" class="form-control" id="InstructorList" [formControl]="memberClassesForm.controls['InstructorList']"
              readonly>
              <option *ngFor="let instructor of instuctors" value={{instructor}} InstructorList>{{instructor}}</option>
            </select>
          </div>
        </div>
        <div class="col mr-2">
          <div class="form-group">
            <label>{{'MEMBERSHIP.VisitTime'| translate}}</label>
            <div>
              <strong>{{rowItem.VisitTime | date:'HH:mm'}}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.GymName'| translate}}</label>
            <div>
              <strong>{{rowItem.GymName}}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.ClassLevelIdC'| translate}}</label>
            <div>
              <strong>{{rowItem.ClassLevelId}}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.Day'| translate}}</label>
            <div>
              <strong>{{rowItem.Day}}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.LocationC'| translate}}</label>
            <div>
              <strong>{{rowItem.Location}}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>{{'COMMON.ClassKeywords'| translate}}</label>
            <div>
              <strong>{{rowItem.ClassKeyWords}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #printBooking let-c="close" let-d="dismiss">
  <form [formGroup]="printClassForm" #printBook>
    <div class="modal-header">
      <span class="modal-title">{{ 'MEMBERSHIP.SelectDurationViewTitle' | translate }}</span>
      <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="closeForm()" data-dismiss="modal">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.FrzDtFromDate' | translate }}</label>
        <div class="input-group">
          <us-date-picker class="w-100" name="fromDate" #fromDate id="fromDate" [locale]="'COMMON.Locale'| translate" [formControl]="printClassForm.controls['fromDate']">
          </us-date-picker>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'MEMBERSHIP.FrzDtToDate' | translate }}</label>
        <div class="input-group">
          <us-date-picker class="w-100" name="toDate" #toDate id="toDate" [locale]="'COMMON.Locale'| translate" [formControl]="printClassForm.controls['toDate']">
          </us-date-picker>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <us-icon-button [iconClass]="'icon-done'" labelText="{{ 'MEMBERSHIP.Ok' | translate }}" (click)="printClasses(printClassForm.value)"></us-icon-button>
      <us-icon-button [iconClass]="'icon-cancel'" (click)="closeForm()" labelText="{{ 'MEMBERSHIP.Cancel' | translate }}"></us-icon-button>
    </div>
  </form>
</ng-template>

<ng-template #listOfInstructors>
  <div>
    <button type="button" class="btn btn-link float-right cus-position" d="closeBtn" #closeBtn (click)="closePopOver()">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="pt-3 d-block">
    <div class="scroll-popover" usScroll>
      <p *ngFor="let instructor of instuctors">{{instructor}}</p>
    </div>
  </div>
</ng-template>
