<div *ngIf="selection=='HOME'">
  <div class="d-flex justify-content-start mx-1 mb-1">
    <us-icon-button class="mr-1" [iconClass]="'icon-add'" [labelText]="'REPORT.NewReportText' | translate" (click)="NewReport()"></us-icon-button>
    <us-icon-button [iconClass]="'icon-upload'" [labelText]="'REPORT.ReportingHomeBtnUpload' | translate" (click)="openUplloadModel(uploadReport)"></us-icon-button>

  </div>

  <div class="d-flex no-gutters mx-1">
    <div class="col-2 mr-1">
      <input type="text" class="form-control form-control-sm " placeholder="{{'REPORT.ReportingHomeWtmCategory' | translate}}"
        #catSelect (keyup)="filterInput(catSelect.value,nameSelect.value,desSelect.value,desSelect.value,isEditSelect.value)">
    </div>
    <div class="col-2 mr-1">
      <input type="text" class="form-control form-control-sm " placeholder="{{'REPORT.ReportingHomeWtmName' | translate}}" #nameSelect
        (keyup)="filterInput(catSelect.value,nameSelect.value,desSelect.value,desSelect.value,isEditSelect.value)">
    </div>
    <div class="col-2 mr-1">
      <input type="text" class="form-control form-control-sm" placeholder="{{'REPORT.ReportingHomeHDescription' | translate}}"
        #desSelect (keyup)="filterInput(catSelect.value,nameSelect.value,desSelect.value,desSelect.value,isEditSelect.value)">
    </div>
    <div class="col-2 mr-1">
      <select class="custom-select custom-select-sm w-100" #isEditSelect (change)="filterInput(catSelect.value,nameSelect.value,desSelect.value,desSelect.value,isEditSelect.value)">
        <option selected value="ALL">All</option>
        <option value="Edit">Edit</option>
        <option value="Re-Upload">Upload</option>
      </select>
    </div>
  </div>


  <div class="d-flex report-tb-scroller mt-1 mx-1">
    <us-tree-table [value]="files" [(selection)]="selectedFiles2">
      <!-- (onRowDblclick)="rowClick($event)" (onRowDblclick)="openDetailsVatCodeModel(newVatCodeModal)" -->
      <us-tree-header>Checkbox Selection</us-tree-header>
      <us-tree-column field="Category" header="Category"></us-tree-column>
      <us-tree-column field="Name" header="Report Name"></us-tree-column>
      <us-tree-column field="Description" header="Description"></us-tree-column>
      <us-tree-column field="CreateUser" header="Created User"></us-tree-column>
      <us-tree-column field="CreateDate" header="Created Date">

        <ng-template #dataTableCell let-item="item">
          <span>{{item?.CreateDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>

      </us-tree-column>
      <us-tree-column field="LastModifiedUser" header="Last Modified User"></us-tree-column>
      <us-tree-column field="LastModifiedDate" header="Last Modified Date">

        <ng-template #dataTableCell let-item="item">
          <span>{{item?.LastModifiedDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>

      </us-tree-column>

      <us-tree-column field="" header="">

        <ng-template #dataTableCell let-item="item">
          <button type="button" class="btn btn-primary btn-icon-min mr-1" title="{{'REPORT.ReportResultBtnViewAsReport' | translate}}"
            (click)="getReportData(item,reportView)">
            <span class="icon-report-view"></span>
          </button>

          <button type="button" class="btn btn-primary btn-icon-min mr-1" title="{{'REPORT.ReportingHomeTtOperationOnResults' | translate}}"
            (click)="loadOperations(item)">
            <span class="icon-report-edit-query"></span>
          </button>
          <button type="button" class="btn btn-primary btn-icon-min mr-1" title="{{'REPORT.ReportingHomeTtEditQuery' | translate}}"
            (click)="editQuery(item)">
            <span class="icon-report-edit-sql-query"></span>
          </button>
          <!-- [attr.disabled]="item.IsEditable?true:true"  -->
          <button type="button" class="btn btn-light btn-icon-min mr-1" title="{{'REPORT.ReportingHomeTtReUpload' | translate}}" *ngIf="item.UploadVisible=='Visible'?true:false"
            (click)="openUplloadModel(uploadReport,true,item)">
            <span class="icon-upload"></span>
          </button>
          <button type="button" class="btn btn-light btn-icon-min mr-1" title="{{'REPORT.Edit' | translate}}" *ngIf="item.EditVisible=='Visible'?true:false"
            (click)="editReport(item)">
            <span class="icon-edit"></span>
          </button>
          <button type="button" class="btn btn-danger btn-icon-min" title="{{'REPORT.Delete' | translate}}" (click)="DeleteReportMessage(item, deleteConfirm)">
            <span class="icon-cancel"></span>
          </button>

          <!-- <button class="btn btn-primary btn-icon-min" (click)="rowClick(item,true);openDetailsVatCodeModel(newVatCodeModal)">
              <span class="icon-operation"></span>
            </button>
            <button class="btn btn-primary btn-icon-min" [attr.disabled]="item.IsEditable?'':true" (click)="editQuery()">
              <span class="icon-report-edit-sql-query"></span>
            </button>
            <button class="btn btn-primary btn-icon-min" *ngIf="item.EditVisible=='Visible'?true:false" (click)="rowClick(item,true);openDetailsVatCodeModel(newVatCodeModal)">
              <span class="icon-edit"></span>
            </button>
            <button class="btn btn-primary btn-icon-min"  *ngIf="item.UploadVisible=='Visible'?true:false" (click)="rowClick(item,true);openDetailsVatCodeModel(newVatCodeModal)">
              <span class="icon-re-upload"></span>
            </button>

            <button class="btn btn-danger btn-icon-min" (click)="rowClick(item,true);deleteVatCode(item)">
              <span class="icon-cancel"></span>
            </button> -->
        </ng-template>

      </us-tree-column>

    </us-tree-table>
  </div>
</div>
<div *ngIf="selection=='EDIT_QUERY'">
  <reporting-edit-query></reporting-edit-query>
</div>

<ng-template #deleteConfirm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title pl-1">{{'COMMON.Confirm' | translate}}</span>
  </div>
  <div class="modal-body d-flex justify-content-center">
    <div class="d-flex mx-3">
      <div class="m-2">
        <h2 *ngIf="errorMsgIcon" class="icon-ignore text-error"></h2>
        <h2 *ngIf="!errorMsgIcon"class="icon-done text-success"></h2>
      </div>
      <div class="d-flex  align-items-center">
        <p class="m-0">{{'REPORT.ReportDeleteMsg' | translate}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-primary w-25" [hidden]="IsVisibleYes" (click)="deleteReport()">{{'COMMON.Yes'| translate}}</button>
    <button type="button" class="btn btn-primary w-25" [hidden]="IsVisibleNo" (click)="closeDel()()">{{'COMMON.No'| translate}}</button>
  </div>
</ng-template>




<ng-template #reportView let-c="close" let-d="dismiss">
  <div class="d-flex justify-content-end">
    <button class="close modal-close" (click)="c()" style="font-size: 0.8rem;">
      <span class="icon-close"></span>
    </button>
  </div>

  <div class="container">
    <ssrs-reportviewer [reportserver]="reportServer" [reporturl]="reportUrl" [showparameters]="true" [parameters]="parameters"
      [language]="'en-us'" [width]="100" [height]="100" [toolbar]="true">
    </ssrs-reportviewer>
  </div>
</ng-template>

<ng-template #uploadReport let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">Upload Report</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <save-report-view [isUpload]="true" [isReUpload]="isReUpload" [selectedItem]="currentReport" (saveSuccess)="getReports();closeUploadModal()"
      (canceled)="closeUploadModal()"> </save-report-view>
  </div>
</ng-template>

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"[information]="message"></exce-fade-in-n-out>
