<form [formGroup]="contractform">
  <div class="d-flex no-gutters ">
    <div class="col-3 mr-2 col-min-width">
      <div class="form-group">
        <label>{{'MEMBERSHIP.ContractTemplate' | translate}}</label>
        <div class="input-group">
          <input type="text" class="form-control col-3" formControlName='TemplateNo' (change)="onTemplateNoChange($event.target.value)">
          <input type="text" class="form-control" formControlName='TemplateName'>
          <button class="btn btn-primary" (click)="openContractTemplates(contractTemplates)">{{'MEMBERSHIP.Select' | translate}}</button>
        </div>
      </div>
      <div class="form-group">
        <label>{{'MEMBERSHIP.Month' | translate}}</label>
        <input type="text" class="form-control" formControlName='NoOfMonths' (change)="noOfMonthsChange($event.target.value)">
      </div>
      <div class="form-group">
        <label>{{'MEMBERSHIP.Orders' | translate}}</label>
        <input type="text" class="form-control" formControlName='NoOfOrders' (change)="noOfOrdersChange($event.target.value)">
      </div>
    </div>
    <div class="col-2 mr-2" style="min-width: 180px;">
      <div class="form-group">
        <label>{{'MEMBERSHIP.LockInPeriod' | translate}}</label>
        <input type="text" class="form-control" formControlName='LockInPeriod' (change)="lockInPeriodChange($event.target.value)">
          </div>
        <div class="form-group">
          <label>{{'MEMBERSHIP.PriceGuarantyPeriod' | translate}}</label>
          <input type="text" class="form-control" formControlName='PriceGuaranteePeriod' (change)="priceGuranteePeriodChange($event.target.value)">
            </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.SDueDate' | translate}}</label>
            <us-date-picker class="w-100" [locale]="'COMMON.Locale'| translate" us-error [errorMsg]="formErrors.StartDueDate" [displayError]="validationEnabled && !contractform.get('StartDueDate').valid"
            placement="right" formControlName='StartDueDate'> </us-date-picker>
          </div>
        </div>
        <div class="col-2" style="min-width: 180px;">
          <div class="form-group">
            <label>{{'MEMBERSHIP.LockinUntilDate' | translate}}</label>
            <us-date-picker class="w-100" [locale]="'COMMON.Locale'| translate" formControlName='LockInDate'> </us-date-picker>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.PriceGuarantyDate' | translate}}</label>
            <us-date-picker class="w-100" [locale]="'COMMON.Locale'| translate" formControlName='PriceGuranteeDate'> </us-date-picker>
          </div>
          <div class="form-group">
            <label>{{'MEMBERSHIP.TrainingPeriodStart' | translate}}</label>
            <us-date-picker class="w-100" [locale]="'COMMON.Locale'| translate" formControlName='TrainingStartDate'> </us-date-picker>
          </div>
        </div>
      </div>
      <div class="d-flex my-1">
        <button type="button" class="btn btn-primary" (click)="createInstallments()">{{'MEMBERSHIP.GenerateOrders' | translate}}</button>
      </div>
</form>
<div class="d-flex">
  <!-- REPLACE WITH AG-GRID
    <us-data-table [pagination]="false" [items]="RenewInstallmentList">

    <data-table-column [property]="'InstallmentNo'" [header]="'MEMBERSHIP.No' | translate"></data-table-column>

    <data-table-column [property]="'Text'" [header]="'MEMBERSHIP.Text' | translate"></data-table-column>

    <data-table-column [property]="'ActivityPrice'" [header]="'MEMBERSHIP.ServiceAmount' | translate" [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.ActivityPrice | amountConverter:locale}}</span>
      </ng-template>
    </data-table-column>

    <data-table-column [property]="'ItemAmount'" [header]="'MEMBERSHIP.ItemAmount' | translate" [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.ItemAmount | amountConverter:locale}}</span>
      </ng-template>
    </data-table-column>

   <data-table-column [property]="'Amount'" [header]="'MEMBERSHIP.OrderAmount' | translate" [alignment]="'right'">
    <ng-template #dataTableCell let-item="item">
      <span>{{item.Amount | amountConverter:locale}}</span>
    </ng-template>
  </data-table-column>
    <data-table-column [property]="'DueDate'" [header]="'MEMBERSHIP.DueDate' | translate">
    <ng-template #dataTableCell let-item="item">
      <span>{{item.DueDate | date:('COMMON.DateFormat'|translate)}}</span>
    </ng-template>
  </data-table-column>
    <data-table-column [property]="''" [header]="'MEMBERSHIP.DateUp' | translate" [width]="95">
    <ng-template #dataTableCell let-item="item">
      <button class="btn btn-primary btn-icon-min" (click)="moveOrdersUp(item)" title="{{'MEMBERSHIP.DateUp' | translate}}">
        <span class="icon-move-up"></span>
      </button>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="''" [header]="'MEMBERSHIP.DateDown' | translate" [width]="110">
    <ng-template #dataTableCell let-item="item">
      <button class="btn btn-primary btn-icon-min" (click)="moveOrdersDown(item)"  title="{{'MEMBERSHIP.DateDown' | translate}}">
        <span class="icon-move-down"></span>
      </button>
    </ng-template>
  </data-table-column>
    <data-table-column>
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-primary btn-icon-min" (click)="openDetailView(orderDetails,item)" title="{{'MEMBERSHIP.Detail' | translate}}">
          <span class="icon-detail"></span>
        </button>
        <button class="btn btn-danger btn-icon-min"  (click)="deleteOrder(item)" title="{{'MEMBERSHIP.Delete' | translate}}">
          <span class="icon-cancel"></span>
        </button>
      </ng-template>
    </data-table-column>
  </us-data-table> -->
</div>

<div class="d-flex mt-1">
  <us-icon-button class="mr-2" [iconClass]="'icon-done'" type="button" [isDisabled]="!isSaveEnabled" (click)="saveContractRenewal()"
    [labelText]="'MEMBERSHIP.Save' | translate "></us-icon-button>
  <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="closeContractRenew()"></us-icon-button>
</div>

<ng-template #contractTemplates let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.SelectContract' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
  </div>
  <div class="modal-body">
    <exce-contract-tmp-select (selectTempateEvent)="templateSelected($event)"></exce-contract-tmp-select>
  </div>
  <div class="modal-footer">
    <!--<us-icon-button [iconClass]="'icon-done'" type="submit" [labelText]="'MEMBERSHIP.Ok' | translate "></us-icon-button>-->
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'MEMBERSHIP.Cancel' | translate " (click)="closeView('TEMPLATE')"></us-icon-button>
  </div>
</ng-template>

<!--select order view -->
<ng-template #orderDetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'MEMBERSHIP.OrderDetailsView' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

            <span aria-hidden="true" class="icon-close"></span>
        </button>
  </div>
  <div class="modal-body">
    <order-details-view [selectedOrder]="selectedOrder" [buttonsEnabled]="false" [IsViewEnabled]="true" [isaEnableShopOperations]="true"
      (closeOrderDetailModel)="closeOderDetailModal()"></order-details-view>
  </div>
</ng-template>
