
<form [formGroup]="memberSearchForm" (keydown.enter)="$event.preventDefault()">
  <div class="d-flex justify-content-start no-gutters mb-2">
    <div class="col">
      <div class="input-group default-input-group ">

          <us-autocomplete class="w-100" #autobox [config]="config" [items]="auotocompleteItems" (selectDefaultEvent)="memberSearch(memberSearchForm.value)"
          (selectEvent)="onSelect($event)"> </us-autocomplete>
        <!-- <input type="text"  #autobox=autocompletedirective usAutocomplete [config]="config" [formControl]="memberSearchForm.controls['searchVal']"
          [(ngModel)]="searchVal" [items]="auotocompleteItems" (inputChangedEvent)="onInputChangedEvent($event)" (selectEvent)="onSelect($event)"
          (selectDefaultEvent)="memberSearch(memberSearchForm.value)" placeholder="Search" /> -->

        <button class="btn btn-secondary btn-icon border-right-0" type="button" (click)="closedSearch()"><span class="icon-close"></span></button>
        <button class="btn btn-primary btn-icon" type="button" (click)="memberSearch(memberSearchForm.value)"><span class="icon-search"></span></button>
      </div>
    </div>
    <div class="col-1 mr-2" *ngIf="isRoleVisible">
       <select class="w-100 custom-select"   [formControl]="memberSearchForm.controls['roleSelected']" [(ngModel)]="selectedRole"
      (change)="memberSearch($event.target.value)">
        <option *ngFor="let role of roleList"  [ngValue]="role"  >{{role.name | translate}}</option>
       </select>
    </div>
    <div class="col-1 mr-2" *ngIf="isStatusVisible">
       <select class="w-100 custom-select" [formControl]="memberSearchForm.controls['statusSelected']" [(ngModel)]="selectedStatus"
      (change)="memberSearch($event.target.value)">
        <option *ngFor="let status of statusList"  [ngValue]="status"  >{{status.name | translate}}</option>
       </select>
    </div>
    <div class="col-2 mr-2" *ngIf="isBranchVisible">
      <select class="w-100 custom-select" [formControl]="memberSearchForm.controls['branchSelected']" [(ngModel)]="selectedBranch"
        (change)="memberSearch($event.target.value)">
         <option *ngFor="let branch of branches"  [ngValue]="branch"  >{{branch.BranchName}}</option>
     </select>
    </div>
    <div class="ml-auto" *ngIf="isAddBtnVisible">
      <us-icon-button [iconClass]="'icon-add'" (click)="addMemberModal()" [labelText]="'COMMON.Add' | translate "></us-icon-button>
    </div>
  </div>
</form>
<div class="align-items-stretch">
<div class="off-canvas-panel-ani">
    <!-- REPLACE WITH AG-GRID
      <us-data-table #memberList id="persons-grid"
        [selectColumn] ="multipleSelect"
        [limit]="limit"
        [items]="items"
        [itemCount]="itemcount"
        [isDbPagination]="isDbPagination"
        [clickable] = "clickable"
        indexColumnVisible
        (rowClick)="rowClick($event)"
        (rowDoubleClick)="rowDoubleClick($event)"
        [rowTooltip]="rowTooltip"
        (reload)="reloadItems($event)"
        >

        <data-table-column *ngFor="let item of columns" [property]="item.property" [header]="item.header"
         [sortable]="item.sortable" [resizable]="item.resizable"  width="item.width">
           <ng-template *ngIf="item.type == '1'" #dataTableCell let-item="item">
                <span>{{item.date | date:'yyyy-MM-dd'}}</span>
            </ng-template>
           </data-table-column>
        <data-table-column [property]="''" [width]="55" *ngIf="isBasicInforVisible">
            <ng-template #dataTableCell let-item="item">
                <button class="btn btn-primary btn-icon-min" (click)="openNav(item)"><span class="icon-search"></span></button>
              </ng-template>
        </data-table-column>

    </us-data-table> -->




<!--Basic Infor Panel  -->
<div id="mb-s-basicinfo-slide" class="off-canvas-panel ">
    <div class="mb-s-scroll-content" >
      <strong class="ml-2">{{'COMMON.BasicInfo' | translate}}</strong>
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"><span _ngcontent-c3="" class="icon-close"></span></a>
      <div class="p-2 ">
        <div class="d-flex align-self-start mb-2">
          <div class="mc-basicinfo-pic d-flex justify-content-center align-items-center">
            <img src="assets/images/member-card-avatar.svg">
          </div>
          <div class="ml-1">
            <div class="form-group">
              <span class="oc-lable">{{'COMMON.FirstName' | translate}}</span><br/>
              <strong>{{basicInfoMember?.FirstName}}</strong>
            </div>
            <div class="form-group">
              <span class="oc-lable">{{'COMMON.LastName' | translate}}</span><br/>
              <strong>{{basicInfoMember?.LastName}}</strong>
            </div>
          </div>
        </div>
        <div class="form-group">
          <span class="oc-lable">{{'COMMON.ContractStartDate' | translate}}</span><br/>
          <strong>{{basicInfoMember?.ContractStartDate | date:('COMMON.DateFormat'|translate)}}</strong>
        </div>
        <div class="form-group">
          <span class="oc-lable">{{'COMMON.ContractEndDate' | translate}}</span><br/>
          <strong>{{basicInfoMember?.ContractEndDate | date:('COMMON.DateFormat'|translate)}}</strong>
        </div>
        <div class="form-group">
          <span class="oc-lable">{{'COMMON.miwnLastVisit' | translate}}</span><br/>
          <strong>{{basicInfoMember?.LastVisit}}</strong>
        </div>
        <hr class="hr-dashed">
        <div class="form-group row">
          <div class="col">
            <span class="oc-lable">{{'COMMON.ContractNo' | translate}}</span><br/>
            <strong>{{basicInfoMember?.MemberContractNo}}</strong>
          </div>
          <div class="col text-right">
            <span class="oc-lable">{{'COMMON.TemplateNo' | translate}}</span><br/>
            <strong>{{basicInfoMember?.TemplateNo}}</strong>
          </div>
        </div>
        <hr class="hr-dashed ">
        <div class="form-group">
          <span class="oc-lable">{{'COMMON.AddressS' | translate}}</span><br/>
          <strong>{{basicInfoMember?.Address}}</strong>
        </div>

        <div class="form-group row">
          <div class="col">
            <span class="oc-lable">{{'COMMON.Postalcode' | translate}}</span><br/>
            <strong>{{basicInfoMember?.PostalCode}}</strong>
          </div>
          <div class="col text-right">
            <span class="oc-lable">{{'COMMON.City' | translate}}</span><br/>
            <strong>{{basicInfoMember?.ZipName}}</strong>
          </div>
        </div>
        <hr class="hr-dashed">
        <div class="form-group">
          <span class="oc-lable">{{'COMMON.AccNo' | translate}}</span><br/>
          <strong>{{basicInfoMember?.AccountNo}}</strong>
        </div>
        <div class="form-group">
          <span class="oc-lable">{{'COMMON.ecOnAccountBalance' | translate}}</span><br/>
          <strong>{{basicInfoMember?.OnAccountBalance}}</strong>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
<span class="d-flex flex-row mt-2">
        <us-icon-button *ngIf="showOkButton" class="mr-1" [iconClass]="'icon-done'" (click)="multipleSelectItem()" [labelText]="'COMMON.Ok' | translate "></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" (click)="cancelView()"  [labelText]="'COMMON.Cancel' | translate "></us-icon-button>

</span>
