<div class="d-flex justify-content-between mb-2 mr-2">
  <div>
      <div class="input-group">
          <input class="form-control" [placeholder]="'NOTIFICATION.Search' | translate" #searchVal>
          <button class="btn btn-primary btn-icon mr-1" type="button" (click)="filterInput(searchVal.value)">
            <span class="icon-search"></span>
          </button>
          <us-icon-button class="mr-1" *ngIf="isDoneIgnoreVisible" [iconClass]="'icon-done'" [labelText]="'DONE'" (click)="updateNotificationStatus('DONE')"></us-icon-button>
          <us-icon-button *ngIf="isDoneIgnoreVisible" [iconClass]="'icon-ignore'" [labelText]="'IGNORE'" (click)="updateNotificationStatus('IGNORE')"></us-icon-button>

      </div>
  </div>
  <div>

      <us-icon-button [iconClass]="'icon-search'" [labelText]="'NOTIFICATION.AdvanceSearch' | translate " (click)="viewAdvSearch()"></us-icon-button>
  </div>
</div>

<div class="d-flex no-gutters">
  <div class="col-md-2 mr-2">
    <div class="vertical-badge-list">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center cursor-hand active" (click)="loadCategory(1)">
          {{ 'NOTIFICATION.New' | translate }}
          <span class="badge badge-primary badge-pill">{{newNotifications.length}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center cursor-hand" (click)="loadCategory(2)">
          {{ 'NOTIFICATION.Attended' | translate }}
          <span class="badge badge-primary badge-pill">{{attendedNotifications.length}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center cursor-hand" (click)="loadCategory(3)">
          {{ 'NOTIFICATION.Ignored' | translate }}
          <span class="badge badge-primary badge-pill">{{ignoredNotifications.length}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center cursor-hand" (click)="loadCategory(4)">
          {{ 'NOTIFICATION.Done' | translate }}
          <span class="badge badge-primary badge-pill">{{doneNotifications.length}}</span>
        </li>
      </ul>
    </div>
  </div>


<div>
  <form [formGroup]="advSearchForm" #aSForm>
  <div class="d-flex no-gutters mr-2" *ngIf="isAdvSearch">
    <div class="col-md-12 mr-0">
      <div class="d-flex justify-content-between no-gutters">
        <div>
          <strong>{{ 'NOTIFICATION.AdvanceSearch' | translate}}</strong>
        </div>
        <div>
            <a class="icon-close" (click)="hideAdvSearch()"></a>
        </div>
      </div>
      <hr class="hr-dashed">
      <div class="mr-2">
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">{{ 'NOTIFICATION.Title' | translate }}</label>
          <div class="col-sm-11">
            <input type="text" class="form-control" [formControl]="advSearchForm.controls['Title']">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">{{ 'NOTIFICATION.AssignTo' | translate }}</label>
          <div class="col-sm-11">
            <input type="text" class="form-control" [formControl]="advSearchForm.controls['AssignTo']">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">{{ 'NOTIFICATION.Severity' | translate }}</label>
          <div class="col-sm-11">
            <label class="custom-control custom-checkbox checkbox-inline mr-2">
              <input type="checkbox" [checked]="false" class="custom-control-input" [formControl]="advSearchForm.controls['IsCritical']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'NOTIFICATION.Critical' | translate }}</span>
            </label>
            <label class="custom-control custom-checkbox checkbox-inline mr-2">
              <input type="checkbox" [checked]="false" class="custom-control-input" [formControl]="advSearchForm.controls['IsModerate']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'NOTIFICATION.Moderate' | translate }}</span>
            </label>
            <label class="custom-control custom-checkbox checkbox-inline mr-2">
              <input type="checkbox" [checked]="false" class="custom-control-input" [formControl]="advSearchForm.controls['IsMinor']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'NOTIFICATION.MinorS' | translate }}</span>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">{{ 'NOTIFICATION.Type' | translate }}</label>
          <div class="col-sm-11">
            <label class="custom-control custom-checkbox checkbox-inline mr-2">
              <input type="checkbox" [checked]="false" class="custom-control-input" [formControl]="advSearchForm.controls['IsError']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'NOTIFICATION.Error' | translate }}</span>
            </label>
            <label class="custom-control custom-checkbox checkbox-inline mr-2">
              <input type="checkbox" [checked]="false" class="custom-control-input" [formControl]="advSearchForm.controls['IsWarning']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'NOTIFICATION.Warning' | translate }}</span>
            </label>
            <label class="custom-control custom-checkbox checkbox-inline mr-2">
              <input type="checkbox" [checked]="false" class="custom-control-input" [formControl]="advSearchForm.controls['IsToDo']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'NOTIFICATION.ToDo' | translate }}</span>
            </label>
            <label class="custom-control custom-checkbox checkbox-inline mr-2">
              <input type="checkbox" [checked]="false" class="custom-control-input" [formControl]="advSearchForm.controls['IsMessage']">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{ 'NOTIFICATION.Message' | translate }}</span>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">{{ 'NOTIFICATION.ReceiveDate' | translate }}</label>
          <div class="col-sm-11">
            <div class="input-group">
              <us-date-picker style="width: 200px;" class="mr-1" [formControl]="advSearchForm.controls['FromRecieveDate']"> </us-date-picker>
              <label>{{ 'ADMIN.To' | translate }}</label>
              <us-date-picker style="width: 200px;" class="ml-1" [formControl]="advSearchForm.controls['ToRecieveDate']"> </us-date-picker>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">{{ 'NOTIFICATION.DueDate' | translate }}</label>
          <div class="col-sm-11">
            <div class="input-group">
              <us-date-picker style="width: 200px;" class="mr-1" [formControl]="advSearchForm.controls['FromDueDate']"> </us-date-picker>
              <label>{{ 'ADMIN.To' | translate }}</label>
              <us-date-picker style="width: 200px;" class="ml-1" [formControl]="advSearchForm.controls['ToDueDate']"> </us-date-picker>
            </div>
          </div>
        </div>
        <div class="form-group row ml-0">
          <div class="input-group">
            <us-icon-button class="mr-1" [iconClass]="'icon-search'" [labelText]="'COMMON.Search' | translate" (click)="advSearch(advSearchForm.value)"></us-icon-button>
            <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.CLEAR' | translate" (click)="clearForm()"></us-icon-button>
          </div>
        </div>



      </div>
    </div>


  </div>


</form>

<div class="d-flex ml-0 mr-2">
  <!-- REPLACE WITH AG-GRID
    <us-data-table #NotificationList id="active" [items]="items" [itemCount]="itemCount" [multiSelect]="true"  [selectColumn]="true"
  (rowDoubleClick)="rowItemLoad($event,notificationDetails)"  (rowSelect)="selectRow($event)">
  <data-table-column [property]="'Severity'" header="{{'NOTIFICATION.Severity' | translate}}" [sortable]="true"  [resizable]="true"  [sortable]="true" >
   <ng-template #dataTableCell let-item="item">
      <span class="badge badge-pill badge-success p-2" *ngIf="(item.Severity=='Minor')">{{ 'NOTIFICATION.MinorS' | translate }}</span>
      <span class="badge badge-pill badge-warning p-2" *ngIf="(item.Severity=='Moderate')">{{ 'NOTIFICATION.Moderate' | translate }}</span>
      <span class="badge badge-pill badge-danger p-2" *ngIf="(item.Severity=='Critical')">{{ 'NOTIFICATION.Critical' | translate }}</span>
  </ng-template>
  </data-table-column>
  <data-table-column [property]="'Type'" header="{{'NOTIFICATION.Type' | translate}}" [sortable]="true" [resizable]="true"  [sortable]="true" >
      <ng-template #dataTableCell let-item="item">
      <span class="mr-2" title="{{'MEMBERSHIP.Message' |translate}}'" *ngIf="(item.Type=='Messages')">
          <svg class="d-block" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
            <path class="fill-primary" d="M15.8,8.3h6.3c1,0,1.9,0.9,1.9,1.9v6.5c0,1-0.9,1.9-1.9,1.9h-3.7v2.8l-3.7-2.9H11c-1,0-1.9-0.9-1.9-1.9v-0.9l0.4-0.3H13
                 c1.5,0,2.8-1.2,2.8-2.8V8.3z M1.9,4.3H13c1,0,1.9,0.9,1.9,1.9v6.5c0,1-0.9,1.9-1.9,1.9H9.3l-3.7,2.8v-2.8H1.9c-1,0-1.9-0.9-1.9-1.9
                 V6.1C0,5,0.9,4.3,1.9,4.3z" />
          </svg>
        </span>
        <span class="mr-2" title="{{'MEMBERSHIP.Warning' |translate}}'" *ngIf="(item.Type=='Warning')">
          <svg class="d-block" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
            <path class="fill-warning" d="M23.9,21.1L12.8,1.6c-0.2-0.3-0.4-0.4-0.8-0.4c-0.3,0-0.6,0.2-0.8,0.4L0.1,21.1C0,21.4,0,21.7,0.1,22
                 c0.2,0.3,0.4,0.4,0.7,0.4h22.3c0.3,0,0.6-0.2,0.7-0.4C24,21.7,24,21.4,23.9,21.1 M13.5,19.9h-3v-2.5h3V19.9z M13.5,15.5h-3V8h3V15.5
                 z" />
          </svg>
        </span>
        <span class="mr-2" title="{{'MEMBERSHIP.ToDo' |translate}}'" *ngIf="(item.Type=='TODO')">
          <svg class="d-block" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
            <path class="fill-primary" d="M19.5,6L8.2,14.4L5,10l-2,1.5l3.2,4.4l0,0l1.5,2L21,8L19.5,6z M0,0h24v24H0V0z" />
          </svg>
        </span>
        <span class="mr-2" title="{{'MEMBERSHIP.Errors' |translate}}'" *ngIf="(item.Type=='Errors')">
          <svg class="d-block" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
            <path class="fill-danger" d="M7.9136891,5.9999132 C7.4233689,6.0001416 6.9335184,6.1876454 6.5603881,6.5617371 C5.8141274,7.3060751 5.8122506,8.5192633 6.5603881,9.267355 L9.3448114,12.051802 L6.7178845,14.680605 C5.9678702,15.428789 5.9716239,16.640055 6.7178845,17.386314 C7.4641452,18.132576 8.6754341,18.13633 9.4254484,17.386314 L12.052375,14.759342 L14.576166,17.283133 C15.324303,18.031317 16.537445,18.029394 17.28183,17.283133 C18.029989,16.536873 18.031843,15.323776 17.283707,14.575592 L14.759916,12.051802 L17.439348,9.3723679 C18.187487,8.6242762 18.18561,7.4092569 17.441225,6.6629963 C16.694965,5.9185667 15.479923,5.9166441 14.731785,6.6666584 L12.052375,9.3442602 L9.2698059,6.5617371 C8.8947983,6.1867299 8.4040089,5.9996839 7.9136891,5.9999132 z M12,0 C18.627417,0 24,5.3725829 24,12 C24,18.627417 18.627417,24 12,24 C5.3725829,24 0,18.627417 0,12 C0,5.3725829 5.3725829,0 12,0 z"
            />
          </svg>
        </span>
      </ng-template>
  </data-table-column>
  <data-table-column [property]="'Title'" header="{{ 'NOTIFICATION.Title' | translate}}" [sortable]="true" [width]='100'>
  </data-table-column>
  <data-table-column [property]="'CreatedDate'" header="{{'NOTIFICATION.CreatedDate'| translate}}" [sortable]="true" [width]='50'>
      <ng-template #dataTableCell let-item="item">
          <span>{{item.CreatedDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
  </data-table-column>
  <data-table-column [property]="'DueDate'" header="{{'NOTIFICATION.DueDate' | translate}}" [sortable]="true" [width]='120' >
      <ng-template #dataTableCell let-item="item">
          <span>{{item.DueDate | date:('COMMON.DateFormat'|translate)}}</span>
        </ng-template>
  </data-table-column>
  <data-table-column [property]="'AssignTo'" header="{{'NOTIFICATION.AssignTo' | translate}}" [sortable]="true" [width]='120' >
  </data-table-column>
</us-data-table> -->
</div>

<ng-template #notificationDetails let-c="close" let-d="dismiss">
  <member-notification-detail [rowItem]="rowItem" [modalReference]="modalReference" [isNotificationDetail]="true" (onDoneOrIgnore)="onDoneOrIgnore()"></member-notification-detail>
</ng-template>
