<form [formGroup]="rolesForm" #rolesFrm>
    <div class="d-flex no-gutters mx-1">
        <div class="col-2 mr-1">
            <div class="form-group">
                <label>{{ 'USS-ADMIN.RoleName' | translate }}</label>
                <input type="text" class="form-control" [formControl]="rolesForm.controls['RoleName']" us-error [errorMsg]="formErrors.RoleName"
                    [displayError]="formSubmited && !rolesForm.get('RoleName').valid">
            </div>
        </div>
        <div class="col mr-2">
            <div class="form-group">
                <label>{{ 'USS-ADMIN.Description' | translate }}</label>
                <input type="text" class="form-control" [formControl]="rolesForm.controls['Description']" us-error [errorMsg]="formErrors.Description"
                    [displayError]="formSubmited && !rolesForm.get('Description').valid">
            </div>
        </div>
        <div class="form-inline mt-3">
            <label class="custom-control custom-checkbox checkbox-inline">
                <input type="checkbox" class="custom-control-input" [formControl]="rolesForm.controls['IsActive']" us-error [errorMsg]="formErrors.IsActive"
                    [displayError]="formSubmited && !rolesForm.get('IsActive').valid" [checked]='true'>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Active</span>
            </label>
        </div>
    </div>
</form>
<div class="d-flex no-gutters">
    <div class="col mr-1">
        <div class="scroll-tree border bg-white">
            <us-checkbox-tree [items]="moduleFeatureItems" >
            </us-checkbox-tree>
        </div>
    </div>
    <div class="col ml-1">

        <!-- REPLACE WITH AG-GRID
            <us-data-table id="persons-grid" [items]="subItems" [itemCount]="subCount" [pagination]="false">

            <data-table-column [property]="'DisplayName'" [header]="'USS-ADMIN.SubOperationName' | translate" [sortable]="true" [resizable]="true">
            </data-table-column>

            <data-table-column [property]="" [header]="'USS-ADMIN.Fields' | translate" [sortable]="true" [resizable]="true">

                <ng-template #dataTableCell let-item="item">
                    <button class="btn btn-primary btn-sm" type="button" (click)="openSubOp(subOp,item)">
                        {{'USS-ADMIN.Fields' | translate}}
                    </button>
                </ng-template>
            </data-table-column>
        </us-data-table> -->

    </div>
</div>

<div class="d-flex mt-1">
    <us-icon-button class="mr-1" [iconClass]="'icon-done'" [labelText]="'USS-ADMIN.Save' | translate" (click)="submitUserForm(rolesForm.value)"></us-icon-button>
    <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'USS-ADMIN.Cancel' | translate" (click)="closePage()"></us-icon-button>
</div>


<ng-template #subOp let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">
            <span>{{'USS-ADMIN.Fields' | translate}}</span>
        </span>
        <button type="button" class="close modal-close" aria-label="Close" id="closeBtn" #closeBtn (click)="c()" data-dismiss="modal">
            <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body sub-op-table">
        <table class="table table-sm table-hover table-default">
            <thead class="thead-primary">
                <tr>
                    <th>{{'USS-ADMIN.Name' | translate}}</th>
                    <th>{{'USS-ADMIN.Operation' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of rowSubItem.ExtendedInfo.OperationFieldList; let i = index" [attr.data-index]="i">
                    <td>{{item.DisplayName}}</td>
                    <td>
                        <label class="custom-control custom-radio ">
                            <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [checked]="item.FieldStatus==0" (change)="$event.target.checked ? item.FieldStatus=0 :false;"
                                [value]="'0'" #obsValue>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{'USS-ADMIN.Enable' | translate}}</span>
                        </label>

                        <label class="custom-control custom-radio ">
                            <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [checked]="item.FieldStatus==1" (change)="$event.target.checked ? item.FieldStatus=1 :false;"
                                [value]="'1'" #disValue>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{'USS-ADMIN.Disable' | translate}}</span>
                        </label>

                        <label class="custom-control custom-radio ">
                            <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" [checked]="item.FieldStatus==2" (change)="$event.target.checked ? item.FieldStatus=2 :false;"
                                [value]="'2'" #hidValue>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{'USS-ADMIN.Hide' | translate}}</span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <us-icon-button [iconClass]="'icon-done'" [labelText]="'Ok'" (click)="c()"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'Cancel'" (click)="c()"></us-icon-button>
    </div>
</ng-template>
