<div class="col-4">
    <h2>Form with Validations</h2>


    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">


<div class="ml-auto">
      <us-icon-button [iconClass]="'icon-add'" (click)="newMemberModal(newMemberModalView)" [labelText]="'View' "></us-icon-button>

    </div>

        <div class="form-group">
            <label>Time picker</label>
            <us-time-picker [formControl]="complexForm.controls['timepicker']"> </us-time-picker>

        </div>

        <!--<div class="form-group" [ngClass]="{'has-error':!complexForm.controls['firstName'].valid && complexForm.controls['firstName'].touched}">
            <label>{{ 'FIRST_NAME' | translate }}</label>
            <input class="form-control" type="text" placeholder="Your first name" [formControl]="complexForm.controls['firstName']">
           
            <div *ngIf="complexForm.controls['firstName'].hasError('required') && complexForm.controls['firstName'].touched" class="alert alert-danger">You must include a first name.</div>
        </div>-->

        <div class="form-group">
            <label>Last Name </label>
            <input class="form-control" type="text" placeholder="Your first name"   [formControl]="complexForm.controls['firstName']" [exceError]="complexForm.controls['firstName']"
                triggers="manual" container="body" placement="right">
        </div>


        <div class="form-group">
            <label>Last Name </label>
            <input class="form-control" type="text" placeholder="Your last name" [formControl]="complexForm.controls['lastName']" [exceError]="complexForm.controls['lastName']"
                triggers="manual" container="body" placement="right">
        </div>

        <div class="form-group">
            <label>Bank Account</label>
            <!-- <input class="form-control" type="text" placeholder="Your Bank Account NO" [formControl]="complexForm.controls['bankAccount']"
                [exceError]="complexForm.controls['bankAccount']" [validationType]="'bankAccount'" triggers="manual" container="body"
                placement="right"> -->
        </div>



        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" placeholder="Email Address" [formControl]="complexForm.controls['email']" [exceError]="complexForm.controls['email']"
                [validationType]="'email'" triggers="manual" container="body">


        </div>
        


        <!--<div class="form-group">
            <label>Postal Code</label>
            <input class="form-control" type="text" placeholder="Postal Code" [formControl]="complexForm.controls['postalCode']" [exceError]="complexForm.controls['postalCode']"
                [validationType]="'postalcode'" triggers="manual" container="body">

        </div>
        <div class="form-group">
            <label>Gender</label>
            <div class="alert alert-danger" *ngIf="!complexForm.controls['gender'].valid && complexForm.controls['gender'].touched">You must select a gender.</div>
        </div>
        <div class="radio">
            <label>
          <input type="radio" name="gender" value="Male" [formControl]="complexForm.controls['gender']">
          Male
        </label>
        </div>
        <div class="radio">
            <label>
          <input type="radio" name="gender" value="Female" [formControl]="complexForm.controls['gender']">
          Female
        </label>
        </div>
        <div class="form-group">
            <label>Activities</label>
        </div>
        <label class="custom-control custom-checkbox checkbox-inline">
  <input type="checkbox" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Check this custom checkbox</span>
</label>
        <label class="custom-control custom-checkbox checkbox-inline">
  <input type="checkbox" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Check this custom checkbox</span>
</label>
        <label class="checkbox-inline">
        <input type="checkbox" value="hiking" name="hiking" [formControl]="complexForm.controls['hiking']"> Hiking
      </label>
        <label class="checkbox-inline">
        <input type="checkbox" value="swimming" name="swimming" [formControl]="complexForm.controls['swimming']"> Swimming
      </label>
        <label class="checkbox-inline">
        <input type="checkbox" value="running" name="running" [formControl]="complexForm.controls['running']"> Running
      </label>
        <label class="custom-control custom-radio">
  <input id="radio1" name="radio" type="radio" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Toggle this custom radio</span>
</label>
        <label class="custom-control custom-radio">
  <input id="radio2" name="radio" type="radio" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Or toggle this other custom radio</span>
</label>
        <select class="custom-select">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>-->
        <div class="form-group">
            <button type="submit" class="btn btn-primary" >Submit</button>
            <!--<button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid">Submit</button>-->
        </div>
    </form>
</div>


<!--<us-off-canvas>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
</us-off-canvas>-->


<ng-template #newMemberModalView let-c="close" let-d="dismiss">

  <div class="modal-header">
    
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
   <exce-entityselection (searchEvent)="searchDeatail($event)" (selectedItems)="selectedRowItem($event)" (addMemberEvent)="addMemberModal(addMemberModalView)" [multipleSelect]="true" [itemList] ="items"
    [auotocompleteItems] ="auotocompleteItems" [columns] ="columns" [branches] ="">

   </exce-entityselection>
  </div>


</ng-template>

<!--
<ng-template #addMemberModalView let-c="close" let-d="dismiss">

  <div class="modal-header">
    
    <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">

      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
   <exce-addmember>
   </exce-addmember>
  </div>


</ng-template>-->

<ng-template #addMemberModalView let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title">{{ 'COMMON.AddNewMember' | translate }}</span>
        <button type="button" class="close modal-close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true" class="icon-close"></span>
        </button>
    </div>
    <div class="modal-body">
        <exce-addmember [roleType] ="'MEM'">
        </exce-addmember>
    </div>
</ng-template>