<div class="pagination-box  bg-primary clearfix">
    <!--<div class="pagination-range pl-2 pt-1">
        {{dataTable.translations.paginationRange}}:
        <span [textContent]="dataTable.offset + 1"></span>
        -
        <span [textContent]="[dataTable.offset + dataTable.limit , dataTable.itemCount] | min"></span>
        /
        <span [textContent]="dataTable.itemCount"></span>
    </div>-->
    <div class="pagination-controllers">
        <div class="pagination-limit">
            <div class="input-group">
                <span class="input-group-addon"  *ngIf="dataTable.showLimit">{{dataTable.translations.paginationLimit}}:</span>
                <input #limitInput type="number" class="form-control form-control-sm" min="1" step="1"
                       [ngModel]="limit" (blur)="limit = limitInput.value"
                       (keyup.enter)="limit = limitInput.value" (keyup.esc)="limitInput.value = limit"  *ngIf="dataTable.showLimit" />
            </div>
        </div>
        <div class="pagination-pages">
            <button [disabled]="dataTable.offset <= 0" (click)="pageFirst()" class="btn btn-primary pagination-firstpage btn-icon-min" *ngIf="dataTable.showFirstLast">&laquo;</button>
            <button [disabled]="dataTable.offset <= 0" (click)="pageBack()" class="btn btn-primary pagination-prevpage btn-icon-min">&lsaquo;</button>
            <div class="pagination-page" *ngIf="dataTable.showPageNumber">
                <div class="input-group">
                    <input #pageInput type="number" class="form-control form-control-sm" min="1" step="1" max="{{maxPage}}"
                           [ngModel]="page" (blur)="page = pageInput.value"
                           (keyup.enter)="page = pageInput.value" (keyup.esc)="pageInput.value = page"  *ngIf="dataTable.showPageNumber" />
                    <div class="input-group-addon" *ngIf="dataTable.showPageNumber">
                    <span [textContent]="dataTable.lastPage"  *ngIf="dataTable.showPageNumber"></span>
                    </div>
                </div>
            </div>
            <button [disabled]="dataTable.isDbPagination?((dataTable.limit) > dataTable.itemCount):((dataTable.offset + dataTable.limit) >= dataTable.itemCount)" (click)="pageForward()" class="btn btn-primary pagination-nextpage btn-icon-min">&rsaquo;</button>
            <button [disabled]="dataTable.isDbPagination?((dataTable.limit) > dataTable.itemCount):((dataTable.offset + dataTable.limit) >= dataTable.itemCount)" class="btn btn-primary pagination-lastpage btn-icon-min" *ngIf="dataTable.showFirstLast" (click)="pageLast()">&raquo;</button>
        </div>
    </div>
</div>
