<form [formGroup]="accessSettingsFrom" #accessFrm>
  <div class="d-flex  no-gutters gym-access-set-scroller">

    <div class="col-2 mr-2">
      <div class="form-group">
        <label>{{ 'ADMIN.CountVisitAfter' | translate }}</label>
        <input type="text" class="form-control" [formControl]="accessSettingsFrom.controls['CountVisitAfter']">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.BlockAccessNoOfUnpaidInvoices' | translate }}</label>
        <input type="text" class="form-control" [formControl]="accessSettingsFrom.controls['BlockAccessNoOfUnpaidInvoices']">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.BlockAccessDueBalance' | translate }}</label>
        <input type="text" class="form-control" [formControl]="accessSettingsFrom.controls['BlockAccessDueBalance']">
      </div>
      <div class="form-group">
        <label class="custom-control custom-checkbox checkbox-inline">
          <input type="checkbox" class="custom-control-input" [formControl]="accessSettingsFrom.controls['IsMemCardExportAsGuestCard']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.IsMemCardExportAsGuestCard' | translate }}</span>
        </label>
      </div>

      <div class="form-group">
        <label>{{ 'ADMIN.BlockAccessNoOfUnpaidInvoices' | translate }}</label>
        <input type="text" class="form-control" [formControl]="accessSettingsFrom.controls['BlockAccessNoOfUnpaidInvoices']">
      </div>
      <div class="form-group">
        <label class="custom-control custom-checkbox checkbox-inline">
          <input type="checkbox" class="custom-control-input" [formControl]="accessSettingsFrom.controls['IsReceptionAllowCustomerScreen']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.IsReceptionAllowCustomerScreen' | translate }}</span>
        </label>
      </div>
      <div class="form-group">
        <label class="custom-control custom-checkbox checkbox-inline">
          <input type="checkbox" class="custom-control-input" [formControl]="accessSettingsFrom.controls['IsExtraActivity']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.IsExtraActivity' | translate }}</span>
        </label>
      </div>
    </div>

    <div class="col-2 mr-2">
      <div class="form-group">
        <label>{{ 'ADMIN.MinutesBetweenAccess' | translate }}</label>
        <input type="text" class="form-control" [formControl]="accessSettingsFrom.controls['MinutesBetweenAccess']">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.ComPort' | translate }}</label>
        <input type="text" class="form-control" [formControl]="accessSettingsFrom.controls['ComPort']">
      </div>
      <div class="form-group">
        <label>{{ 'ADMIN.SecondsViewCustomerScreen' | translate }}</label>
        <input type="text" class="form-control" [formControl]="accessSettingsFrom.controls['SecondsViewCustomerScreen']">
      </div>
      <div class="form-group">
        <label class="custom-control custom-checkbox checkbox-inline">
          <input type="checkbox" class="custom-control-input" [formControl]="accessSettingsFrom.controls['CheckFingerPrint']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.CheckFingerPrint' | translate }}</span>
        </label>
      </div>
      <div class="form-group">
        <label class="custom-control custom-checkbox checkbox-inline">
          <input type="checkbox" class="custom-control-input" [formControl]="accessSettingsFrom.controls['IsSendSms']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.SendSms' | translate }}</span>
        </label>
      </div>
    </div>

    <div class="col-2 mr-2">
      <div class="form-group">
        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="accessSettingsFrom.controls['AccIsDisplayName']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.Name' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="accessSettingsFrom.controls['AccIsDisplayCustomerNumber']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.CustomerNumber' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="accessSettingsFrom.controls['AccIsDisplayContractTemplate']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.Contracttemplate' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="accessSettingsFrom.controls['AccIsDisplayHomeGym']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.HomeGym' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="accessSettingsFrom.controls['AccIsDisplayContractEndDate']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.Contractenddate' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="accessSettingsFrom.controls['AccIsDisplayBirthDate']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.AddEmBirthDate' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="accessSettingsFrom.controls['AccIsDisplayAge']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.Age' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="accessSettingsFrom.controls['AccIsDisplayLastVisit']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.LastVisit' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="accessSettingsFrom.controls['AccIsDisplayLastVisit']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.CreditBalance' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="accessSettingsFrom.controls['AccIsDisplayPicture']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.Picture' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="accessSettingsFrom.controls['AccIsDisplayLastAccess']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.Lastaccess' | translate }}</span>
        </label>

        <label class="custom-control custom-checkbox checkbox-inline w-100">
          <input type="checkbox" class="custom-control-input" [formControl]="accessSettingsFrom.controls['AccIsDisplayNotification']">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.NotificationC' | translate }}</span>
        </label>
      </div>

    </div>
  </div>

</form>
<div>
  <us-icon-button [iconClass]="'icon-done'" [labelText]="'ADMIN.Save' | translate " (click)="saveSettings(accessSettingsFrom.value)"
    [isDisabled]="!accessSettingsFrom.valid">
  </us-icon-button>
</div>

<exce-fade-in-n-out class="fade-container" [type]="type" [isShow]="isShowInfo"
[information]="message"></exce-fade-in-n-out>
