<!--<div>
<table style="width:100%">
  <tr>
    <th *ngFor="let col of columns" width="70%">{{col.header}}</th>
  </tr>
</table>
</div>-->
<div *ngFor="let sObj of sortedObj">
    <table style="width:100%">
        <tr>
          <th>Expand</th>
        </tr>
      </table>
  <table style="width:100%">

    <tr *ngFor="let obj of sObj">
      <td  *ngFor="let header of headers; let i = index" [attr.data-index]="i">{{obj[header]}}</td>
    </tr>
  </table>
  </div>
