<div class="d-flex no-gutters justify-content-start px-1">
  <div class="col-2 mr-1 ">
    <div class="input-group">

      <us-autocomplete class="w-100" #autobox [config]="config" [items]="auotocompleteItems" [textValue]="textValue" (selectDefaultEvent)="findArticles()"
        (selectEvent)="onSelectSearchItem($event)"> </us-autocomplete>

      <div class="input-group-btn">
        <button class="btn btn-secondary btn-icon border-right-0" type="button" (click)="closedSearch()">
          <span class="icon-close"></span>
        </button>
        <button class="btn btn-primary btn-icon" type="button" (click)="findArticles()">
          <span class="icon-search"></span>
        </button>
      </div>
    </div>
  </div>

  <select class="custom-select mr-1 " (change)="onArticleTypeChange($event.target.value)" [(ngModel)]="articleType">
    <option value="ALL">{{'COMMON.All'| translate}}</option>
    <option value="ITEM">{{'COMMON.Items'| translate}}</option>
    <option value="SERVICE">{{'COMMON.Services'| translate}}</option>
  </select>

  <select class="custom-select mr-1" (change)="onArtleCategoryChange($event.target.value)" [(ngModel)]="articleCategory">
    <option value="ALL">{{'COMMON.All'| translate}}</option>
    <option *ngFor="let item of articleCategoryList" value="{{item.Code}}">{{item.Name}}</option>
  </select>

  <input type="text" style="width: 126px" #RevenueAccountPipeFilter (keyup)="filterArticle(RevenueAccountPipeFilter.value,VendorPipeFilter.value)"
    class="form-control mr-1" placeholder="{{'ADMIN.RevenueAccount' | translate}}">
  <input type="text" style="width: 120px" #VendorPipeFilter (keyup)="filterArticle(RevenueAccountPipeFilter.value,VendorPipeFilter.value)"
    class="form-control mr-1" placeholder="{{'ADMIN.VendorName' | translate}}">
  <select class="custom-select mr-2" style="width: 150px" (change)="onActivityChange($event.target.value)" [(ngModel)]="activityCategory">
    <option value="-1">{{'COMMON.All'| translate}}</option>
    <option *ngFor="let item of activityCategoryList" value="{{item.Id}}">{{item.Name}}</option>
  </select>
  <label class="custom-control custom-checkbox">
    <input id="checkbox" (change)="obsoleteChange($event)" name="checkbox" type="checkbox" class="custom-control-input mx-2"
      [value]=true>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{'ADMIN.ObsoleteC' | translate}}</span>
  </label>

  <div class="ml-auto">
    <div class="input-group">
      <us-icon-button [iconClass]="'icon-import'" class="mr-1" [labelText]="'ADMIN.ImportArticleList' | translate" (click)="importArticleOpen(importArticle)"></us-icon-button>
      <us-icon-button [iconClass]="'icon-add'" [labelText]="'ADMIN.AddNewArticle' | translate" (click)="newArticleOpen(newArticle)"></us-icon-button>
    </div>
  </div>

</div>

<div class="d-flex mx-1 mt-2">
  <ag-grid-angular
  class="ag-theme-balham grid"
  [rowData]="articleList"
  [columnDefs]="articleDefs"
  [enableSorting]="true"
  [enableColResize]="true"
  [enableFilter]="false"
  [floatingFilter]="false"
  [suppressCellSelection] ="true"
  [suppressNoRowsOverlay]="true"
  (gridReady)="onGridReady($event)"
  (cellClicked)="cellClicked($event)"
  (rowDoubleClicked)="articleListRowDoubleClick($event)">
  </ag-grid-angular>
  <!-- REPLACE WITH AG-GRID
    <us-data-table id="" [items]="articleList" [itemCount]="itemCount" (reload)="reloadArticleList($event)" (rowDoubleClick)="articleListRowDoubleClick($event,newArticle)"
    [limit]="20" [showPageNumber]="true" [showFirstLast]="true">
    <data-table-column [property]="'ArticleNo'" header="{{ 'ADMIN.ArticleNo' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Description'" header="{{ 'ADMIN.ArticleName' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'SortCutKey'" header="{{ 'ADMIN.RegisterNewArtShortcutKey' | translate }}" [sortable]="true"
      [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'RevenueAccountName'" header="{{ 'ADMIN.RevenueAccount' | translate }}" [sortable]="true"
      [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'VatCode'" header="{{ 'ADMIN.VATCodeLookupVatCode' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'Category'" header="{{ 'ADMIN.Category' | translate }}" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="''" header="{{ 'ADMIN.Instock' | translate }}" [width]="120">
      <ng-template #dataTableCell let-item="item">
        <span>
          <svg *ngIf="item.ArticleType === 'ITEM' && item.StockStatus == false" version="1.1" id="outOfStock" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" width="24px" height="24px" xml:space="preserve">
            <path class="fill-gary" d="M12,1C5.9,1,1,5.9,1,12c0,6.1,4.9,11,11,11c6.1,0,11-4.9,11-11C23,5.9,18.1,1,12,1 M17.8,14.9c0.8,0.8,0.8,2.2,0,3
                           c-0.8,0.8-2.2,0.8-3,0l-2.8-2.8L9.2,18c-0.8,0.8-2.2,0.8-3,0c-0.8-0.8-0.8-2.2,0-3l2.9-2.9L6,9C5.2,8.2,5.2,6.9,6,6
                           c0.8-0.8,2.2-0.8,3,0l3.1,3.1L15,6.2c0.8-0.8,2.2-0.8,3,0c0.8,0.8,0.8,2.2,0,3L15,12.1L17.8,14.9z"
            />
          </svg>
          <svg *ngIf="item.ArticleType === 'ITEM' && item.StockStatus == true" version="1.1" id="inStock" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" width="24px" height="24px" xml:space="preserve">
            <path fill="#fff" d="M12,1C5.9,1,1,5.9,1,12s4.9,11,11,11s11-4.9,11-11S18.1,1,12,1" />
            <path fill="#000" d="M9.4,18.2l-3.9-3.9c-0.6-0.6-0.6-1.5,0-2.1c0.6-0.6,1.5-0.6,2.1,0l1.8,1.8l7-7c0.6-0.6,1.5-0.6,2.1,0
                             c0.6,0.6,0.6,1.5,0,2.1L9.4,18.2z" />

          </svg>

        </span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'DefaultPrice'" header="{{ 'ADMIN.Price' | translate }}" [sortable]="true" [alignment]="'right'">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.DefaultPrice | amountConverter:locale}}</span>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="''" header="" [width]="40">
      <ng-template #dataTableCell let-item="item">
        <svg *ngIf="item.IsBelongToBranch" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
          y="0px" viewBox="0 0 24 24" width="24px" height="24px">
          <path class="fill-primary " d="M5.8,16.7h2.7c0.4,0,0.8,0.4,0.8,0.8c0,0.5-0.4,0.8-0.8,0.8H5.8c-0.4,0-0.8-0.4-0.8-0.8C5,17.1,5.3,16.7,5.8,16.7z
                                          M5.8,13.3h4.8c0.4,0,0.8,0.4,0.8,0.8c0,0.5-0.4,0.8-0.8,0.8H5.8C5.3,15,5,14.7,5,14.2C5,13.7,5.3,13.3,5.8,13.3z M5.8,10h4.8
                                         c0.4,0,0.8,0.4,0.8,0.8c0,0.5-0.4,0.8-0.8,0.8H5.8c-0.4,0-0.8-0.4-0.8-0.8C5,10.3,5.3,10,5.8,10z M5.8,6.6h4.8
                                         c0.4,0,0.8,0.4,0.8,0.8c0,0.5-0.4,0.8-0.8,0.8H5.8C5.3,8.3,5,7.9,5,7.4C5,6.9,5.3,6.6,5.8,6.6z M17.9,1L17.9,1C20.8,1,23,3.4,23,6.3
                                         v5.2c0,2.5-1.6,4.3-3.8,4.3c-1.3,0-3.6-0.9-3.6-4.2V6.9c0-1.3,1-2.4,2.3-2.4c1.3,0,2.3,1.1,2.3,2.4v4.7c0,0.5-0.4,0.8-0.8,0.8
                                         s-0.8-0.4-0.8-0.8V6.9c0-0.4-0.3-0.7-0.7-0.7c-0.4,0-0.7,0.3-0.7,0.7v4.7c0,2.3,1.4,2.5,1.9,2.5l0,0l0.1,0c1.3-0.1,2.1-1.1,2.1-2.6
                                         V6.3c0-2-1.5-3.6-3.4-3.6h-0.1c-1.9,0-3.4,1.6-3.4,3.6v8c0,0.5-0.4,0.8-0.8,0.8c-0.4,0-0.8-0.4-0.8-0.8v-8C13,3.4,15.2,1,17.9,1z
                                          M6,1h5.2c0.4,0,0.8,0.4,0.8,0.8c0,0.5-0.4,0.8-0.8,0.8H6c-1.9,0-3.4,1.6-3.4,3.6v11.4c0,2,1.5,3.6,3.4,3.6h10.5
                                         c1.9,0,3.4-1.6,3.4-3.6c0-0.5,0.4-0.8,0.8-0.8c0.4,0,0.8,0.4,0.8,0.8c0,2.9-2.2,5.3-5,5.3H6c-2.7,0-5-2.4-5-5.3V6.3C1,3.4,3.2,1,6,1
                                         z" />
        </svg>
      </ng-template>
    </data-table-column>
    <data-table-column [property]="''" header="" [width]="80">
      <ng-template #dataTableCell let-item="item">
        <div class="d-flex">
          <button (click)="upDateStock(item, upDateStockModal)" [disabled]="!item.StockStatus" class="btn btn-primary btn-icon btn-icon-min mr-1" title="{{ 'ADMIN.UpdateStocck' | translate }}">
            <span class="icon-update"></span>
          </button>
          <button (click)="deleteConfirmMsg(item)" class="btn btn-danger btn-icon btn-icon-min" title="{{ 'ADMIN.Delete' | translate }}">
            <span class="icon-cancel"></span>
          </button>
        </div>
      </ng-template>
    </data-table-column>
  </us-data-table> -->
</div>

<ng-template #upDateStockModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <span class="modal-title">{{ 'ADMIN.UpdateStocck'| translate }}</span>
      <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="d-flex">
      <div class="input-group">
        <label class="custom-control custom-radio ">
          <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2" checked value="0" (change)="stockUpdateMethod($event.target.value)">
                  <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.Increase' | translate }}</span>
              </label>
        <label class="custom-control custom-radio ">
          <input id="radio2" name="radio" type="radio" class="custom-control-input mx-2"  value="1" (change)="stockUpdateMethod($event.target.value)">
                  <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{ 'ADMIN.Decrease' | translate }}</span>
              </label>
          </div>
      </div>
      <hr class="hr-dashed my-1">
      <div class="d-flex no-gutters">
          <div class="col mr-2">
              <div class="form-group">
                <label>{{ 'ADMIN.ArticleNo' | translate }}</label>
                <input class="form-control w-75" type="number" value="{{itemArNo}}" readonly>
              </div>
              <div class="form-group">
                  <label>{{ 'ADMIN.Name' | translate }}</label>
                  <input class="form-control w-75" type="text" value="{{updateSelectedItem.Description}}" readonly>
                </div>
              <div class="form-group">
                  <label>{{ 'ADMIN.Stocklevel' | translate }}</label>
                  <input class="form-control w-75" type="number" value="{{updateSelectedItem.StockLevel}}" readonly>
                </div>
              <div class="form-group">
                <label>{{ 'ADMIN.Quantity' | translate }}</label>
                <input (blur)="stockLevelChange($event.target.value)" class="form-control w-75" type="number">
              </div>
              <div class="form-group">
                <label>{{ 'ADMIN.Category' | translate }}</label>
                <br>
                <select class="custom-select mr-1 w-75" (change)="onCategorySelect($event.target.value)">
                    <option *ngFor="let item of tempList" value="{{item.Id}}">{{item.Name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>{{ 'ADMIN.PurchasedPriceC' | translate }}</label>
                <us-amount-input (valueBlur)="purchasePriceChange($event)" [hideClose]="true" [disabled]="updateChoice === 'dee'" class="w-75" value="0.00"></us-amount-input>
                <div *ngIf="IsStockAdd">
                  <label class="custom-control custom-checkbox">
                      <input id="checkbox" (change)="addVat($event.target.checked)" name="checkbox" type="checkbox" class="custom-control-input mx-2"
                      [value]=true>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{'ADMIN.VATAdded' | translate}}</span>
                    </label>
                </div>
                <div *ngIf="!IsStockAdd">
                  <label class="custom-control custom-checkbox">
                    <input disabled id="checkbox" (change)="addVat($event.target.checked)" name="checkbox" type="checkbox" class="custom-control-input mx-2"
                    [value]=true>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{'ADMIN.VATAdded' | translate}}</span>
                  </label>
                </div>
                </div>
              </div>
          </div>
      </div>
    <div class="modal-footer">
        <us-icon-button [iconClass]="'icon-done'" class="mr-1" [labelText]="'ADMIN.Save' | translate" (click)="upDateStockSubmit()"></us-icon-button>
        <us-icon-button [iconClass]="'icon-cancel'" [labelText]="'ADMIN.Cancel' | translate" (click)="closeUpdate()"></us-icon-button>
    </div>
  </ng-template>

<ng-template #newArticle let-c="close" let-d="dismiss">
  <div class="modal-header">

    <span class="modal-title">{{ title| translate }}</span>

    <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <app-new-article [Mode]="articleMode" [selectedArticle]="selectedArticle" [serviceCategoryList]="serviceCategoryList" [itemCategoryList]="itemCategoryList"
      [activityCategoryList]="activityCategoryList" [ArticleType]='AType' (savedCategoryEvent)='saveCategory($event)' (savedArticleEvent)="savedArticleEventHandler()"
      (closeArticleEvent)="closeArticleEventHandler()">
    </app-new-article>
  </div>
</ng-template>


<ng-template #importArticle let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">{{ 'ADMIN.RegisterArticleHMAddNewArticle' | translate }}</span>
    <button type="button" class="close modal-close" aria-label="Close" (click)="c()" data-dismiss="modal">
      <span aria-hidden="true" class="icon-close"></span>
    </button>
  </div>

  <div class="modal-footer">

  </div>
</ng-template>
