<ng-template #MessageBox let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title pl-1">{{ msgTitle }}</span>
  </div>
  <div class="modal-body d-flex justify-content-center">
    <div class="d-flex mx-3">
      <div class="m-2">
        <h2 *ngIf="errorMsgIcon" class="icon-ignore text-error"></h2>
        <h2 *ngIf="!errorMsgIcon"class="icon-done text-success"></h2>
      </div>
      <div class="d-flex  align-items-center">
        <p class="m-0">{{ msgBody }}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-primary w-25" [hidden]="IsVisibleYes" (click)="btnYesHandler()">{{'COMMON.Yes'| translate}}</button>
    <button type="button" class="btn btn-primary w-25" [hidden]="IsVisibleNo" (click)="btnNoHandler()">{{'COMMON.No'| translate}}</button>
    <button type="button" class="btn btn-primary w-25" [hidden]="IsVisibleOk" (click)="btnOkHandler()">{{'COMMON.Ok'| translate}}</button>
    <button type="button" class="btn btn-primary w-25" [hidden]="IsVisibleCancel" (click)="c('Close click')">{{'COMMON.Cancel'| translate}}</button>
  </div>
</ng-template>
